[2022-02-27 11:55] SaVoAMP commented on #552
No, I reforked the repo, added a branch, cloned it inside my linux vm, activated a virtual environment for python and ran `pip.sh` as you described.

[2022-02-27 13:16] SaVoAMP commented on #552
tests/test_stamp.py ....................                                 [ 86%]
tests/test_stimp.py ...........                                          [ 87%]
tests/test_stomp.py ........................                             [ 89%]
tests/test_stump.py .......................                              [ 90%]
tests/test_stumped.py .................................................. [ 94%]

[2022-02-27 15:24] seanlaw commented on #552
So, I looked at those lines in `stumpy.stump` and `stumpy.aamp` and that only happens if you somehow are limited to a single thread. You had briefly mentioned:

Can you tell me how many threads are available to the vm? If the answer is `1` then that would explain why `stumpy.stump` and `stumpy.aamp` are coming up.

[2022-02-27 15:38] SaVoAMP commented on #552
Indeed, I only allocated 1 virtual processor.

It is a Hyper-V virtual machine, as I couldn't figure out how to get the GUI output for plots working on WSL2.

I will allocate more cores and try again.

[2022-02-27 16:40] SaVoAMP commented on #552
[code]
That's the new result!

[2022-02-27 17:02] seanlaw commented on #552
Perfect! That is the expected result. Once you complete the unit tests then the `stumpy.aamp_motifs.py` and `stumpy/mmotifs.py` lines will also disappear (i.e., all lines are "covered").

Did you have any questions about my unit test example above?

[2022-02-27 18:47] SaVoAMP commented on #552
[code]

I saw this lines in `test_motifs.py`. Am I supposed to use them? Should they be used in `test_motifs.py` or in `test_mmotifs.py`?

I think that these python files should be the same, am I right? Therefore it shouldn't matter whether I use one or the other.

[2022-02-27 18:57] seanlaw commented on #552
You may use this if you think they are useful and then delete them from `tests/test_motifs.py` (i.e., migrate them over to `tests/test_mmotifs.py`

I'm not sure I understand your question. Please add a new line to `test.sh` after the `tests/test_motifs.py` lines but for `tests/test_mmotifs`:

[code]

and also for `tests/test_aamp_mmotifs.py`:

[code]

This should be in the `test_unit` function.

[2022-03-01 07:29] seanlaw opened #554 "Add Annotation Vectors Tutorial to RTD"

[2022-03-02 14:06] SaVoAMP commented on #518
Should I just use the REFIT dataset for the tutorial?

If so, do you think it would suffice to just use the dataset locally and refer to the "download instructions" in a comment?

if not, since the download is a 489 MB archive, I can't import it "on the fly".

Sadly I don't have any servers to host the ´CLEAN_House3.csv´ file on except my own github account.
I presume that the .csv file won't be p

[2022-03-02 18:24] SaVoAMP commented on #518
All right, thank you!

How do you want to visualize the motif pair? Should we plot it inside the (currently very colorful) graph or should I make a zoom-in of the motif pair and only plot that?
As soon as we get matches we need to plot them inside the graph anyway. But if I would visualize all appliances in the same color so that we can see the motif pair and its nearest neighbors with another col

[2022-03-02 18:51] seanlaw commented on #518
For things like this, It's difficult for me to judge without seeing the possible outcomes in context. If it's not too much work, is it possible to submit a PR with a notebook that displays/annotates the pros/cons of each approach to visualizing the results?

In case it matters, we don't necessarily need to use all 9 dimensions from the `CLEAN_House3.csv` dataset. We could always choose a subset wh

[2022-03-02 21:31] SaVoAMP commented on #518
Our time series has the length 37,440. But the authors claim that their length is 17,000. If I understand everything correctly, you were converting that to minutes.
I'm trying to plot the motif pair but stuggling since I only work with data frames since the beginning of my thesis.
Since I was totally confused by the differing timesteps, I was only plotting "data points" on the x-axis instead of ti

[2022-03-02 22:10] seanlaw commented on #518
I think that's right. In `.groupby(pd.Grouper(key='Time', freq="T")).sum()`, I'm basically grouping data points to within each minute and then summing up all of the energy consumption during that minute in order to reduce the overall data size.

I see. That's a nasty problem to have. I wonder if we can cheat/overcome this by adding ONE additional dimension that is simply the aggregate energy usage

[2022-03-02 22:18] SaVoAMP commented on #518
I don't think so since the similarity still holds in the other dimensions. I think that they will still be chosen and the additional one ignored.

[2022-03-02 22:29] seanlaw commented on #518
What about adding white noise to constant regions?

[2022-03-02 22:39] SaVoAMP commented on #518
Puhh, difficult to tell, but we could try. If it were a one-dimensional problem I would have tried it with annotation vectors. But I don't know if this is possible for the multidimensional case since each dimension needs to get annotated separately.

[2022-03-03 02:06] seanlaw commented on #518
I don't know why I didn't think of this earlier but we could simply replace the constant regions of our time series with `np.nan`! This ensure that these regions MUST have a distance (in the distance profile) of `np.inf` and they would not be selected

[2022-03-03 11:13] SaVoAMP commented on #518
yeah I could try, but I think that may eliminate too much. I think its better to set only zero values to `np.nan`. But I'm also not sure if this is too much. Depends on the length of the subsequence that we set 🤔

[2022-03-03 16:19] SaVoAMP commented on #518
I'm not sure if we should eliminate regions that are only constant. I think it may be better to only set those regions to `np.nan` that are constantly zero since this means that there is no electrical power demand. With my other data set there were many problems when trying to eliminate some regions. I think we may eliminate too much since it looks like as if some appliances have the same electric

[2022-03-03 22:23] seanlaw commented on #518
In general, I've avoided using simplified examples. However, as you've pointed out, there are times where it may be useful and I am not opposed to it as long as we follow it with a real-world example (a la REFIT data).

[2022-03-04 03:10] #551 closed

[2022-03-04 16:12] #554 closed

[2022-03-04 21:13] SaVoAMP commented on #518
Somehow the partial sequence length looks very small. But the authors say that they used a subsequence length of 4 hours. But since you have changed the timestamp to minutes, I should use `m=4*60` right?

[2022-03-05 01:07] seanlaw commented on #518
That sounds about right to me.

[2022-03-05 11:03] SaVoAMP commented on #518
I'm not sure what I'm doing wrong but it doesn't seem as if anything is eliminated.

[2022-03-05 11:37] seanlaw commented on #518
@SaVoAMP At this stage, given that we don't know what dataset the authors had used and what preprocessing steps were taken, I don't think we can limit ourselves to reproducing their work anymore due to the lack of information. My thought process was more like "for the most part, humans tend to dry their laundry right after they wash it" so there's probably a motif there and maybe we can pick it up

[2022-03-05 12:02] SaVoAMP commented on #518
Alright!
My problem is that setting values with zero standard deviation to `np.nan` doesn't work and I can't explain why. I wrote two if-conditions and when I debug, I also get into the conditions. But when setting the values to `np.nan` it doesn't work, although the `constant_idx` vector is occupied. I probably need to take a closer look at the data frame operations here.

[2022-03-06 12:38] seanlaw opened #562 "Missing Parameter in `motifs` Docstring"
`motifs` docstring is missing the `atol` parameter description:

https://stumpy.readthedocs.io/en/latest/api.html#motifs

[2022-03-06 12:39] seanlaw commented on #562
@NimaSarajpoor Would you mind fixing this? I think it can be copied over from `stumpy.match`. `aamp_motifs.py` seems fine but please double check.

[2022-03-06 17:47] NimaSarajpoor commented on #562
@seanlaw
There should be no problem. I will  take a look and submit a PR.

[2022-03-06 18:34] NimaSarajpoor opened #563 "misleading description of parameter `p` in `mass_absolute`"
I found this before, and not sure if it is a mistake or not.

In `core.mass`, the description of parameter `p` is as follows:
[code]

So, I assume `p` is only for normalized version. However, we see the following description of the same parameter in `core.mass_absolute`:

[code]

Maybe we should remove parameter `p` here in non-normalized version, or add a note to let user know it has not been imp

[2022-03-06 18:46] NimaSarajpoor commented on #562
@seanlaw
I think we should also add `atol` when we call `_motifs()` inside the `motifs` function. Right?

[2022-03-06 19:14] seanlaw commented on #562
@NimaSarajpoor Yes, I missed this and thought that you had done that already previously.

[2022-03-06 19:17] seanlaw commented on #563
@NimaSarajpoor No, I think there is a mistake and it should read :

```This parameter is ignored when `normalize==True````

Oops! Would you mind finding all instances of `normalize == False` (for `p`) and changing it to `normalize == True`?

[2022-03-06 19:18] NimaSarajpoor commented on #562
Yeah.... I think I did not work on `atol` before (I think I opened an issue before). I will submit a PR shortly.

[2022-03-06 19:30] seanlaw commented on #518
@SaVoAMP I think it would be better to continue this conversation over in your open PR so that there is continuity of the discussion. Let's continue over there if you don't mind.

[2022-03-06 19:31] NimaSarajpoor commented on #563
@seanlaw
That is a very good news for me :) Because I was thinking of trying other parameter `p` for my case (which is non-normalized) and see what happens... and then I saw the docstring and thought I could not use it...

I will take care of it.

[2022-03-06 20:45] seanlaw commented on #563
@NimaSarajpoor Thank you!

[2022-03-06 20:48] seanlaw commented on #562
@NimaSarajpoor Thank you!

[2022-03-06 21:30] #562 closed

[2022-03-06 21:49] seanlaw commented on #563
Closed in #565

[2022-03-06 21:49] #563 closed

[2022-03-13 04:15] #441 closed

[2022-03-13 23:06] seanlaw opened #573 "Add Binder Badge to Annotation Vector Tutorial"
The annotation vector tutorial is currently missing a binder link like the other tutorials

[2022-03-13 23:25] seanlaw opened #574 "Finalize mmotifs and aamp_motifs"
- [ ] Reformat newlines in docstrings (see `cutoffs`, `max_matches`)
- [ ] Add `mmotifs` and `aamp_mmotifs`  to `__initi__.py`
- [ ] Add `mmotifs` to `api.rst`

[2022-03-16 11:48] NimaSarajpoor opened #576 "Issue in re-routing to non-normalized class aamp_stimp"
I was trying to do some experiment with pan matrix profile and I noticed there is a problem in re-routing from class `stimp` to `aamp_stimp` when `normalize=False`.

**Error:**
[code]

**Solution:**
Modifying the decorator as follows:
[code]

(I checked it on my end and I think it works)

[2022-03-16 12:43] seanlaw commented on #576
@NimaSarajpoor Thank you for discovering this! Somehow, the unit tests wasn't firing properly (my fault) and I will need to correct it. You're also pointing out another potential issue that I will need to fortify in our testing.

[2022-03-16 14:38] #576 closed

[2022-03-16 14:40] seanlaw commented on #576
@NimaSarajpoor I believe that this should be fixed now. Would you mind testing it out?

[2022-03-16 17:31] NimaSarajpoor commented on #576
@seanlaw
It is working now. I noticed your commit had `p` in list `exclude`.

----

I was trying to understand why excluding `p` (?), and I noticed there is typo in docstring (please notice `A` and `B`):

[code]
    def non_norm_func(Q, T, A_non_norm):
        ...
        return
    @non_normalized(
        non_norm_func,
        exclude=["normalize", "p", "A", "B"],
        replace={"A_norm": "A_

[2022-03-16 18:54] seanlaw commented on #576
Oh yes! In trying to make the docs better, I forgot about A and B

[2022-03-16 21:21] #552 closed

[2022-03-19 20:33] #574 closed

[2022-03-24 03:13] rteja1113 commented on #545
forgive my ignorance but why would it be safer ?

[2022-03-24 12:53] seanlaw commented on #545
@rteja1113 In my experience, `while` loops are a nice way to express certain pieces of code. However, I've come across many instances where a `while` loop can get stuck and never exits due to the stop condition never being reached. In contrast, a properly written `for` loop doesn't (rarely?) exhibit this behavior and enforces that you start somewhere and end somewhere. Of course, some concepts thi

[2022-03-25 07:47] rteja1113 commented on #545
while loops if written properly, can do everything a for loop can do but the opposite is not True. In some cases, you have no choice but to use while loops(when you have to conditionally update the scanning variable). My personal opinion is that if it's not broken, don't fix it. That being said, if there are any edge cases that make the while loop run indefinitely,  code should be added before the

[2022-03-31 20:27] seanlaw opened #582 "stumpy.match bug with parameters: Sliding mean and Sliding standard deviation"
### Discussed in https://github.com/TDAmeritrade/stumpy/discussions/581

<div type='discussions-op-text'>

<sup>Originally posted by **brunopinos31** March 31, 2022</sup>
I have a bug when i try to use the stumpy.match function with parameters: Sliding mean and Sliding standard deviation.

![image](https://user-images.githubusercontent.com/92527271/161106075-5853222b-5073-4e57-8cda-e75d1abe171b.pn

[2022-03-31 20:39] #582 closed

[2022-04-01 20:37] NimaSarajpoor opened #584 "Improving MERLIN: ideas for future"
MERLIN algorithm is for anomaly detection in long time series data `T`. It is initially proposed in [MERLIN](https://www.cs.ucr.edu/~eamonn/MERLIN_Long_version_for_website.pdf).

In this issue, we would like to provide some ideas on how to improve MERLIN algorithm. If  you are new to this topic, you may want to review issue #417 and the PR #505 first before reading the rest of this issue.

* **Ide

[2022-04-05 13:28] seanlaw opened #585 "Variable Length Motifs and Discords Discov ery"
There is the [2018 VALMOD paper](https://arxiv.org/pdf/2008.13432.pdf) and, later the [2020 MAD paper](https://arxiv.org/pdf/2008.13447.pdf)

[2022-04-06 08:58] NimaSarajpoor commented on #585
I am trying to go through the extended version of paper. I already finished the introduction part of Jupyter Notebook, which provides the gist of concept behind the paper. However, before pushing it, I wanted to get equation (2) myself to make sure it is correct. And, then I noticed there is a typo:

![image](https://user-images.githubusercontent.com/38519522/161904985-fcdfb211-df61-43fe-bb4a-e6e8

[2022-04-06 16:56] seanlaw commented on #585
Great. I'll need to go over the paper myself

[2022-04-13 21:49] NimaSarajpoor opened #589 "inconsistent data type in Tutorial_DiscordMERLIN.ipynb"
I was reviewing the [MERLIN NOTEBOOK](https://github.com/TDAmeritrade/stumpy/blob/main/docs/Tutorial_DiscordMERLIN.ipynb) and I noticed that the output of function `_discords` doesn't show consistent data type when it is appended by `[-1, np.inf, -1]` with `dtype=object` .

Apparently I should have defined `dtype` of each column separately and then concatenate them with `dtype=object`.

If you thi

[2022-04-14 01:41] seanlaw commented on #589
@NimaSarajpoor I think we should fix it. Since at the end we will return something of length `k` then we should just create three 1D arrays with length `k` (filled with dummy values) and then put them in `out` like we do elsewhere in STUMPY

[2022-04-14 03:00] NimaSarajpoor commented on #589
I will submit a PR.

[2022-04-14 11:20] #589 closed

[2022-04-20 13:51] seanlaw opened #591 "Handle Constant Regions Consistently"
Currently, `stumpy.stump` and `stumpy.stumped` can account for constant regions. So, when two subsequences are being compared and one subsequence is constant (and the second is not constant) then the pearson correlation is set to `0.5`, which means that the z-normalized Euclidean distance is `np.sqrt(np.abs(2 * m * (1 - 0.5)))` or `np.sqrt(m)` (<s>not sure if this is the best/correct choice</s> se

[2022-04-21 16:47] #203 closed

[2022-04-21 16:48] seanlaw commented on #203
@Attol8 Apologies for taking so long and thank you again for this wonderful contribution!

[2022-04-27 01:09] seanlaw opened #592 "Add Top-K Nearest Neighbors to Matrix Profile (normalize=True)"
Currently, functions like `stump`, `stumped`, and `gpu_stump` only return the top-1 nearest neighbor. Depending on the added complexity, we may want to consider adding a top-K nearest neighbor matrix profile.

This would add additional columns to the output. Namely, it would add 2 additional columns for every nearest neighbor.

Also, we should use `np.searchsorted` in place of `heapq`

See: #639 a

[2022-04-27 05:16] NimaSarajpoor commented on #592
@seanlaw
I am going through the `stump` right now. I am proposing the following design:

We can create a new function `stump_topk`, and then:
[code]
And,  the output `mp` in `mp = stump_topk(...)` does not have four columns. Instead, it has `2k` columns:
`P_topk = mp[:k]`
`I_topk = mp[:k]`

The reason is that I think returning the right and left NN may not be necessary in `matrixprofile_topk`, and

[2022-04-27 07:06] NimaSarajpoor commented on #592
@seanlaw
I think I should better submit a PR first (in which I just modify the current module without creating new function). Then, you can provide your comments there. I will update you.

[2022-04-27 11:25] Attol8 commented on #203
Thanks @seanlaw ! I am glad this notebook is finally part of the documentation, Fantastic work!

[2022-04-27 11:39] seanlaw commented on #592
I think I would prefer trying to modify the existing functions by adding the relevant and needed data structures. If you add a `stump_topk` function then it will cause too much code branching and much of the code will be highly redundant. This means that if we change `_stump` then we'll likely need to change `stump_topk` which is undesirable. Right now, when we change the normalized code, we also

[2022-04-27 13:03] lcoulet opened #593 "Time series chain: allc unanchored chain result contains only one of the longest chains - and not all equally-longest unanchored chains"
Hello,
in allc() function unanchored chain result contains only one of the longest chains - and not all equally-longest unanchored chains.

This is different from what is explained here - https://stumpy.readthedocs.io/en/latest/Tutorial_Time_Series_Chains.html

The line of code related to this is this one:
https://github.com/TDAmeritrade/stumpy/blob/2d6f7873796ba0d9dd752b064a114c48c6c6a8b6/stumpy/

[2022-04-27 13:19] NimaSarajpoor commented on #592
Right! In fact, I was thinking of creating new private functions as well. That may become a disaster :) I am flexible. So, I will modify the stump function as it seems to be a more rational solution at this moment.

I overlooked this point! I will do as suggested and we can then see if it sounds alright.

Thanks for the link! Very interesting!! I think I got it.

**Just to confirm:**
`stump` calls

[2022-04-27 13:54] seanlaw commented on #593
@lcoulet Welcome to the STUMPY community and thank you for your question. So, first-and-foremost, STUMPY tries its best to faithfully reproduce the original published work and, in this case, it is the [Matrix Profile VII](https://www.cs.ucr.edu/~eamonn/chains_ICDM.pdf) paper. You will see that the `allc` function follows Table 2 of the paper and in accordance with it `stumpy.allc` also [returns tw

[2022-04-27 14:07] seanlaw commented on #592
For now, let's go with "yes" :)  What might fail is 100% code coverage and then we'll have to make sure we handle that. I don't want to get too far ahead of ourselves and over-analyze everything. Given the possible complexities and newness, let's just "try something and see what happens". Maybe we'll break something and we need to either fix it or abandon this altogether. Either way, we learn some

[2022-04-27 14:19] JaKasb commented on #592
k-NN for each distance-matrix row ?
k-NN for each distance-matrix column ?
k-NN for each motif ?

The most useful method is k-NN for each motif.
It is also the fastest method.
Furthermore it is also easy to implement.
But it won't compute a true k-NN neighborhood search, because there is no neighborhood information for time-points which were not classified as motifs.

1. compute regular matrix pro

[2022-04-27 15:25] seanlaw commented on #592
@JaKasb We are talking about distance matrix rows in this case. Given that all pairwise subsequence distances are computed, I suspect that this is more about whether there is a clean way to handle the bookkeeping that also doesn't reduce the maintainability of the code base. Any pointers or suggestions is greatly appreciated!

I have not come across this linear time paper. Thanks for sharing it!

[2022-04-27 15:29] NimaSarajpoor commented on #592
@seanlaw

Yes! That makes sense!

Yep! Let's go with MVP and see how things will go!

---
(@seanlaw  You beat me in answering!)

@JaKasb
Thanks for sharing your knowledge and the paper!

Are these two different? I mean...the distance matrix is symmetric. If there is a difference, could you please explain what that is?

I can see your point! As you noticed, top-k smallest values in each distance pr

[2022-04-27 15:34] NimaSarajpoor commented on #592
@seanlaw

Yes! That makes sense!

Yep! Let's go with MVP and see how things will go!

[2022-04-28 06:49] lcoulet commented on #593
@NimaSarajpoor  - This is correct thanks for clarifying what I meant.

It is  a very minor thing - but as we played with the `allc()` and did not get all the expected results in the unanchored time series chain as second result...  But just one of them. It was a bit misleading.

Indeed we can iterate over all chains and we get all "equally-longest" chains from there.

[2022-04-28 08:06] seanlaw commented on #593
Thank you @lcoulet and @NimaSarajpoor. I see your point now and will edit the tutorial!

[2022-04-28 10:00] #593 closed

[2022-04-28 18:31] NimaSarajpoor commented on #592
I am trying to write `test_stump_topk.py` which is basically the same as `test_stump.py`. I just need to replace `naive.stump` with `naive.stump_topk` (a new function that I added to `naive.py`).

However, I can also see that `test_stump.py` calls the function `naive.stamp` in some of its tests, and that means I need to create `naive.stamp_topk` as well. Is that correct?

----

SIDE NOTE:
`naive.s

[2022-04-28 20:00] NimaSarajpoor commented on #592
@seanlaw
I decided to submit a PR so you can see if I got your point correctly or not. For now, I skipped the use of `naive.stamp` in the tests.

[2022-04-28 20:15] seanlaw commented on #592
Actually, I don't think you need `naive.stump_topk`. I think you should modify `naive.stump` so that it can accept an additional parameter `k` and then update all of the functions that `naive.stump` depends on.

At the end of the day, we'll call `stump.stump` with `k > 1` and so we'll want a naive (i.e., slow) way to return back the correct result.

Yes, I don't recall "why" (maybe due to laziness

[2022-04-28 20:43] NimaSarajpoor commented on #592
Thanks for the clarification. I will continue discussion on the PR #595.

Sure. I can create a new issue regarding this matter. (If you think it is better to keep it here, please let me know)

[2022-04-28 20:47] seanlaw commented on #592
Yes, a separate issue would be great. Thank you!

[2022-04-29 06:49] NimaSarajpoor opened #596 "Rename functions `naive.mass` and `naive.distance_profile`"
It seems that the function `naive.mass` is actually the naive version of function `stumpy.stamp._mass_PI` (NOT the `stumpy.core.mass`) Therefore, it might be a good idea to do the following things:

(1) Rename function `naive.mass` to `naive.mass_PI`
(2) Rename function `naive.distance_profile` to `naive.mass`

So... `naive.stamp` calls function `naive.mass_PI`, and the function `naive.mass_PI` ca

[2022-04-29 11:03] seanlaw commented on #596
Sure. That sounds good. If that's the case, would it make sense to have the new `naive.mass_PI` call the new `naive.mass`? To some extent, it wouldn't make sense for `naive.mass_PI` to be computing `mass` using its own algorithm if `naive.mass` exists?

[2022-04-29 17:14] NimaSarajpoor commented on #596
Would you please elaborate, and let me know what you suggest? Did you mean I should not change the name of `naive.distance_profile`?

[2022-04-29 17:29] seanlaw commented on #596
No, please ignore that part and do as you had planned

[2022-04-30 12:38] #596 closed

[2022-05-05 19:09] NimaSarajpoor opened #598 "Replace `naive.stamp` with `naive.stump`, with new parameter `row_traversal`"
As discussed in PR #595, we would like to replace `naive.stamp` with `naive.stump(...., row_traversal=True)`. It seems that the function `naive.stamp` is used in several unit test files. To avoid pushing all these files, I created this issue so that we can address it first before moving forward in the PR, and make sure it passes all unit tests.

[2022-05-06 00:02] seanlaw commented on #598
Sounds good

[2022-05-09 14:28] #598 closed

[2022-05-11 09:09] AndiBerber opened #600 "Bug for const motifs"
The distance profile is not calculated reliably for constant motifs. Given the following code, 0, 1 or 2 dips are seen:
[code]
Is it only on my machine ?

[2022-05-11 11:34] JaKasb commented on #600
Not a bug.
Each sliding window is normalized by to zero-mean and unit-variance.
If window is constant -> variance is 0 -> Divide by zero

Solution 1:
set parameter normalize to False
Solution 2:
provide a "fixed" version of the sliding variance to MASS()
Solution 3:
Add small noise to data to eliminate contant regions.
Preferably smaller noise magnitude than the quantization stepsize.

[2022-05-11 12:27] seanlaw commented on #600
@AndiBerber Thank you for your question and welcome to the STUMPY community. Can you please elaborate on what you are expecting to see? From what I can tell from your example, there should be one region where the distance profile would be zero and I believe that STUMPY is doing the right thing and handling the constant region correctly. One important thing to note is that STUMPY only supports `np.

[2022-05-11 12:38] seanlaw commented on #600
@AndiBerber Thank you for your question and welcome to the STUMPY community. I wonder if the issue is that the query subsequence is also constant. In that case, this may be an undesirable input since, as @JaKasb pointed out, this would cause a "divide by zero" in the z-normalization of your subsequence.

[2022-05-11 17:02] fischja opened #601 "Expose n_iter and n_samples parameters of idealized arc curve computations to FLUSS"
Hi there, would it be possible to expose the `n_iter` and `n_samples` parameters of the `_iac` function to the top-level `fluss` function (or allow some kind of passthrough option)? The reason is that these parameters seem to heavily influence the runtime of `fluss`.

[2022-05-11 18:48] seanlaw commented on #601
@fischja Thank you for your question and welcome to the STUMPY community.

Hmm, would something like this be sufficient for your needs?

[code]

[2022-05-11 19:08] NimaSarajpoor commented on #591
@seanlaw
Very interesting. I have not read the paper yet. This is just what I think:

I think we should simply replace a constant subsequence with all zeros (after z-normalization).

So, let's say we have:

[code]
Then, removing the offset (i.e. `s_0 = s - s.mean()`) becomes all 0. It does not matter what value of `a`  we have.

Now, the question is: "How about standard deviation?" Because if we c

[2022-05-12 04:01] NimaSarajpoor commented on #591
Another thing that just came to my mind and I thought it might be worth sharing:

If you notice, the domain of values of z-normalized version of a non-constant subsequence with length `m` is `R^{m}` space excluding `0` (the origin). Replacing a constant subsequence with all-zero subsequence can make our domain cover the whole space.

[2022-05-12 07:51] AndiBerber commented on #600
Thank you guys @JaKasb  and @seanlaw  for your friendly and welcoming support. Everything works out as expected when I use `np.float64`. The behaviour with `np.float32` is weird though, as it is random whether the dips are present. Maybe a warning would be nice if you use it with `np.float32` ? I would like to implement an efficient MASS algorithm in C++ so I still have a few questions:

1) So by

[2022-05-12 13:21] seanlaw commented on #600
@AndiBerber Can you please tell me what version of STUMPY you are using? The latest version is v1.11.1. By default, STUMPY throws an error when the input isn't of type `np.float64`. When I do:

[code]

I get:
[code]

This is the same error that I get when I execute your code using the latest version of STUMPY.

Regarding constant regions. There are two key scenarios:

1. When both subsequences are

[2022-05-12 13:44] AndiBerber commented on #600
Indeed, my version is ` 1.9.2`. I agree on everything you said. Unfortunately, I´m not sure how to handle case #2 either. I will have a look at the discussion and the linked paper and contribute if I have some meaningful insights.

Thanks again.

[2022-05-12 13:48] seanlaw commented on #600
@AndiBerber If you don't mind, I'd like to move this issue to the Discussion section of our repository

[2022-05-12 14:45] NimaSarajpoor commented on #591
That is correct and it is aligned with the concept of replacing a constant subsequence with all 0. I will provide a link to its proof.

[2022-05-12 15:09] fischja commented on #601
@seanlaw thank you for your quick reply - that indeed is a much more elegant solution.

[2022-05-12 15:13] seanlaw commented on #601
@fischja You are too kind. It appears that "past Sean" had correctly anticipated this future need and designed the interface with this in mind. "future Sean" got lucky in this case 😄

If you don't mind, I would like to close this issue and move this over to our Discussion section.

[2022-05-12 15:53] NimaSarajpoor commented on #591
@seanlaw
And, one more thing: it would be nice if someone can read the paper and see if the authors investigate this matter further or not. I can read it if I get some free time in the future.

[2022-05-12 16:51] seanlaw commented on #591
Yes, this is not fixed in `mass` yet. This current issue, when resolved, would/should also require fixing `mass` too

[2022-05-13 21:46] fischja commented on #601
@seanlaw sure thing :)

[2022-05-14 22:35] NimaSarajpoor commented on #591
@seanlaw
**Update (might be of your interest)**

I took a look at [the paper](https://core.ac.uk/download/pdf/287941767.pdf). It seems it is about handling noise in time series data and how it affects the matrix profile distance. Apparently, noise has higher impact on flatter (!) subsequences. So, if I understand correctly, their work is not about handling the constant subsequence `S`. It is about

[2022-05-15 00:34] seanlaw commented on #591
Thanks @NimaSarajpoor! I remember skimming the paper when it first came out and had the impression that it may be a "nice to have" (but not default) but not a "must have" because it isn't super obvious and adds some overhead. I only linked to the paper in case it could possibly help us deal with purely constant subsequences. I think the fix for this issue should be straightforward given the two ca

[2022-05-15 03:22] NimaSarajpoor commented on #591
@seanlaw
I see. So, for instance, we may add a noise to avoid divide-by-zero issue in z-normalizing constant subsequences, and then use the  proposed method of paper to handle the noise! As you noticed, it is not super obvious, and I think it needs some investigation on how it affects the results and if the final outcome is reasonable(?) or not.

[2022-05-15 09:54] NimaSarajpoor commented on #591
**A few notes**

* I derived `eq(7)` of paper, and it is correct.
* The formula in Algorithm 1 has a typo. The correct one is provided in the section 3.2 of the author's [previous work](https://www.scitepress.org/Papers/2019/73141/73141.pdf)
* I think it is NOT CLEAR how they get from `eq(7)` to the Formula proposed in `Algorithm1`

---

**Results**

I also calculated the matrix profile of a noisy

[2022-05-15 19:43] seanlaw commented on #127
@NimaSarajpoor Played with this a bit more [over here](https://github.com/TDAmeritrade/stumpy/issues/591#issuecomment-1126897725) so I'm reopening in case there is interest.

[2022-05-15 19:51] seanlaw commented on #591
@NimaSarajpoor Thank you for looking into this and for verifying that it does indeed work! To be clear, this current issue is focused on handling perfectly constant regions with zero noise but making sure that it is consistent across all z-normalized distance calculations as, right now, it is only handled in `stumpy.stump` and `stumpy.stumped` but missing in others. Let's track "constant regions w

[2022-05-15 20:18] NimaSarajpoor commented on #591
Thanks for the clarification. I was actually trying to see if we can borrow an idea from the paper but I think I should better not go to that route.

I also found the results interesting but didn't know there was an issue about this before. Thanks for reopening that! I have some thoughts about handling noise and I will share them in that issue. Sorry for going off-road in this issue.

[2022-05-15 23:22] NimaSarajpoor commented on #127
@seanlaw  @mihailescum

An extend version of this paper is: [Implications of Z-Normalization in the Matrix Profile](https://core.ac.uk/download/pdf/287941767.pdf).  The formula provided in the algorithm1 of the extended version has a typo. The term `(2 + m)` should be replaced with `(2 + 2 * m)`, as shown in eq(7) of the paper, or in section 3.2 of their [initial work](https://biblio.ugent.be/publ

[2022-05-15 23:38] seanlaw commented on #127
@NimaSarajpoor Would a default value of 0.0 give us the original z-norm distance? I prefer short parameter names and would prefer `noise` over `sigma_noise`.

[2022-05-16 00:50] NimaSarajpoor commented on #127
That is correct. With default value of 0.0, we will get the original z-norm distance.

Sure. That makes sense!

You are right! And, I think the alternative approach (i.e. increasing the window size `m`) is not bad.  You have more insight on the experience of users in using STUMPY. So, please feel free to close this issue again if you think it unnecessarily increases the computation time.

[2022-05-20 02:09] seanlaw opened #606 "DAMP"
[Here](https://sites.google.com/view/discord-aware-matrix-profile) is the supporting website

[2022-05-21 05:34] NimaSarajpoor opened #607 "Fix Docstring in `core._get_QT(...)`"
In `stumpy/core._get_QT(start, T_A, T_B, m)`, the docstring says:
[code]

So, if I understand correctly, we are talking about `TA[start:start+m]`, but the code shows:
[code]

[2022-05-21 15:57] seanlaw commented on #607
I think the docstring should say:

[code]

Would you mind updating it?

[2022-05-21 16:41] NimaSarajpoor commented on #607
@seanlaw
Sure. I will revise the docstring.

[2022-05-22 15:07] #607 closed

[2022-05-25 02:22] seanlaw opened #610 "Fix Unit Test"
This unit test causes a failure:

[code]

[2022-05-29 20:03] NimaSarajpoor commented on #584
**Idea 4:** As discussed in VALMOD paper (see #585), it is possible to find lower bound (LB) of distance between two subsequences of length `m+1` according to the distance of same subsequences (i.e. with same start index) but with length `m`. In MERLIN, the algorithm calculates some of pairwise distances throughout the process. It might be useful to find the LB of the distances for length `m+1` fo

[2022-05-31 21:24] NimaSarajpoor opened #611 "Enhancing docstrings in `stumpy/scrump.py`"
I have been studying the `scrump.py` and I think it might be a good idea to enhance its docstrings:

* information about returned values in function  `_prescrump` is not provided in its docstring.
* clarifying the structure of output in both the method `.update()` and the docstring of `prescrump` . In contrast to `stumpy.stump`, the `I` in `P, I = prescrump()` does not contain left and right matri

[2022-05-31 21:37] seanlaw commented on #611
@NimaSarajpoor Would you like me to assign this to you?  Or did you have questions?

[2022-05-31 21:57] NimaSarajpoor commented on #611
I just provided this issue here so it can be addressed regardless of the progress in top-k PR #595. So, if the PR doesn't merge, we do not forget about this issue.

Sure. I am working on (naive version of) `scrump`, and I can take care of this issue in a couple of days,

[2022-06-01 00:21] NimaSarajpoor opened #612 "Add (Optional) Missing Line to Prescrimp Algorithm"
I think one line from algorithm is missing from both `naive.prescrump`.

In the line 6 in the Algorithm 2 of the [Scrimp++ paper](https://www.cs.ucr.edu/~eamonn/SCRIMP_ICDM_camera_ready_updated.pdf), we can see:
[code]

And, in the MATLAB code of the [supporting webpage](https://sites.google.com/site/scrimpplusplus/), we can see that line is implemented:
![image](https://user-images.githubusercont

[2022-06-01 00:40] seanlaw commented on #612
Isn't this accounted for in:

https://github.com/TDAmeritrade/stumpy/blob/998e5d2017ed3d01d1a3993ce01e96de3dfd5254/stumpy/scrump.py#L109-L110

[2022-06-01 00:54] seanlaw commented on #612
@NimaSarajpoor I don't remember the details but I vaguely remember disagreeing with something in their Matlab implementation and decided to omit some of their code. Unfortunately, it's been so long that I can no longer recall what it was that I found objectionable.

If you can confirm that it is "correct" and want to add it then please do so for `prescraamp` as well

[2022-06-01 02:06] NimaSarajpoor commented on #612
Ah, I see.

Well, I think it makes sense to include that line. I believe the idea is that the following two lines
[code]
update the `i-th` element in the profile and we are not using the other elements of `distance_profile` to update other elements of matrix profile if possible.

So, if you do not mind, I will work on this and then, I will work on its top-k version.

[2022-06-01 02:14] seanlaw commented on #612
Yes, I understand. Please go for it

[2022-06-01 11:44] seanlaw commented on #611
@NimaSarajpoor Is there a need to update this for `scraamp.py` as well?

[2022-06-01 16:08] NimaSarajpoor commented on #611
Yes. I will update prescraamp in push in the recently-created PR.

[2022-06-02 16:47] JaKasb commented on #465
The following notebook reproduces the PDF which is contained in "ContrastProfile_GettingStarted.zip"
[contrast_profile_notebook.pdf](https://github.com/TDAmeritrade/stumpy/files/8825896/contrast_profile_notebook.pdf)

[2022-06-02 19:34] seanlaw commented on #465
Thanks @JaKasb! This is a great start. Would you care to contribute a full tutorial for this?

[2022-06-02 21:07] #611 closed

[2022-06-02 21:07] #612 closed

[2022-06-03 16:17] JaKasb commented on #465
After re-reading the paper, I have come to the conclusion that I can't imagine a specific topic that needs an extra tutorial.
The paper already explains online-updates, k-Platos, and comparisons of Contrast-Profile vs Shapelets/HMM/LSTM.

[2022-06-03 19:18] seanlaw commented on #465
In case it matters, our tutorials generally reproduce one or more of the figures in the paper and tries to elaborate on any insights/thoughts beyond what was provided in the paper that might not immediately be obvious to non-experts. Sometimes, reading the same concepts but explained in different ways may help others digest the information. That's usually the goal of our STUMPY tutorials. Code is

[2022-06-04 08:03] seanlaw opened #615 "Dask/Distributed Performance Regression"
Somewhere between Dask/Distributed version `2022.5.0` and `2022.5.1` (and subsequently `2022.5.2`), STUMPY's dask-related unit tests (e.g., https://github.com/TDAmeritrade/stumpy/blob/main/tests/test_stumped.py) are around 10x slower. We'll need to track this down and find out what may have changed in either `dask` and/or `distributed`

[2022-06-04 08:08] seanlaw commented on #615
@jrbourbeau @mrocklin @crusaderky It'll take me a few days to formulate a better reproducible example beyond switching from `2022.5.0` to `2022.5.1` but would any of you happen to have any thoughts or ideas of what might be causing this? I've tried looking at the `distributed` changelogs (https://github.com/dask/distributed/blob/main/docs/source/changelog.rst) but didn't notice anything obvious.

[2022-06-04 17:56] mrocklin commented on #615
Nothing is immediately obvious to me personally.  @crusaderky might be the best bet.

Alternatively, is `git bisect` a feasible option here?  (how easy is it to reproduce the bad behavior?)

[2022-06-04 20:46] seanlaw commented on #615
Thanks @mrocklin. I'm going to find some time and see if I can isolate a minimum reproducible example

[2022-06-04 21:21] mrocklin commented on #615
Sounds good.  `git bisect` may genuinely be faster is the stumpy test suite is easy to run.  Happy to walk you through using it if you're unfamiliar.  It's a useful tool.

[2022-06-05 00:22] seanlaw commented on #615
I had heard about `git bisect` before but this is my first time using it and it felt like magic! Thanks for pushing me @mrocklin 😄

I was able to isolate the problem in `distributed`. This was the first "bad" commit:

[code]

So, to reproduce the problem, I started with a fresh `miniconda` environment, I did:

[code]

Then, I ran this `test.py` script:

[code]

On my Apple M1 Macbook Air, this too

[2022-06-05 16:54] mrocklin commented on #615
I'll defer that to @fjetter

[2022-06-06 22:08] seanlaw commented on #615
Thank you for your thoughtfulness @mrocklin ! I understand and no rush

[2022-06-07 07:23] fjetter commented on #615
I'll have a look

[2022-06-07 08:40] fjetter commented on #615
The commit you are referencing is PR https://github.com/dask/distributed/pull/6016
and the regression introduced is us now waiting explicitly for a second upon a cancellation request if a key is no longer available https://github.com/dask/distributed/issues/6517
This wait period is hit by https://github.com/fjetter/stumpy/blob/89487ae3991c50ead0e927c90a19ed6ace32df7e/stumpy/stumped.py#L266-L282
I

[2022-06-11 12:53] seanlaw opened #619 "Split Coverage Tests for Github Actions"
As our test suite gets longer, the `coverage` tests, which are executed in pure Python, will continue to need more time to complete. GIven that Github Actions has a job time limit, it may be beneficial to further split up the `coverage` testing time into two separate jobs (instead of all in one). However, this will require storing the `.coverage` file between jobs. This can be accomplished by usin

[2022-06-12 04:51] NimaSarajpoor commented on #610
@seanlaw
I think I found the source of error. According to my investigation, the problem is in the precision of $\rho$. The discrepancy is in index 2 and 12. In fact `S1 = T[2:2+m]` and `S2=T[12:12+m]` are exactly the same and the $\rho$ between them must be 1.

**However,** according to the calculation of  `stumpy.stump`, we can see that the highest value in $\rho[:, 2, 0]$ (print it in [this lin

[2022-06-12 19:45] NimaSarajpoor commented on #610
@seanlaw
I do not know if this discrepancy (due to the numerical error) can happen in other cases as well or not... like when the true (exact) $\rho$ is not 1 (not identical) but we have difference between `stumpy.stump`  and `naive.py/stump` due to numerical error.

---

**How to handle identical case without using something like `config.STUMPY_RHO_PRECISION`?** I mean... if we try to add `STUMPY

[2022-06-12 20:14] seanlaw commented on #610
@NimaSarajpoor  I don't think `hash` is a good idea as it is slow and there is pushing subsequences into a dict may cause a lot of memory to be used. Additionally, we'd need to account for z-normalization in these cases. Just because two subsequences aren't identical doesn't mean that their z-normalized subsequences aren't identical.

I don't know if it's worth addressing or what the best option i

[2022-06-12 22:21] NimaSarajpoor commented on #610
I was wondering if what you have in mind is to check each single $\rho$ that is being calculated in `stumpy.stump._compute_diagonal`. If yes, then in that case, the alternative approach

might (hugely ?) increase the computing time if the data mostly show periodical behavior. (because, we will have many identical subsequences)

---

On the other hand, I think we also want to make sure the values i

[2022-06-13 11:45] seanlaw commented on #610
I think the only thing we'd need to change is add a line after L188:

https://github.com/TDAmeritrade/stumpy/blob/576de379994896063be71d264e48a08ae17476cf/stumpy/stump.py#L183-L188

[code]

I think that should be a negligible cost as there is an `if` comparison (which should be cheap??) and then a value is set

[2022-06-13 12:52] seanlaw commented on #610
As I think about it more, if we were to do this as a post-processing step, we would write a separate function to `stumpy.stump`. I would not add the post-processing step to the existing function. I think my proposal above is the way to go

[2022-06-13 15:45] NimaSarajpoor commented on #610
Correct. As you said, I think is better and enough for such rare case (you do not have to recalculate distances and you modify the values throughout the process).

[2022-06-16 16:58] NimaSarajpoor opened #621 "Allow user to use pre-calculated `mp` in `stumpy.stumpi.py`"
It seems that  `stumpy.stumpi.py` needs to calculate `matrix profile (mp)` in the beginning of the algorithm.

https://github.com/TDAmeritrade/stumpy/blob/576de379994896063be71d264e48a08ae17476cf/stumpy/stumpi.py#L118

And, then it will be updated quickly for each new individual, scaler value `t` (because, I think it just needs to calculate a new distance profile ~for~ considering `t` and update m

[2022-06-17 00:15] seanlaw commented on #621
Sure, something like that is fine but I think we should worry about it later. For most users, they rarely care about long time series when then use `stumpi` and, instead, they only care about some small streaming window.

If anything we should really do `gpu_stumpi` and `stumpied` but, in all cases, we should consider allowing the user to provide `mp` if they've already pre-calculated it.

[2022-06-23 15:23] nsankar opened #623 "DAMP - Discord aware matrix profile."
Any plans for enabling DAMP (Discord aware matrix profile) within Stumpy ?
https://sites.google.com/view/discord-aware-matrix-profile

[2022-06-23 15:28] seanlaw commented on #623
@nsankar There is already an existing issue #606 that is tracking this.

[2022-06-23 15:32] nsankar commented on #623
@seanlaw Great . Thanks.

[2022-06-24 15:43] seanlaw opened #624 "Refactor Self-join Check"
At the end of many functions that compute the matrix profile (`stump`, `stumped`, `gpu_stumped`, etc), we perform a final check of the matrix profile distances:

https://github.com/TDAmeritrade/stumpy/blob/576de379994896063be71d264e48a08ae17476cf/stumpy/stump.py#L618-L621

Due to the fact that these lines are repeated in many places, it would be best to refactor this into a function called `_check

[2022-06-24 15:43] seanlaw commented on #624
@SaVoAMP Would you be interested in tackling this one? If so, I can assign it to you. Please feel free to ask questions if the issue isn't clear.

[2022-06-24 15:54] SaVoAMP commented on #624
Sure, I think I should be able to do this.

In which .py file should this function be defined?
To make sure I understand everything: I should wrap this four lines of code into a function and call it / replace it where appropriate?

[2022-06-24 20:17] seanlaw commented on #624
Yes, exactly! And add appropriate unit tests where applicable. I think that it would be great to identify other opportunities like this in the code that we could refactor (as additional new issues). This way, we can make a change in a single place rather than repeating the change multiple times in different files.

[2022-06-25 16:24] SaVoAMP commented on #624
All right :)

I will start with it on Tuesday, I think.

[2022-06-26 17:57] NimaSarajpoor opened #625 "stumpy/stumpi.py high computing time"
[code]

The computing time of `stumpy/stumpi.py` without calling `.update( )` is about 75 sec. However, it should be close to the timing of `stumpy/stump.py` (20 sec).

[2022-06-26 18:26] MostafaShahin1 opened #626 "aampi update function returns nans for constant intervals"
I am facing a problem while trying to calculate the non-normalized matrix profile for a time series that contains a constant interval.
that is getting nans where it should be zero (for the subsequences that lie within the constant level). I tracked some numbers and most probably that's because of small negative numbers under the square root.

here is some code to check this behavior
[code]
I even

[2022-06-26 21:51] NimaSarajpoor commented on #626
@MostafaShahin1
I was just wandering and saw your post. Since I was working on another issue, I got curious about this one. So, I think this would fix it:

Adding line:
[code]
before line
https://github.com/TDAmeritrade/stumpy/blob/576de379994896063be71d264e48a08ae17476cf/stumpy/aampi.py#L241

----

And, probably before
https://github.com/TDAmeritrade/stumpy/blob/576de379994896063be71d264e48a08ae1

[2022-06-26 23:02] seanlaw commented on #626
@NimaSarajpoor Your proposal looks reasonable. Would you care to add the case above as a new unit test and submit a PR?

[2022-06-27 02:59] NimaSarajpoor commented on #626
@seanlaw
I would love to; however, my plate is a little bit full as I am working on another PR.

@MostafaShahin1
- Would you like to handle this issue and fix the bug? You can count on my help and Sean's. If you have any questions, please feel free to ask.

[2022-06-27 16:33] MostafaShahin1 commented on #626
@NimaSarajpoor
of course no problem, I will work on this. Thanks for your help.

[2022-06-27 17:00] NimaSarajpoor commented on #626
@MostafaShahin1
Cool.

[2022-06-27 17:06] seanlaw commented on #626
Thanks @MostafaShahin1! Feel free to ask any questions

[2022-06-27 19:45] MostafaShahin1 commented on #626
@seanlaw
I just noticed there is a unit test for constant subsequence in `test_aampi.py` which is `test_aampi_constant_subsequence_self_join`
but i believe this test covers the case in which we have the constant subsequence in the first window, where mp is calculated during the `aampi` object initialization.
on the other side, the new unit test should cover the case where we have the constant subs

[2022-06-27 19:55] seanlaw commented on #626
@MostafaShahin1 Great question! Can you please add a new test function **after** `test_aampi_constant_subsequence_self_join` called, maybe, `test_aampi_update_constant_subsequence_self_join`? So, the former is what exists and the latter is when the `update` introduces a constant subsequence to appear.  Is that clear?

[2022-06-28 09:27] huberl opened #629 "Pattern matching for multidimensional time series"
I'm currently working with IMU and other sensor data obtained by a car, which gives we hours of 10-dimensional (i.e. 10 sensors) time series data. I have a target sequence (e.g. driving through a s-curve) and need to find similar occurrences in my data.

I tried the `stumpy.match(target, ts)` function, but apparently it is not suitable for multidimensional time series. Is there any way to solve th

[2022-06-28 12:24] seanlaw commented on #629
@huberl Thank you for your question. Let's continue this conversation in the open [Discussions](https://github.com/TDAmeritrade/stumpy/discussions/630)

[2022-06-28 12:24] #629 closed

[2022-06-28 13:34] #625 closed

[2022-06-28 15:49] #626 closed

[2022-06-28 17:42] #545 closed

[2022-06-28 18:35] NimaSarajpoor opened #632 "Developing single-matrix profile in multi-dimensional time series"
**Motivation**

I have noticed that there are some interest in using matrix profile in multi-dimensional time series. We can think of it as:

1. Multi-Dimensional Matrix Profile of Multi-Dimensional time series
2. Single-Dimensional Matrix Profile of Multi-Dimensional time series

I believe the first one is tackled in [Matrix Profile VI](https://www.cs.ucr.edu/~eamonn/Motif_Discovery_ICDM.pdf), an

[2022-06-28 21:45] NimaSarajpoor commented on #632
Agree. I just wanted to share my idea before I forget about it.

Thanks for sharing the link! I took a look and there are some similarities for sure. As provided in [here](https://stumpy.readthedocs.io/en/latest/Tutorial_Multidimensional_Motif_Discovery.html#Multi-dimensional-Matrix-Profiles):
[code]

IF I UNDERSTAND CORRECTLY:
For instance, say `d=2` (two dimensional data T=[T1, T2]), then, in th

[2022-06-28 22:57] NimaSarajpoor commented on #632
@SaVoAMP
Thanks for sharing the data! Much appreciated! I will take a look and see if I can implement my idea and get some preliminary  result. I will seek your help in the nearby future if I don't understand the data or the target (i.e, the problem we try to solve by using that data).

[2022-06-29 02:15] seanlaw commented on #632
@NimaSarajpoor I think this is probably better suited for the Discussion section as it isn't quite an issue with the existing code and, instead, is a atypical and yet-to-be-confirmed case.

[2022-06-29 02:31] NimaSarajpoor commented on #632
@seanlaw
Right! It is better to be put in discussion.

[2022-07-05 16:22] seanlaw opened #637 "Add `T_subseq_isfinite` Note to `normalize` Docstring"
In some functions like, `core.mass` or `motifs.match`, it is possible to supply an optional `T_subseq_isfinite` parameter IFF `normalize=False`. Therefore, we should add a note to the `normalize` docstring to express this option.

Note that we should **NOT** recommend replacing `M_T` with `T_subseq_isfinite` as this is confusing.

[2022-07-07 12:49] seanlaw opened #639 "Add Top-K Nearest Neighbors to Matrix Profile (normalize=False)"
For non-normalized methods, add top-k matrix profile capability.

This is related to #592 and #640

[2022-07-07 12:51] seanlaw opened #640 "Ensure 2D Array Matrix Profile Outputs"
As we move toward supporting top-k matrix profiles, we need to ensure consistency of our outputs and they need to be 2D instead of 1D.

This is related to #592 and #639

[2022-07-07 13:03] seanlaw commented on #640
@NimaSarajpoor If you comment on this then I can assign it to you

[2022-07-09 18:08] #624 closed

[2022-07-14 09:17] KennyTC commented on #592
Excuse me, but I want to confirm that
1) "top K Nearest Neighbors" mentioned here means "top K motifs"?
2) currently, Stumpy can output only 2 motif points which are identical values?
Thank you very much.

[2022-07-15 21:34] NimaSarajpoor opened #643 "Speeding up `scrump`"
I have an idea that might speed up `scrump` when its parameter `pre_scrump` is set to True.  (After some thought, I concluded that this reduction in computing time would be probably insignificant. However, I am going to share my idea here anyway)

When `pre_scrump=True`, we calculate an approximate matrix profile by going through some samples (indices):
https://github.com/TDAmeritrade/stumpy/blob/

[2022-07-16 06:49] NimaSarajpoor opened #644 "miscalculation in `prescrump` for AB join?"
So, I think there is a slight issue in the `prescrump` for AB join.

please read the comments provided in the code snippet below:
[code]

[2022-07-16 14:58] seanlaw commented on #644
@NimaSarajpoor Can you elaborate on "why"? I'm not understanding. Do you have a solution for fixing this?

[2022-07-16 15:06] NimaSarajpoor commented on #644
@seanlaw
Sure. By "miscalculation", I meant we should just add the condition "exclusion_zone is not None". So, for instance, the first for-loop becomes:

[code]

---

**Explanation:**
To update `P[j+k]`, we need the distance between query `j+k` and another subsequence. the distance `d = dist_matrix[i + k, j + k]` is the distance between subseq `i+k` (in `T_A`) and subseq `j+k` (in `T_B`). This `d`

[2022-07-16 20:25] seanlaw commented on #644
That makes sense. Thank you for the explanation. Please add this to the current PR.

[2022-07-17 00:28] NimaSarajpoor commented on #644
Sure.. will do.

[2022-07-18 14:09] seanlaw commented on #640
@NimaSarajpoor A part of me is starting to doubt this choice of forcing everything to be 2D. I'm just trying to think through the majority of use cases and that we should target that as being the most "common" scenario. I'm guessing that 99% of the time users will only care about `k=1` (and therefore they only care about 1D output). What do you think?

[2022-07-18 16:48] NimaSarajpoor commented on #640
I think 2D output for left/right might be a little bit too much.

But what about `P` and `I`? Personally speaking, I think we can go with 1D output for `k=1` since, as you said, the majority of users care about `k=1`.  Although the user needs to simply do `.reshape(-1, )` for `k=1` when output is 2D, I think 1D is still better because that is what a user probably expects to see in the output.

You

[2022-07-18 18:17] seanlaw commented on #640
So, behind the scenes (i.e., with private functions), I think it is fine to just keep everything as 2D. However, when we are able to return `P` and `I` separately to the user (e.g., `stream.P_`), then maybe we should make check to see `if P.shape[1] == 1 and k == 1:` and then return a 1D array. Otherwise, return 2D. Something like that?

Certainly, for `stumpy.stump` where `P` and `I` are squashed

[2022-07-18 21:31] seanlaw commented on #640
Let's continue thinking about it. This is a good exercise in planning out the design and how our decisions may ultimately affect others. My goal is to minimize the pain/problems for the majority of people.

[2022-07-20 13:18] NimaSarajpoor opened #648 "A few issues in `scrump`"
So, I have been reading the module `stumpy/scrump.py` and I think we should revise the code to address the following issues:
(I can address them in the current PR #595 or new PR)

(1)
https://github.com/TDAmeritrade/stumpy/blob/2ec04e1723204c81b34ebccdde642917f1271c12/tests/naive.py#L1418

I think it should be changed to:
[code]
So, we can make sure it works properly in AB-join. We need to revise

[2022-07-20 13:38] NimaSarajpoor commented on #648
UPDATE:
So, I think the reason that we did not catch issue (3) is because of the fact that we never entered those loops. Except one test function ` test_prescrump_self_join_larger_window` that only tests self-join in which swapping `i` and `j` does not change the result.

[2022-07-20 13:56] seanlaw commented on #648
1. Please submit a new PR to address this issue (instead of using #595)
2. I think this is a good opportunity to use test-driven development. Write the new unit test first that tests `test_prescrump_AB_join_larger_window` and then make sure all tests pass except for this new one. Then modify the code to ensure that all tests pass (but without changing the other tests).

I agree with this. Consiste

[2022-07-20 18:27] #648 closed

[2022-07-21 15:31] seanlaw commented on #90
We may be able to learn some things from this recent paper explores MSTOMP on GPUs:

[Exploiting_Reduced_Precision_for_GPU-based_Time_Series_Mining-2.pdf](https://github.com/TDAmeritrade/stumpy/files/9160618/Exploiting_Reduced_Precision_for_GPU-based_Time_Series_Mining-2.pdf)

[2022-07-25 08:02] ken-maeda commented on #412
Which example in the paper? Introduction fig1 or case study fig13?

[2022-07-25 10:30] seanlaw commented on #412
The first example in the tutorial reproduces Figure 1 in the paper.

[2022-07-25 11:00] ken-maeda commented on #412
Thanks, does tutorial snippet have to be same as paper example snippet  in such a huge original dataset?

[2022-07-31 23:01] NimaSarajpoor opened #652 "Incorrect descriptions in Docstrings"
I have been reading the module `mpdist` and I noticed:

* The description of the output of `_mpdist_vect` is missing from its docstring
* The description of `μ_Q` and `σ_Q` (in `_mpdist_vect`) are not correct. I think they should be `numpy.ndarrays` not `float`.
* The description of `μ_Q` and `σ_Q` (in `core. _mass_distance_matrix`) are not correct. I think they should be `numpy.ndarrays` not `flo

[2022-08-01 01:03] seanlaw commented on #652
Thanks for identifying this @NimaSarajpoor. I just took a look and I think you are correct. Would you mind submitting a PR to address this?

[2022-08-01 02:21] ken-maeda commented on #412
![img1](https://user-images.githubusercontent.com/42758592/182057340-33340ee1-d697-4e54-bc9c-e1fe2ad3bc1b.png)
・Reproduction of paper
It depends on location of snippet, max(min) window size of stimp.

・Calculation time
not sure about acceptable level of calculation time
ex)It took about 7mins.
     Parameter: window size(100-2000) percentage(0.01) dataset length(250K)
     CPU: i9-12900KF
This als

[2022-08-01 03:56] seanlaw commented on #412
@ken-maeda This issue is for tracking the completion of the pan matrix profile tutorial (it is still incomplete). For questions on how to use `stimp`, can you please post your questions to our [Github Discussions](https://github.com/TDAmeritrade/stumpy/discussions)?

[2022-08-01 04:04] ken-maeda commented on #412
I intended to ask about the dataset of this tutorial, the data you post is too big.

[2022-08-01 04:34] seanlaw commented on #412
@ken-maeda I think there is a misunderstanding. When I said:

I was referring to the fact that the first example in [this tutorial ](https://github.com/TDAmeritrade/stumpy/blob/main/docs/Tutorial_Pan_Matrix_Profile.ipynb) reproduces Figure 1 in [this paper](https://www.cs.ucr.edu/~eamonn/PAN_SKIMP%20%28Matrix%20Profile%20XX%29.pdf).

In case you are trying to contribute a PR for this tutorial, I t

[2022-08-01 04:42] ken-maeda commented on #412
Oh I see. I completely misunderstood. I thought new case of electrical load data is required. Sorry for causing a trouble.

[2022-08-01 04:47] seanlaw commented on #412
No problem! You may be interested in contributing to #85 instead

[2022-08-01 05:41] NimaSarajpoor commented on #652
Sure, I will do so in a few days.

[2022-08-01 05:49] NimaSarajpoor opened #654 "Refactor stumpy.motifs.match"
As discussed in #653, it might be a good idea to refactor `stumpy.motifs.match` and `stumpy.aamp_motifs.aamp_match`. we are going to add function `_find_matches(D, some-other-params)` to `stumpy/core.py`. It takes 1D distance profile and return the matches. We can then use this function to refactor  `stumpy.motifs.match`  and `stumpy.aamp_motifs.aamp_match`.

[2022-08-02 20:00] seanlaw commented on #610
As a cross reference to #655 this related test is also failing:

[code]

[2022-08-02 22:46] #654 closed

[2022-08-03 02:13] NimaSarajpoor commented on #610
@seanlaw
I think you may want to see this! Apparently, it is not just for the identical subsequences. So, I created a test where I randomly scale up (* 1000) or scale down (0.001) chunks of time series.

Here is the test function:
[code]

And, here is the error:
[code]

[2022-08-03 13:03] seanlaw commented on #610
Hmm, so what do you think is the issue? I'm assuming that `naive.stump` is "correct"?

[2022-08-03 17:22] NimaSarajpoor commented on #610
Yeah...I think so. I took a look at the `naive.stump` and it just do z-norm on each single subsequence and then calculate the pair-wise distances. So, I assume  `naive.stump` should be correct.

----

According to my investigation, I think one problem is the imprecision in the calculation sliding standard deviation `Σ_T`, particularly when we have large numbers. One way to make it a little bit bet

[2022-08-03 19:00] NimaSarajpoor commented on #610
@seanlaw
In another test that I designed, the proposed welford performed worse. So, you may ignore the idea (I just did not delete it for our future ref)

[2022-08-03 23:46] seanlaw commented on #610
Yeah, I'm pretty confident that Welford is about as precise as we're going to get and it has the best speed to precision tradeoff. 😢

[2022-08-04 16:13] NimaSarajpoor commented on #610
@seanlaw
As you mentioned, it seems that welford is okay. I checked its test function and tried it on the time series of the test functions.

----

I think I found the issue. Note that in `stumpy/stump.py`, we do:

https://github.com/TDAmeritrade/stumpy/blob/d57169f3a8c3a1571c12d84f490e8c7e511b224e/stumpy/stump.py#L188

And, it seems that the high precision in `std` does not guarantee the high pre

[2022-08-04 16:54] seanlaw commented on #610
Ohh, wow! That's REALLY bad but also fun at the same time 😭

[2022-08-04 17:34] NimaSarajpoor commented on #610
Yeah...I also tried many many different ways to resolve this. I have not been successful so far.

[2022-08-04 19:38] seanlaw commented on #610
np.abs(ref_std_inv[2] - comp_std_inv[2]) = 1.2162515548989177

What happens when you `print (1.0 / ref_std[2])` and `print(1.0 / comp_std[2])`?

[2022-08-04 20:08] NimaSarajpoor commented on #610
[code]

In case that matters:
Since we scale the whole identical seq by `0.001`, we are scaling down its standard deviation as well, so `std(scaled_seq)` is equal to `0.001 * std(seq)`. So, we are dealing with smaller std, and hence, its inverse becomes large. So let's say an actual value is $a$, and the value with imprecision is $a + \epsilon$, then, the difference when we take the inverse is:

$

[2022-08-04 20:33] seanlaw commented on #610
Can you tell me what seed you are using to generate `T`?

[2022-08-04 20:38] NimaSarajpoor commented on #610
I think this should give you the `T` you are looking for.

[code]

[2022-08-04 20:56] seanlaw commented on #610
Hmm, I wonder in `compute_mean_std`, if AFTER we compute `Σ_T` (stddev), would be worth:

1. Check which stddev values are below some threshold
2. Correct those stddevs

The reason why we use Welford is because of its speed and reasonable precision. As you identified, for the most part, what Welford produces is fine. However, for really small numbers, it's insufficient. And so maybe we add a corre

[2022-08-04 21:53] seanlaw commented on #610
So, after line #869 in `core.compute_mean_stddev`:

https://github.com/TDAmeritrade/stumpy/blob/67b822c9a6ec4a5128ad10c5bff287f0524109b5/stumpy/core.py#L860-L876

we can  add this:

[code]

[2022-08-05 00:48] NimaSarajpoor commented on #610
After I saw your suggestion, I tried it by calculating an upper bound for std, `std_ub`, in `welford` and then I checked if the `std_ub` is below the threshold 1e-5. In such case, I simply did `np.nanvar(..)`. This fixes the issue and now the test function with scaled identical sequences pass.

---

Now, there is one more thing we might be interested in taking care of. See test function below:

[c

[2022-08-05 00:53] NimaSarajpoor commented on #610
@seanlaw
Btw, I would like to mention that the current fix, `i.e. checking std and re-calculate its exact value` may not be an efficient solution if ALL VALUES of time series are small, e.g. `T=[0.001, 0.003, -0.002, 0 0.001, ....]`. In this cases, we are going to end up with calculating the exact value of std for all subseqs. One solution is to multiply this whole time series by `1000`, calculate

[2022-08-05 01:27] seanlaw commented on #610
Yeah, I don't think we should move away from using welford because it is not only reasonably precise but it doesn't use up all of our memory. With `nanstd`, it can use a ton of memory when we have a sufficiently large `T`. At some point, we just can't fix all precision issues. We can try our best and leave it at that.

[2022-08-05 01:30] seanlaw commented on #610
Alternatively, can we somehow avoid the inverse and still use `cov`?

Btw, should it be `reciprocal` rather than `inverse`?

[2022-08-05 03:33] NimaSarajpoor commented on #610
Correct! I think the current version is already good and because of that we should just try to improve it without drastically sacrificing the speed.

Yeah...I think that might help if it is possible. I thought about it and even tried to re-arrange the equations in the code but that did not help. I will think about it again.

[2022-08-08 03:19] ken-maeda commented on #85
For reconfirmation of current situation, 11 use cases on [Matrix Profile Top Ten](https://github.com/TDAmeritrade/stumpy/files/4446948/zhu2020.pdf) paper is planed to be splitted tutorials.
Tutorials on the paper is followings
- [ ] 3.1 Discovering motifs under uniform scaling
- [ ] 3.2 Discovering time series semordnilaps
- [ ] 3.3 Discovering time series reverse complements
- [ ] 3.4 Segmenting

[2022-08-09 00:36] seanlaw commented on #85
Please share your idea. I'll dig up [3.3] dataset at the first.

I think the most important thing is to find the data. If it is not available or if a reasonable replacement is not available then we should skip it. For now, let's not even worry about the tutorial and instead focus on whether we can reproduce the work. If not, then it may not even make sense to make a tutorial for any of this.

@ken

[2022-08-09 19:46] NimaSarajpoor commented on #610
**Update**

the test function `def test_stump_volatile_case1():` fails even when mean and std are calculated naively AND `fastmath` is turned off.

[2022-08-10 02:04] ken-maeda commented on #85
Thanks, @seanlaw I'll focus on finding the data and reasonable replacement.

[2022-08-10 03:02] seanlaw commented on #610
Can you help me understand what that means and if there is anything we could do?

[2022-08-10 03:56] NimaSarajpoor commented on #610
So I did `fastmath=False` to remove its impact on imprecision if there is any. I also avoided using the rolling approach for calculating "mean" and "std" of subsequences. And.... I still got error.

I am still investigating this. I just wanted to update you and seek your opinion.

[2022-08-10 13:45] seanlaw commented on #610
So, `naive` computation of mean and stddev just means that we are using `np.mean` and `np.std`. This suggests that the issue for `test_stump_volatile_case1()` is coming from somewhere else and may be unrelated to the precision of `np.mean` and `np.std` (as it relates to computing the inverse stddev as we had discussed earlier).

Is that the correct interpretation?

[2022-08-10 14:31] NimaSarajpoor commented on #610
Yes...exactly.

According to my investigation, I realized the error (in that case) is coming from the error of `cov`. The error is about 1e-11; however, the `std` is small (and hence its inverse is large) and that results in considerable imprecision in pearson.

Also:

$\rho_{ij} = \frac{cov_{ij}}{\sigma_{i} \sigma_{j}}$ and we know that $-1 \le |\rho_{ij}| \le 1$. That means: $- \sigma_{i} \sigma

[2022-08-10 16:10] seanlaw commented on #610
Interesting!

Wouldn't `std_combined =  Σ_T[i + k] * σ_Q[i]` require passing `Σ_T` into `_compute_diagonal`? I think that undesirable. Unless you were thinking about putting it into a different function? Do you think this will significantly impact the readability of the code?

[2022-08-10 16:38] seanlaw commented on #610
Is this always true? Is it possible to have the wrong index if the distance is wrong? If not, then maybe as a post-processing step we simply compute the $\frac{1}{\sigma_Q[i]\Sigma_T[j]}$ for the final pairs of nearest neighbors and then only recompute the distances where they are below some threshold. Again, one would need to figure out if the indices are always correct regardless of the initial

[2022-08-10 17:01] NimaSarajpoor commented on #610
I tried my proposed solution (i.e. using  `std_combined < 1e-8`  instead  of `if cov < 1e-8)` and it failed! I will let you know if I fix it.

I don't think so. It seems we are using `Σ_T_inverse` and `σ_Q_inverse` just for calculating pearson and nothing else. So, instead of  passing `Σ_T_inverse` and `σ_Q_inverse`, we should be able to just pass `Σ_T` and `σ_Q` into `_stump` and then into `_comp

[2022-08-10 17:27] seanlaw commented on #610
Well, the reason we are passing `Σ_T_inverse` and `σ_Q_inverse` into `_compute_diagonal` is so that we don't need to repeatedly re-compute the inverse which should save us a bit of time. In the case where all subsequences are finite and none of the subsequences are constant then this means that `pearson = cov * Σ_T_inverse[i + k] * σ_Q_inverse[i]` is always being used. If we choose not to use `inv

[2022-08-10 18:44] NimaSarajpoor commented on #610
Ah...right!

Correct. Well, maybe I should do this first and then if I realize that the cost is negligible, I can try to work on imprecision issue.

[2022-08-10 19:53] seanlaw commented on #610
Sounds good!

[2022-08-19 21:31] alvii147 opened #658 "Room for optimization in stump and aamp using unsigned integer indices"
This is in reference to the discussion around the differences in using `np.int64` and `np.uint64` to index numpy errors in [this PR](https://github.com/TDAmeritrade/stumpy/pull/463) and [this numba discussion thread](https://numba.discourse.group/t/uint64-vs-int64-indexing-performance-difference/1500?u=seanlaw).

Based on the prior discussions and experiments, it may be possible to optimize the `s

[2022-08-24 04:49] tanmayGIT opened #660 "Inconsistency of computational time"
Hi, I am performing an experiment to measure STUMP's computational time, which uses STOMP_Opt at it's origin.
I have a 1D time series (even tried with 4 different time series) of 100k length and am increasing the subsequence length by 2000 in each iteration to see the change in computational time.

Ideally, the computational time should decrease but it is kind of fluctuating. Another point is why

[2022-08-25 08:00] ken-maeda commented on #85
I couldn't find the dataset.
On the other hand I created replacement by combining those original dataset. However I'm not sure context of paper is followed.
As 3rd option, I tried duplication from paper image.

![31_paper_fig3a](https://user-images.githubusercontent.com/42758592/186607826-e25bb927-5700-42b3-ab6e-c3e30da200e7.png)

![image](https://user-images.githubusercontent.com/42758592/1866071

[2022-08-25 11:21] seanlaw commented on #85
@ken-maeda The "duplicate series" (created by manually by you) looks identical to the "paper sample". Can you share the code for generating the duplicate series? Is this for 3.3?

It seems that this dataset is quite trivial. Is there any preprocessing needed (i.e., flipping, stretching, inverting, etc)?

[2022-08-25 12:42] ken-maeda commented on #85
This dataset is for first example Fig.3 of 3.1. The reason why i choose this dataset is just first example on paper. But if this works well, it can be applied to other example.
[code]
Loaded image is
![31_paper_fig3](https://user-images.githubusercontent.com/42758592/186666471-84e83963-a3fe-4ac1-abfc-ad8999df048f.png)

If this dataset is acceptable, I can preprocess flipping, ..... by following th

[2022-08-25 16:21] seanlaw commented on #85
@ken-maeda Please go ahead and try it out!

[2022-08-28 21:05] seanlaw opened #663 "Add (Quick) Examples"
Recently, I received some feedback:

1. There is too much friction to "get started". With limited time, the tutorials are too verbose for users who are looking for the one line of code to use the package (i.e., stump(data, m)).
2. It isn't always clear what the shape of the input should be in
3. `P_Point_Point = stumpy.stump(point_df["Centroid Location"], m)[:, 0].astype(float)` is hard to read
4.

[2022-08-29 19:45] #652 closed

[2022-08-31 21:23] NimaSarajpoor opened #664 "param `s` in prescrump and scrump raises error when set to default and T_B is not None"
So, I have been working on `scrump` and `prescrump`, and I think we can get error if `s=None` (default) and `T_B` is not `None`.

Because we do:

[code]

So, when `T_B` is not `None`,  `excl_zone` is set to None, which makes `s=None` if `s` is not provided by the user.

----

I also tried an example to make sure of it:
[code]

And the error:
[code]

---

Solution:
Maybe this suffices:

[code]

[2022-08-31 23:01] seanlaw commented on #664
Hmm, it's a bit weird. An exclusion zone is only defined when we are performing a self-join. In the case of an AB-join, an exclusion zone makes no sense. At the end of the day, `s` is simply some spacing in which to traverse along the time series. I think it should be:

[code]

What do you think?

[2022-08-31 23:37] NimaSarajpoor commented on #664
Exactly! You are right! That is why I simply did `int(np.ceil(m / config.STUMPY_EXCL_ZONE_DENOM))`.  The one you wrote seems clearer in terms of readability. Still, the line `s =  int(np.ceil(m / config.STUMPY_EXCL_ZONE_DENOM))` might sound a little bit strange since one can notice `config.STUMPY_EXCL_ZONE_DENOM` and think "what is excl_zone doing here?".

---

Maybe we add `STUMPY_SAMPLING_DENOM`

[2022-09-01 00:35] seanlaw commented on #664
I think we're overthinking it. I think it's probably fine to do what I suggested even if it is an AB-join.

[2022-09-01 13:12] #664 closed

[2022-09-01 14:11] seanlaw commented on #664
@NimaSarajpoor I think I closed the PR too soon. It looks like we need to handle:

[code]

[2022-09-01 15:45] NimaSarajpoor commented on #664
@seanlaw
I will fix it soon.

[2022-09-01 21:19] NimaSarajpoor commented on #610
So, I have been working on this from time to time. There are a few things that I would like to share.

----

(1) Maybe I am missing something but it seems there is a small inconsistency between the outputs of `naive.compute_mean_std` and `core.compute_mean_std`, and `core.preprocess`.

[code]

And, the sliding standard deviation:
[code]

Also, note that the second element and one-before-last eleme

[2022-09-02 00:58] seanlaw commented on #610
Maybe I'm not seeing it but it looks like `naive.compute_mean_std` and `core.preprocess` produce the same results, which is expected. In both of those cases, all `np.inf ` are converted to `np.nan` first and then the mean and stddev are calculated. However, `core.compute_mean_std` only computes the pure mean and stddev and should be the same as `np.nanmean` and `np.nanstd`.

The source of the diff

[2022-09-02 01:11] seanlaw commented on #610
It's been a while and I don't remember what happened but I believe that this approach may lead to "catastrophic cancellation" and even worse precision issues.

[2022-09-02 01:52] NimaSarajpoor commented on #610
Thanks for the explanation! It makes sense. I can see it now!

Is that okay if I go ahead and try some changes and push it to the existing PR and see how it goes?

[2022-09-02 02:13] seanlaw commented on #610
M_T_sqr = # calculate sliding mean for np.square(T)
var_T =  M_T_sqr - np.square(M_T)
Σ_T =  np.sqrt(var_T)

Can you use LaTeX and write out the exact formulas or provide the full code. This looks like some things are missing?

[2022-09-02 02:16] seanlaw commented on #610
Sure

[2022-09-02 02:52] NimaSarajpoor commented on #610
In below, I am calculating the variance, $Var$, for a subsequence of length `m`. $\mu$ is the mean of subsequence. $\mu'$ is the mean of square of subsequence.

$Var = E[(x-\mu)^{2}]$
$Var = E[x^{2} - 2\mu x + \mu^{2}]$
$Var = E[x^{2}] - 2\mu E[x] + \mu^{2}$
$Var = E[x^{2}] - 2\mu E[x] + \mu^{2}$
$Var = \mu' - 2\mu \cdot \mu + \mu^{2}$
$Var = \mu' - \mu^{2}$

So, the variance is `mean of square-of

[2022-09-05 10:48] ken-maeda commented on #85
I'm ready for first draft of 3.1. I want you to check flow of the tutorial.  Should I upload dataset to somewhere at this stage? or just pull request with csv, pkl file?

[2022-09-05 14:48] seanlaw commented on #85
@ken-maeda Let's not worry about uploading the data yet. Can you please:

1. Add a new Jupyter notebook in `docs/Tutorial_Matrix_Profile_Top_Ten.ipynb`
2. Add your tutorial code/contents in this notebook
3. Create a new pull request (PR)

And then I can provide feedback.

If we need the data then we can post it as a comment directly in the PR:

![file](https://user-images.githubusercontent.com/747

[2022-09-08 06:56] RaiAmanRai opened #669 "couldn't understand behaviour"
hi, i am trying to use stump, below are two data graphs

![image](https://user-images.githubusercontent.com/102528851/189054430-69e13167-653b-402d-a07f-408f7c4b0c00.png)
![image](https://user-images.githubusercontent.com/102528851/189054540-c13cf348-88f8-4630-98c4-ae886fc5cad9.png)

In the first case, the initial pattern is recognnized, but it fails to identify the obvious repeating pattern starti

[2022-09-09 17:10] vade opened #671 "Question : multi dimensional mstumped with T_B for non self join?"
Hello

Firstly, thank you for the sharing this project, its really awesome.

I am experimenting with stumpy and am able to annotate a matrix profile a with similarity to matrix profile b using the T_A and T_B variables in the `stumpy.stump(T_A = c1, m = m, T_B = c2, ignore_trivial=False)` method.

I want to experiment with multi dimensional stumpy but note that `stumpy.mstump` does not have the ab

[2022-09-09 23:30] seanlaw commented on #671
@vade Thank you for your question and welcome to the STUMPY community. So, the first thing to clarify is that multi-dimensional matrix profiles are NOT simply 1D matrix profiles stacked one on top of each other and I recommend going over our multidimensional matrix profile tutorial if you haven't done so already. Having said that, there is no interpretable multi-dimensional matrix profile for AB-j

[2022-09-11 12:17] namankaushik9876 commented on #663
Hi,
I want to work on this issue.
Give me chance

[2022-09-11 19:02] seanlaw commented on #663
@namankaushik9876 Thank you for your interest. Perhaps, the first thing you can do is help us identify other docs (from other packages) that could serve as a reasonable example to follow and mimic the style of.

As notes above, I think these will be short (maybe 2 paragraphs?) and the code should focus on the STUMPY API and have east-to-understand titles so that experienced data scientists (who kn

[2022-09-12 04:10] ken-maeda commented on #85
I'm almost ready for 3.3 notebook. About 3.2, original dataset is missing and I'm not familiar with those sound converting tech. So I skipped it.  Btw 3.3 notebook is really short : )

[2022-09-12 10:28] NimaSarajpoor opened #673 "A few minor issues in stumpy.motifs"
I investigated `stumpy.motifs` for the data provided in Discussion #670 (also attached here: [your_time_seriesa.csv](https://github.com/TDAmeritrade/stumpy/files/9546933/your_time_series.csv)) and, throughout my investigation, I noticed there are a few things that could/should be taken care of.

(1) The default value of `cutoff` can be set to `0`. While this is not a problem, it is an extreme cond

[2022-09-12 14:07] seanlaw commented on #673
I understand but `stumpy.motifs` isn't meant to apply out-of-the-box to extreme cases. We should avoid solving for rare situations. In this case, we should do:

[code]

So, we don't make this decision for the user and force them to think through what this means. What do you think?

Can you provide an example that triggers the error? In that case, wouldn't it be cleaner to do something like this in

[2022-09-12 15:50] NimaSarajpoor commented on #673
You are right. we should not  make decision for the user as much as possible. I think providing a warning is much better.

data : [your_time_series.csv](https://github.com/TDAmeritrade/stumpy/files/9549510/your_time_series.csv)
[code]

And, the error:
[code]
The error is raised because `query_matches` is empty here.

I think your suggestion (creating fake `query_matches`) is cleaner.

[2022-09-12 16:34] NimaSarajpoor commented on #673
Yeah...I thought more and you are correct. `mp[151, 0]` is not related to the first value of distance in the set of  matches (but it is  in fact the value of the second element in the list of distances of matches discovered for subseq at index 151)

Yeah...I got confused before. As you said, the first element is first match (and hence, it should be `0` anyway). But, like you.. I do not know why it

[2022-09-12 20:05] seanlaw commented on #673
Okay, so I checked and all of this actually makes sense. When `cutoff=None`, the `cutoff` got set to `0.0` since that is what is below two stddevs relative to the mean matrix profile value. This `cutoff` only reveals `idx = 11` and `idx = 151` to be the indices for candidate subsequences. This `cutoff` is no longer used for anything else. Then, we compute the distance between `T[11 : 11+m]` and `T

[2022-09-12 21:17] NimaSarajpoor commented on #673
Maybe I am wrong...but this is what I see when I read the code:

[code]

So, `profile value`  is actually the distance between `candidate_idx` and its non-trivial 1NN (because it is chosen from matrix profile). Later in the function, we call function `match` to find the matches to `candidate_idx` using its distance profile. So, the indices of matches is an array where the first element is self-mat

[2022-09-12 21:50] seanlaw commented on #673
Yes, I have no objection to this paragraph but note that `cutoff` is not used in finding `matches`. That is the only point that I am trying to make here.

I was trying to say that this statement is the wrong mindset for the user. Instead, I would change it to:

Yes, there is more imprecision problems in this case:

[code]

Gives:

[code]

which is pretty bad but acceptable 😢

[2022-09-12 21:55] NimaSarajpoor commented on #673
Got it 👍

[2022-09-13 02:35] namankaushik9876 commented on #663
sure sir

[2022-09-13 14:17] #673 closed

[2022-09-15 05:57] NimaSarajpoor opened #675 "A mistake in the docstring of function `preprocess_diagonal` in `stumpy/core.py`"
I have been exploring different functions in `stumpy/core.py` that are related to "mean" and "std" of `T`, and I noticed that the docstring of function `preprocess_diagonal` needs to be revised.

According to the docstring: "Every subsequence that contains at least one NaN or inf value will have a `False` value in its `T_subseq_isfinite` `bool` arra and it will also have a mean of np.inf. "

Howev

[2022-09-15 13:00] seanlaw commented on #675
I think this may have been copied over from `core.preprocess` and not fixed. Would you mind updating this? Also, can you please fix the typo from `arra` to `array`

Sorry, I'm not able to get your point. 😢

[2022-09-16 00:13] seanlaw commented on #675
I don't see a problem here

[2022-09-16 00:19] seanlaw commented on #675
I think I get your point. For now, I think we are over-analyzing it but I am open to leaving this issue open in case we find that this can become a bigger benefit.

[2022-09-16 02:01] NimaSarajpoor commented on #675
I was referring to the fact that it is somehow used in stump, which is for normalized version. Never mind :) I think I have the "overthinking" disease 😃

[2022-09-16 06:17] NimaSarajpoor opened #677 "bug in `stumpy/snippet.py`"
I think there is a ~minor~ bug in `stumpy/snippet.py`. one can see the bug by setting param `s` to a value less than or equal to `m / 2`.

To reproduce the error:
[code]

[2022-09-16 13:47] seanlaw commented on #663
Here are some crowdsourced references that may be useful:

1. [Dividing up documentation](https://documentation.divio.com/): Tutorials and How-to Guides
2. Scikit Learn [Tutorials](https://scikit-learn.org/stable/tutorial/index.html) vs [Examples](https://scikit-learn.org/stable/auto_examples/index.html) - I like the cards a lot

[2022-09-16 15:49] NimaSarajpoor commented on #663
Related issue: https://github.com/TDAmeritrade/stumpy/issues/107

[2022-09-16 17:37] NimaSarajpoor commented on #107
For now, please let's continue the discussion around this issue here: https://github.com/seanlaw/awesome-stumpy/issues/1

[2022-09-19 22:35] #675 closed

[2022-09-24 11:15] seanlaw opened #685 "Add Novelet Notebook Reproducer"
[Novelets paper](https://static1.squarespace.com/static/56dca322f8baf30cf9752a85/t/631900e16f7b7e792701943a/1662583010347/Novelets_V029_CameraReady.pdf)

[2022-10-01 20:39] BalasubramaniamDakshinamoorthi opened #688 "None of your Notebooks Neither working in Colab nor working in Anaconda Jupiter Notebooks"
None of your Notebooks Neither working in Colab nor working in Anaconda Jupiter Notebooks ,  getting this error
Unreadable Notebook: Tutorial_Fast_Approximate_Matrix_Profiles.ipynb NotJSONError("Notebook does not appear to be JSON: '../docs/Tutorial_Fast_Approximate_Matri...")

[2022-10-01 21:43] seanlaw commented on #688
Unfortunately, without more information, it's nearly impossible to guess at what you are doing and why it "isn't working". These notebooks seem to be working fine for others and for myself locally. I just verified that you can access them via [our tutorials](https://stumpy.readthedocs.io/en/latest/tutorials.html) OR, alternatively, you can access interactive versions of the notebook via the MyBind

[2022-10-13 11:02] adityabhandwalkar opened #689 "Calculating discord using the two time series data"
Hello everyone,
I would like to calculate the discord across two time series , is there any way I can do that.
Thanks

[2022-10-15 16:59] NimaSarajpoor opened #693 "Replace `is False` with `== False` and Refactor warning of `ignore_trivial`"
(1) As discussed in #691, `is` checks if two objects have the same `id`s or not. The outcome of an expression can be `False` but it can have different `id` than the object `False`. Hence, we need to replace `is False` with `== False`

(2) As suggested by @seanlaw in #691, it is better to refactor the warning messages that check the param `ignore_trivial` and add test function(s) to check its funct

[2022-10-15 18:32] NimaSarajpoor commented on #693
@seanlaw
So I checked the `.py` files that contain `is False`. I was wondering if it would be okay to take care of `top-k` PR #595 first and then take care of this one. I think if we want to merge this first, I might get several merge conflicts in `top-k` branch. I think it would be easier.

What do you think?

[2022-10-15 18:41] seanlaw commented on #693
That sounds good

[2022-10-18 11:07] seanlaw opened #694 "Apply MSTUMP to NFL Player Tracking Data"
[Blog](https://www.rstudio.com/blog/tips-for-getting-started-with-the-nfl-big-data-bowl/)

[Data](https://www.kaggle.com/competitions/nfl-big-data-bowl-2022/data)

[Talk](https://www.youtube.com/watch?v=1sPSvt3wmxs)

The goal is to see if it is possible to apply multi-dimensional matrix profiles to identify specific plays (offense/defense) within a game depending on the trajectories. Then, is it p

[2022-10-19 18:25] seanlaw commented on #688
@BalasubramaniamDakshinamoorthi Closing this for now due to inactivity but please feel free to re-open if you have more questions.

[2022-10-19 18:25] #688 closed

[2022-10-19 18:37] seanlaw opened #695 "Add `T_A_subseq_isconstant` and `T_B_subseq_isconstant` Parameters to API"
Currently, STUMPY has trouble cleanly differentiating between a "constant subsequence" and a subsequence with a very, very small standard deviation. By adding `T_A_subseq_isconstant` and `T_B_subseq_isconstant` parameters to our API, we can ignore/override the standard deviation completely when computing distances with:

[code]

Doing this would disambiguate between small stddevs and user defined

[2022-10-19 21:09] NimaSarajpoor commented on #685
**Just an idea:**
It seems this paper is inspired by the contrast profile paper (see #465). So, it might be beneficial to read that paper first and provide a tutorial notebook for it, and then continue working on this one.

[2022-10-19 21:12] NimaSarajpoor commented on #695
@seanlaw
I remember you mentioned it once before in a PR or issue. Please allow me to think about the things we discussed before and I will share my thoughts with you here :)

[2022-10-21 08:08] NimaSarajpoor commented on #695
@seanlaw
So, I have been thinking about this and I have a few thoughts that I would like to share with you:

(1) **If we want to do this, then we need to add those params to the naive version as well. Right?** I am not sure but I think these settings alone cannot solve the loss of precision unless we treat the subsequences the same in naive version (hence, add those params to naive verison as well

[2022-10-21 11:16] seanlaw commented on #695
I want to state very clearly that this issue is **not** meant to address any precision issues related to stddev. This issue is **only** for clearly identifying constant subsequences (rather than using stddev) and helping us to know that any future problems involving stddev will be 100% unrelated to constant subsequences. Does that make sense?

Yes. We'd only specify them in the additional unit tes

[2022-10-21 18:41] NimaSarajpoor commented on #695
I can see your point now!

I get it now. Thanks for the clarification!

I think we need to consider the case `std==0` separately. I try to explain it below:

I do not think we get divide-by-zero error here if the scalar value `T_subseq_isconstant` is non-negative. I mean `Σ_T[Σ_T <= float(T_subseq_isconstant)] = 1.0` replace a `0` with `1.0`. So, even if user sets `T_subseq_isconstant=0`, we are s

[2022-10-21 23:17] seanlaw commented on #695
Yes, I believe we would still be fine.

No, it shouldn't.

Sorry, your proposed code is really hard to follow. Anything with a triple-nested `if/else` smells like a bad idea. I can't seem to follow your point. Additionally,  `np.any(T_subseq_isconstant[Σ_is_zero]) == False` feels like a bad idea as it is changing the input array provided by the user and we should avoid this.

Can you help me under

[2022-10-23 16:58] JaKasb commented on #591
I also expiremented the with the noise compensation method:
Many aspects in the realm of matrix profiles algorithms suffer from instability in edge cases:

#### How to choose sigma_n ?
Set sigma_n too small and the correction has no effect.
Set sigma_n too large and the correction overshoots and results in negative euclidean distances.
Even with reasonable sigma_n, the compensation needs safeguard

[2022-10-24 00:28] seanlaw commented on #695
Issue #591 is deeply related with this one

[2022-10-24 18:46] seanlaw commented on #695
I don't think so. I would not `set it to the default Σ_T==0`. I wouldn't change `Σ_T` at all. Let's play out the scenario. If the user does not set `T_subseq_isconstant` (i.e., it is equal to `None`) then two things may happen:

1. None of the Σ_T values are zero and everything is fine and all distances can be computed
2. One or more values in Σ_T are zero and we get a divide-by-zero error that we

[2022-10-24 22:59] NimaSarajpoor commented on #695
Cool!

We should provide some clear examples/guidelines here to help users understand/learn the solutions.

---

While I was writing this comment, I thought about the following scenario:

Suppose I have time series `T` and I want to try different window sizes in range `(m, m')`.

[code]

Now, we have two cases:
* m < m' , in this case, some of the previously-considered constant subseqs may not be

[2022-10-25 13:02] seanlaw opened #697 "Swap logging.warning with warnings.warn"
[logging.warning](https://docs.python.org/library/logging.html#logging.warning) just logs something at the WARNING level, in the same way that logging.info logs at the INFO level and logging.error logs at the ERROR level. It has no special behaviour.

[warnings.warn](https://docs.python.org/library/warnings.html#warnings.warn) emits a [Warning](https://docs.python.org/library/exceptions.html#Warni

[2022-10-25 13:05] seanlaw commented on #697
With warnings being `warnings.warn`, it allows us to ignore them within a user script via a context manager:

[code]

[2022-10-26 17:34] MC-Dave opened #699 "Add support for Numba jit/njit `cache=True` to reduce compilation overhead"
[Background](https://numba.pydata.org/numba-doc/dev/user/pycc.html)

Is there a way to set the `cache=True` kwarg on the various jit/njit decorators used throughout the stumpy codebase?

Curious because there is a significant overhead to invoking a python program which references stumpy. When running small jobs (eg. takes <5 minutes to run the program) the compilation time on something like a comp

[2022-10-26 18:44] seanlaw commented on #699
@MC-Dave Thank you for your question. We've looked at AOT before but ultimately abandoned it as it caused the Package import time to increase dramatically. Having said that, I'm really surprised that it's taking a minute to compile a function. On my machine, it might take 2-3 seconds sometimes but never longer. Are you sure that it's not something else like actual compute time?

Regardless, I have

[2022-10-27 16:48] seanlaw commented on #699
It looks like it might be possible to implement something like:

[code]

The cached function will be [saved in a directory](https://numba.pydata.org/numba-doc/dev/reference/envvars.html#envvar-NUMBA_CACHE_DIR) found in one of the following places:

2. User-wide cache. Put the cache in the user’s application directory using appdirs.user_cache_dir from the [Appdirs package](https://github.com/Active

[2022-10-27 18:14] MC-Dave commented on #699
@seanlaw Thank you for all this info, very helpful. I was not aware that one could enable caching on a wrapped numba function in that way.

I haven't done extensive profiling on stumpy/numba compilation. It does appear that when I import the stumpy package in a python program, it hangs for awhile before continuing. When I remove the package import there is no delay in execution.

I will try to exp

[2022-10-27 19:15] seanlaw commented on #699
Neither did I. I learned it by asking in the `numba` Gitter channel! They have amazing and knowledgeable contributors there

In case it matters, can you make sure that you are using the most up-to-date version of STUMPY?

There's no easy answer but it would likely be any function that is decorated by the `@njit` decorator. One would need to scan through the code base to get a better estimate but `

[2022-10-28 15:22] MC-Dave commented on #699
@seanlaw was on stumpy version `1.10.0`. There was definitely a ~45 second compile time on `import stumpy` when first importing in a new interpreter session (eg. running a python program `python program.py`, or starting interactive session via `python`)

After updating to `1.11.1` the import time is ~2-3 seconds. Sometimes it's as simple as updating the package, apologies for not doing that prior

[2022-10-31 15:57] seanlaw opened #701 "Move to CalVer"
Currently, STUMPY uses Semantic Versioning. It might make sense to switch to Calendar Versioning and follow `Year.Month.Micro` where `Micro` would start at zero when there is a new version being released in a new year+month and all subsequent releases in that same year+month would simply increment `Micro` by one. So, `Micro` is **not** related to the day-of-the-month but, instead, simply a monthly

[2022-11-04 14:54] snnmst opened #704 "module 'cffi' has no attribute 'FFI'"
Hi,

I installed stumpy via : pip install stumpy and I have numpy, scipy, and numba installed. When trying to code snippet below,

import stumpy
your_time_series = np.random.rand(10000)
window_size = 50  # Approximately, how many data points might be found in a pattern

matrix_profile = stumpy.stump(your_time_series, m=window_size)

I'm encountering that error : module 'cffi' has no attribute 'FFI

[2022-11-04 15:22] seanlaw commented on #704
@snnmst Thank you for your question and welcome to the STUMPY community. Can you provide the full Python traceback (long error) being printed out? The simplest thing you can try is `pip install cffi` but it is unlikely a problem with STUMPY. Additionally, can you please provide the output from `pip list`?

[2022-11-05 16:54] seanlaw opened #705 "Github Actions OpenMP Not Found in MacOS"
See discussion [here](https://numba.discourse.group/t/terminating-nested-parallel-kernel-launch-detected-the-workqueue-threading-layer-does-not-supported-nested-parallelism).

Essentially, OpenMP is already pre-installed in MacOS via `brew install libomp` and you can see that it is available via `brew info libomp`. `numba` expects the `libomp.dylib` library to be discoverable in a handful of place

[2022-11-05 20:15] #705 closed

[2022-11-06 11:49] seanlaw opened #707 "Add Ability to Reproduce Failed Unit Tests"
Currently, when there are precision-related issues, it is not obvious what random seed produced those failed unit/coverage tests. It would be nice to figure out a way to log this information in PyTest so that we can easily reproduce the failure. It'll require so trial-and-error and may not be easy/possible.

[2022-11-07 01:17] #658 closed

[2022-11-07 13:18] seanlaw opened #708 "Check fastmath=True"
In many `@njit` cases, we use `fastmath=True`. However, this might be bad when the input arguments and/or output results contain `np.nan` or `np.inf` (see [Numba fastmath](https://numba.pydata.org/numba-doc/latest/user/performance-tips.html#fastmath)). In those cases, we should use more specific but slower `fastmath` [flags](https://llvm.org/docs/LangRef.html#fast-math-flags) like `@njit(fastmath=

[2022-11-07 14:39] snnmst commented on #704
@seanlaw, When I set up a new clean environment and tried it, the problem was solved. Thanks for your time.

[2022-11-07 14:39] #704 closed

[2022-11-09 14:29] #592 closed

[2022-11-10 13:48] alvii147 commented on #592
Hey guys, sorry I'm late to this, @NimaSarajpoor sick work with the top k stuff man, just tried it out locally, and it looks sweet! Love the way you've laid the architecture out, you should be proud of what you've done, the top k feature had been requested for a long time! Great job! :tada:

I also had a few questions about your changes I was hoping you could help me answer:

- Is there any reason

[2022-11-10 14:29] seanlaw commented on #592
Good point! I think it can be removed.

Yes, we should update the docstrings.

Indeed. And we shouldn't forget about their equivalent non-normalized versions too.

@alvii147 If you have time, would you mind submitting a PR for all of these findings? I'd appreciate the help!

[2022-11-10 16:01] NimaSarajpoor commented on #592
So, I think I forgot to remove it probably. Previously, we had array $\rho$ that contains top-k, left, and right. And, I used `k` for indexing: `:k`, `k`, `k+1` to get the top-k, left, and right profile from $\rho$. Now, by splitting arrays, we do not need `k`.

Right! I think you and @seanlaw have some kind of eagle eyes :)

yes.... I should have paid more attention to comments.

This is not what

[2022-11-10 20:31] pavlexander opened #711 "issue in documentation"
Hi,

I have just been reading trough your documentation on the page https://stumpy.readthedocs.io/en/latest/Tutorial_The_Matrix_Profile.html

and it seems like you have an error there in formula in section **Euclidean Distance**

![image](https://user-images.githubusercontent.com/20644772/201199316-2ef54ad2-d073-43fb-b0ba-a315091fb4a9.png)

For the first 3 calculations the data point of subsequenc

[2022-11-10 22:26] seanlaw commented on #711
@pavlexander Yes, you're absolutely right! However, since it's `(2-10)` squared, the result is the same as `(10-2)` squared (i.e., both will give you `64` as answer).

[2022-11-10 23:58] alvii147 opened #712 "Clean up docstrings and function signatures after #595"
A few non-functionality-based things need to be cleaned up after #595:

- `k` should be removed as a parameter from [here](https://github.com/TDAmeritrade/stumpy/blob/main/stumpy/stump.py#L49) as it is not used anywhere.
- `PL` and `PR` need not be assigned [here](https://github.com/TDAmeritrade/stumpy/blob/main/stumpy/stump.py#L692) as they are not used after calling `_stump`
- Docstrings [here](

[2022-11-11 00:07] alvii147 commented on #592
If only I spent more time scrutinizing my own code 😫

Honestly it's so weird, the `stump_tiles` algorithm has somehow gotten super slow. Now it takes for us to get at least `250k` time series to make `stump_tiles` perform better than `stumpy`, before `stump_tiles` used to perform better starting around `100k`. Also, before we were seeing 40% improvement in `stump_tiles` for `250k`, now we're seein

[2022-11-11 00:09] alvii147 commented on #592
No worries, done! #712 #713

[2022-11-11 06:04] NimaSarajpoor commented on #592
So, according to my experience, it seems the performance can be platform dependent to some extent. I was trying to check out the performance of top-k on the two PCs that I have access to, and I got different results. Also, @seanlaw tried it on his own PC, and got different conclusion.

To investigate, you may want to consider the following items:

(1) You can replace the arrays `rho`/`rho_L`/`rho_

[2022-11-11 06:20] NimaSarajpoor commented on #592
Btw, regarding the hypothesis testing, the assumption is that the computing time is normally distributed.

[2022-11-11 14:28] alvii147 commented on #592
@NimaSarajpoor if I recall correctly, I actually initially had a test script in my local environment that performed t test for unequal variances and showed the p value that the mean execution time was equal. Somewhere along the way I lost that script and I was just too lazy to rewrite it 😩  (always backup your work, kids). Thanks for the suggestion, I'll find some time to do some hypothesis testin

[2022-11-11 14:41] seanlaw commented on #592
@alvii147 Can you provide a simple example of this? Or, if you start a `numba` discourse discussion, can you please link it back here please?

Do we need a unit test to catch this? Or is the tests that we currently have in place already showing that the top-2 is "different"?

[2022-11-11 14:49] alvii147 commented on #592
Yea I can try to reproduce it. It was really weird, the kinda error that happens once, then doesn't happen when I run it again without changes. It was giving me `int(1.0)=0` in some specific cases. I'll try to look more into this.

Nope the top-k unit tests in `tests/test_stump.py` are the test cases that helped me catch this. If we do this again, the unit tests should catch it.

[2022-11-11 15:33] pavlexander commented on #711
I am absolutely amazed by the documentation of this library! It has so many examples, with the real world use-cases (queen song vs ice ice baby song comparison, as an example). I wish all of the libraries were following your approach!

On the topic - I will mark this "issue" as closed, since, as you mentioned, the result is the same and I don't expect this discussion to continue any further :)

[2022-11-11 15:33] #711 closed

[2022-11-11 15:37] seanlaw commented on #711
@pavlexander Thank you for your valuable feedback and kind words! Please let us know if there's any way that we can improve your user experience.

[2022-11-11 21:31] pavlexander opened #716 "reverse matrix profile computation"
Hi,

## Introduction to the problem

Currently, whether `matrix profile` is created - generation always starts from zero index, therefore for all data that is within the range of `len(n)-m` to `len(n)` there is no matrix profile available.. (where `n` is number of records in the time series). This can be further confirmed by multiple sources in documentation, such as https://stumpy.readthedocs.io/

[2022-11-12 19:51] pavlexander opened #718 "Pattern matching on GPU"
#### Question

Is it possible to utilize GPU in pattern matching tasks?

I am interested in following 2 API's

* `stumpy.mass` - returns distance profiles
* `stumpy.match` - returns matches

I get following test execution time measurements:

**Conclusion**: It takes twice as low amount of time (0.03 seconds) to generate the full `n*(n-m)` matrix profile on **GPU**, than it is to find matches with

[2022-11-12 21:02] pavlexander commented on #718
"Complimentary", but not "replacery" to original post: I have made some attempts to improve computation time using custom made functionality.

#### Code

[code]

#### Output

Surprisingly, the distances are very very similar between the two results.. But we are still able to tell exactly where the match is, based on the distance... The match indexes match perfectly.

On **another** the positive si

[2022-11-13 00:32] seanlaw opened #720 "Parallelize `mass` function"
Currently, `stumpy.mass` is only single threaded. However, there might be a way to parallelize things by chunking the arrays into `n_threads` number of parts. However, note that this can't be done in the `_mass` function since `_mass` must be kept as `parallel=False` due to `scrump._compute_PI` being single threaded and calls `_mass`. Instead, we can have `mass` call a new function called `_mass_d

[2022-11-13 07:40] NimaSarajpoor opened #721 "In `aampi`: wrong left matrix profile index when its corresponding value is np.inf"
I think the existing `naive.aampi` (and its performant version) are incorrect in handling nan value.

[code]
However, I think the last value in `ref_mp.left_I_` should be `-1` because the value-before-last in time series is `np.nan`.
(and hence the last subsequence contains non-finite value)

---

It seems the problem lies in the fact that
[code]

gives `D` with `nan` values. Therefore, later in t

[2022-11-13 12:00] seanlaw commented on #721
Can you explain what needs to be fixed in the performant version? From what I can see, it looks fine and should be able to handle `np.nan` and `np.inf`?

[2022-11-13 14:05] seanlaw commented on #721
Actually, I'd prefer for this to be a separate PR

[2022-11-13 16:44] NimaSarajpoor commented on #721
sorry...I made a mistake in explanation. It was around 4 a.m. 😄

I think this is because we have problems in both naive and performant versions.

**In performant**
we have the following lines of code:
https://github.com/TDAmeritrade/stumpy/blob/main/stumpy/aampi.py#L219-L231

Note that we handle `inf` for `P` and `I`, but not for `left_P` and `left_I`. In other words, we should check to see if `le

[2022-11-13 20:35] alvii147 opened #722 "Use mocks in tests instead of overwriting config variables"
There are numerous instances where `config` variables are overwritten for the purpose of testing. I feel like using [unittest mocks](https://docs.python.org/3/library/unittest.mock.html) to temporarily change the `config` variables is a cleaner way of doing this, especially because the unittest mock/patch module was written specifically for this use case. It also makes things more "DRY", as we don

[2022-11-13 20:42] alvii147 commented on #722
@seanlaw let me know if you think we should do it this way. If you think we should leave the testcases as-is, I'm happy to close this issue.

[2022-11-13 21:27] seanlaw commented on #722
@alvii147 Admittedly, I am not well versed in mocking but I see the value here. If you would submit a PR for this along with any other cases where a `patch` could be used then I'd be happy to merge it.

[2022-11-14 01:00] seanlaw commented on #721
@NimaSarajpoor Can you confirm whether this problem also exists for the `left_P` in `stumpi` as well?

[2022-11-14 01:07] seanlaw commented on #721
Ahh, I see. Now that I look at line 228, it does look strange. Is it incorrect to combine things and do:

[code]

[2022-11-14 06:34] NimaSarajpoor commented on #721
`stumpi` is good.

No, it is not incorrect. But, we can make it cleaner:
[code]

Recall that for the last subsequence, the profile/index is the same as left-profile/left-index.
(As a side note, the profile/index of the first subseq is the same as its right-profile/index.

[2022-11-14 12:17] seanlaw commented on #721
Of course! Thanks for the reminder. I accept you proposal

[2022-11-14 14:39] seanlaw commented on #720
I've experimented with this and it appears that there is **no** performance gain:

[code]

[2022-11-14 16:57] JaKasb commented on #720
1. Does numba really parallelize ?
Hint: Observe htop during execution. Increase problem size, such that mass-runtime >= htop-update-rate. 3 second should suffice.

2. Does numba even parallelize nested functions ?
[code]
Where the inner function is already specified with
[code]
The inner functions in `_mass()` are decorated with `@njit(fastmath=True)` which implicitly specifies `parallel=False`.

[2022-11-14 17:25] seanlaw commented on #720
T, M_T, Σ_T = core.preprocess(T, m)
    μ_Q, σ_Q = core.compute_mean_std(Q, m)

You're right! The majority of the time is spent in the sliding-dot-product and the pre-processing steps and the actual `mass` part is negligible. We'll be working on something to improve the speed of the pre-processing step but I don't think there's anyway to speed up the sliding-dot-product.

No, I didn't think so but

[2022-11-14 17:25] #720 closed

[2022-11-15 14:22] seanlaw opened #727 "Missing Coverage in `naive.py`"
In this [coverage test](https://github.com/TDAmeritrade/stumpy/actions/runs/3467770021/jobs/5792942355), I am seeing:

[code]

These lines corresponds to:

[code]

It looks like we need a unit tests that explicitly triggers this `if` condition.

[2022-11-15 14:24] #721 closed

[2022-11-15 14:25] seanlaw commented on #727
@NimaSarajpoor Are you able to take a look?

[2022-11-15 14:31] NimaSarajpoor commented on #727
Sure. I will try to fix this.

[2022-11-16 18:21] #727 closed

[2022-11-18 06:48] NimaSarajpoor commented on #693
I have been thinking about `ignore_trivial` lately, and I cannot get my head around it. In below, I am going to consider four different cases (In all of the following cases, the input `T_A` must be provided)

* case 1: T_B is None, ignore_trivial=True --> self-match, reasonable
* case 2: T_B is not None, ignore_trivial=False ---> AB-join, reasonable

* case 3: T_B is None, ignore_trivial=False
Thi

[2022-11-18 12:25] seanlaw commented on #693
I think your assessment seems reasonable.

* Case 1: Normal
* Case 2: Normal
* Case 3: In our current setup, this should not be possible because the moment `T_B is None` then it implies a self-join and `T_B = T_A` and `ignore_trivial` is automatically set to `True` and so Case 3 becomes Case 1
* Case 4: We hoped that it would hit a warning that the user is likely doing something wrong (although it

[2022-11-18 14:24] #722 closed

[2022-11-18 18:28] NimaSarajpoor commented on #693
Right! I missed it!

I haven' t investigated the whole thing but I think case4 can result in weird output.

Example:
[code]

Should I get `inf` for the last subseq when `ignore_trivial==True`?  Maybe the problem is somewhere else. What I am saying is that, the warning may not be enough. Maybe I should stop overthinking this `ignore_trivial` thing 😄

[2022-11-18 18:53] seanlaw commented on #693
Basically, the results of `stumpy.stump(T_A, m, T_B, ignore_trivial=True)` makes absolutely zero sense unless `T_A == T_B`. Let's say `T_A` and `T_B` are completely unrelated, then the trivial zone in `T_A` has no meaning relative to `T_B`.

[2022-11-18 19:03] NimaSarajpoor commented on #693
EXACTLY!!!

YES! EXACTLY! this is what I tried to say when I provided the link to [these lines](https://github.com/TDAmeritrade/stumpy/blob/main/stumpy/stump.py#L686-L689) in my previous  comment

I think we should.

[2022-11-18 19:12] seanlaw commented on #693
In this case, we would sum it up as a bug. I am okay changing the helper function to:

[code]

Either that or we simply force `ignore_trivial=False` since we know that it should never be false when core.are_arrays_equal(T_A, T_B) == False. So, in `stumpy.stump` we'd replace:

[code]

[2022-11-19 12:46] seanlaw commented on #699
@MC-Dave Unfortunately, having little to no experience with AOT, I have no idea what the side effects may or may not be and, for 99.9% of STUMPY use cases, JIT should be "good enough". To some extent, I'd want this to be handled by `numba`.

[2022-11-20 06:21] NimaSarajpoor commented on #693
Yeah.., The latter has less burden for the user, and it also makes sense to make such change ourselves.

[2022-11-20 15:17] seanlaw commented on #693
Cool. Let's do that

[2022-11-20 21:23] NimaSarajpoor opened #729 "Optimize aamp for `p==2` (and maybe `p==1`)"
Currently, `aamp` accepts argument `p` (with default `2.0`) to calculate p-norm distance. According to [a code written by scipy community](https://github.com/scipy/scipy/blob/de80faf9d3480b9dbb9b888568b64499e0e70c19/scipy/spatial/distance.py#L471), it is better to use `np.square(..)`  when `p is 2`.

Let's compare

| aamp                  | n=10\_000, m=50 | n=20\_000, m=50 | n=50\_000, m=50 |
| -

[2022-11-20 21:54] NimaSarajpoor commented on #729
@seanlaw
Do you think we should take care of this first? (It can help us get the computing time in top-k faster)

[2022-11-20 22:03] seanlaw commented on #729
Sure! Might as well take care of p=1 as well if there is something there. Will all non-normalized functions use this?

[2022-11-20 22:54] NimaSarajpoor commented on #729
I think it will be used in `aamp`, `gpu_aamp`, `scraamp`, `aampi`.

We also have the argument `p` in `core._mass_absolute_distance_matrix`. However, this function uses  `scipy.spatial.distance.cdist` to calculate p-norm. Hence, regarding this latter case, I think we can leave it as is since I think scipy has already considerred it in `cdist` (I have not checked the source file of `cidst` yet)

[2022-11-20 23:58] seanlaw commented on #729
Where in `gpu_aamp` would it be used? Which function?

[2022-11-21 01:58] NimaSarajpoor commented on #729
# UPDATE
Please allow me first to provide a little info regarding the impact of the two proposed function on the computing time:

* In tables below, `func1`  denotes `_calculate_P_norm` (proposed in the first comment in this issue)
* In tables below, `func2`  denotes `_rolling_update_P_norm` (proposed in the first comment in this issue)

Note that `func1` will be used when we want to calculate `p_

[2022-11-21 02:11] NimaSarajpoor commented on #729
@seanlaw
Please let me know what you think. I already created a branch in my local repo, and created and tested the new functions. Do you want to find/discuss all possible places for this optimization opportunity here in this issue page? Or, do you prefer a step-by-step PR?

[2022-11-21 02:16] seanlaw commented on #729
Great! I don't love `rolling_update_p_norm` as it isn't quite consistent with the other "rolling" functions that we've named.

But `func2` targets CPUs and so it cannot be used/called in `_compute_and_update_PI_kernel`, which targets GPUs

Hmmm, now that I think about it. Let's put this one on pause for now until we've wrapped up all of the other more important stuff like fixing precision issues.

[2022-11-21 02:31] NimaSarajpoor commented on #729
Yeah...I know! I tried (a little bit) to find a better name but couldn't.

Right! The code is simple and it should be easy to write it as `device function`.

Sure :)

The thing that triggered my mind was that the computing time for `aamp(..., p=2.0)` was waaay more than `stump`, and that did not make sense to me. Because, `stump` is basically `p=2` but it also z-normalize subsequences, and its `ro

[2022-11-21 07:39] NimaSarajpoor commented on #729
@seanlaw
I know you told me to leave this for now... but I think you will find this **VERY interesting!!!**
(I do apologize for doing this last investigation 😄)

I realized that there is a huge difference in the computing time between `p==2.0` and `p==2` !!!

[code]

And, the input:
[code]

|              | n=1000 | n=5000 | n=10000 | n=20000 |
| ------------ | ------ | ------ | ------- | -------

[2022-11-21 15:20] seanlaw commented on #729
@NimaSarajpoor That is interesting! It seems that raising a `float` to a power of another `float` is more computationally expensive than raising it to a power of `int`

[2022-11-21 15:21] JaKasb commented on #729
If p is an integer, the compiler can unroll the loop inside pow(x, 2)  to x*x.
If p is a float, the compiler emits code that is valid for all possible float values; thererby not allowing many optimizations.

[2022-11-21 15:23] seanlaw commented on #729
If p is a float, the compiler emits code that is valid for all possible float values; thererby not allowing many optimizations.

Very insightful! Thanks for sharing @JaKasb!

[2022-11-21 15:28] seanlaw commented on #729
@NimaSarajpoor I think we may be able to use a built-in Python function:

[code]

[2022-11-22 15:48] #637 closed

[2022-11-22 15:49] seanlaw commented on #619
With the tests now falling below 1 hour. This is no longer necessary

[2022-11-22 15:49] #619 closed

[2022-11-22 15:51] seanlaw commented on #517
This appears to be resolved now and we haven't been seeing this in our Github Actions unit tests

[2022-11-22 15:51] #517 closed

[2022-11-22 15:52] #489 closed

[2022-11-22 18:50] seanlaw opened #730 "Robust Time Series Chains"
I just came across this new paper by Jessica Lin on a more [robust time series chain](https://arxiv.org/pdf/2211.02146.pdf).

Not sure if it is relevant or how it compares with #211

[2022-11-25 09:27] seanlaw commented on #697
It is also worth noting that, by default warnings.warn("same message") will show up only once. That is a major noticeable difference. Quoted from official doc

[2022-11-26 11:23] seanlaw commented on #730
The paper also states the following:

This is mostly consistent with what @NimaSarajpoor observed in his earlier explorations

[2022-11-27 12:27] seanlaw opened #731 "Statistical Significance"
On a few occasions, some statistically-minded users have asked if it's possible to provide some sort of significance score/measure for each top-k nearest neighbor in the final matrix profile. This is often done in the field of [DNA sequence alignments](https://academic.oup.com/bib/article/7/1/2/262762?login=false) to assess how finding a particular sequence alignment compares to pure random chance

[2022-11-27 13:46] ken-maeda commented on #466
I reproduced dtwMP by dtw calculation(from paper) and stump(k-top) MP.

SWAMP itself is from combination dtw and Lower bound for reducing calculation cost.
Could you share with your idea how SWAMP is implemented in stumpy.

To DO SWAMP(original):

- [x] : dtw MP

- [ ] : LB MP

- [ ] : Early abandon

- [ ] : together as one

To DO(improvement):
- [ ] : dtw supports "itakura" band also.
    (paper

[2022-11-27 14:09] seanlaw commented on #466
@ken-maeda Firstly, I have no experience with DTW and do not know if it is even a good idea to add SWAMP. Having said that, it is important that we do not add DTW calculation itself to STUMPY as it is likely beyond the scope (i.e., STUMPY cannot be focused on making DTW fast as we are only focused on MP). I haven't read the SWAMP paper but maybe you can explain (in a Jupyter notebook) how DTW inte

[2022-11-27 14:36] ken-maeda commented on #466
Yes.
Dtw calculation is simple and short, but we can import dtw from other library for replacing pearson calculation. For exmaple, from tslearn.

Dtw(tsleran) is coded by `njit`. I wrote dtw(paper) in `njit` way also. But it took about 3 times longer calculation time from stump(`njit`).  If we need to reduce calculation time, we have to code it by ourselfves for optimzed calculation, dask, cuda,,,

[2022-11-27 19:28] seanlaw commented on #466
Great. Let's just import DTW from `tslearn` and put everything in a Jupyter notebook like a tutorial style as you've done before and explain how everything works by annotating. You can still submit the notebook as a PR so that we can learn from it and then we can close the PR afterwards without merging. What do you think @ken-maeda?

[2022-11-28 03:33] stumpy-bot opened #732 "Test"
This issue was automatically created by the stumpy-bot.

[2022-11-28 03:35] #732 closed

[2022-11-28 20:03] stumpy-bot opened #734 "Test: Please ignore"
This issue was automatically created by the stumpy-bot.

 Numba is now compatible with Python version X.Y

[2022-11-28 20:04] #734 closed

[2022-11-28 20:08] stumpy-bot opened #735 "Test: Please ignore"
This issue was automatically created by the stumpy-bot.

 Numba is now compatible with Python version X.Y (see https://github.com//actions/runs/)

[2022-11-28 20:11] stumpy-bot opened #736 "Test: Please ignore"
This issue was automatically created by the stumpy-bot.

 Numba is now compatible with Python version X.Y (see https://github.com/stumpy-dev/automate/actions/runs/check_numba_python_compatibility)

[2022-11-28 20:11] #735 closed

[2022-11-28 20:13] #736 closed

[2022-11-28 20:13] stumpy-bot opened #737 "Test: Please ignore"
This issue was automatically created by the stumpy-bot.

 Numba is now compatible with Python version X.Y (see https://github.com/stumpy-dev/automate/actions/runs/3568300692)

[2022-11-28 20:14] #737 closed

[2022-11-28 21:05] stumpy-bot opened #738 "Test: Please ignore"
This issue was automatically created by the stumpy-bot.

 Numba is now compatible with Python version 3.11 (see https://github.com/stumpy-dev/automate/actions/runs/3568641114)

[2022-11-28 21:05] #738 closed

[2022-11-29 04:24] stumpy-bot opened #743 "Test: Please ignore"
This issue was automatically created by the stumpy-bot.

 Numba is now compatible with Python version 3.11 (see https://github.com/stumpy-dev/automate/actions/runs/3570998477)

[2022-11-29 04:25] stumpy-bot opened #744 "Test: Please ignore"
This issue was automatically created by the stumpy-bot.

 Numba is now compatible with Python version 3.11 (see https://github.com/stumpy-dev/automate/actions/runs/3571004509)

[2022-11-29 04:27] stumpy-bot opened #745 "Test: Please ignore"
This issue was automatically created by the stumpy-bot.

 Numba is now compatible with Python version 3.11 (see https://github.com/stumpy-dev/automate/actions/runs/3571015084)

[2022-11-29 04:29] stumpy-bot opened #746 "Test: Please ignore"
This issue was automatically created by the stumpy-bot.

 Numba is now compatible with Python version 3.11 (see https://github.com/stumpy-dev/automate/actions/runs/3571025149)

[2022-11-29 04:34] #746 closed

[2022-11-29 04:34] #745 closed

[2022-11-29 04:34] #744 closed

[2022-11-29 04:34] #743 closed