[2020-10-11 20:20] geoHeil commented on #267
This works just fine.

[2020-10-11 21:14] seanlaw commented on #267
@geoHeil Would you mind providing a full traceback?

[2020-10-12 16:25] seanlaw opened #268 "Running STUMPY on Coiled Infrastructure"
To run STUMPY on Coiled's infrastructure, let's start with a fresh local [`miniconda` installation](https://docs.conda.io/en/latest/miniconda.html), update the Python version, and then install all of the minimum STUMPY requirements:

[code]

Next, we install `coiled` and set up our token

[code]

Finally, now that everything is set up, we can use the following `stumpy-coiled.py` Python script to r

[2020-10-12 16:37] nsankar commented on #268
Cool !

[2020-10-12 17:01] mloning commented on #249
Just a quick update: we're working on the transformer typing here (https://github.com/alan-turing-institute/sktime/pull/420), I'll ping you once it's done.

[2020-10-12 17:03] seanlaw commented on #249
Awesome! Thanks for the update

[2020-10-12 19:49] seanlaw commented on #268
@nsankar Would you mind reporting back and let us know if this solved your problem?

[2020-10-13 10:28] nsankar commented on #268
@seanlaw It works locally (Windows - Python 3.7.7 local environ)
However , It didnt work from Colab for the same code as above. I got numba serialize missing error. Any idea on this ?

<img width="697" alt="111" src="https://user-images.githubusercontent.com/431890/95849349-fb610280-0d6c-11eb-98df-b0e36e2768c2.png">

[2020-10-13 12:57] seanlaw commented on #268
@nsankar, as suggested by the error message, it is a `Dask` requirement that the `client` environment must match the `cluster` environment. This means that the `python` version as well as all of the installed dependencies (i.e., `dask`, `distributed`, `numba`, `numpy`, `scipy`, `stumpy`) must all be the same. A serialization error typically points to the `python` version being different in the `cl

[2020-10-13 14:07] nsankar commented on #268
Thanks @seanlaw  Earlier I had set the colab and the target coiled python versions to be the same which is 3.6.9 . However, I will look in to your instructions and try it again.

[2020-10-13 14:09] seanlaw commented on #268
Yeah, there are a few other dependency issues but this worked for me on Colab so please report back if it does solve your issue.

[2020-10-13 14:46] nsankar commented on #268
@seanlaw  It works now. Thanks for your time and guidance on this.
<img width="478" alt="112" src="https://user-images.githubusercontent.com/431890/95875555-c3b78200-0d8f-11eb-834a-174afb6ac70e.png">

I have a question. What is the real world data scenario for mstump ? Please give me a few examples of a real world multi-dimensional time series data and to some public datasets .  Also in this regar

[2020-10-13 15:28] nsankar commented on #268
Got it. Thank you.

[2020-10-13 15:40] hmcoservit commented on #242
@geoHeil Could you please point me to a link regarding such state handling functionality in Flink?

[2020-10-17 08:36] geoHeil commented on #262
I have looked further into my dataset and figured out that not all IoT devices are creating monitoring data (= the time-series I am looking at) all the time. Only when they are switched on. But as pointed out by you this results in an additional numeric problem.

I still need to think about how to handle this.

[2020-10-17 12:34] seanlaw commented on #262
@mexxexx Would you mind elaborating on why one can't set the missing values to NaN?

[2020-10-17 13:14] mexxexx commented on #262
To be honest I can't pinpoint the problem exactly. But I have the feeling that if one of the dimensions is NaN and you calculate the multidimensional profile, something should go wrong.

However, maybe I am mistaken. After all, mstump calculates the one dimensional profiles first. So those would just be `np.inf` at the respective indices, which would propagate to the d-dimensional profile. So in t

[2020-10-17 13:48] seanlaw commented on #262
Yes, thank you! I agree that matrix profile values would probably be `np.inf` for subsequences that contain `np.nan`. However, as you pointed out, one probably doesn't want to look for discords by simply looking for the largest matrix profile values since they could be `np.inf` (or affected by the presence of them). Motifs should be fine but discords (or potential anomalies) are going to be hard

[2020-10-17 14:47] geoHeil commented on #262
Many thanks for your great points.

Let me give you some more context around this. The time-series stem from HFC (cable modem) routers/modems. https://www.usenix.org/conference/nsdi20/presentation/hu-jiyao gives a good overview of the business domain. The following figure is from this paper:

<img width="877" alt="nsdi20-paper-hu-jiyao_pdf__Seite_4_von_15_" src="https://user-images.githubuserconte

[2020-10-17 19:21] seanlaw commented on #219
I've been thinking, for `mstump`, is there any reason why we don't/can't just compute all of the 1-dimensional matrix profiles for each dimension separately and then sort them in the end? Is there a reason why we must compute all of the matrix profiles for one window, sort it, and then proceed to the next window? This actually seems inefficient from a memory standpoint.

[2020-10-17 23:01] seanlaw commented on #219
Never mind. I thought through it and remembered that it's not that simple!

[2020-10-18 04:08] mcyeh commented on #257
@seanlaw
https://sites.google.com/site/icdmstamp

Figure 9 and 10: [code](https://www.google.com/url?q=https%3A%2F%2Fwww.dropbox.com%2Fs%2Fybzkw5v6h46bv22%2Ffigure9_10.zip%3Fdl%3D1&sa=D&sntz=1&usg=AFQjCNEDp3G8OKGC-Zj5yucpSSCz7WRpRg)

[2020-10-18 11:17] nsankar opened #269 "Question: Pairwise distance matrix for clustering"
@seanlaw  Is it possible to get a pairwise distance matrix using stumpy as given in this MP article ?
[https://matrixprofile.org/posts/hdbscan-clustering-with-mpdist/](url)

I want to try the same procedure using stumpy (dask/coiled) and HDBScan instead of the matrixprofile python package. Kindly provide the steps for the same with the stumpy code snippet.  I believe it would require using mstumpe

[2020-10-18 11:45] seanlaw commented on #269
@nsankar Can you please provide a few details first?

1. How many time series do you have?
2. On average, what is the length of each time series?
3. It sounds like you are already using Google Colab, which means that your time series data is accessible via Google drive. Is this right?

[2020-10-18 12:26] nsankar commented on #269
@seanlaw  It is a simulated time series as cited in the article I have provided in the URL link as above . This is the link which contains the simulated code as below..     I am using VSCode.

[](https://matrixprofile.org/posts/hdbscan-clustering-with-mpdist/
)

import numpy as np
np.random.seed(9999)
data = []
size = 100

random_ts = np.random.uniform(size=size)

for _ in range(5):
    data.appen

[2020-10-18 12:53] seanlaw commented on #269
I guess what I am trying to understand is what is your real world use case and why you need to use Dask. If your use case is truly a fictitious example with five short, randomly generated time series then you don't need Dask. To start, I recommend that you go through this `mpdist` paper first to understand what distance is being computed first:

https://www.researchgate.net/profile/Shaghayegh_Ghar

[2020-10-18 12:57] seanlaw commented on #269
In short, it would be relatively straight forward to compute the pairwise distance matrix by creating two nested for loops that iterate over each pair of time series and then computing/storing the mpdist.

[2020-10-18 13:50] nsankar commented on #269
@seanlaw  What I have is a very large multivariate anomaly data from which I use for anomaly detection using HDBSCAN clusters. In this case, I was looking at using MPDist which I wanted to compute using dask. But I wanted to first try the simulated timeseries data possibly with stumpy as a first try. That is the scenario.

[2020-10-18 13:51] nsankar commented on #269
@seanlaw Alright. Thanks

[2020-10-18 15:26] seanlaw commented on #269
@nsankar I understand but depending on your real data and the answers to the aforementioned questions:

my response would be drastically different and I don't want to steer you into a direction that is less favorable.

[2020-10-18 15:40] nsankar commented on #269
@ I have 6 dimensions in the time series each representing a metric. , length is 28800 (1 minute sample frequency), 20 days log
     This data is on my local system (private data)

[2020-10-18 16:22] nsankar commented on #269
@seanlaw  I am trying the code given in issue #149 as a reference to  compute MPDist on a sample data of 10,000 rows using coiled/dask 10 worker cluster for computing the profile . i.e.  mp_ab = stumpy.stump(T_A=tsa, T_B=tsb, m=m, ignore_trivial=False) . At the outset it looks like a time consuming method. ..

[2020-10-18 18:14] seanlaw commented on #269
@nsankar Thank you for the added context. Given that you have 6 x 28,800 time series, I do not recommend using Dask as these time series are pretty short and all of our Dask-supported functions are really targeted for computing matrix profiles for much longer time series lengths (i.e., >100,000 data points in length). Instead, you should be able to compute your pairwise distance using something li

[2020-10-18 18:20] seanlaw commented on #267
@geoHeil Any updates on this or do you think we can close it for now?

[2020-10-18 22:58] seanlaw opened #270 "Add Tutorial Data to Zenodo"
All of our tutorials reproduce published work by downloading them from the original source. These sources are typically on Google sites and may eventually become stale or unsupported. It would be best to back them up on Zenodo and have one consistent place to download the data from. Then, we can update our tutorials to point to Zenodo instead.

[2020-10-19 02:19] #206 closed

[2020-10-19 02:21] seanlaw commented on #206
@JosephTLucas I found some time to take a crack at it and there were some additional parts that were needed to make it work. Thank you again for helping us push this one forward and I look forward to seeing other contributions from you!

[2020-10-19 02:31] seanlaw commented on #203
@Attol8 Just letting you know that I am still chipping away at this. I made some changes to STUMPY to ensure that our AB-join definition was consistent with the original published work (the sequences were being reversed and we were actually getting a BA-join but that's fixed in now). Next, I want to write a short AB-join tutorial before completing the Shapelet tutorial, which uses AB-joins.

[2020-10-19 04:03] nsankar commented on #269
@seanlaw Thank you for the excellent guidance. I am going to  study , try these and shall revert . Questions 1) Why do you say Dask only helps for longer time series? I would like to know if  there anything beyond making a long time series distributed (divide and conquer) ?   b) definition of AB-joins , Is this a new API being added to stumpy or is it getting added to an existing API?  Thanks agai

[2020-10-19 12:17] geoHeil commented on #267
Interesting: this bug has to do with the GPU utilization. Today, the 1st gpu is empty and I do not have any problems at all starting this task.

I will close it for now.

[2020-10-19 12:17] #267 closed

[2020-10-19 12:40] josephlucas-arc commented on #206
Nice work, Sean!

[2020-10-19 12:41] JosephTLucas commented on #206
Nice work, Sean!

[2020-10-19 12:42] seanlaw commented on #206
It was a team effort!

[2020-10-19 14:55] seanlaw commented on #269
Well, Dask can be used for a lot of things but, currently in STUMPY, the most time consuming task is computing the matrix profile and the total computational time is `O(n^2)` where `n` is the length of your time series. After you compute the matrix profile, everything else that derives from it can be accomplished in a few seconds or less. While Dask is great for analyzing large data sets beyond yo

[2020-10-19 16:20] nsankar commented on #269
Thanks @seanlaw for enlightening !

[2020-10-23 19:59] seanlaw opened #271 "stumpyr - Demonstrating How to Run STUMPY in R"
In reference to this [sidebar conversation](https://twitter.com/seanmylaw/status/1319688338769612803) between @RamiKrispin and @seanlaw:

![stumpyr](https://user-images.githubusercontent.com/7473521/97048284-2b1bc180-1548-11eb-97f3-415f6b4aa84c.png)

I'd like to discuss:

1. What is the general interest?
2. What needs to be done in order create a short tutorial (or some other output) that demonstr

[2020-10-23 20:01] seanlaw commented on #271
@ramikrispin I am a total n00b when it comes to R so I'd appreciate your expertise here and am ready to learn :)

[2020-10-26 15:37] seanlaw opened #272 "Replace `scipy.signal.fftconvolve` to Faster `numpy.convolve`"
While  comparing the timing for computing sliding dot products with convolutions:

[code]

It was found that `numpy.convolve` has become faster than `scipy.signal.fftconvolve`:

[code]

In more cases, NumPy is 2x faster and around 4x faster for larger arrays. We should switch from using SciPy to NumPy for our convolutions

[2020-10-26 17:20] #272 closed

[2020-10-26 18:50] seanlaw opened #273 "Replace `np.nanstd` with Faster `rolling_nanstd`"
When computing a standard deviation with `np.nanstd`, it is both computationally and memory intensive for large arrays. There is a [faster implementation using convolutions](https://stackoverflow.com/a/64517671/2955541):

[code]

This implementation is around 5x faster than `np.nanstd` and uses about 5-10x less memory

[2020-10-26 19:17] seanlaw commented on #273
@mexxexx FYI

[2020-10-26 19:36] #273 closed

[2020-10-26 19:49] mexxexx commented on #273
Looks interesting! It looks like the computation is done using the regular variance computation `s_n = (sum x_i^2 - N mu) / N` which suffers from catastrophic cancellation (I think that's what it' called) if the variance is small compared to the mean. Can't say how much of a problem this is.

Maybe one could have a look at the method described [here](https://jonisalonen.com/2014/efficient-and-accu

[2020-10-26 23:44] seanlaw commented on #273
Yeah, the catastrophic cancellation concerns me.

On the flip side, the article that you pointed to uses Welford'd method which I now have experience with and can probably parallelize it with Numba.

The only thing that I haven't thought through is how to handle the NaN values. At least, I can verify the results.

Do you have a simple test case that might cause catastrophic cancellation?

[2020-10-26 23:46] seanlaw commented on #273
Btw, how were you able to identify that it was using variance? I couldn't actually decipher the formulation since it was using convolutions.

[2020-10-27 02:56] seanlaw commented on #273
I have this roughly:

[code]

This works when there are no `NaN` in the input data but, otherwise, I don't know how to handle it when there are `NaN` in the data. @mexxexx Any chance you can figure out what to do here?

[2020-10-27 04:14] seanlaw commented on #273
[Pandas' rolling variance implementation](https://github.com/pandas-dev/pandas/pull/6817) may be useful here as a reference

[2020-10-27 08:13] mexxexx commented on #273
Some experience with convolutions :smile: Basically, convolving with a sequence of `m` ones, as done there, is equal to a rolling sum of window size `m` (write it down and you will see it immediately). So `f2` is a rolling sum squared, which is the first term in he naive way to calculate the variance and starting from there you can figure out what the other terms do. If you need further explanatio

[2020-10-27 09:15] sim-san opened #274 "Question: Anytime Algorithm Variant for multivariate timeseries"
If I understand this correctly, the mstump function uses the algorithm mSTOMP from [1].
Is it planned to implement the algorithm mSTAMP with the anytime property as well ?

[1] https://www.cs.ucr.edu/~eamonn/Motif_Discovery_ICDM.pdf

[2020-10-27 09:56] sim-san commented on #274
This is the algorithm I refer to:
[STAMP Based mSTAMP Implemented as an Anytime Algorithm](https://github.com/mcyeh/mstamp/blob/master/MATLAB/mstamp_any.m)

[2020-10-27 11:01] seanlaw commented on #274
Yes, `stumpy.mstump` is based on mSTOMP

No, we do not have an mSTAMP implementation at this time. Do you have a particular use case in mind?

[2020-10-27 12:35] seanlaw commented on #268
@nsankar Closing this for now as it seems to be resolved. Please feel free to re-open or start a new issue if you have any further questions.

[2020-10-27 12:35] #268 closed

[2020-10-27 16:16] mloning commented on #249
Hi @seanlaw, we merged the update and I created an issue here: https://github.com/alan-turing-institute/sktime/issues/450 to interface stumpy

[2020-10-27 16:26] seanlaw commented on #249
Great! Thanks for letting me know and feel free to ping me with any questions

[2020-10-27 17:04] seanlaw commented on #273
Btw, thanks for the info above!

Okay, I think I understand the math and should be able to make this work. I'm deriving it from scratch right now...

[2020-10-29 11:37] DanBenHa opened #276 "Question - Plans to implement algorithm to search for consensus motifs"
I'm a PhD candidate in Neuroscience and would like to use this toolbox on behavioural data.

I have velocity time-series of several hundred trials in which a subject moves to one of two targets, dependent on varying cues presented throughout the trial. My goal is to find repeated motifs (not necessarily present in all trials) and see if these motifs correlate with simultaneously recorded brain act

[2020-10-29 12:59] seanlaw opened #277 "Add Time Series Consensus Motifs"
See Table 2 in the original paper found [here](https://www.cs.ucr.edu/~eamonn/consensus_Motif_ICDM_Long_version.pdf)

The corresponding website can be found [here](https://sites.google.com/site/consensusmotifs/)

[2020-10-29 14:01] seanlaw commented on #276
@DanBenHa Thank you for your question and welcome to the STUMPY community! In short, we do not currently have any implementation for finding time series consensus motifs but I have added this [feature request](#277) as I think it is certainly worth having. Perhaps, this is something that we can work together on and that you might consider contributing to STUMPY (I can definitely assist you where y

[2020-10-29 17:11] seanlaw commented on #276
Okay, I see that I've basically restated the "brute force" approach in their paper and they have proposed something called "ostinato". My guess is that it shouldn't be too difficult to implement Table 2 in their paper.

[2020-10-29 20:14] seanlaw commented on #276
From the `ostinato` explanation for Table 2, it isn't clear to me what is meant by `and line 5 produces an index map of Tj in order to increase radius lower bound`. I can't seem to decipher what is meant by an "index map" and what `SI ← sortAndIndex(MP)` really means.

However, according to their Matlab code, it appears that this is equivalent to performing an `np.argsort` in ascending order like:

[2020-10-30 10:11] DanBenHa commented on #276
@seanlaw Thanks a lot for your replies and the warm welcome!

What you suggest sounds reasonable. I'm also reading #149 to get inspired - a different domain but probably similar goals. Will let you know if I have new ideas/questions.

I'd certainly be interested in contributing code. At first glance the Ostinato algorithm doesn't look that complicated but I'll have a closer look (that is, if you'r

[2020-10-30 12:15] seanlaw commented on #276
Great and good luck!

Sounds good and, no, I haven't worked on it yet. Let's track it in issue #277. Usually, we recommend contributing a code-only Jupyter notebook first that reproduces one of the primary figures from the paper that you pointed to (no need for text annotations). This way, we can start with a rough prototype with the Ostinato code and build enough confidence that the code reproduc

[2020-11-02 08:13] DanBenHa commented on #276
Sounds good. I'll get started on a notebook and continue the feature-related discussion in #277. Where would I best put the notebook? In my forked repo or somewhere else?

[2020-11-02 11:08] sim-san commented on #274
I will take a look into the code and see if I can manage that

I have a CSV file with CAN data (information and sensors from a car) measured for a 1.5 hour drive. The data is sampled with 200Hz and contains 10 time-series. For each time-series, there are about one million data points.
My goal is to identify patterns in the multivariate time series and group the patterns hierarchically into classes

[2020-11-02 14:05] seanlaw commented on #274
Perhaps you are fully aware of this already so feel free to ignore this comment but I want to reiterate (in case others are reading this and if the paper wasn't clear on the following point) that the multi-dimensional matrix profile is not the same as computing individual matrix profiles for each dimension of your time series and stacking them together.

My goal is to identify patterns in the mult

[2020-11-02 14:23] seanlaw opened #278 "Add Ostinato Time Series Consensus Motif Notebook Reproducer"
Reproduce the `ostinato` algorithm and one of the figures from the original paper in a Jupyter notebook. Below is a rough checklist:

- [ ] Fork the STUMPY repo
- [ ] Clone your own forked repo
- [ ] Create a new `ostinato` branch
- [ ] Add a new Jupyter notebook in the `stumpy.git/docs/` directory. In the `docs` directory you should see a whole bunch of notebooks with `Tutorial_<name>.ipynb` name

[2020-11-02 14:28] seanlaw commented on #276
Good questions! Okay, I think we should be a little more pragmatic and scope it so that it is slightly more manageable. I'd like to separate the "notebook reproducer" (now tracked in #278) from the feature enhancement (#277). First, let's get the "notebook reproducer" completed and iron out all of the kinks and, once that is complete, the feature enhancement should be straightforward (i.e., we'll

[2020-11-02 14:30] seanlaw commented on #262
@geoHeil If you don't mind, I'm going to close this for now but feel free to re-open if you have any further questions or have any updates. We'd be happy to discuss it with you!

[2020-11-02 14:30] sim-san commented on #274
I want to use the anytime algorithm because I expect that it will be much faster than the ordered algorithm. Why is the STUMPY mstump (ordered alogorithm) faster than a  anytime algorithm ?

[2020-11-02 14:31] seanlaw commented on #269
@nsankar If you don't mind, I'm going to close this for now but feel free to re-open if you have any more questions.

[2020-11-02 14:31] #269 closed

[2020-11-02 14:33] seanlaw commented on #278
@DanBenHa This is here for your reference. Let me know what you think

[2020-11-02 14:57] seanlaw commented on #274
Good question! To make sure that we are on the same page, let's set aside STUMPY `mstump` (which corresponds to `mSTOMP`) and only focus on `mSTAMP` (the anytime algorithm) and `mSTOMP` the ordered algorithm.

When computing the full multi-dimensional matrix profile, `mSTAMP` uses the `MASS` algorithm for computing a distance profile (i.e., comparing a single subsequence to the rest of the time se

[2020-11-04 14:48] seanlaw opened #280 "Parallelize `_mass_absolute`"
It looks like `_mass_absolute` is currently running on a single core and we should add `@njit(parallel=True, fastmath=True)`

[2020-11-04 16:12] seanlaw commented on #280
Adding `parallel=True` and changing the function to:

[code]

didn't seem to change the speed and parallelization wasn't observed

[2020-11-04 16:12] #280 closed

[2020-11-05 16:34] sim-san commented on #274
Many thanks for a large amount of new and helpful information.

For my task of grouping the motifs hierarchically into classes, I think will follow your ideas from the [MPdist paper](https://ueaeprints.uea.ac.uk/id/eprint/69244/1/ICDM_2018_Shaghayegh.pdf) and your comment https://github.com/TDAmeritrade/stumpy/issues/269#issuecomment-711350570.

[2020-11-06 21:47] seanlaw commented on #273
@mexxexx I've been working on this and I can't seem to get the math to work nicely. It appears that the rolling window only works for me if the number of data points used to compute the mean and variance in the last window is the same in the current window. In other words, if your previous window contained one or more `np.nan` then it is not possible to re-use the variance from the last window to

[2020-11-07 02:29] seanlaw commented on #273
Okay, I thought about it more and realized that I don't actually have to make the math work out nicely. Instead, I just need to detect when and where `np.nan` is present. So, this hybrid Welford method is actually faster than the FFT version:

[code]

[2020-11-07 15:58] MokaPot commented on #257
Hi Sean,

I've just come across Stumpy after seeing it on Reddit/r/datascience. Looks like a really cool project, I'm working in mechanical engineering and can already think of loads of applications.

I'm really keen to start giving back to open source, and this is my first foray into contributing.

I'd like to start with this problem?  Is it best to begin sticking a notebook together with code an

[2020-11-08 01:37] seanlaw commented on #257
@MokaPot Welcome to the STUMPY community and thank you for taking the time to contribute!

The first thing I would recommend doing is to [read through our existing set of tutorials](https://stumpy.readthedocs.io/en/latest/tutorials.html). Hopefully, this will give you a sense of the overall format and style that we are aiming for. My goal for this tutorial is to keep it reasonably short and to qui

[2020-11-08 16:10] MokaPot commented on #257
@seanlaw Done! see pull request #281

[2020-11-09 11:02] geoHeil commented on #262
Indeed, for a single device 3 metrics would be considered relevant.

But as far as I understand it - we would need to pivot the matrix and choose a single metric and have all the devices as columns - but this would then be a rather high dimensional space (easily in the thousands to 10 thousands).

So far, I have looked into `stump`, `aamp` for various metrics and time windows - but have not really

[2020-11-09 11:21] geoHeil commented on #262
@seanlaw I do not have permissions to reopen - please tell me if I would want to continue discussion closed, or in a different issue.

[2020-11-09 12:12] seanlaw commented on #262
@geoHeil For a single metric and many devices would this [paper on finding a consensus motif](https://www.cs.ucr.edu/~eamonn/consensus_Motif_ICDM_Long_version.pdf) be helpful for finding a conserved pattern across a subset to all devices? There they outline a brute force approach which involves concatenating the 1-D time series from all of your devices and then followed by a more efficient `ostina

[2020-11-09 12:23] geoHeil commented on #262
But when concatenating the distance depends on the order of devices ... would`nt it make more sense to transpose and find a different way to calculate the distance / better handle the large number of columns (= one per device)?

[2020-11-09 16:06] DanBenHa commented on #251
I currently have a use case in which it does make sense. I computed the pan matrix profile with non-normalised distances to find conserved patterns at different window sizes. But of course the distance increases the bigger the window size. If I had the p-norm distance set to p=m, I could look at the conservation of patterns irrespective of window size.

[2020-11-09 16:25] seanlaw commented on #251
Very interesting! I briefly looked at implementing this a few months ago but realized that it wasn't as straightforward as the performance degraded when `p != 2` (since the NumPy algorithms seemed to be optimized for `p=2`). I didn't see any obvious way of adding this without reducing performance and adding more complexity to the code base. Note that this would need to be extended to all of the AP

[2020-11-09 16:34] seanlaw commented on #262
@geoHeil I'm not sure I'm following what you are saying as it feels like we are referring to different things when we're saying "concatenate". Would you mind providing a simple example with three devices (i.e., `A`, `B`, `C`) that each have time series with data points (i.e., `[a0, a1, a2, a3,...,an]` which corresponds to the time series in device `A`).

You've likely exceeded the extent of my con

[2020-11-09 18:42] geoHeil commented on #262
Many thanks for your great help!
I really appreaciate your tips (and also stumpy).

I have a data frame similar to:

![image](https://user-images.githubusercontent.com/1694964/98580779-d2c31e80-22c0-11eb-9a5c-53aec879e7f2.png)

As you can see it is ordered by time.
Assuming I sort this by device_id, hour I practically have concatenated all the time-series one-after the other:

![image](https://use

[2020-11-09 21:31] seanlaw commented on #273
I can also confirm that while the original FFT nanstd suffers from catastrophic cancellation, the Welford method is safe!

[2020-11-10 07:04] mexxexx commented on #273
Great to hear! Do you have any timings to compare it to the original rolling approach?
I don't think this is a time critical part, so probably parallelization would be an overkill, but just out of interest.

[2020-11-10 09:18] DanBenHa commented on #251
Interested? Yes. But I'd be in favour of first reducing my WIP, i.e. first finishing the other PR. If someone else wants to take a stab at it in the meanwhile, feel free to do so!

It shouldn't be too difficult to modify `aamp.py`. I guess that would involve generalising from Euclidean to Minkowski distance. That would be switching from `np.linalg.norm` to `scipy.spatial.distance.minkowski` and de

[2020-11-10 13:37] seanlaw commented on #273
Yes! For a time series with `T = np.random.rand(10_000_000)`

[code]

And for a longer time series with `T = np.random.rand(100_000_000)`

[code]

So, as expected, Welford's method seems to scale linearly with the length of the time series. More importantly, for the longer time series, Welford required ~4GB of memory while FFT require ~4.75GB (`np.nanstd` required too much memory).

In case you we

[2020-11-10 18:01] seanlaw commented on #273
You're absolutely right and your point is well taken. We can certainly parallelize this by splitting up the time series into chunks/sections equal to the number of threads.

[2020-11-11 07:42] mexxexx commented on #273
I'm impressed by the timings! Great that we have something fast and stable implemented, because I remember this variance computation giving me headaches on large time serieses 😄

[2020-11-11 12:12] seanlaw commented on #273
Yeah, I was surprised too. Mind you, the timing does not include the overhead to compile the function which is about 0.1 seconds. So, for small (less than 1 million) data sets, it may be worth using `np.nanstd` instead. I did try to implement parallelization and it compiled and produced the correct result but it wasn't faster. I suspect that there was something that was blocking the pure paralleli

[2020-11-12 09:20] MokaPot commented on #107
@seanlaw we spoke about getting these up to the point of data loaded and ready to be worked on.

You mentioned zenodo in another issue? That seems like a good way to do this?

Could preprocess the data into clean pandas friendly csvs, upload and the just call url from read_csv?

Guess it would be good to establish some structure upfront?

[2020-11-12 14:10] seanlaw commented on #270
In issue #107 @MokaPot said:

Moving this part of the conversation here 😄

This Zenodo idea is still swimming around in my head and isn't well formed yet. What I'm trying to avoid is storing data in a Github repository but I am also concerned that the original data sources from the published papers may one day disappear. I tend to be a purist when it comes to "raw data" and I prefer retrieving the

[2020-11-12 14:28] seanlaw commented on #262
@geoHeil Can you tell me if you expect a pattern in, say, `device_id == 1` to exist in the other `device_id`? Or, is it possible? If not, then it doesn't make sense to concatenate them.

[2020-11-12 19:31] MokaPot commented on #270
Yep looks like you can be the community curator you then accept/reject data or other media. However there is currently a long standing issue on co-curating or transfering  (https://github.com/zenodo/zenodo/issues/810) which doesn't seem to have gained much traction.

The only other alternative I know of off the top of my head is kaggle, but I'm sure there are plenty of other options. I'll keep an

[2020-11-12 19:41] geoHeil commented on #262
Well, these cohorts are failure boundaries, i.e. do not propagate the error introduced by broken devices to devices in the other failure region. But devices within a region should fairly soon converge to a broken state.

So it is expected that all regions would show broken devices from time to time.

To answer your question: It is expected to see a lot of noise in the data. Perhaps the best would

[2020-11-12 20:18] seanlaw commented on #262
@geoHeil Unfortunately, matrix profiles are an expensive computation when you have many time series. Considering that you have thousands to tens of thousands of time devices, this will certainly take a while. `stumpy.stump` is parallelized to use all cores on one machine but, for speed, you may consider using GPUs if you have access to them (see `stumpy.gpu_stump`). Again, this is a compute intens

[2020-11-12 21:19] geoHeil commented on #53
@seanlaw do you have an example at hand how to call out from RAPIDS / cudf to stumpy?

[2020-11-12 21:23] geoHeil commented on #262
Sure - just want to make sure to use it in an optimized/vectorized way or at least semantically correct ;). This is a great point to use GPUs. I do have access to some. and really appreciate that you already have looked into https://github.com/TDAmeritrade/stumpy/issues/53

[2020-11-12 21:24] geoHeil commented on #53
Or do I understand correctly that the regular `stumpy.stump` should work just fine on a cu-df/series instead of a numpy array (i.e. without moving the data over to the CPU and then over to the GPU again).

[2020-11-12 21:44] seanlaw commented on #270
@MokaPot Thank you for looking into this and pushing me in the right direction! I don't mind being the curator. Here is a link for [uploading data](https://zenodo.org/communities/stumpy/). For now, I think what we'd want to do is to only upload data that is currently being used in our [public tutorials](https://stumpy.readthedocs.io/en/latest/tutorials.html) (i.e., not any tutorials that are still

[2020-11-12 21:48] seanlaw commented on #53
@geoHeil We don't have support for cudf yet (but I can see how this may be useful). Currently, `stumpy.gpu_stump` takes a NumPy array as input and moves it over to the GPU device.

[2020-11-12 21:55] seanlaw commented on #262
I think the only thing is to make sure that the time series is passed to STUMPY as a NumPy array, which should guarantee that the data is contiguous in memory. So, after you pivot your data as you had described above, you may want do a `df[df['device_id'] == 1].values` as I'm not sure if Pandas only presents a view or if it rearranges the dataframe so that all of the data for one device is contigu

[2020-11-13 07:47] geoHeil commented on #262
;) well I wanted to start with some basics first.

[2020-11-13 15:57] seanlaw commented on #262
@geoHeil In case it matters, there is currently **no** GPU support for `mstump`

[2020-11-14 13:20] MokaPot commented on #270
@seanlaw I've added the first for approval at https://zenodo.org/record/4273921#.X6_YO3X7TNw . I'll wait for feedback before sticking the rest in.

They've been generated with https://github.com/MokaPot/stumpy_help/blob/main/stumpy_zenodo_dataset_generator.ipynb

I've attributed the data to the original authors, referencing the UCR authors too, you end down a bit of a rabbit hole with some trying

[2020-11-14 14:34] seanlaw commented on #270
Thanks, @MokaPot! I am currently at a conference but I will take a look as soon as I find some time

[2020-11-14 18:28] seanlaw commented on #270
Everything looks good to me! Thank you again for contributing this. I think it will greatly add to our long-term stability. For the steamgen dataset, I downloaded the data and compared it with the original and they match! Yay!

These look great. I especially like/appreciate the `index=False` when writing the CSV

It is always nice to attribute the primary authors and I'm sure others will appreciat

[2020-11-14 18:43] seanlaw commented on #270
@MokaPot Can you please add this [additional dataset](https://stumpy.readthedocs.io/en/latest/Tutorial_Pattern_Searching.html#Have-You-Seen-This-Pattern?):

[code]

[2020-11-17 07:05] MokaPot commented on #270
@seanlaw Sorry, missed that one! They are all on now.

[2020-11-17 13:23] seanlaw commented on #270
No worries! Would you mind renaming your data generator notebook (above) to `Zenodo.ipynb`, move `context = ssl.SSLContext()  # Ignore SSL certificate verification for simplicity` to the initial import section/cell so it is only called once, put the file in the `stumpy/docs/` directory, and submitting a PR? I think that will be a good reference resource to include in STUMPY

[2020-11-18 00:25] #270 closed

[2020-11-18 14:27] seanlaw opened #283 "Add Time Series Snippets"
The original published paper is [here](https://www.cs.ucr.edu/~eamonn/Time_Series_Snippets_10pages.pdf)

The supporting website is [here](https://sites.google.com/site/snippetfinderinfo/)

Snippets require `MPdist_vect` which has now been implemented in `stumpy.mpdist._mpdist_vect` and `stumpy.aampdist._aampdist_vect`

[2020-11-18 20:27] MokaPot commented on #237
@seanlaw just reading the paper, what was your rough plan of implementation for this.

If I'm not mistaken there is no difference between brute force calculation of the PMP and 100% completion of SKIMP, the only benefit comes at early stopping the algorithm. The control of early stopping appears to be from the matlab a visualisation process, which would introduce dependencies and presumably comput

[2020-11-18 20:45] #257 closed

[2020-11-18 22:19] seanlaw commented on #237
I've really only skimmed the paper and I haven't put a lot of thought into it but here are some first impressions (totally up for discussion):

1. On the surface, it's a matter of calling the `stumpy.stump` function (or it's GPU/distributed CPU variant) many, many times. I wonder if it's sufficient to write a tutorial that demonstrates how to do scan through different window sizes and call it a da

[2020-11-19 11:09] hmcoservit commented on #231
Hi @seanlaw , I hope I get the time to have a go at this. Just a quick update is that we are still trying to come up with a robust version of matrix profiles using different subsequence sizes. Perhaps also one day we can have a chat to discuss how it may be possible to discover seasonality using matrix profiles (I remember your hint towards TS chains).

I was just wondering about the time complexi

[2020-11-19 16:21] seanlaw commented on #231
Cool. Please make sure to report what you have in mind first so that we can discuss it and talk through it before anything is written 👍

I believe that this is still `O(n)` (where `n` is either the length of the full history OR the length of the rolling history) because we employ `core._mass_absolute` to compute the updated distance profile. It is certainly not `O(1)` because we need to compare th

[2020-11-22 20:30] wangkev opened #284 "Dynamic Time Warping"
Thank you for the awesome library!

Wanted to follow up the discussion of usage of matrix profiles with dynamic time warping for motif discovery. Seems like the there was recently a [paper](https://www.cs.ucr.edu/~eamonn/DTWMotifsSWAMP_Expanded.pdf) published on the subject. Is this on the roadmap to support?

Past Discussions:
- https://github.com/TDAmeritrade/stumpy/issues/233

[2020-11-22 21:41] seanlaw commented on #284
Thank you for your question @wangkev. I am aware of this paper but this it not currently on our roadmap. Unfortunately, I have limited experience with DTW and my feeling is that, without assistance, implementing DTW is beyond the scope of this package. It seems that there are a lot of ways to optimize DTW and my feat is that we can spend all of our bandwidth on chasing a moving target.

Of course,

[2020-11-22 22:26] seanlaw commented on #284
In fact, I think that this would be more appropriate as a separate package that might depend on STUMPY. While the capability might be useful/valuable to users, it is also important (from a long term maintainability standpoint) that STUMPY not try to be everything to everyone.

[2020-11-23 00:07] seanlaw commented on #274
@sim-san I'm closing this for now but feel free to re-open (or start a new issue) if you have more questions

[2020-11-23 00:07] #274 closed

[2020-11-23 21:17] seanlaw commented on #248
[code]

[2020-11-23 21:18] seanlaw commented on #248
Unfortunately, the added code complexity does not seem worth the effort at this point

[2020-11-25 01:41] seanlaw commented on #237
In case it matters #252 might be related to this

[2020-11-25 15:13] seanlaw commented on #248
It may also be worth considering the tiling scheme as outlined in Section 3.2 of the [SCAMP paper](https://www.cs.ucr.edu/~eamonn/public/GPU_Matrix_profile_VLDB_30DraftOnly.pdf)

[2020-11-26 18:57] seanlaw opened #285 "Refactor `ostinato._get_central_motif`"
Currently, `ostinato._get_central_motif` contains quite a fair amount of branching logic. It would be good to try and simplify this

[2020-11-26 19:22] MokaPot commented on #237
@seanlaw sorry Sean, not forgotten about this just been a bit busy!

I've started pulling together a notebook, might be able to get something done this weekend fingers crossed.

[2020-11-26 19:26] seanlaw commented on #237
Thanks for the note. I know that everyone is busy so there is absolutely no rush at all! My general philosophy is quality over quantity (i.e., speed) so let's get it done right the first time around even if it takes a while. Users will appreciate it (as will I)!

[2020-11-29 20:14] seanlaw commented on #188
@mexxexx I completely forgot about this. I am going to set aside some time to implement this subspace work 😄

[2020-11-30 11:06] geoHeil commented on #262
@seanlaw 1D matrxprofile works quite good now!

I have to better understand `mstump` to use it as well.

[2020-11-30 14:17] seanlaw commented on #262
Congratulations, that's great to hear! I'd love to hear more about what you are finding and how you are leveraging the matrix profile.

Also, if you end up publishing any related work, please don't forget to cite our [STUMPY paper](https://stumpy.readthedocs.io/en/latest/#citing) where appropriate.

In general, this will be more complex and possibly harder to provide assistance for but happy to sh

[2020-11-30 14:25] seanlaw commented on #188
Ohh, it looks like most of the work is already done in `mstump._get_first_mstump_profile`! Since this function basically computes the multidimensional matrix profile for a single query sequence (it can be the first sequence or any query sequence), I think we can reuse and modify this function to also return the subspace (in addition to P and I). This should be fairly trivial.

[2020-12-01 02:06] #188 closed

[2020-12-01 02:09] seanlaw commented on #188
@mexxexx Do you have any time to help me check/test things out? I think it should be implemented now in `mstump._query_mstump_profile` (and `mstump._get_first_mstump_profile` is a wrapper around this). Here's an example:

[code]

This should yield a jagged array of ndarrays:

[code]

[2020-12-01 02:19] seanlaw commented on #188
Wow, I also tested on larger input with `100` dimensions and `100_000` in length:

[code]

And this completed in about a second. So, if you have data of that size then analyzing the subspace for 100 different motifs isn't too bad (~100 seconds).

[2020-12-01 02:40] #277 closed

[2020-12-01 02:40] #278 closed

[2020-12-01 02:41] seanlaw commented on #276
Closed in #279

[2020-12-01 02:41] #276 closed

[2020-12-01 15:46] DanBenHa opened #286 "mass_absolute returns NaN for some negative time-series"
I found this while playing with the PAMAP dataset. Haven't been able to reproduce this with random numbers, so here's the relevant data and code.
[code]
I get `nan`, but of course it should be `0`. The problem is some float imprecision in `_mass_absolute` that leads to negative values that can't be properly `np.sqrt`ed.

Easy to fix, of course. A test for this edge case should be added as well.

[2020-12-01 18:16] Darveesh opened #287 "Using stumpi to detect anomaly"
I am trying to learn about stumpi and how I can possibly use it to detect anomaly in a real-time time series signal.  As a proof of concept, I basically have a linear signal with 10 existing/historical data points. I then proceed to add another 15 data points one at a time following the linear progression.  Intuitively/conceptually, I'd expect there to be no discord as data is added to the time se

[2020-12-01 18:51] seanlaw commented on #286
@DanBenHa Thank you for this reproducer! You're right. It looks like it is trying to take the square root of a very small negative number so maybe we should just replace with:

[code]

[2020-12-01 19:11] seanlaw commented on #287
@Darveesh Thank you for your question and welcome to the STUMPY community!

There are a few things that come to mind. Firstly, anomalies are really really hard. One needs to first start off by clearly defining "what is an anomaly" as it relates to your data.  This may require establishing what is "normal" and then setting thresholds. Secondly, `stumpi` compares a window of values (i.e., the shape

[2020-12-01 20:08] DanBenHa commented on #286
Sure, I'll do it. My ad hoc solution was using more of numpy's syntactic sugar, i.e.
`np.sqrt((Q_squared + T_squared - 2 * QT).clip(min=0))`
Not sure if this is less maintainable, but I liked the one-liner ;)

[2020-12-01 20:19] seanlaw commented on #286
Oooh, I like that! I learned something new too

[2020-12-02 09:01] DanBenHa commented on #286
Ah, unfortunately numba doesn't support `clip` yet: https://github.com/numba/numba/pull/3468

[2020-12-02 17:04] Darveesh commented on #287
@seanlaw Thank you for the response and more importantly perhaps for making stumpy available and being a resource for us curious folks.  I hear you about being clear regarding the definition of an anomaly.  In my real world application we will have to be think on that a bit more as you suggest.  However, as I learn about this library it's great to know about its capabilities and limitations.

As t

[2020-12-02 18:38] #286 closed

[2020-12-02 18:56] seanlaw commented on #286
Here are some reference discussion (but no solution):

https://github.com/scikit-learn/scikit-learn/issues/9354
https://www.robots.ox.ac.uk/~albanie/notes/Euclidean_distance_trick.pdf
https://cs.stackexchange.com/questions/106402/stable-and-fast-computation-of-the-squared-euclidean-distance-matrix

[2020-12-02 19:39] seanlaw commented on #287
@Darveesh Awesome! Having an open discussion also helps me think through these things and I learn just as much from others. Let me know how it goes!

[2020-12-02 21:35] geoHeil commented on #262
No worries - but this will take some more months.

[2020-12-03 08:44] DanBenHa commented on #286
Thanks for posting the references!

[2020-12-03 22:11] Darveesh commented on #287
So I ended up combining the two approaches and also working around precision issues.  I.e. I classify an anomaly per your suggestion (max value more than 2 std devs away from mean) in a particular iteration.  However, I saw that rule alone wasn't good enough since in the next iteration, the same rule would get fired (except now it was shifted by one index).  I didn't want to generate another anoma

[2020-12-03 22:34] seanlaw commented on #287
Very cool!

[2020-12-03 23:17] Darveesh commented on #287
Indeed, thank you again for doing the heavy lifting and your support.

[2020-12-03 23:17] #287 closed

[2020-12-04 22:42] #285 closed

[2020-12-04 22:45] seanlaw commented on #285
@DanBenHa I spent some time re-defining all of the variables so that they were a little bit more verbose and also consistent with the rest of the code base. Additionally, I refactored the various functions and adjusted the unit tests. They appear to be a bit cleaner now and I am pretty happy with the result. Finally, I updated the tutorial and, unfortunately, had to remove the Japanese characters

[2020-12-06 16:16] DanBenHa commented on #285
@seanlaw Thanks for taking the time! I agree, it looks nicer now. I also like the new wording in the tutorial where you changed it. Much clearer! Don't worry about the Japanese characters - I had already expected CJK fonts to be problematic and perceived this more as a fun exercise for myself ;)

[2020-12-07 14:49] seanlaw opened #289 "Dask CancelledError"
When using Dask with STUMPY, we've observed that one may get a tornado `CancelledError`. This usually happens when you use `data_future = dask_client.scatter(data, broadcast=True)` and then you finish the job and fire up a new job that scatters data again using the same key. To overcome this, it is important to:

1. Scatter your data but set `hash=False` (i.e., `data_future = dask_client.scatter(d

[2020-12-07 18:53] #46 closed

[2020-12-07 18:54] seanlaw commented on #289
This was fixed in 7a1ebbf9bcfc4ae2125d8bfaaedde20aa73c039f

[2020-12-07 18:54] #289 closed

[2020-12-07 18:55] seanlaw commented on #284
@wangkev If it's okay with you, I'd like to close this for now. Feel free to re-open, comment, or open up a new issue if you have any further questions.

[2020-12-07 18:55] #284 closed

[2020-12-07 19:23] seanlaw opened #290 "Add MPdist Tutorial"
Now that `mpdist` has been implemented, it would be useful to have an `mpdist` tutorial

The paper is [here](https://ueaeprints.uea.ac.uk/id/eprint/69244/1/ICDM_2018_Shaghayegh.pdf)

The supporting website is [here](https://sites.google.com/site/mpdistinfo/)

The goal of this tutorial would be to reproduce Figure 5 from the paper - An [initial tutorial has been started here](https://github.com/TDA

[2020-12-08 08:50] seanlaw opened #291 "Add `k` to `mpdist` Parameters"

[2020-12-08 08:51] seanlaw opened #292 "Add `aampdist`"

[2020-12-08 15:28] wangkev commented on #284
@seanlaw Understood, thanks!

[2020-12-08 15:40] #291 closed

[2020-12-08 18:57] #292 closed

[2020-12-08 21:21] seanlaw commented on #290
Here is the code for retrieving the data for Figure 5

[code]

and then to plot the data:

[code]

[2020-12-09 15:42] seanlaw opened #293 "Fix RTD GPU Function Signatures"
Currently, all GPU functions have `gpu_func(*args, **kwargs)` displayed as its function signature. This can be fixed by overriding the signature in sphinx:

From:

[code]

To:

[code]

The docstring should still work

[2020-12-09 15:51] #293 closed

[2020-12-09 15:53] seanlaw opened #294 "Refactor `_mpdist`"
There is an opportunity to further modularize `mpdist` to suit the case where the user wants to specify their own criteria or function for selecting the `k`th smallest profile value.

[2020-12-09 21:24] #294 closed

[2020-12-10 14:13] seanlaw commented on #248
Perhaps, we could just allow, say, a 10 diagonal `block` to be processed at the same time so as to benefit from at least some caching.

[2020-12-10 15:07] seanlaw commented on #248
Again, the added code complexity does not seem worth the effort

[2020-12-11 15:42] seanlaw opened #295 "Add Fast Rolling Min/Max"

[2020-12-11 16:08] seanlaw opened #296 "Move private functions out of `__init__.py`"

[2020-12-11 16:09] #296 closed

[2020-12-11 18:12] #219 closed

[2020-12-11 18:12] #271 closed

[2020-12-11 18:13] #262 closed

[2020-12-11 18:13] #249 closed

[2020-12-11 20:26] seanlaw opened #298 "Add `_mpdist_vect` and `_aampdist_vect`"

[2020-12-14 00:44] #298 closed

[2020-12-14 14:33] seanlaw opened #299 "Refactor `_compute_P_ABBA`"
Currently, `_compute_P_ABBA` has some nested logic for choosing the "right" matrix profile algorithm. Instead, we should use `from functools import partial` to manage this so that the interface is simplified

[2020-12-14 14:39] seanlaw opened #300 "Add Dask, GPU, and `aamp` Support to Ostinato"
Currently, the `ostinato` algorithm only supports single server matrix profile calculation. It would be great to extend this

[2020-12-14 23:38] #300 closed

[2020-12-15 01:55] seanlaw commented on #290
It may also be useful to demonstrate how to combine `mpdist` with clustering (maybe hdbscan?)

[2020-12-15 12:34] mexxexx commented on #188
First of all, sorry for the late reply! Is there any test case I should have a look at?

[2020-12-15 13:05] seanlaw commented on #188
No problem! I hope everything is going well for you. In addition to the example above, there is only one test in `tests/test_mstump.py` called `test_query_mstump_profile`. Let me know if you have any questions or comments!

[2020-12-15 13:16] seanlaw commented on #188
It might be helpful if I could apply the subspace analysis to the data in [this tutorial example](https://nbviewer.jupyter.org/github/TDAmeritrade/stumpy/blob/master/docs/Tutorial_Multidimensional_Motif_Discovery.ipynb)

[2020-12-15 13:54] seanlaw opened #301 "readthedocs is failing to build"
This is due to some issue with [pip](https://github.com/readthedocs/readthedocs.org/issues/7752)

[2020-12-15 16:11] seanlaw commented on #301
This is resolved in https://github.com/pypa/pip/issues/8936

[2020-12-15 16:11] #301 closed

[2020-12-15 18:35] seanlaw opened #302 "Add Non-Normalized Multi-dimensional Matrix Profiles `maamp` and `maamped`"
Currently, we only have `mstump` and `mstumped` but, in theory, we should be able to support non-normalized `aamp` versions of these.

Note that we'll need to add a non-normalized version of MDL as well.

[2020-12-17 01:45] seanlaw commented on #188
Alright, I added a ["Matrix Profile Subspace" section and applied it to the example and it worked like a charm](https://nbviewer.jupyter.org/github/TDAmeritrade/stumpy/blob/master/docs/Tutorial_Multidimensional_Motif_Discovery.ipynb#Matrix-Profile-Subspace)!

Next, I'm going to work on the MDL section for the tutorial and the basic tools should be complete!  Additionally, I'm thinking about adding

[2020-12-17 18:10] seanlaw commented on #188
Okay, as I think about it even more, I believe that the calculation of the subspace can be simplified even further. Right now, I am re-computing the full distance profile for each dimension. Instead, since we already know the index location of the nearest neighbor, we don't actually need the full distance profile. I need to play around with this.

[2020-12-17 19:01] seanlaw opened #304 "Replace `scipy.signal.convolve` with `scipy.signal.oaconvolve`"
It was brought to my attention that, in some scenarios, `scipy.signal.oaconvolve` may perform better than `scipy.signal.convolve` and so it may be worth investigating this and replaced the FFT call in `stumpy.core.py`

https://docs.scipy.org/doc/scipy/reference/generated/scipy.signal.oaconvolve.html

A series of past FFT performance tests can be found in [this PR](https://github.com/TDAmeritrade/s

[2020-12-17 19:06] seanlaw commented on #304
@DanBenHa Are you familiar with `oaconvolve`?

[2020-12-17 19:12] drorspei commented on #304
Related:
https://github.com/scipy/scipy/issues/12993

[2020-12-17 19:23] seanlaw commented on #188
Cool. It looks like we can just do this:

[code]

[2020-12-17 23:59] mexxexx commented on #188
Great! Could you remind me once again, what the subspace actually was? It's been quite some time :smile:

[2020-12-18 01:21] seanlaw commented on #188
Yes, absolutely. So, you may recall that when we have a `d`-dimensional time series that not all `d` dimensions will contain a motif and that, perhaps, only `k` out of `d` dimensions are actually useful. So, for the `k`th dimension of a `d`-dimensional matrix profile, we choose the `k` smallest distances (amongst the `d`) and return the average distance but, currently, we do not return any informa

[2020-12-18 11:22] mexxexx commented on #188
Ah yes, great! So right, it just tells you the order of importance of the different dimensions at every point in time. Have you been able to understand the MDL approach? I remember that it was hard to follow what exactly they where trying to do, even if the idea seamed to make sense.

I like the notebook example! Maybe it could be helpful, to combine the last plot together with the subspace inform

[2020-12-18 14:08] seanlaw commented on #188
I think I have a general grasp of the MDL approach. Basically, for each dimension of your matrix profile, you compute the corresponding subspace and you are trying to use MDL to assess the "compressibility" of the motif and its nearest neighbor. So, in the tutorial example, with `1` and `2` dimensions, the motif and nearest neighbors are very similar and therefore highly "compressible" (i.e., it t

[2020-12-18 18:42] DanBenHa commented on #304
@seanlaw Nope, I wasn't aware of `oaconvolve`. Seems like a good addition/replacement. I wonder why `choose_conv_method` doesn't consider it 🤔 Maybe too new?

[2020-12-19 17:37] seanlaw commented on #304
@drorspei I understand that`oaconvolve` may be faster in different scenarios and the SciPy PR that you referenced is to have `oacconvolve` be automatically selected for those scenarios. Is that correct?

If so, then I am thinking that it make sense for us to just wait for it to land in `scipy.signal.convolve` naturally and this ends up being a no-op. Basically, it is okay for STUMPY to be "fast en

[2020-12-20 23:21] Darveesh opened #305 "How can one handle tuple values?"
If my time series has more than 1 value, say a geolocation - i.e. lat and long - over time, can you provide an example or how to use STUMPY to analyze the the time series signal?

[2020-12-20 23:39] seanlaw commented on #305
It depends on what you are trying to accomplish. The first thing you could try is to compute the matrix profile for each variable independently from the other using `stumpy.stump`. Chances are, if no motifs exists in a single dimension then they are not likely to exist in multiple dimensions.

Alternatively, one could compute what is called a "multi-dimensional matrix profile" using `stumpy.mstump

[2020-12-21 00:04] seanlaw commented on #305
Additionally, if you haven't had a chance to look through then, you may find some useful ideas in our [tutorials](https://stumpy.readthedocs.io/en/latest/tutorials.html).

[2020-12-21 16:28] Darveesh commented on #305
An example for what I am trying to accomplish is analyzing a bus route.  A bus takes the same route daily so there is periodicity to the data (lat/lon of the bus tracked over time every day).  I'd like to identify when the bus "deviated" from its route.  This could be getting stuck (say in traffic) or perhaps even taking an alternate route (due to detour).  The data I have is a time series data of

[2020-12-21 18:22] seanlaw commented on #305
This is a pretty interesting example! So, technically, `stumpy.mstump` does compute the multi-dimensional matrix profile correctly (note that it isn't simply stacking individual 1-d matrix profiles on top of each other!!). In your case, you feed in a 2D time series (`lat`/`lon`) and then compute the multi-dimensional matrix profile and assess the profile in the second dimension (i.e., it must cons

[2020-12-21 18:26] seanlaw commented on #305
Btw, is this bus data publicly available? If so, I'd like to take a look at it to see if it could serve as an example in our tutorial.

[2020-12-22 18:44] Darveesh commented on #305
Ok I'll take a look at mstump.   Is there a tutorial for out I can use as guidance?

Ps: The bus data I have access to seems to come from a few sources and not a single public source.  If I can share any of my data will let you know.

[2020-12-22 19:26] seanlaw commented on #305
There is [this tutorial](https://github.com/TDAmeritrade/stumpy/blob/master/docs/Tutorial_Multidimensional_Motif_Discovery.ipynb) that is incomplete and still evolving and so it might generate more questions than answers. I still recommend reading the original paper mentioned above.

[2020-12-22 19:27] #305 closed

[2020-12-23 14:54] seanlaw commented on #186
@mcyeh I've been working on this again and I think I understand most of what is happening but have a few more questions. In the following function:

[code]

1. It looks like `sort(sum(abs(disc_1 - disc_2), 1), 'ascend');` is computing the row-wise distances in "discretized" space and then sorting the distances from smallest to largest in order to pick out the appropriate subspace. Maybe it doesn't

[2020-12-26 23:28] mexxexx commented on #188
First of all, happy holidays!

I've been thinking about all of this a bit more, and I'm not so sure about this whole approach. I remember that also when reading the paper, I was not totally convinced. As you explain, the MDL approach is similar to the elbow technique one can use with k-means. But is this really something we want to force on the user? There might be alternatives or domain knowledge

[2020-12-27 01:50] seanlaw commented on #188
Happy holidays to you and your family as well! One day, you'll have to mail me some authentic "lebkuchen" 😄

So, it's interesting that you say this. I've been digging through all of the MDL literature and trying desperately to understand how one computes the MDL and, honestly, it's not as straightforward or clear as I had hoped. Thus, I agree with you in and I am not convinced either! The MDL fram

[2020-12-27 10:46] mexxexx commented on #188
Does Lebkuchen actually exists in the US? :smile: Or do you remember it from your time in Europe?

I think this makes a lot of sense!

Right, thank you for reminding me. returning the subspace would be very resource unfriendly.

Why don't do manually, what MDL is trying to solve? In the end, MDL is a way to find the elbow in a curve. I think it would be enough to plot for each motif plot the MP va

[2020-12-27 17:23] seanlaw commented on #188
No, my PhD advisor was German and so his parents would mail him Lebkuchen and other German treats as the holidays approached and so he would share some with us every year 😋

Okay, I can do that. I know that there are some knee/elbow finding algorithms (like ["kneedle"](http://www.icsi.berkeley.edu/pubs/networking/findingakneedle10.pdf)) and I'll write it as a function in the tutorial but will excl

[2020-12-28 11:16] mexxexx commented on #188
That sounds reasonable! There is probably no need to overcomplicate things at the moment.

Sure, you're welcome!

When I'll have some more free time I will try to wrap up the motif discovery and then hopefully all these longstanding issues can be closed 😄

[2020-12-28 15:32] seanlaw commented on #188
That would be great. Let me know if/how I can help!

[2020-12-29 21:06] seanlaw opened #308 "Incorrect `mstump`/`mstumped` Matrix Profile Orientation"
While `mstump`/`mstumped` correctly compute the matrix profile, the dimensions should be swapped. Currently, the first dimension corresponds to the subsequence length while the second dimension corresponds to the dimensions of the matrix profile. This is inconsistent with the [original Matrix Profile VI paper](https://www.cs.ucr.edu/~eamonn/Motif_Discovery_ICDM.pdf), which has the dimensions as ro

[2020-12-29 21:08] seanlaw commented on #308
@darveesh @geoheil @mexxexx

I just wanted to warn you of this upcoming (breaking) change!

[2020-12-29 22:05] #308 closed

[2020-12-30 07:27] geoHeil commented on #308
@seanlaw many thanks

[2020-12-30 21:13] #103 closed

[2020-12-30 21:16] seanlaw commented on #188
Alright @mexxexx I've finally completed the [MSTUMP tutorial](https://github.com/TDAmeritrade/stumpy/blob/master/docs/Tutorial_Multidimensional_Motif_Discovery.ipynb)! If you have the time, would you mind reading it over and letting me know what you think?

[2020-12-31 15:40] mexxexx commented on #188
First of all, I really like the way everything is structured and it becomes very clear how to use stumpy once you understood `mstump` and what can be achieved with it. This is really great and helpful! Also the subspace and discord part is clear.

One thing which would be very cool but maybe goes out of scope of the tutorial, would be to come back to the introductory "boxer" example. The toy datas

[2020-12-31 16:31] seanlaw opened #309 "Add Github Actions"
Currently, we use Azure Pipelines for our CI but it might be worth exploring the use of Github Actions so as not to put all of our eggs in one basket and, possibly, benefit from the Github ecosystem.

This [resource](https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/migrating-from-azure-pipelines-to-github-actions) might be relevant

[2020-12-31 17:12] seanlaw commented on #188
Thanks, @mexxexx! I agree that the `mstump` explanation is really hard to get right since there is a bit of jargon and, to some extent, I am trying to balance being vague and being verbose.

Let me digest your wonderful points and take some time to figure out how to best incorporate them.

I will look into the boxing example again as it has been a while but I vaguely remember the data requiring a

[2021-01-02 19:50] seanlaw commented on #103
The boxing data can be read using:

[code]

[2021-01-04 18:26] #309 closed

[2021-01-04 18:28] seanlaw commented on #304
I will keep an eye on this as I don't think there is anything to do aside from waiting for `scipy` to adopt this so closing this for now

[2021-01-04 18:28] #304 closed

[2021-01-11 11:05] tylerwmarrs opened #310 "Please cite and acknowledge the matrixprofile-ts and matrixprofile library"
First off, I want to state that capabilities you provide in STUMPY is great and I do not want you to take offense to the following statements. We at MPF have noticed a trend of some derivative works within your library without ever providing credit to us. This started happening early on when the "matrixprofile" Python library was originally hosted at Target as "matrixprofile-ts". The papers releas

[2021-01-11 14:51] vanbenschoten commented on #310
@seanlaw Another reason we're asking for acknowledgement is that your original JOSS paper did not cite the 'matrixprofile-ts' library as it should have. The [JOSS paper criteria](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain) clearly states that each paper must contain _"A list of key references, including to other software addressing related needs."_

matrixpr

[2021-01-11 18:19] bfattori-TDA commented on #310
As the manager of the Open Source Program Office at TD Ameritrade, I am responsible to investigate claims about our open source software releases. We take authorship very seriously and at this time have no reason to question the origins of this work. For this reason, we will be closing this issue and the corresponding PR.

[2021-01-11 18:19] #310 closed

[2021-01-14 13:33] seanlaw commented on #237
So, considering that we rarely every want to compute the full pan matrix profile, then we should probably only compute a percentage (maybe 1%) of it. I noticed in [Section III-B](https://www.cs.ucr.edu/~eamonn/PAN_SKIMP%20%28Matrix%20Profile%20XX%29.pdf) that they had referred to using either `STOMP` or `SCRIMP` (which correspond to `stumpy.stump` and `stumpy.scrump`, respectively) for computing t

[2021-01-14 13:38] seanlaw commented on #237
Okay, I just realized that I already had this thought before:

[2021-01-14 14:18] Huanle opened #312 "Fast Pattern Search Under DTW?"
Does stumpy fast pattern [search](https://stumpy.readthedocs.io/en/latest/Tutorial_Pattern_Searching.html) use dtw algorithm?
Based on the tutorial, this method always searches the target subsequence of the same length as the query sequence.
Will it be possible to search for the subsequence of the same shape using dtw?
Thanks a lot.

[2021-01-14 15:14] seanlaw commented on #312
@Huanle Welcome and thank you for your question. Unfortunately, we do not support matching via DTW

[2021-01-14 22:32] Huanle commented on #312
thanks a lot @seanlaw

[2021-01-14 22:47] #312 closed

[2021-01-15 08:58] gerazov opened #314 "Incompatible CUDA Version with Numba in STUMPY"
Just wandering if it's possible to install stumpy without GPU support? I'm having issues with numba not supporting the latest CUDA. I don't plan on running the Matrix Profile on GPU, so ignoring this dependency would be a good thing ...

When I run `import matrix_profile_tools as mp` (installed via tslearn), I get the following traceback:
[code]

My CUDA version is 11.2, and numba supports 11.1.x.

[2021-01-15 15:17] seanlaw commented on #314
@gerazov Welcome to the STUMPY community and thank you for your interesting question. I can see how it can be frustrating when `numba` doesn't support your version of CUDA yet. There is a short term solution and a long term solution:

# Short Term Solution

The short term solution would be to install STUMPY from source but by making a small change in the `stumpy/__init.py` file:

First, uninstall

[2021-01-15 16:05] gerazov commented on #314
@seanlaw thanks for the quick answer! I ended up rolling back CUDA so I can't really test it, but having the check for future versions of stumpy makes sense.

I think catching the import error is the right way to go. This would warn the user about the need of rolling back if GPU support is needed :+1:

[2021-01-15 16:11] seanlaw commented on #314
Sounds good. I'm going to leave this issue open and work on finding the best way to implement this. Thank you for bringing it to my attention!

[2021-01-15 18:09] seanlaw commented on #314
@gerazov I am working with the wonderful people over on the `numba` team and the open issue can be tracked here:

https://github.com/numba/numba/issues/6645

0.53rc1 is at least 2-3 weeks away but they think that it would be great to include in that release and the `cuda.is_available()` check would automatically check if the CUDA version is compatible with `numba` so we wouldn't need any code chan

[2021-01-15 18:28] seanlaw opened #315 "Please Use Discussions Tab For General User Questions"
As of January 2021, we have started using [Github Discussions](https://github.com/TDAmeritrade/stumpy/discussions) to provide support for users. Please direct all usage-related questions to [Github Discussions](https://github.com/TDAmeritrade/stumpy/discussions).

All Github issues should be related to changes in the STUMPY code base.

[2021-01-15 19:36] gerazov commented on #314
Ok, awesome! It's a bit marginal but would be nice to have it fixed :+1:

[2021-01-17 01:30] seanlaw opened #316 "Add Maximum Window Size"
When calling `check_window_size` we currently only check the minimum window size. Technically, we should also check that the window size is no longer than the time series length

[2021-01-17 01:32] #316 closed

[2021-01-17 01:56] seanlaw opened #317 "Replace Comparison in `are_arrays_equal`"
Our current implementation is manual and verbose and can be replaced with `np.array_equal` along with the `equal_nan=True` argument

[2021-01-17 02:35] #317 closed

[2021-01-17 02:36] #315 closed

[2021-01-19 16:11] fanaee opened #321 "TypeError: _array_equal_dispatcher() got an unexpected keyword argument 'equal_nan'"
Traceback (most recent call last):
  File "/home/stud1/h/hadfan20/.local/MPdemo.py", line 9, in <module>
    matrix_profile = stumpy.gpu_stump(your_time_series, m=window_size, device_id=all_gpu_devices)
  File "/home/stud/h/hadfan20/.local/lib/python3.8/site-packages/stumpy/gpu_stump.py", line 465, in gpu_stump
    if ignore_trivial and core.are_arrays_equal(T_A, T_B) is False:  # pragma: no cover

[2021-01-19 17:00] seanlaw commented on #321
@fanaee Thank you for reporting this. Can you try updating `numpy` to the latest version? This new `equal_nan` argument requires `numpy >= 1.19.0`

I will bump the minimum version in `setup.py` and push a patch

[2021-01-19 17:22] seanlaw commented on #321
This is fixed in v1.7.1 now. Apologies for that!

[2021-01-19 17:22] #321 closed

[2021-01-20 13:06] fanaee opened #322 "mstumped on linux"
I am recieiving this error when using mstumped on linux. How can fix that?

/opt/anaconda3/lib/python3.8/site-packages/distributed/node.py:151: UserWarning: Port 8787 is already in use.
Perhaps you already have a cluster running?
Hosting the HTTP server on port 36967 instead
  warnings.warn(
/opt/anaconda3/lib/python3.8/site-packages/distributed/node.py:151: UserWarning: Port 8787 is already in us

[2021-01-20 13:56] seanlaw commented on #322
@fanaee This looks like a problem with the way that you've set up `dask` `distributed`. Can you please provide the exact code that you are running?

[2021-01-20 15:24] #259 closed

[2021-01-21 12:40] fanaee commented on #322
I am using your demo code:

import stumpy
import numpy as np
from dask.distributed import Client
dask_client = Client()

your_time_series = np.random.rand(3, 1000)   # Each row represents data from a different dimension while each column represents data from the same dimension
window_size = 50  # Approximately, how many data points might be found in a pattern

matrix_profile, matrix_profile_indice

[2021-01-21 13:02] fanaee opened #323 "gpu_stump on linux"
When I am running gpu_stump  on linux I receive this error:

import stumpy
import numpy as np
from numba import cuda

your_time_series = np.random.rand(10000)
window_size = 50  # Approximately, how many data points might be found in a pattern
all_gpu_devices = [device.id for device in cuda.list_devices()]  # Get a list of all available GPU devices

matrix_profile = stumpy.gpu_stump(your_time_serie

[2021-01-21 14:10] seanlaw opened #324 "Updating README for Jupyter Notebooks"
When either `dask` or `gpu_stump` is used inside of Jupyter notebook, it may be necessary to explicitly state:

[code]

[2021-01-21 14:10] #324 closed

[2021-01-21 14:11] seanlaw commented on #322
@fanaee

1. Are you running this code inside a Jupyter notebook/environment?
2. Can you please try the code that I provided above (note that it is slightly different from the demo code)

[2021-01-21 14:14] seanlaw commented on #323
@fanaee

Are you using a Jupyter notebook to run this code? Can you please try:

[code]

[2021-01-21 14:15] #323 closed

[2021-01-21 14:15] #322 closed

[2021-01-21 16:29] Sandy4321 opened #327 "will it work for multivariate time series where values are mixture of continues and categorical values"
great code thanks
may you clarify :
will it work for multivariate time series prediction both regression and classification

each row means the time series, and columns represent different continues or/and discrete/category observation.

1
where all values are continues values
weight height age target
time 1| 56 160 34 1.2
time 2| 77 170 54 3.5
time 3| 87 167 43 0.7
time 4| 55 198 72 0.5
time 5| 8

[2021-01-21 16:33] #327 closed

[2021-01-23 17:16] CSharpDummy opened #329 "Time Series segments and stumpi"
First of all: Great work!

I especially like the documentation and the pub section.

I have 2 questions: How do you deal with time series segments\interruptions?
Let’s say weekend or off hours in trading days? Any idea\suggestion\literature?

stumpi is very useful for real time application. It’s there a way to limit the history or look back window. And can you load historical data into stumpi let’

[2021-01-23 19:16] #329 closed

[2021-01-26 00:07] seanlaw opened #337 "Rename “main” Branch"
https://github.com/github/renaming

[2021-01-26 14:35] seanlaw commented on #337
Done!

[2021-01-28 17:41] seanlaw commented on #314
This is completed and should be available in the next Numba release

[2021-01-28 17:41] #314 closed

[2021-01-30 02:36] #302 closed

[2021-01-30 02:39] seanlaw commented on #337
Need to update Azure Pipelines and Github Actions to point to "main" branch

[2021-01-30 02:40] #337 closed

[2021-01-30 23:48] seanlaw opened #338 "Remove Azure Pipelines Badge"
Azure pipelines is unstable and we should gradually migrate to Github actions

[2021-01-30 23:51] seanlaw opened #339 "Refactor `subspace`"

[2021-01-31 01:06] #338 closed

[2021-01-31 02:48] #339 closed

[2021-01-31 02:58] seanlaw opened #340 "Add `scraamp` Function"
To achieve feature parity for non-normalized methods, we need an equivalent non-normalized `scrump` function

[2021-02-02 14:52] seanlaw opened #341 "Add `floss` for non-normalized methods"
Currently, `floss` is only compatible with z-normalized matrix profiles (i.e., it updates the ingressed data point with `mass`:

[code]

We can probably replace this with something like:

[code]

[2021-02-02 15:30] seanlaw opened #342 "Refactor Non-normalized Methods"
Instead of having `aamp`, we should allow users to set `normalize=False` and have this automatically get re-routed to its corresponding non-normalized method. This would greatly reduce confusion and API support. This can be accomplished by wrapping our normalized functions/classes with a decorator.

[2021-02-02 17:10] seanlaw opened #343 "Add pyproject.toml support"
See [this blogpost](http://ivory.idyll.org/blog/2021-transition-to-pyproject.toml-example.html)

[2021-02-02 19:38] #342 closed

[2021-02-02 21:10] #341 closed

[2021-02-04 01:28] #340 closed

[2021-02-11 12:11] seanlaw commented on #342
@hmcoservit Just a heads up that we've simplified the interface in v1.8.0 so you can now do:

[code]

and this will be identical to:

[code]

Both are still supported but, in the background, when `normalize=False` is detected this automatically calls the non-normalized version instead. And all z-normalized functions have a `normalize=False` equivalent now (i.e., every z-normalized function now car

[2021-02-11 14:59] hmcoservit commented on #342
Thanks for the heads up @seanlaw. That is great, thanks for informing me.

Sorry about the period of silence, I was caught with other priorities. Soon matrix profile will become top priority again, I will keep you posted ;)

[2021-02-19 12:34] seanlaw opened #347 "Add `normalize` Decorator to `core.mass`"
Since `core.mass` is exposed for fast similarity search, we should also add a decorator and test for it. Note that the parameters are different for `core.mass_absolute`

[2021-02-19 15:25] #347 closed

[2021-02-24 14:10] hmcoservit commented on #342
Hi @seanlaw, I am doing performance and stress tests for data ingestion using aampi. I noticed something, maybe you can point me to somewhere:

After running a first load:
`matrix_profile_stream_out = stumpy.aampi(metric_df['value'].values, subsequence_length, egress=True)`

And then updating every time a new point arrives:
`pickle.load(...)`
`matrix_profile_stream_out.update(value_list[-1])`

And

[2021-02-24 14:45] seanlaw commented on #342
@hmcoservit I am not sure about `pickle` but I looked at the `aampi` code to see if `_update_egress` was appending values to `self` attributes but I didn't see anything that looked out of the ordinary:

https://github.com/TDAmeritrade/stumpy/blob/4ea9fb8368498eba2581aa50a8fc7d782025bb0c/stumpy/aampi.py#L152-L212

All `self` attributes appear to be updating using `numpy` indexing, which implies tha

[2021-02-24 16:31] hmcoservit commented on #342
Thanks for your confirmation @seanlaw. Yes you are right, the problem seems to be with Pickle, when dumping and loading the objects. I have to investigate further, as to why after Pickle dump the size is increased every time.

The reason for using Pickle is for an experiment to use the Python object inside Java in Flink.

![sean](https://user-images.githubusercontent.com/60774604/109032460-f969618

[2021-02-27 18:05] seanlaw opened #350 "Aggregate or Refactor Dask Unit Tests"
With the Dask memory errors now seemingly resolved, it may be possible to aggregate them back into single test files

[2021-02-27 21:16] #350 closed

[2021-02-28 01:46] seanlaw opened #352 "Fix Binder Badge"
Currently, the Binder badge is not pointing to "main" and this needs to be corrected

[2021-02-28 01:47] #352 closed

[2021-03-01 00:50] davidrhallartificialeducation commented on #343
I will get to work on this issue

[2021-03-01 01:10] seanlaw commented on #343
@davidrhallartificialeducation Thank you for your interest and welcome to the STUMPY community. Before you get too far, I think that it might be a good idea for us to discuss the overall goal and any concerns. Personally, I have no experience with `pyproject.toml` but, from what I've been hearing/seeing, people seem to be moving in that direction. My biggest concern is maintaining backwards compat

[2021-03-01 01:16] davidrhallartificialeducation commented on #343
Absolutely, that'd be great! I'm a new contributor in general to open source project so I definitely appreciate any mentorship on the process.  Currently I'm getting myself familiar with the project, black, and flake8.  From what I've been reading at the blog post it looks like pyproject.toml allow's us to version the build tools required to run STUMPY.

[2021-03-01 01:43] seanlaw commented on #343
I just came across [this write-up](https://laptrinhx.com/brett-cannon-what-the-heck-is-pyproject-toml-3531099003/) by Brett Cannon (a Python steering committee member) that may be useful.

To be clear, this Github issue should really be asking "should we add pyproject.toml to STUMPY?" Perhaps, after an informed discussion, the answer may be "No" or "Not yet". So, just throwing it out there that th

[2021-03-01 02:38] davidrhallartificialeducation commented on #343
@seanlaw

# Should We Add Pyproject.toml support

### Arguments for adding it
* configuration files are better than scripts
* a few standard configuration files are better than many
* declarative/static is better than procedural/dynamic

### Benefits
* Can rely on specific versions of setuptools and ‘wheel’
* Can substitute build tools for others (i.e. setuptools for poetry)
* No assumptions neede

[2021-03-01 02:54] seanlaw commented on #343
Thanks, @davidrhallartificialeducation! So, right now, STUMPY doesn't depend on any particular version of `setuptools` or `wheel`. Since STUMPY is essentially "pure Python" and not specific to any particular architecture, we don't really "build" anything or have specific processes for different architectures. Based on the assessment that you've provided, we'd actually end up with more files rather

[2021-03-01 03:00] davidrhallartificialeducation commented on #343
Yes, I agree.  It's been awhile since I've done python and can't remember a lot about the `setuptools` or `wheel`.  The question I would ask is when someone runs `pip install stumpy` does it then need to be built on their local machine? If it does, then I believe this allows them to choose tools to use to "build" it.  Otherwise if not, I don't see much use at the moment.

[2021-03-01 03:07] seanlaw commented on #343
The answer is "no". Thanks to `numba` (a JIT compiler), nothing is built/compiled until run-time and, in STUMPY's case, `pip install stumpy` is just there to copy over the `stumpy` directory to the right place. I think we lucked out when we chose `numba` over `cython`, which greatly simplified or eliminated an explicit "build process".

@davidrhallartificialeducation This was very helpful to talk

[2021-03-01 03:48] davidrhallartificialeducation commented on #343
@seanlaw Thanks for help me with taking a step back and evaluating whether it's a good fit before jumping into a ton of work! I've learned the importance of a discussion-first approach!

[2021-03-01 13:18] davidrhallartificialeducation commented on #290
@seanlaw going to start taking a look at this today!

[2021-03-01 14:24] seanlaw commented on #290
@davidrhallartificialeducation I'd first recommend going over all of the existing [STUMPY tutorials](https://stumpy.readthedocs.io/en/latest/tutorials.html). For consistency, we try to use the same headings and writing style where possible (I can help with this). Let me know if you have any questions, comments, or concerns

[2021-03-01 14:48] seanlaw commented on #343
Awesome! Thank you for helping us resolve this issue. I'm going to close it for now and we can revisit it in the future if it makes sense to.

[2021-03-01 14:48] #343 closed

[2021-03-01 16:40] robroe-tsi opened #354 "How do config stumpy to deal with the twin freak problem"
Hi,

I would like to use stumpy for anomaly detection. Based on the tutorial here https://www.cs.ucr.edu/~eamonn/Matrix_Profile_Tutorial_Part1.pdf  page 47 shows the pathological problem when using the MP discords. If two anomalies are close together they can hide each other from having a high MP value. The solution on page 50 could be an option (works by specifying the MP value to the Mth nearest

[2021-03-01 18:13] #354 closed

[2021-03-10 15:41] mexxexx opened #356 "Move all `naive_*` functions to the `naive` module"
I noticed that in some test modules (i.e. I looked into test_core.py) and found definitions for naive functions (e.g. `naive_rolling_window_dot_product`).

Should we move all these functions to the `naive` module?

[2021-03-10 17:29] seanlaw commented on #356
Not trying to defend it as I am indifferent either way but wanted to provide the rationale here. Generally, I only moved things into `naive.py` when there was more than one module using it. Otherwise, I would keep the naive implementation with the corresponding test. I may have missed some and I can see how this may be confusing for others. I am open to moving ALL naive implementations into `naive

[2021-03-12 15:10] seanlaw opened #358 "Update Fast Pattern Searching Tutorial with `motifs.py` Function"
After the `motifs.py` module is merged, it would be useful to update our [Fast Pattern Searching Tutorial](https://stumpy.readthedocs.io/en/latest/Tutorial_Pattern_Searching.html) to demonstrate the new capability.

Depending on the name of the function that we settle on, we might rename the title of the tutorial to be consistent.

[2021-03-12 15:39] seanlaw opened #359 "Add Motif Discovery Tutorial"
We need a good data set that contains multiple motifs OR we can construct one ourselves

[2021-03-12 16:31] mexxexx commented on #356
Okay, I was not aware this was the rationale. It makes sense to keep it like this and is probably less confusing.

[2021-03-12 16:31] #356 closed

[2021-03-12 21:40] keua commented on #283
Hello, thanks for the awesome work you've done. I have a question, Is the time series snippet functionality already implemented how can I use it if it is implemented, is there any documentation about it?

Thanks in advance for your answer.

[2021-03-12 22:14] seanlaw commented on #283
Thank you for your interest. This has not been implemented but we certainly welcome community contributions!

[2021-03-12 23:22] mexxexx opened #362 "Add AB motif discovery"
The motif module that will soon be ready (PR #185) only supports motif discovery for self-joins. Extending this to AB joins should not be difficult.

Open question: Do we need to sample the candidate subsequences from `T_A` or `T_B`? I.e. when computing the AB matrix profile, does the matrix profile at index `i` represent the distance of `T_A[i:i+m]` to its nearest neighbor in `T_B` or vice versa?

[2021-03-13 01:18] seanlaw commented on #362
Hopefully, this answers your question. When we do:

[code]

This returns a matrix profile that has length `len(T_A) - m + 1`. In other words, we are "annotating" the subsequences from `T_A` with its nearest neighbor in `T_B`. So, it may be useful to be consistent with:

[code]

And then you'd also do:

[code]

Does that help?

[2021-03-13 13:05] mexxexx commented on #358
I noticed that there are two notebooks (one under /notebooks one under /docs). Which one do I have to edit?

[2021-03-13 13:33] seanlaw commented on #358
Good observation! The `notebooks` directory is for MyBinder to render interactive Jupyter notebooks and they need to be in that directory. I didn't want to have to copy over files from `docs` every time and update them in both places so I created a symbolic link instead

[2021-03-14 00:23] seanlaw commented on #359
@mexxexx On [slide 40](https://www.cs.ucr.edu/~eamonn/Matrix_Profile_Tutorial_Part1.pdf) they demonstrate three potential motifs in the [penguin dataset](https://www.cs.ucr.edu/~eamonn/MP_first_test_penguin_sample.mat). I think this would work. What do you think?

[2021-03-14 19:04] seanlaw commented on #359
@mexxexx I reached out to Eamonn Keogh and he provided another dataset for motif discovery. I've [deposited it on Zenodo](https://zenodo.org/record/4603813) and you can download it like:

[code]

This reproduces the plots/motifs shown in [this PPT provided by Eamonn](https://github.com/TDAmeritrade/stumpy/files/6137371/bird_for_sean.pptx)

Let me know if this is helpful

[2021-03-15 15:01] mexxexx commented on #359
This is great, thanks! I will work with this data set and reproduce the motifs for one of the time series.

[2021-03-18 18:47] #184 closed

[2021-03-20 12:44] seanlaw opened #366 "Update Class Declaration"
Currently, STUMPY uses an old style to declare Python classes (i.e., inheriting from `object`). It should be fine to remove this

[2021-03-20 12:46] #366 closed

[2021-03-21 01:07] seanlaw opened #367 "Refactor `motifs.py`"
Currently, the z-normalized and non-normalized methods for motif discovery are in the same file and so are the unit tests. This needs to be refactored. Additionally, the docstrings need to be updated.

[2021-03-21 01:17] #367 closed

[2021-03-21 01:17] seanlaw commented on #367
@mexxexx FYI, here are the final changes

[2021-03-22 08:24] davejaivik opened #368 "Inaccurate results of multi-dimension motif discovery using MSTUMP"
Based on [Matrix Profile VI](https://www.cs.ucr.edu/~eamonn/Motif_Discovery_ICDM.pdf) Paper and [Stumpy Documentation (Tutorial-Mutlidimensional Motif Discovery)](https://stumpy.readthedocs.io/en/latest/Tutorial_Multidimensional_Motif_Discovery.html) of the same, I'm trying to identify Multi-dimensional Motifs from  [PRONTO Dataset](https://zenodo.org/record/1341583).

After a bit of preprocessing

[2021-03-22 12:09] seanlaw commented on #368
@davejaivik Thank you for the question. I'm not familiar with the PRONTO dataset but can you please provide a minimal-reproducible code example to reproduce all of the work that you are showing above? Otherwise, it's hard for us to speculate as to what is happening.  Additionally, it isn't clear why there are multiple dashed lines and red highlights. Would you mind explaining?

[2021-03-22 12:09] #368 closed

[2021-03-29 01:51] seanlaw opened #371 "Add Missing Docstring for `k` Parameter in `mpdist`"
Currently, the `mpdist` function is missing a description for the `k` parameter

[2021-03-29 02:04] #371 closed

[2021-03-29 14:24] enerjista opened #372 "Same Versions on Github and Pip doesn't match"
Hi,

I would like to mention that the version on the pip 1.8.0 doesn't match with the Github version. In the pip version of Stumpy with 1.8.0, there is no option of normalize:

`def mass(Q, T, M_T=None, Σ_T=None):
`
But I can see the normalize param the Github, I downloaded the Github version now and using it.
`def mass(Q, T, M_T=None, Σ_T=None, normalize=True):
`
I just want to mention that.

[2021-03-29 15:17] seanlaw commented on #372
@enerjista Thank you for submitting this issue and we apologize for the confusion. By design, the [API documentation](https://stumpy.readthedocs.io/en/latest/api.html) reflects the latest development version on Github, which are usually ahead of the latest version available on PyPI (v1.8.0 as of March 2021). This should be remedied in the next v1.9.0 release.

[2021-03-31 14:13] keua commented on #283
Thanks for your answer and sorry for the delay,
I don't really have deep knowledge of the matrix profile so I don't feel yet confident about implementing this functionality, but thanks again for your answer and If I get more involved with the MP in the future I will try to come back and contribute.

[2021-03-31 14:32] seanlaw commented on #283
@keua I was wondering if you could describe your particular use case and how you think snippets would be helpful?

[2021-04-05 11:31] seanlaw opened #373 "Switch `docs` to PyData Sphinx Theme"
Currently, our documentation that is being hosted on readthedocs is using a somewhat dated looking theme. It would be good to try updating this to the [PyData Sphinx Theme](https://github.com/pydata/pydata-sphinx-theme).

[2021-04-05 17:37] #373 closed

[2021-04-07 03:51] #283 closed

[2021-04-07 08:13] keua commented on #283
Hello @seanlaw ,
Basically I work with vehicle traffic data, and I need to interpolate a road network, for that I use a spatial interpolator. so I'm looking for trends in long time series of vehicle traffic data to better characterize the road network. One of the methods was just averaging (i.e. day of the week) the historical data of the available sensors, but I research a little bit and the matr

[2021-04-07 13:22] seanlaw opened #374 "Add Snippets Tutorial"
The `stumpy.snippets` feature is now completed in #283 which follows this work:

- The [original published paper](https://www.cs.ucr.edu/~eamonn/Time_Series_Snippets_10pages.pdf)
- The [supporting website with data examples](https://sites.google.com/site/snippetfinderinfo/)

We have a [rough notebook](https://github.com/TDAmeritrade/stumpy/blob/main/docs/Tutorial_Time_Series_Snippets.ipynb) that r

[2021-04-16 13:03] #372 closed

[2021-04-21 13:31] hmcoservit commented on #221
Hi @seanlaw , I hope you are well.

If you are still interested in periodicity (length) detection, I can recommend two papers:

1. Puech, T., Boussard, M., D’Amato, A., & Millerand, G. (2019, September). A fully automated periodicity detection in time series.
2. Wen, Q., He, K., Sun, L., Zhang, Y., Ke, M., & Xu, H. (2020). RobustPeriod: Time-frequency mining for robust multiple periodicities detec

[2021-04-26 11:05] gerold-csendes-epam opened #375 "Understanding Matrix Profile Output for Constant Sections in Time Series Data"
Hi stumpy folks,

[EDIT]: please check my comment below where I reason why this issue is not a bug

when epxerimenting with your awesome package, I migh have come across a bug. I work with time where values quite often don't change and these "constant" periods can be longer than the optimal m. In such case, I would expect to have 0 mp values since if values dont change for >m time, than the distan

[2021-04-26 12:00] gerold-csendes-epam commented on #375
It seems like I have ignored  the fact that a wider exclusion zone is applied than I expected. I could find in the docs that the exclusion zone is `int(np.ceil(m / 3))` which in this case is 1.

Thus, if I extend the constant part of the time series so that there are enough constant subsequences to match another constant one, then I get zero distances, as expected.

[code]

![bug-2](https://user-i

[2021-04-26 12:00] seanlaw commented on #375
@gerold-csendes-epam Welcome to the STUMPY community and thank you for taking the time to provide a reproducible example! When I follow your code and do:

[code]

I get:

![normalize](https://user-images.githubusercontent.com/7473521/116076034-b72ab500-a661-11eb-9968-bff7018788d7.png)

Note that this is when `normalize=True`.

So, there is one concept that you must keep in mind when performing a "

[2021-04-26 12:01] seanlaw commented on #375
@gerold-csendes-epam You just beat me to it! 👍

[2021-04-26 12:05] gerold-csendes-epam commented on #375
great timing, @seanlaw. Thanks a lot for such a quick and detailed reply.

Can't wait to play with version 1.9.0!

[2021-04-26 12:28] seanlaw commented on #375
This is a good suggestion. Instead of passing in the exclusion zone as a parameter to `stumpy.stump`, we will be providing a global configuration parameter called `config.STUMPY_EXCL_ZONE_DENOM = 4` so that when it gets changed once then it changes for the whole STUMPY ecosystem and exclusion zones will be consistently computed as `int(np.ceil(m / config.STUMPY_EXCL_ZONE_DENOM))` instead of `int(n

[2021-05-06 09:07] hmcoservit commented on #342
Hi @seanlaw, back to this issue that we faced, just wanted to update you.

We managed to solve it by doing something like this:

[code]

By specifying the data type of the array (cells no longer stored as objects), we will not have variable sizes anymore.

![stumpy mem](https://user-images.githubusercontent.com/60774604/117271983-055a6800-ae5b-11eb-9aed-073770dbc155.PNG)

[2021-05-06 11:36] seanlaw commented on #342
Thanks @hmcoservit. I wonder if this could also be resolved directly in the `aampi` function by explicitly casting these lines to the proper types:

https://github.com/TDAmeritrade/stumpy/blob/10b26725b7d5a6b74ef416083860e48f168a46ce/stumpy/aampi.py#L99-L102

[2021-05-06 13:36] hmcoservit commented on #342
@seanlaw To solve it internally perhaps the index values can be cast to int and the mp values to float?

[2021-05-06 14:28] seanlaw commented on #342
Right. That's exactly what I was thinking:

[code]

[2021-05-07 07:01] hmcoservit commented on #342
@seanlaw seems good

[2021-05-19 14:59] Ninimama commented on #211
Hi Seanlaw,

Thanks for creating this wonderful package. I was wondering if I could help you with implementing this.

I was using TSC17 for my data and got some weird result, and, in my case study, the problem was curse of dimensionality and the possible noises. Then I realized there is this new algorithm that can enhance the quality of the discovered chains.

According to the paper, we need to im

[2021-05-19 18:32] Ninimama opened #379 "is exclusion zone length hard-coded?"
I tried to search in the webpage and the doc. It seems the exclusion zone: m/4 is hard coded. Could you please put it as the input to the functions?

[2021-05-19 21:06] seanlaw commented on #379
@Ninimama In all versions of STUMPY including v1.8.0, the exclusion zone is hard coded so as to reproduce the published work (ultimately, we try to stick to the published work as much as possible so that all assumptions are consistent). However, in commit 10b26725b7d5a6b74ef416083860e48f168a46ce we added a global configuration parameter called `config.STUMPY_EXCL_ZONE_DENOM` which is currently set

[2021-05-19 21:20] seanlaw commented on #211
@Ninimama Thank you for your interest in contributing to STUMPY! We recommend going over this [Contributor's Guide](https://stumpy.readthedocs.io/en/latest/Contribute.html) just to familiarize yourself with the general process.

As for Geometric Time Series Chains, I haven't yet gone over the paper in detail so we certainly welcome contributions! As you can see with all of our [Tutorials](https://

[2021-05-19 21:23] seanlaw commented on #211
I am excited to take a look! Would you mind going through the contributor's guide and submitting a PR? Please let me know if I can help walk you through the process.

[2021-05-19 21:31] seanlaw commented on #211
@Ninimama I just wanted to point out these 2 Tutorials that I am working on that are still a work-in-progress. Both started as notebook-only implementations and then I migrated some of the parts into STUMPY:

1. https://github.com/TDAmeritrade/stumpy/blob/main/docs/Tutorial_Pan_Matrix_Profile.ipynb
2. https://github.com/TDAmeritrade/stumpy/blob/main/docs/Tutorial_Time_Series_Snippets.ipynb

[2021-05-20 17:39] Ninimama commented on #379
@seanlaw:
I understand your viewpoint. Yes, it is a good idea to provide flexibility while making sure that users don't make mistake in passing the exclusion zone to each function. Thanks for your response.

[2021-05-20 17:44] Ninimama commented on #211
@seanlaw
Thanks for your response. Sure, I will go through the contributor's guide and submit a PR within the next few days. I will try to find the data used in the original paper and see if I can reproduce it. Thanks for the tutorial as well.

[2021-05-20 23:54] #379 closed

[2021-05-20 23:55] seanlaw commented on #211
I am here to help!

[2021-05-21 06:58] Ninimama opened #380 "difference in the stumpy doc for calculating distance profile"
I think there is a problem in the document.

In [https://stumpy.readthedocs.io/en/latest/api.html#stumpy.mass](url), there is stumpy.mass(); however, apparently such module does not exist. (I tried it in my work)

In [https://stumpy.readthedocs.io/en/latest/Tutorial_Pattern_Searching.html?highlight=.core.mass#Summary](url), there is stumpy.core.mass() which is correct.

Is it common to write stump

[2021-05-21 11:38] seanlaw commented on #358
@mexxexx I just wanted to see if you've been able to make any progress on this? It'd be great to include this in our upcoming v1.9.0 release!

[2021-05-21 11:40] seanlaw opened #381 "Update Fast Pattern Matching Tutorial To Use `stumpy.mass`"
Currently, the [Fast Pattern Search](https://stumpy.readthedocs.io/en/latest/Tutorial_Pattern_Searching.html) tutorial uses `core.mass` but we should up this to `stumpy.mass` after v1.9.0 is released

- [x] Update [this section](https://stumpy.readthedocs.io/en/latest/Tutorial_Pattern_Searching.html#Additional-Note---Distance-Profiles-with-Non-normalized-Euclidean-Distances)
- [x] Replace `T_z_nor

[2021-05-21 11:41] seanlaw commented on #380
@Ninimama Great question.

Our documentation reflects the latest **development** version and not the stable release version. In v1.8.0 and before, the `mass` function was not listed in our API. However, due to a recent PR 4ea9fb8368498eba2581aa50a8fc7d782025bb0c (that came after the v1.8.0 release), `stumpy.mass` was added to the public API and it will be available in the upcoming v1.9.0 release.

[2021-05-21 14:44] seanlaw commented on #358
I am hoping to get it out some time in the beginning of June if that would be okay with you?

[2021-05-21 16:04] mexxexx commented on #358
Yes, I guess until then I can get it done :) I'll create a pull request as soon as possible

[2021-05-21 18:17] seanlaw commented on #359
@mexxexx Just to confirm, this one is for the "motif discovery tutorial" while #358 needs to be updated to leverage `motifs.py`.

[2021-05-21 19:59] gmarkall commented on #245
@seanlaw I guess this issue no longer needs to remain open?

[2021-05-21 20:02] #245 closed

[2021-05-22 06:36] Ninimama commented on #211
@Seanlaw:
I am about to start working on this. I have a couple of questions and I would truly appreciate it if you could explain it to me:
===========================================================================

1) Going through the steps provided in the project (fork, clone, create virtual environment, create branch, install dependencies from source and then install the package from the curre

[2021-05-22 06:45] Ninimama commented on #380
Got it. Thanks for your thorough response. Appreciate it.

[2021-05-22 07:19] Ninimama commented on #118
@seanlaw

(if you need help with this:)
I checked out the paper and I probably go through it anyway as I might try to apply it on my data and see how it works. So I will probably go through this paper after finishing the time series chain project #211 and see if I can implement it.

[2021-05-22 08:12] Ninimama commented on #155
@seanlaw:

TS: Time Series

**Could you please elaborate more on the purpose of ML model?**

Let's say you have a 365day-by-24hours data, and you reshape it to a long time series with length. If you think about clustering those 365 days, I don't think matrix profile can help with that. If you think about forecasting, a matrix profile MIGHT be helpful. For instance, to predict TS[h], it can find si

[2021-05-22 08:18] Ninimama opened #382 "Adding Rule Discovery [Indirect application of Matrix Profile]"
In Time Series, sometimes we are interested in knowing if a particular sequence will occur after observing another sequence. (In other words: Rule Discovery)

**Papers:**

[Discovery of Meaningful Rules in Time Series [2015]](https://dl.acm.org/doi/10.1145/2783258.2783306)

[Motif-based Rule Discovery for Predicting Real-valued Time Series [2017]
](https://arxiv.org/abs/1709.04763)

They are not d

[2021-05-22 08:40] Ninimama opened #383 "Relaxing Matrix Profile"
I think it might be a good idea to come up with a method to relax the Matrix Profile. (I have been thinking about this idea for a while. I haven't got any conclusion yet. I am still thinking about it and I thought it might be a good idea to share it.

By the term "relax", I mean to consider close neighbors and not just closest data point. For instance, let's say we have seven data points where eac

[2021-05-22 11:19] seanlaw commented on #211
Good question. If you look inside of `setup.sh`, you'll find that it's a `bash` shell script that helps you set up install `stumpy`. However, there are times when the user may have already installed `stumpy` from `conda-forge`/`PyPI` and so the first thing that we do is ALWAYS uninstall any version of `stumpy` that may be currently installed. That is why you are seeing that message. Then, it re-in

[2021-05-22 11:22] seanlaw commented on #118
Sounds good to me! I don't know much about this paper (will have to re-read it as it has been a while) but @mexxexx might be able to help answer some questions too on this one.

[2021-05-22 11:37] seanlaw commented on #155
So, I'm not a big fan of unsupervised methods and so this would be targeted for supervised learning approaches where you have labels. Let me provide a completely fictitious and hypothetical example:

Imagine if you have 1,000 engineering students in college and they gave you access to their GPS positional data from their cell phones (let's simplify and only worry about the latitude). During their

[2021-05-22 11:42] seanlaw commented on #382
@Ninimama While I appreciate your enthusiasm. Can you please provide direct links to those papers in case others would like to contribute too? Thanks in advance!

Additionally, I am open to your suggestion but I will caution that `stumpy` does not aim to be "everything for everyone" and the scope should be kept small where possible. Otherwise, it becomes very hard to maintain in the longer term. A

[2021-05-22 11:43] #380 closed

[2021-05-22 11:48] seanlaw commented on #383
I think @mexxexx  has done a lot of wonderful recent work on motif discovery beyond the top-1 motif (coming out in our v1.9.0 release). You may be able to learn more about it in [motifs.py](https://github.com/TDAmeritrade/stumpy/blob/main/stumpy/motifs.py) and @mexxexx is working on a [Motif Discovery Tutorial](https://github.com/TDAmeritrade/stumpy/issues/359) for it. @Ninimama would you mind tak

[2021-05-22 19:32] Ninimama commented on #383
@seanlaw
Thanks for letting me know. I will take a look at it after I take care of Time Series Chain.

[2021-05-22 19:49] Ninimama commented on #382
@seanlaw
I totally understand. I will provide the links soon but feel free to close the issue if you think it is out of the scope (and You are right).

Just a suggestion (not sure if it makes sense or not):

There is scikit-learn-extra package that can be considered as the supplementary package for scikit-learn and extends its modules. You might be interested in creating a similar thing later if y

[2021-05-22 20:12] Ninimama commented on #211
Thanks for the thorough response. I see. I tried to create the env using git bash in windows. Then I realized I should have done the command "conda init bash" and close/open the bash and then activate the env. This issue is discussed here:
[stack overflow](https://stackoverflow.com/questions/55507519/python-activate-conda-env-through-shell-script)

However,first time I thought I activated the env,

[2021-05-22 22:57] Ninimama commented on #211
@seanlaw
Thanks to your clarification, everything works fine now. I was wondering if you could elaborate one thing for now:

Particularly, the part where you said you are regularly delete and reinstall the anaconda. Because, we do all the stuff in the local env now. Right? Is there any reason for bothering ourselves with reinstalling the `anaconda` ?

[2021-05-23 00:34] seanlaw commented on #211
In your case you have created a separate env so, no, there is no need. I am probably less disciplined (or I don't like or am too lazy to track so many different envs) and so I do not create separate envs for everything. Instead, I reinstall from scratch whenever I switch projects. Just a different approach.

[2021-05-23 01:50] Ninimama commented on #382
@seanlaw

I updated the issue and provided the link.

[2021-05-23 03:12] seanlaw commented on #382
Exactly! While I may not have the bandwidth to create the extensions, hopefully, others will build on top of our STUMPY foundation. This has always been our goal and also why we've ensured 100% unit test coverage since day one.

Thank you

[2021-05-23 07:53] Ninimama commented on #211
@seanlaw:
I reproduced two figures from the supplementary materials and also got the same result for one part of the paper. I will work on one more figure (I am just getting warmed up 😃).

I will check the name of variables and styles. Then I will submit PR. Then, I will try to add text to the tutorial notebook.

I haven't done any unit test in my life 😄; so, I hope you can help me with creating o

[2021-05-23 12:24] seanlaw commented on #211
@Ninimama That sounds great! I want to make one small suggestion. In software development, it is often better to submit an initial (small) PR. Then, as you get feedback and make changes, you can push your new updates to the same PR and the history is preserved and kept together.

The key thing is (unlike writing an academic paper where you'd hand in a completed manuscript for review), it is best t

[2021-05-23 17:17] JaKasb commented on #383
The generalized solution is a k-NN search.
However the MatrixProfile is the result of 1-NN search.
The extension from 1-NN to k-NN search is currently a research topic.
The SCAMP repo contains an experimental method for k-NN.

I came up with a different solution, and my paper for k-NN matrix profile is currently under peer-review.

Extending from 1-NN to k-NN is somewhat straightforward.
The hard

[2021-05-23 18:30] Ninimama commented on #383
@JaKasb
Interesting... I think,for instance, if you consider k>1, the number of CHAINs can exponentially increase. Hope to see your paper published soon.

[2021-05-24 02:13] Ninimama commented on #155
@seanlaw
It sounds interesting. I will think about it for sure.

[2021-05-24 02:15] Ninimama commented on #211
@seanlaw
Perfect. Will do so. I understand. It is better to fix things as we move on from one step to the next. I will submit a PR soon.

[2021-05-24 13:45] JaKasb commented on #155
The following paper shows how to create a feature matrix for classification by using pairwise distances.
https://www.researchgate.net/profile/Rohit-Kate/publication/276422351_Using_dynamic_time_warping_distances_as_features_for_improved_time_series_classification/links/5c0ed52892851c39ebe437b5/Using-dynamic-time-warping-distances-as-features-for-improved-time-series-classification.pdf

[2021-05-24 21:36] Ninimama opened #385 "Clarifying the Contribution Document"
According to what discussed in #211, this issue is created to address the need for updating the contribution document to make it more understandable for new contributors.

[2021-05-25 01:08] seanlaw commented on #385
Thank you @Ninimama!  Many users will benefit from this clarification

[2021-05-25 03:47] seanlaw commented on #211
@Ninimama It appears that I no longer have access to the original paper. Any chance you can post it here?

[2021-05-25 05:25] Ninimama commented on #211
@seanlaw
I used the link you provided in this issue. Apparently it is open access as I am not using my University network for now. I also uploaded the file here.

[Matrix Profile_XXI_Geometric Chain Paper.pdf](https://github.com/TDAmeritrade/stumpy/files/6536717/Matrix.Profile_XXI_Geometric.Chain.Paper.pdf)

[2021-05-26 18:46] Ninimama commented on #374
@seanlaw:

Is there any way to mark an issue on GitHub and put it into something like a queue? So, I can come back later and work on it. I googled but found nothing.

[2021-05-27 13:09] #385 closed

[2021-05-27 13:12] #383 closed

[2021-05-27 13:13] #382 closed

[2021-05-31 13:40] Ninimama commented on #374
@seanlaw
I am going to submit a PR to improve the notebook.

[2021-05-31 13:42] Ninimama commented on #118
@seanlaw
I am going to submit a PR to start reading and implementing this paper.

[2021-05-31 17:34] seanlaw commented on #374
Sounds good @Ninimama !

[2021-05-31 17:35] seanlaw commented on #118
Great!

[2021-06-03 00:09] seanlaw commented on #221
@hmcoservit I was wondering if you explicitly set the `excl_zone`? In the 1.9.0 release, we will be removing this parameter from the function and, instead, it will move to a global variable in `config.py`. If you only use the default `m/4` then you should see no difference

[2021-06-03 00:22] seanlaw commented on #359
@mexxexx I wanted to let you know that I am going to remove the `excl_zone` parameter in the `motifs` function as I am moving that parameter over into `config.py` so that it will be defined globally. This way a user only has to change/set the exclusion zone once and then it will be inherited in ALL functions.

[2021-06-03 08:17] hmcoservit commented on #221
@seanlaw Hi Sean, thanks for informing me. Until now we were just using the default value for the anomaly detection use case. However, I was planning to do a POC soon to explore positions of the nearest neighbor (right and left) and also analyze the MP to get an idea of the season/period. I think I would need to play with the excl_zone parameter, so thanks for letting me know.

One thing, I have a

[2021-06-03 11:02] seanlaw commented on #221
What is the value of `zone_to_exclude`? How are you confirming that "it seems that it is ignored"? From what I can see in the code, it should not be ignored.

[2021-06-03 12:44] hmcoservit commented on #221
@seanlaw

`
stream1 = stumpy.aampi(T_full, m, egress=True, excl_zone=1)
stream2 = stumpy.aampi(T_full, m, egress=True)
print(np.array_equal(stream1.left_P_,stream2.left_P_))

`

Seems like the first m/4 values are always inf (even in version 1.8.0 here). Maybe I am missing something or misunderstood the definition of excl_zone and trivial matches?

![newplot - 2021-06-03T143410 061](https://user-i

[2021-06-03 13:42] seanlaw commented on #221
Okay, I think I understand the problem now. So, before egress happens, internally, `aampi` calls `aamp` in order to generate the first matrix profile, which will be updated as you stream in additional data points. Unfortunately, this call to `aamp` does NOT recognize/honor the `excl_zone` parameter passed to `aampi` and, instead, is defaulting to `m/4`. The `excl_zone` is only being applied to the

[2021-06-03 13:45] hmcoservit commented on #221
@seanlaw Thanks, seems good to me. Any visibility on the date of the release?

[2021-06-03 13:51] seanlaw commented on #221
We are still waiting for a few PRs to be completed but really hoping for mid to late June (how is it June already?!). Fingers crossed

[2021-06-03 18:52] Ninimama opened #398 "Improving Snippet function"

[2021-06-03 19:11] Ninimama opened #399 "Improve Snippet function"
As I was working with snippets, I noticed the three following issues:

1- Apparently the indices of the snippet start exactly at the multiplies of m, which may not be the case for some data.

2- The function provides only one profile per snippet. However, that snippet repeats throughout the whole time series as higher fraction means it has been repeated more. So, it should be useful to have that i

[2021-06-03 19:12] #398 closed

[2021-06-03 19:14] Ninimama commented on #399
@seanlaw
What do you think? I can start working on this in parallel to working on the snippet tutorial.

[2021-06-04 01:44] seanlaw commented on #399
@Ninimama If it's okay with you, I'd like to move this over to the discussion section as I think it would be healthy/useful to discuss/debate each of the points above.

[2021-06-04 01:56] Ninimama commented on #399
@seanlaw

Sure. I think it is good to move 1 & 3 to discussion. However, if you would like to reproduce the results of the paper, I think the snippet function should produce the indices of a set of subsequences similar to each snippet (e.g: check out Fig 24 of the paper or Fig 19).

[2021-06-04 02:39] seanlaw commented on #399
@Ninimama I haven't looked into this part much so maybe you can help me understand how the indices are calculated? It appears that it has do with finding cross-over points.

[2021-06-04 06:05] Ninimama commented on #399
This is part of the snippet code. If I understand correctly, mask contains the indices of distance profile corresponds to the snippet. (And, by summing over that, we calculate the fraction).

![image](https://user-images.githubusercontent.com/38519522/120752671-5051b480-c4c7-11eb-8d66-a30ec5274817.png)

So, all we need to do is to return those indices. (Am I missing something?)

Of course there mi

[2021-06-04 11:19] #399 closed

[2021-06-04 17:13] asifmallik commented on #290
@seanlaw I think the wrong paper is linked here, it should be [this](https://ueaeprints.uea.ac.uk/id/eprint/69244/1/ICDM_2018_Shaghayegh.pdf).

[2021-06-04 17:21] seanlaw commented on #290
Updated. Thank you @asifmallik!

[2021-06-04 19:50] asifmallik commented on #290
Hi @seanlaw , I would like to work on this issue

[2021-06-06 23:48] alvii147 commented on #177
Hi Sean! Thanks for the resources. I can work on this tutorial.

[2021-06-07 00:14] seanlaw commented on #177
Thanks @alvii147!

[2021-06-13 20:47] alvii147 commented on #177
Hi @seanlaw I've been working on this tutorial, I had a few questions I wanted to run by you:

1. How long should a tutorial be? My tutorial for the annotation vectors paper is turning out to be a bit long, there are around 20 plots, some of which have subplots. The reason why it's this long is because I'm exploring all 4 examples provided in the research paper in detail. Is there some hard limit

[2021-06-13 23:15] seanlaw commented on #177
I think 20 plots is too much and your audience will likely not read it. If you haven't done so already, please refer to the the existing set of tutorials as they provide a good example of what is expected. Instead of 4 examples, choose one really illustrative example (maybe two at the most). Also, please try your best to follow the style and layout of existing tutorials where possible. At the end

[2021-06-14 13:12] seanlaw commented on #359
@mexxexx I just wanted to [follow up on this](https://github.com/TDAmeritrade/stumpy/issues/358) to ask if you've been able to make any progress. I'm sure that you've been busy so no worries if you need more time.

[2021-06-14 14:28] mexxexx commented on #359
@seanlaw  I pushed something on #358 but I didn't manage to write anything for this issue yet unfortunately... Sorry for having promised it, I hope I can do this soon!

[2021-06-14 15:18] seanlaw commented on #177
Thank you and sounds good. I am a bit backlogged but I will try to find some time to go through it and get back to you ASAP.

I did a quick search and it looks like this might be relevant. Would you mind creating a new issue and testing this out while you wait for feedback?

https://nbsphinx.readthedocs.io/en/0.6.0/installation.html#Pygments-Lexer-for-Syntax-Highlighting

[2021-06-14 15:26] alvii147 opened #409 "Add syntax highlighting for tutorial code blocks"
Tutorials currently don't support syntax highlighting for code blocks. Adding this will significantly improve readability for tutorials.

Tutorials are generated using [Jupyter Notebook Tools for Sphinx](https://nbsphinx.readthedocs.io/en/0.8.6/), which does seem to support [syntax highlighting options](https://nbsphinx.readthedocs.io/en/0.6.0/installation.html#Pygments-Lexer-for-Syntax-Highlighti

[2021-06-14 15:29] alvii147 commented on #177
@seanlaw done! I'll try looking into it soon.

[2021-06-14 15:31] seanlaw commented on #409
@alvii147 Assuming that you have the correct environment setup (see `environment.yml` in root STUMPY directory), then you should be able to make the docs by executing the `docs/setup.sh` script and then see the documentation in your browser.

Based on the syntax highlighting notes above, I wonder if it is sufficient to simply add `IPython` to the `docs/requirements.txt`?

[2021-06-14 16:00] alvii147 commented on #409
Yepp it looks like that might be all we'd need to do. I'm going to give that a shot and let you know.

Unfortunately I'm using a windows machine so I can't run make. I'm gonna try doing it in a virtual machine. I'll keep you updated.

[2021-06-14 20:27] #237 closed

[2021-06-14 23:08] #409 closed

[2021-06-14 23:09] seanlaw commented on #409
Thank you for your work! The PR is merged.

[2021-06-15 16:12] mexxexx opened #411 "Stumpy settings not imported correctly"
I noticed in `motifs.py` that the `STUMPY_EXCL_ZONE_DENOM` is not imported correctly. Namely, if the user changes it, it is not recognized in the function.

Steps to reproduce: In `test_motifs.py::test_match` add the following lines before computing `right`:
[code]
and step with a debugger into the function `match` and inspect the value of `STUMPY_EXCL_ZONE_DENOM`. It will be `4` and not `np.inf`

[2021-06-15 16:21] seanlaw commented on #411
Oooh, thanks for catching that! This means that it needs to be `config.STUMPY_EXCL_ZONE_DENOM` everywhere

I can fix this

[2021-06-15 16:51] seanlaw commented on #411
I wrote a quick unit test:

[code]

Do you see any reasons why this might not be sufficient? Anything else you might add?

[2021-06-15 17:05] #411 closed

[2021-06-15 17:06] seanlaw commented on #411
@mexxexx I've pushed a fix. Would you mind pulling it into your branch and testing it out?

[2021-06-16 07:20] mexxexx commented on #411
I'll check it out, the code looks fine. However, I don't think that the unit test is actually checking the behavior we saw... But I don't think there is any way to test it...

[2021-06-16 11:32] seanlaw commented on #411
Oh, what about this?

[code]

So, by calling the `core.get_max_window_size` function, which depends on `config.STUMPY_EXCL_ZONE_DENOM` internally, then I think this is testing the correct behavior?

[2021-06-16 11:36] seanlaw opened #412 "Add STIMP (Pan Matrix Profile) Tutorial"
An initial tutorial has already been created [here](https://github.com/TDAmeritrade/stumpy/blob/main/docs/Tutorial_Pan_Matrix_Profile.ipynb)

[2021-06-16 11:36] seanlaw commented on #412
@mexxexx Please feel free to provide any feedback here

[2021-06-16 14:46] seanlaw opened #413 "Edge Case in `core._get_array_ranges`"
Currently, in `core._get_array_ranges()` if the input array `a` is empty, the array ranges are still being processed and the output is incorrect. The correct behavior is to return back an array of zero.

In context, this is only of concern when the number of chunks is less than the number of diagonals.

To solve this, one should check the size of the input array before proceeding

[2021-06-16 15:11] #413 closed

[2021-06-19 11:25] seanlaw opened #414 "Update Contributing Guide to Sync Fork"
Currently, the [Contributing Guide](https://stumpy.readthedocs.io/en/latest/Contribute.html) only discusses forking and submitting a PR. However, during the development process, changes can occur in the upstream/parent repository and so, before submitting a PR, it is important to:

1. Sync your fork with the upstream/parent repo (see image below for a button to sync with upstream)
2. Pull your cha

[2021-06-19 19:38] seanlaw opened #417 "Add Matrix Profile XXI MERLIN Algorithm for Anomaly Detection"
### Discussed in https://github.com/TDAmeritrade/stumpy/discussions/415

<div type='discussions-op-text'>

<sup>Originally posted by **udf2457** June 19, 2021</sup>
I was reading about MERLIN which was presented at  ICDM 2020:

- Matrix Profile XXI: MERLIN: Parameter-Free Discovery of Arbitrary Length Anomalies in Massive Time Series Archives. Takaaki Nakamura, Makoto Imamura, Ryan Mercer and  Eam

[2021-06-20 04:14] alvii147 commented on #414
@seanlaw I can take this issue if that's okay.

[2021-06-20 16:54] #414 closed

[2021-06-20 17:14] Ninimama commented on #417
@seanlaw  @udf2457

I tried to implement the `Table I` and `Table II` of the paper, referred to as `DRAG` algorithm by the authors. The `DRAG` algorithm will be used later in the `MERLIN` algorithm presented in Table III.

There are some confusing parts about the algorithm. I tried to check out both the paper and the MATLAB code. I am going to share my understanding with you:

In contrast to what

[2021-06-20 17:20] udf2457 commented on #417
@Ninimama thank you for your efforts so far, very much appreciated.  I will take a look through your post and comment if I think I have any insight to offer.

In the mean time, in relation to your final comment, I am merely here as an observer/commenter.  As per my comment to @seanlaw in the discussions section:

Apologies I can't be more hands-on.

[2021-06-20 17:36] udf2457 commented on #417
@Ninimama At a glance I'm uncertain as to why that `break` needs to be there.   From the verbose description in the paper:

It also looks a little strange to `break` out of a loop when the loop ends on the next line(s) anyway ?  (Unless I'm mis-interpreting the matlab code)

[2021-06-20 17:49] seanlaw commented on #417
@Ninimama Considering that it is the same primary authors as the geometric chains paper, were you able to reproduce any of the figures from the paper?

Is the `break` correct/necessary and it was simply missed in the paper?

[2021-06-20 18:08] udf2457 commented on #417
Doing a bit of digging around it looks like there may be two versions of the code on the author's website.

On the "Documentation" page under "Code Link" is the version that I referred to originally and that @Ninimama is referencing in this discussion.

However if you download the zip under "Introduction Link" , there are Matlab files in there with a timestamp of 6 August 2020.

Unfortunately Goog

[2021-06-20 21:35] Ninimama commented on #417
@seanlaw  @udf2457
I tried the code with and without `break`.

If we don't use `break`, the number of discords (before being pruned in the second phase of the algorithm) is  **higher(!)**  compared to the number of discords discovered when we use `break` in the loop.

However, both cases lead to the same number of discords after being refined via the second phase of the algorithm presented in Tabl

[2021-06-20 22:10] Ninimama commented on #417
@seanlaw:

Apparently, the authors didn't use Matrix Profile in their algorithms.  In fact, if you read the first paragraph of the section II-C of the paper, it says they are not going to use Matrix Profile. However, on the Eamon's webpage, it shows Matrix Profile XXI-MERLIN. Am I missing something here?

If not, are we planning to (somehow?) use Matrix Profile?

[2021-06-20 22:15] seanlaw commented on #417
Right, it does not use matrix profiles at all. It is somewhat related to some of the goals of STUMPY but, coincidentally, MERLIN would be an anomaly if it were to be added to STUMPY

[2021-06-20 23:28] udf2457 commented on #417
I would reason it as being a useful addition to the STUMPY toolbox because if all someone is using STUMPY for is looking for discords, then it saves them having to go elsewhere or add yet-another-library to their stack.

Then, as/when/if "true" matrix profile based algo comes out that is as efficient for discords as MERLIN then you can at that future point in time of course consider dropping MERLI

[2021-06-22 08:03] udf2457 commented on #417
@Ninimama

FYI My mind kept occasionally wondering back to the `break` and so I decided to try to reach out to the paper's authors.

I received a surprisingly quick reply.  Unfortunately the person who wrote the Matlab code is long gone (graduated and might not have a timely means of contact) however the summary of the `break` logic provided by the co-author was as follows:

[2021-06-22 17:57] Ninimama commented on #417
Yes, that break in the MATLAB code of the phase 2 is okay as it tries to stop calculating the distance between two subsequences when the distance becomes bigger than the NN distance.

I don't know what the "result" is. If they mean the outcomes of the phase-II (i.e. the final outcome of the DRAG algorithm), then they are correct. However, it does make a difference in the outcomes of the phase -I (

[2021-06-23 22:50] mexxexx commented on #411
Hi! Yes this tests the behaviour correctly, at least in the `core` module.

[2021-06-25 21:35] jaydurant commented on #243
@seanlaw  can you assign me to this issue

[2021-06-26 00:04] asifmallik opened #423 "Broken links in tutorial"
There are two broken links in [Tutorial_Time_Series_Chains.ipynb](https://github.com/TDAmeritrade/stumpy/blob/main/docs/Tutorial_Time_Series_Chains.ipynb)

-  [time series motifs](https://github.com/TDAmeritrade/stumpy/blob/4c05d54d68963d898c854c388779d4727f19f5a8/docs/Tutorial_1.ipynb) which should point to [this file](https://github.com/TDAmeritrade/stumpy/blob/main/docs/Tutorial_STUMPY_Basics.i

[2021-06-26 00:09] asifmallik opened #424 "Missing instruction on building and contributing to documentation"
Ideally, README.md should have a line or two under the [documentation section](https://github.com/TDAmeritrade/stumpy#documentation) on how to build the documentation.

[2021-06-26 03:17] seanlaw commented on #423
@asifmallik Would you like to submit a PR for this?

[2021-06-26 22:21] asifmallik commented on #423
@seanlaw Yes!

[2021-07-06 01:44] #177 closed

[2021-07-07 11:10] gerold-csendes-epam commented on #375
sorry for abandoning the discussion @seanlaw. Let me elaborate on my question of normalization but I actually think I already have the answer. So, when using the default `True` value for the `normalize` argument in [stump](https://stumpy.readthedocs.io/en/latest/api.html#stump), the function z-normalizes subsequences and in case of my 'constant' array, [2, 2, 2, 2] I would have expected to get an

[2021-07-07 11:15] seanlaw commented on #375
Yes, that is correct!

[2021-07-07 11:16] gerold-csendes-epam commented on #375
awesome, thanks! Closing the ticket, thanks a lot for your quality answers!

[2021-07-07 11:16] #375 closed

[2021-07-08 01:35] alvii147 opened #431 "Broken links in Advanced Annotation Vectors Tutorial"
The [Advanced Annotation Vectors Tutorial](https://stumpy.readthedocs.io/en/latest/Tutorial_Advanced_Annotation_Vectors.html) links the previous tutorial, [Annotation Vectors Tutorial](https://stumpy.readthedocs.io/en/latest/Tutorial_Annotation_Vectors.html) in it a few times. The links are broken though, I forgot to add `.html` at the end there. All that needs to be done is add `.html` at the end

[2021-07-08 14:36] #431 closed

[2021-07-11 03:29] Ninimama opened #434 "Move naive implementations to the top of test files"
It is preferred to put naive implementations of some functions at the top of a test file. However, this protocol is violated in `.\tests\test_core.py`.

[2021-07-11 22:25] alvii147 opened #435 "Annotation Vectors Tutorial headers are not in proper order"
The **Loading the Hemoglobin Concentration Dataset** and **Loading the Electrooculography Dataset** headers for the [Annotation Vectors tutorial](https://stumpy.readthedocs.io/en/latest/Tutorial_Annotation_Vectors.html) should be `<h2>`, not `<h3>`. Additionally, it should be changed to something like **Hemoglobin Concentration Dataset** and **Electrooculography Dataset**, since loading the datase

[2021-07-12 13:15] #435 closed

[2021-07-16 07:14] hmcoservit commented on #221
Hi @seanlaw , any updates on this :) ?

[2021-07-16 09:03] seanlaw commented on #221
@hmcoservit So this functionality has already been implemented and you can test this in the latest dev version if you clone/install from source. We are currently waiting for [this PR](https://github.com/TDAmeritrade/stumpy/pull/397) to be merged and we should be good to go! I recommend that you test the exclusion zone functionality first to make sure it accomplishes what you need before it goes li

[2021-07-16 09:14] hmcoservit commented on #221
Thanks @seanlaw , I will check it out asap.

[2021-07-18 02:02] seanlaw opened #439 "`cutoff` Parameter Not Used in `motifs`"
`stumpy.motifs` accepts a `cutoff` input parameter that isn't actually being used anywhere. I believe that this value should be passed into `_motifs` in order to assess whether the "next" candidate subsequence should be considered.

[2021-07-18 02:03] seanlaw commented on #439
@mexxexx Would you mind taking a quick look at this?

[2021-07-20 11:36] #434 closed

[2021-07-21 19:22] seanlaw commented on #221
@hmcoservit  Just an FYI that the new version was released today!

[2021-07-22 08:53] hmcoservit commented on #221
Hi @seanlaw thanks for informing me, sorry that I was too occupied to check it out before the release (holidays here). I will share my feedback as soon as I get the chance ;)

[2021-07-22 12:11] seanlaw opened #441 "Add `normalize` Parameter to `stumpy.stimp`"
Currently, the `stumpy.stimp` function (as well as `stumpy.stimped` and `stumpy.gpu_stimp`) only work with z-normalized matrix profiles. The "pan matrix profile" is generated by computing matrix profiles with different subsequence window sizes and then each individual matrix profile is then normalized by their corresponding subsequence length according to:

[code]

However, if the subsequence is n

[2021-07-24 11:19] seanlaw opened #444 "Add Reticulate Tutorial - `stumpyr`"
Occasionally, users have asked if there was a way to use STUMPY in the R statistical software. It would be nice to have a simple tutorial that explained how to leverage the [Reticulate package](https://rstudio.github.io/reticulate/)

[2021-07-24 13:15] Ninimama commented on #444
@seanlaw
I would love to work on this tutorial.

[2021-07-24 13:32] seanlaw commented on #444
@Ninimama It's all yours! I know very little about R

[2021-07-25 08:17] Ninimama commented on #444
@seanlaw
I worked on R for a course I had on advanced computational statistics. I am not a pro in R, but I would like to see if I can handle this.

[2021-07-25 11:51] seanlaw commented on #444
Awesome! I know of some R folks who may be able to read/review the tutorial once it is ready

[2021-07-27 16:16] mexxexx commented on #439
@seanlaw Hi! I had a look. I think you are right, the `cutoff` parameter should be passed on to `_motifs`. I think replacing lines 96-97

``
        if np.isinf(profile_value):  # pragma: no cover
            break
[code]
should yield the right behavior.

[2021-07-27 16:28] seanlaw commented on #439
Great! I made the changes and am running the tests now

[2021-07-27 17:08] #439 closed

[2021-07-27 17:10] seanlaw commented on #439
Done! Thanks, @mexxexx

[2021-07-27 19:54] mexxexx commented on #439
Great! You're welcome! Sorry for the delayed response

[2021-07-28 00:31] #358 closed

[2021-07-28 12:28] seanlaw commented on #423
@asifmallik Just checking in. Any updates on this?

[2021-07-28 12:32] seanlaw commented on #424
I think this should be in the [Contributing Guide](https://stumpy.readthedocs.io/en/latest/Contribute.html) and not in the `README.md`.

[2021-07-28 13:03] hmcoservit commented on #411
@mexxexx @seanlaw I was having the same issue, but thanks to this discussion it is solved, Thanks!

[2021-07-28 13:06] seanlaw commented on #411
@hmcoservit In what version of STUMPY are you seeing this problem? This should be fixed in all versions v1.9.x+

[2021-07-28 13:06] hmcoservit commented on #221
@seanlaw Hi Sean, I got the new update and thanks for that.

I now have the functionality that I need with:

``
from stumpy import core, config
config.STUMPY_EXCL_ZONE_DENOM = np.inf
stream = stumpy.stumpi(T_full, m, egress=True, normalize=False)

``

[2021-07-28 13:09] hmcoservit commented on #411
@seanlaw I was checking on V1.9.1

Previously I was doing:

from stumpy.config import STUMPY_EXCL_ZONE_DENOM
STUMPY_EXCL_ZONE_DENOM = m

Which wasn't working

[2021-07-28 13:09] seanlaw commented on #221
Hopefully, that feels pretty natural? Since it is exceptionally rare for users to have to change the exclusion zone, we thought that it is "better" to set the exclusion zone globally rather than than at the function level.

[2021-07-28 13:11] hmcoservit commented on #221
@seanlaw Good decision, I think its okay. I will continue to run tests around my use case, I will keep you posted of any interesting findings.

[2021-07-28 13:15] seanlaw commented on #411
Note that you should also be able to do:

[code]

[2021-07-28 13:44] seanlaw commented on #411
It really bothers me that this doesn't work! Intuitively, this is what I would've done too so I'm going to see if I can find a way to get both methods to work

[2021-07-28 14:42] mexxexx commented on #411
One way I see to make it more intuitive is to have some sort of getter/setter functions. Maybe in the same way as you set the plot params in `matplotlib`?

[2021-07-28 15:05] hmcoservit commented on #411
@mexxexx  [Perhaps something like this](https://stackoverflow.com/a/43941592/7398288)?

[2021-07-30 02:18] asifmallik commented on #423
Sorry! Didn't realize I forgot to make the pull request for this.

[2021-07-30 11:24] mexxexx commented on #411
That could be interesting... But I don't know if we could access it from within numba compiled code

[2021-07-30 12:37] #423 closed

[2021-07-30 12:55] seanlaw commented on #411
It looks like the original form is the only option for now. @hmcoservit what was proposed in the example that you provided, while standardized, seems heavy handed for trying to accomplish something simple. Having said that, I'll certainly consider it in the future if the demand arises. Hopefully, what we currently have isn't too tedious.

I've also added a note in the [Tutorials/documentation](htt

[2021-07-31 03:43] seanlaw opened #452 "Replace Matplotlib Style Sheet With URL"
Currently, all of our [tutorials](https://github.com/TDAmeritrade/stumpy/tree/main/docs) refer to a matplotlib style sheet:

[code]

However, this may confuse users who are cutting and pasting code from the tutorial and they will find that the above line doesn't work. Instead we can replace this line with:

[code]

[2021-07-31 07:40] saurabh-1-1 commented on #452
hey seanlaw i can try it, i will update you in an hour with the work

[2021-07-31 11:05] seanlaw commented on #452
Sounds good. Thanks, @saurabh-1-1 !

[2021-07-31 13:45] #452 closed

[2021-08-10 01:31] seanlaw opened #455 "Add NaN and Inf support for `motifs.py`"
Currently the `cutoff` and `max_distance` parameters do not support having `np.nan` or `np.inf` in their distance profiles/matrix profiles. It would be great to add support for this.

[2021-08-10 01:31] #455 closed

[2021-08-12 21:53] seanlaw opened #456 "Add GPU Sliding Dot Product (FFT Convolution)"
Currently, we have a NumPy/SciPy-based function that computes a sliding dot product between two 1D arrays, `Q` and `T`, by performing a (FFT) convolution:

[code]

When `Q` and/or `T` are large it would be great to give users the ability to move the `QT = convolve(Qr, T)` line onto the GPU but **without adding any new dependencies** (currently, we only have `numpy`, `scipy`, and `numba` as depende

[2021-08-12 22:03] seanlaw commented on #456
@gmarkall Please let me know if I can provide anymore detail/context/information. As always, I appreciate any guidance or help on this!

[2021-08-13 02:27] seanlaw commented on #456
It looks like this [historical commit](https://github.com/rapidsai/cusignal/blob/e9a52ff3ebec32d3224f30fe1e978fa4c5a0243b/python/cusignal/convolution/_convolution_cuda.py) from cuSignal might be what we need!

[2021-08-13 14:47] seanlaw commented on #456
@awthomp [said](https://twitter.com/adamlikesai/status/1425977982498258945):

As I understand it `scipy.signal.convolve` actually assesses the size of the input arrays and chooses the optimal convolution algorithm to use. Generally speaking, for small array inputs, the `direct` method is used and, for larger arrays `(n > ~500)`, FFT is used and is suppose to be much faster. Since we are thinking a

[2021-08-15 07:40] seanlaw commented on #248
In Linux, it may be possible to detect numba cache-misses with:

[code]

[2021-08-15 07:48] seanlaw commented on #381
Fixed in 0fef089b5930e552702a3222c5741f7812e50719

[2021-08-15 07:48] #381 closed

[2021-08-15 07:50] seanlaw commented on #424
@asifmallik Are you able to submit a PR for this?

[2021-08-21 14:02] GouravWadhwa commented on #190
Hi @seanlaw, I am new to open source and would like to work on this issue. Can you tell me the relevance of this

[2021-08-21 18:51] seanlaw commented on #190
@GouravWadhwa Thank you for your interest. I haven't spent much time looking deeply into this but essentially, the goal of this issue is to create a Jupyter notebook that accurately reproduces one or more figures from [this published paper](https://conferences.computer.org/icde/2020/pdfs/ICDE2020-5acyuqhpJ6L9P042wmjY1p/290300b846/290300b846.pdf). According to the paper, the goal is to first produc

[2021-08-22 20:05] seanlaw opened #459 "Add `core._index_to_mp` Function"
Currently, we store left and right matrix profile indices when performing a self-join but it may be necessary produce the corresponding left and right matrix profiles. The API for this function should look like:

[code]

It is important to note that `I` can contain negative numbers but these are **not** negative index numbers and, instead, correspond to subsequences that do not have a nearest neig

[2021-08-23 02:03] #459 closed

[2021-08-23 16:21] Ninimama commented on #444
@seanlaw

if you can, please make it available for others as I might not get enough time to go through this one. Sorry for the inconvenience. I will come back to it and check it out to see if someone picks it up or not.

[2021-08-23 16:42] seanlaw commented on #444
Thank you for letting me know, @Ninimama! This is now open for anybody to work on

[2021-08-25 09:33] JaKasb opened #461 "[Refactor] Sliding Window function is implemented in both numpy and in stumpy"
Since Numpy version 1.20, numpy implements a sliding window function.
https://numpy.org/devdocs/release/1.20.0-notes.html?highlight=sliding%20window#sliding-window-view-provides-a-sliding-window-view-for-numpy-arrays

Therefore the custom version in stumpy could be removed.
https://github.com/TDAmeritrade/stumpy/blob/f8ad3cff1628d3d4b31dfee7609337986afb70f3/stumpy/core.py#L208

As an alternative,

[2021-08-25 11:04] seanlaw commented on #461
@JaKasb Thank you for pointing this out as I was not aware of this. Do you happen to know what the benefit is? Is stride tricks somehow significantly slower or is it being deprecated? I ask because we'll need to maintain (some) backwards as STUMPY's minimum supported version is `numpy=1.5`

[2021-08-25 15:04] JaKasb commented on #461
In the numpy version of sliding_window, most of the code deals with error handling and fail safe mechanisms.
I don't expect a speed difference, but I don't have any data to back this assumption.
If numpy 1.5 is a requirement, then the convenience function is out of reach anyway.

[2021-08-25 15:04] #461 closed

[2021-08-25 16:08] seanlaw commented on #461
In case it matters, over time we plan to bump up the minimum NumPy and SciPy versions and so this may be relevant when that happens.

[2021-08-28 02:24] seanlaw commented on #248
Awesome! I'm excited to see how things go and let me know if you ever need/want to hop on a video call to discuss.

[2021-08-29 23:19] seanlaw commented on #248
@alvii147 Upon further thinking, I think it would be best to not touch the `stump.py` file at all and, instead, create a `stump_tile.py` module. This way, we can more easily compare the performance without having to install multiple versions of STUMPY. So, `stump_tile.py` might have a `stump_tile()` function, a `_stump_tile()` function, and a `_compute_tile()` function. Does that make sense?

[2021-08-29 23:51] alvii147 commented on #248
@seanlaw yepp makes sense, I'll just copy over the stuff to a new file.

`git reset --hard` it is!

[2021-08-30 17:51] seanlaw opened #462 "Remove unnecessary condition in `_compute_diagonal`"
@alvii147 Discovered that in `_compute_diagonal` (present in both `stump.py` and `aamp.py`) that:

[code]

the `i == k` can be omitted

[2021-08-30 17:52] #462 closed

[2021-09-01 14:36] asifmallik commented on #424
@seanlaw yes, sorry, I had forgotten about this

[2021-09-08 14:35] seanlaw opened #465 "Add Contrast Profile Tutorial"
This paper is [here](https://www.cs.ucr.edu/~eamonn/ContrastProfile_V048_names.pdf)

The supporting site is [here](https://sites.google.com/view/contrastprofile)

The main goal of a contrast profile is to annotate each subsequence of a time series so that you can discover if there are "good" subsequences that can be used for time series classification (see Definition 6 in the paper above). In orde

[2021-09-14 12:01] seanlaw opened #466 "Add DTW Motif Discovery - SWAMP"
The paper can be found [here](https://www.cs.ucr.edu/~eamonn/DTWMotifsSWAMP_Expanded.pdf)

The supplementary webpage is [here](https://sites.google.com/site/dtwmotifdiscovery/)

The code is
[here](https://github.com/TDAmeritrade/stumpy/files/7161674/DTWMotifDiscovery.zip)

The data is [here](https://sites.google.com/site/dtwmotifdiscovery/#h.p_R5YBI2_GHL6_)

[2021-09-15 08:08] hari-packetai commented on #184
Hi, Are the algorithms for motif and discord discovery described in this paper available in Stumpy?

[2021-09-15 21:59] seanlaw commented on #184
@hari-packetai I do not believe so. The only methods that we currently have are [motifs](https://stumpy.readthedocs.io/en/latest/api.html#stumpy.motifs) and [match](https://stumpy.readthedocs.io/en/latest/api.html#match). Neither account for variable length matrix profiles

[2021-09-24 00:06] seanlaw opened #467 "Add API Examples to Dosctrings"
Currently, the [STUMPY API documentation](https://stumpy.readthedocs.io/en/latest/api.html) does not contain examples in the docstrings. It would be great to follow the [Pandas docstring style](https://pandas.pydata.org/pandas-docs/stable/development/contributing_docstring.html):

[code]

[2021-09-27 16:27] #467 closed

[2021-10-06 11:35] ManPython opened #468 "AttributeError: Undefined symbol "LLVMPY_AddRefPrunePass""
The issue that can recognize the real source of problem
https://github.com/numba/llvmlite/issues/773

[2021-10-06 13:40] seanlaw commented on #468
Thank you. This definitely sounds like a Numba issue. It's hard to tell from numba/llvmlite#773 but it looks like you are trying to run STUMPY using AMD CPUs? I'm not sure this is supported (we're basically at the mercy of what Numba supports).

[2021-10-08 12:08] seanlaw commented on #468
Closing this for now but feel free to re-open if this is a STUMPY problem. I will continue to monitor the other Numba issue(s) that you created

[2021-10-08 12:08] #468 closed

[2021-10-20 13:05] seanlaw opened #476 "Stop Invoking `setup.py` Directly"
In [this article](https://blog.ganssle.io/articles/2021/10/setup-py-deprecated.html), it is detailed that `setup.py` should no longer be invoked directly and the recommendation is to replace the commands on the left side of the table with those on the right:

setup.py command | New command
-- | --
setup.py sdistsetup.py bdist_wheel | python -m build (with build)
setup.py test | pytest (usually via

[2021-10-20 13:45] #476 closed

[2021-10-25 15:57] MC-Dave opened #477 "Inconsistent matrix profile results with stump vs. stumpi when dataset is float32 vs float64"
[code]

Noticed some odd behavior when computing the matrix profile using `stumpy.stump` vs `stumpy.stumpi`.
It appears that using `stumpi` to incrementally update the matrix profile using `float32` dtype will cause a different matrix profile result than if we use `float32` with `stump`

The following dataset is used:
[example.csv](https://github.com/TDAmeritrade/stumpy/files/7411761/example.csv)

[2021-10-27 00:50] #477 closed, assigned to seanlaw

[2021-10-27 03:29] NimaSarajpoor opened #478 "change test.sh back to tests.sh"
Hi,

I was doing the unit test before working on the updated repo and then I realized the tests.sh file was changed to test.sh. If you want to keep this name for the file, I can revise the contribution doc and change tests.sh to test.sh.

[2021-10-27 12:34] #478 closed, assigned to NimaSarajpoor

[2021-10-28 14:31] rnjv opened #480 "Lag by window in STUMPI"
Hi,

Was looking at STUMPI and found that the matrix profile as designed always lags by its window size. This is not ideal when dealing with realtime or streaming data.

How hard is it to implement this Online Matrix Profile version from this paper: https://www.researchgate.net/publication/354207865_Anomaly_Detection_on_IT_Operation_Series_via_Online_Matrix_Profile/comments

[2021-10-28 16:53] #480 closed, assigned to nobody

[2021-11-07 13:52] udf2457 commented on #417
@seanlaw Sorry for the delay.

I don't think you've missed anything and I have not really got anything useful to add to your comment.  I would agree with @Ninimama that _"same results drastically faster"_ would be the preferable route to go, but mostly goes without saying.

[2021-11-12 22:53] seanlaw opened #487 "Add Explicit Signatures to All Numba NJIT Functions"
Currently, we have a lot of Numba functions in the code base that are labeled with `@njit` and it would be better to add a function signature to them that more accurately annotates what input types are allowed. More details can be found [here](https://nyu-cds.github.io/python-numba/02-signatures/).

[2021-11-12 22:55] seanlaw opened #488 "Decorated Functions Cannot Be Pickled"
Currently, decorated functions like `stumpi` can not be pickled. See https://github.com/TDAmeritrade/stumpy/discussions/486

[2021-11-12 22:55] seanlaw commented on #488
This might be related https://stackoverflow.com/questions/34253069/how-to-use-class-decorators-with-pickle

[2021-11-13 03:18] seanlaw commented on #488
This may be helpful too http://gael-varoquaux.info/programming/decoration-in-python-done-right-decorating-and-pickling.html

[2021-11-14 02:27] #487 closed

[2021-11-14 02:45] seanlaw commented on #488
After reviewing, the effort to make this work would make the code too complex. Instead, users should use other pickling alternatives like `cloudpickle`

[2021-11-14 02:45] #488 closed

[2021-11-15 15:44] #79 closed

[2021-11-21 13:10] elfring opened #489 "Increase the usage of augmented assignment statements"
:eyes: Some source code analysis tools can help to find opportunities for improving software components.
:thought_balloon: I propose to [increase the usage of augmented assignment statements](https://docs.python.org/3/reference/simple_stmts.html#augmented-assignment-statements "Augmented assignment statements") accordingly.

[code]

[2021-12-08 13:35] seanlaw commented on #90
After comparing the MSTUMP code with GPU_STUMP, I think there is a path forward. Specifically, in `_mstump` we have:

https://github.com/TDAmeritrade/stumpy/blob/955ab965c62d93c98cef4136f1a684529b747f01/stumpy/mstump.py#L809-L826

So, for GPU_MSTUMP, we'll need to replace all of the functions used in this section with their equivalent GPU-based versions so that all computations happen on the GPU.

[2021-12-08 13:56] seanlaw commented on #90
After comparing the MSTUMP code with GPU_STUMP, I think there is a path forward. Specifically, in `_mstump` we have:

https://github.com/TDAmeritrade/stumpy/blob/955ab965c62d93c98cef4136f1a684529b747f01/stumpy/mstump.py#L809-L826

So, for GPU_MSTUMP, we'll need to replace all of the functions used in this section with their equivalent GPU-based versions so that all computations happen on the GPU.

[2021-12-14 15:26] seanlaw opened #495 "Reduce Import Time"
The time that it takes for STUMPY to get imported has been growing. This is assessed via:

[code]

Which shows the bulk of the import time being spent here:

[code]

It would be great to figure out how to reduce this import time down. It appears that it has something to do with how we are importing functions into `__init__.py`

[2021-12-17 11:23] seanlaw commented on #186
@mcyeh It's been a while but there has been renewed interest by our users to implement MDL but I still haven't been able to figure it out. Are you able to answer some of the questions [above](https://github.com/TDAmeritrade/stumpy/issues/186#issuecomment-750335386)?

[2021-12-19 02:29] seanlaw commented on #489
@elfring Apologies for the delayed response as I didn’t seem to receive a Github notification for this. I understand your proposal but I it is unclear to me what benefits there are to gain in using augmented assignment statements. Hopefully, I don’t come across as argumentative and I genuinely want to understand how this will make the package better. Personally, I find augmented assignments to be

[2021-12-19 08:33] elfring commented on #489
Thanks for such a positive feedback.

:thought_balloon: I find that [the rationale of the Python enhancement proposal 203](https://www.python.org/dev/peps/pep-0203/#rationale "Proposal for augmented assignments") (from 2000-07-13) can indicate also motivation for another bit of collateral evolution. :thinking:

Your enquiry is fine.

I dare to point another software transformation approach out.

I

[2021-12-19 12:31] seanlaw commented on #489
Sure. Would you mind submitting a PR for this to be reviewed? I would welcome it.

[2021-12-19 13:32] elfring commented on #489
:thought_balloon: Can the chances grow to integrate the shown source code adjustments also directly (with support from other contributors eventually)?

* I presented data processing results from one of my Perl command examples (which I published together with related issues).
* Semantic patch languages (according to computation tree logic variants)

Would you like to influence the evolution any fu

[2021-12-19 13:42] seanlaw commented on #489
Please submit an appropriate PR

[2021-12-20 22:23] Ninimama opened #499 "inconsistency between the distance calculated in the profile D (of stumpy.match) and np.linalg.norm"
**Problem:**

I was trying to use `stumpy.match` and I realized there is a small error (maybe caused by rounding or something else) that prevents stumpy from discovering the matching pattern of a query in one of my cases. In below, I show the distance between a query and a pattern (of the same size) calculated in three ways:

when `normalize=False`:
1 - `numpy.linalg.norm( )` gives `46.54073160107

[2021-12-21 01:13] seanlaw commented on #499
@Ninimama I suspect that you have stumbled upon issues with numerical accuracy. Can you comment on the precision of your original time series? Realistically, you can only depend on being as precise as your original data and, based on the numbers that you showed, they are equivalent to me. Having said that, I wonder if we could follow NumPy add add an `atol` parameter like in [np.allclose](https://

[2021-12-21 02:17] Ninimama commented on #499
So, by "original", I assume you mean the one that is fed to the `stumpy.match`. Correct? If yes, it has `10^(-8)`. Now, I can see the output of stumpy and the np.linalg.norm are equal  by rounding the number to get the precision of our original time series.

That should work!

If my timeseries consists of only integer numbers, it would not be correct to depend on the precision of my original data.

[2021-12-21 03:20] seanlaw commented on #499
I think we can add `atol=1e-8` as the default and always add this value to `max_distance`. It's similar to what you had done and then leave it up to the user to change `atol` if needed

[2021-12-21 11:43] #499 closed

[2021-12-21 20:51] Ninimama opened #500 "misleading error message raised by stumpy.motifs"
**Problem Description**

 `stumpy.motifs` raises the following error message when the argument `T` is one dimensional (correct format) but the argument `P` is NOT one dimensional (incorrect format). I got this error when I, by mistake, used `mp` (output of `stumpy.stump`) as the input `p`

**Error Message:**
`ValueError: T is 2-dimensional and must be 1-dimensional. Multidimensional motif discover

[2021-12-21 21:02] seanlaw commented on #500
@Ninimama This appears to be a typo. Due to copy/pasting, it should've said `ValueError: P is...` rather than `ValueError: T is...`

[2021-12-21 21:05] seanlaw commented on #500
Should be fixed in https://github.com/TDAmeritrade/stumpy/commit/80e1899fde2d2d2ed857194dc290f62e5f8ad1a4

[2021-12-21 23:12] #500 closed

[2021-12-22 00:20] MC-Dave opened #501 "`stumpy.match` hangs forever when passing `np.inf` to `max_distance`"
[code]

`stumpy.match` never completes if you pass in `np.inf` to `max_distance`

Example
[code]

No problem, completes in less than a second.

Example, really large number
[code]

Same as above, no issues here.

Example, `np.inf`
[code]

The above will hang for minutes without completing.

Traceback when sending `CTRL+C` to interrupt execution
[code]

[2021-12-22 01:00] seanlaw commented on #501
@MC-Dave Thanks for reporting this! Let me take a look

[2021-12-22 02:07] seanlaw commented on #501
So, thanks to your reproducible example, I was able to track it down and patched it. I'm guessing that it's not such a big deal in your case? The fix should land in the next release v1.10.2

[2021-12-22 04:01] #501 closed

[2021-12-22 15:11] MC-Dave commented on #501
@seanlaw No big issue in my case. Easy enough to set the `max_distance` value to a large number in the meantime.

Thanks for finding and fixing!

[2021-12-24 18:16] seanlaw commented on #501
@MC-Dave I just released a new version 1.10.2 that includes this fix: https://pypi.org/project/stumpy/

[2021-12-25 21:31] sword134 opened #502 "Finding patterns based on a condition"
Hello,
I'd like to know if there is a way in Stumpy to find patterns before a condition occurs. Say for example I want to analyze a data series and want to find a pattern before something happens. For example I want to find a pattern before a big decrease happens in the data or increase. Is this currently possible in Stumpy if I dont know what this pattern looks like? The idea is finding the patte

[2021-12-27 14:14] alvii147 opened #504 "Add Python 3.10 to Github Actions Workflow"
@seanlaw not sure if this is something to be focused on right now, I'll leave it to your judgement, I thought it might be useful to add 3.10 to the github workflow?

[2021-12-27 14:29] seanlaw commented on #504
@alvii147 I actually tried to do this [last week](https://github.com/TDAmeritrade/stumpy/pull/496) but we are still waiting for other packages to catch up in their Python 3.10 support. I'll revisit this occasionally as things becomes available

[2021-12-27 15:13] alvii147 commented on #504
Ahh my bad, that makes sense!

[2021-12-27 15:18] seanlaw commented on #504
No worries. Thanks for looking out! I'll keep this issue open until it gets resolved in the future

[2022-01-01 00:17] seanlaw commented on #444
@RamiKrispin any chance you might be able to squeeze this into your 2022 open source contributions? 😅

[2022-01-03 20:41] Ninimama opened #509 "stumpy snippets: mistake in plotting the regimes in the tutorial notebook"
I think there might be a small issue in plotting the regimes in the [Snippets Tutorial Notebook](https://github.com/TDAmeritrade/stumpy/blob/main/docs/Tutorial_Time_Series_Snippets.ipynb).

---

I took a look at the paper [Matrix Profile XIII: Snippets](https://www.cs.ucr.edu/~eamonn/Time_Series_Snippets_10pages.pdf), and I checked the implementation of snippet in STUMPY. It is all good! However,

[2022-01-03 21:36] seanlaw commented on #509
@Ninimama Yes, that sounds right. Would you mind submitting a PR to correct this?

[2022-01-03 22:30] Ninimama commented on #509
@seanlaw
Thanks for the confirmation. I will submit a PR regarding this issue.

[2022-01-04 22:19] Ninimama commented on #509
I submitted a PR. But, before you accept the changes, you may want to take a look at this:

I tried to use `stumpy,snippets` on electricity demand data (with length 8760). For `m=7*24`, one of the slices in a regime was `[3832 3833]` which doesn't make sense unless we add `m-1` to each index included in that range. Then, I think more about it. Please correct me if I am wrong. Since snippets is bas

[2022-01-05 02:24] seanlaw commented on #509
@Ninimama Sorry but I'm not sure I am following what you mean. Can you please elaborate?

[2022-01-05 03:34] Ninimama commented on #509
@seanlaw
I have a time series data `T`, where `len(T) = 8760`. In one of my experiments, I chose `m=168`. I took a look at the output `regimes`, which is a ndarray and its first column represents the index of a regime. In one of the slices (of one of  the regimes) I noticed this: `[regime_index 3832 3833]`. However, the length of this slice is `1`, which is less than `m=168`. So, I think we should

[2022-01-05 14:11] seanlaw commented on #509
I disagree. While it's been a while since we've looked at this and I do not remember the details, `regimes` should already be giving you the start and stop indices for that regime. Now that I've looked at it a bit closer, it's not clear to me why you'd set `stop_idx = per_slice[1]+m-1`. In fact, I believe that it should be:

[code]

Though, I cannot explain why you are getting `[regime_index 3832

[2022-01-05 19:17] EgoVed opened #511 "Change point detection with STUMPY"
Good afternoon!
I have a question. I have a date frame with measurements from sensors. There are 18 sensors in total. These sensors are located on a complex unit. During operation, this unit can operate in different modes. Q: can stumpy find change point detection? Now I'm trying to use the roerich and ruptures library. I really like your library and suddenly you are faced with such a task. I can

[2022-01-05 19:32] Ninimama commented on #509
I didn't go through the paper recently so I am not sure what I am about to say is completely correct or not. If you take a look at the section `Plotting the MPdist profile of snippets` in the notebook, you can see the profiles of two snippets intersect somewhere in the middle (probably at index `880` as can be seen in the output `regimes`). The lower part of the profile of a snippet is where all s

[2022-01-06 03:26] seanlaw commented on #509
@Ninimama Thank you. Please give me some time to take a look

[2022-01-07 13:50] Ninimama commented on #466
@seanlaw
I think the  package [tslearn](https://github.com/tslearn-team/tslearn) might help those who want to work on SWAMP. For instance, it provides the implementation of [LB_Keogh](https://tslearn.readthedocs.io/en/stable/gen_modules/metrics/tslearn.metrics.lb_keogh.html).

That might give us some idea that can be useful for pythonic implementation of SWAMP.

[2022-01-07 14:17] Ninimama commented on #441
@seanlaw
Do you know the idea behind `np.sqrt(2*m)` ? I don't know but I think it is related to the highest possible value for z-normalized Euclidean distance, which is `2*np.sqrt(m)`, because the only difference here is the constant ratio. Furthermore, it makes sense that to normalize each MP based on the highest possible distance.

For non-normalized Euclidean distance, we can say the `ED_max =

[2022-01-07 14:34] seanlaw commented on #441
@Ninimama If you look at the Pearson notebook, you'll see that there are three scenarios relating to correlation (uncorrelated - `r=0`, perfectly correlated - `r=1.0`, and anti-correlated - `r=-1.0`). Technically, it is possible for two subsequences to be perfectly anti-correlated and have a distance that is `2 * sqrt(m)`. However, in practice, it is (nearly) impossible for a matrix profile distan

[2022-01-08 07:14] Ninimama opened #514 "Error in using `core.apply_exclusion_zone` : non-precise type array"
I used `core.core.apply_exclusion_zone` on the array `P=mp[:, 0]`, where `mp` is output of `stumpy.stump`. I got the following error:

[code]
After some investigation, I realized that it can be resolved by just reconstructing `P` as follows: `P = np.array([x for x in P])`.

However, this extra step does not change the type or shape of the array. So, I don't know the reason for such behavior.

[2022-01-08 16:28] seanlaw commented on #514
@Ninimama Can you please confirm that you've already pulled the latest version from `main` into your branch?

[2022-01-08 16:32] seanlaw commented on #514
I think the issue is that ` mp[:,0]` still have dtype `object`. So, you should try ` P = mp[:,0].astype(np.float64)` and then I think the apply_exclusion_zone will work

[2022-01-08 19:21] #514 closed

[2022-01-08 19:21] seanlaw commented on #514
@Ninimama Would you mind pulling the latest version and trying again?

[2022-01-08 20:07] Ninimama commented on #514
I thought `dtype` is reflected in `type()`. So, I just checked `type()` and thought things were good.

I pulled the latest version (and re-setup STUMPY and merge it to my branch). It is working when I change its dtype as you suggested `mp[:, 0].astype(np.float64)`.

FYI: I am still getting error if I want to just use `mp[:,0]` with `dtype=object` and the **error message** is good!!!

[2022-01-08 20:11] seanlaw commented on #514
@Ninimama Great! Hopefully, this is sufficient?

[2022-01-08 21:39] seanlaw commented on #441
@Ninimama Based on the discussion above, I investigated how much the pan matrix profile would be changed if we normalized using `2 * sqrt(m)` (anti-correlated) instead of `sqrt(2 * m)` (correlated) and saw no visual difference. Thus, I have now updated `stumpy.stimp` to normalize using `2 * sqrt(m)` (anti-correlated)!

I think `2 * sqrt(m)` is much more obvious and intuitive and `2 * sqrt(m)` caus

[2022-01-09 01:38] Ninimama commented on #514
Yes. Thanks for taking care of it!

[2022-01-09 02:00] seanlaw commented on #509
@Ninimama I wasn't able to find anything out of the ordinary but I have some observations based on your example data:

1. I don't know how much `normalize=False` affects the snippets
2. The three snippets simply overlap too much and there doesn't seem to be any snippets that would represent the data better than the others:

![download-9](https://user-images.githubusercontent.com/7473521/148666254-

[2022-01-09 02:09] Ninimama commented on #441
@seanlaw
Thanks for the investigation!! I checked the commit. Nice explanation!
---

**Btw, based on my understanding, I think:**

 `sqrt(2 * m)` is for uncorrelated case (please note that `perfectly correlated` gives distance of `0`. Just think about two exactly similar subsequences!).
If you think that is correct, you may want to revise the pearson notebook as well.

I provided the page 3 of [th

[2022-01-09 02:33] seanlaw commented on #441
@Ninimama Yes, you're right! I misspoke. I'll update the Pearson notebook accordingly.

[2022-01-09 02:44] Ninimama commented on #509
Thanks a lot for your effort! As you mentioned, maybe the root of this issue is coming from my data. Because, in the paper, they showed the effectiveness of snippets in discovering summer and winter of electricity demand, and the data they showed had two clear segments. However, visually speaking, we cannot say such thing for my data.

(Just to confirm, did you plot each snippet for the whole leng

[2022-01-09 03:10] seanlaw commented on #509
Possibly the data but there might also be an (small?) effect of using `normalize=False`

No. I'm not sure what that does? I don't think that the entire length of a snippet must be used

Please do but also feel free to choose better colors :)

Great! I updated my regime bar code above to follow the same approach

I agree

Yes, please.

[2022-01-09 03:27] Ninimama commented on #509
I meant I didn't understand how you got three different patterns (as you showed in the figure above), all with length 8000?
Because each regime contains a particular-shape snippet at different locations (time stamps). Would you mind help me figure out what that three patterns are?

[2022-01-09 03:40] seanlaw commented on #509
Yes! Exactly

[code]

According to the paper, a snippet is representative of the region if the  area under the profile is close to zero. So, by plotting the profile, I wanted to see if there were any clear/unambiguous "winners" that would be representative. However, all three snippets are basically overlapping, which suggests that there aren't any obvious representatives.

At least, that is my int

[2022-01-09 03:53] Ninimama commented on #509
I see what you meant now! I think your observation makes sense.

Thanks a lot for your effort on this! Appreciate it! I am going to close this issue now.

[2022-01-09 03:53] #509 closed

[2022-01-12 02:10] seanlaw opened #517 "Suppress TBB Warning"
On various systems, we're seeing the following warning:

[code]

This happens only when `njit` and `parallel=True` is turned on. To be clear, this is only a warning and NOT an error. One way to catch and suppress this warning is:

[code]

[2022-01-13 14:58] seanlaw opened #518 "Add Top-K Motif Discovery Tutorial"
Demonstrate the use of `stumpy.motifs` and `stumpy.match`

[2022-01-13 15:04] seanlaw commented on #518
In the paper, it says:

and washing machine. The data was collected from April 19, 2014 to May 15, 2014, where the length is 17,000. The subsequence length was set to 4 hours.

Cross referencing the cleaned version of the [REFIT dataset](https://pureportal.strath.ac.uk/en/datasets/refit-electrical-load-measurements), it was found that only "CLEAN_House3.csv" [in the "Access Dataset > REFIT Power D

[2022-01-15 02:08] #504 closed

[2022-01-15 18:02] #211 closed

[2022-01-15 19:43] dylanjprice commented on #190
Hi @seanlaw and @GouravWadhwa. I hope you haven't been working on this recently Gourav because I decided to try to implement it. Let me know what you think Sean, it took a while to check for any off-by-one errors but it seems correct. The only issue is that there will be 0-5 random distances that differ from comparison to STUMP/STOMP every time it's computed. No idea what's causing this; could it

[2022-01-15 20:35] seanlaw commented on #190
@dylanjprice Welcome to the STUMPY community and thank you for sharing this! Would you be able to put this code into a Jupyter notebook and then submit it as a PR for review as a "Notebook Reproducer"?

It would also be great if you could use your implementation to see if you are able to reproduce [Figure 7 in their paper](https://conferences.computer.org/icde/2020/pdfs/ICDE2020-5acyuqhpJ6L9P042wm

[2022-01-17 21:00] seanlaw commented on #424
@asifmallik Closing this for now. Feel free to reopen when you are able to find some time

[2022-01-17 21:00] #424 closed

[2022-01-19 10:43] Ninimama opened #520 "Improve Docstring of `aamp_match`"
In `aamp_motifs.py`: The docstring of  `aamp_match` does not provide information on  `T_subseq_isfinite` and `T_squared`.

The missing info is available in the docstring of `_aamp_motifs`.

[2022-01-19 10:51] Ninimama opened #521 "Add parameter `T_subseq_isfinite` to `stumpy.motifs`"
I was wondering if we could add `T_subseq_isfinite` to the `stumpy.motifs`. It can then be used in  the following block of code in function `_motifs`:

[code]

[2022-01-19 12:05] Ninimama opened #522 "should we change the format of the output of `stumpy.motifs`?"
I was wondering if we could change the output of `stumpy.motifs` as I think it might give weird results in its current implementation.

**Example:**
[code]

Gives the following output:

[code]

I think it would be nice to use `-1` instead of repeating a motif index.

[2022-01-19 12:17] #520 closed

[2022-01-19 12:21] seanlaw commented on #521
@Ninimama I'm not sure what you mean? z-normalized functions like `stumpy.motifs` don't use `T_subseq_isfinite` anywhere. Only non-normalized methods use `T_subseq_isfinite`. What you please explain what you are you trying to accomplish?

[2022-01-19 12:28] seanlaw opened #523 "Suppress OMP Warning"
On Apple M1, is is common to see this warning:

[code]

This may be suppressed by setting `os.environ['KMP_WARNINGS'] = 'off'
` as in the following.

[code]

Note that you must set os.environ['KMP_WARNINGS'] = 'off' BEFORE importing numpy. Otherwise, you will still see

[code]

[2022-01-19 12:40] seanlaw commented on #522
@Ninimama I am wondering if this is a small bug. With `max_motifs=5`, this means that at most `5` motifs will be returned (i.e., `5` rows). However, if there are no new motifs, then I would've expected only the first two rows to be returned. It should not be possible for a motif located at index `0` to be identified again as a motif since its distance should've been set to `np.inf`

[2022-01-19 13:49] Ninimama commented on #522
I took a quick look at the code but couldn't figure it out. I can try again if you are busy with other things.

[2022-01-19 14:15] seanlaw commented on #522
I might be able to get to it by the end of the day. Are you currently using this for something or were you just exploring? When I say "bug", I really mean that it needs to break after 2 motifs (assuming there are truly only 2 motifs that meet the criteria).

[2022-01-19 16:59] seanlaw commented on #522
Okay, I see the issue. When you use `cutoff=np.inf` this is cause this line to be `False`:

https://github.com/TDAmeritrade/stumpy/blob/58adc79b4085c73dc7a781cdef094c10db9a1845/stumpy/motifs.py#L101-L102

However, if you switch to setting `cutoff=np.finfo('d').max` then this should produce the expected behavior of only returning the correct (one) motif. I will patch this edge case

[2022-01-19 17:11] #522 closed

[2022-01-19 18:41] Ninimama commented on #521
Didn't know that. My case is for non-normalized distance though. I was trying to find each motif (and their matches) and then exclude them and their trivial matches, and then iterate through the process (i.e. finding the next motif) till I cover the whole time series.

I know that the function `_aamp_motifs` has a similar concept:
[code]

However, if I understand correctly, we here apply exclusion

[2022-01-19 19:18] seanlaw commented on #521
If you are dealing with query matching, have you looked at the `stumpy.match` function? It's a bit hard for me to understand what it is that you want to accomplish without more information.

[2022-01-19 19:36] Ninimama commented on #521
**Please let me know if this explanation helps.**

This is what I am trying to achieve: Given a time series `T` (and there is no query Q), I want to get the very-top motif and their top-k matches. Then, I wan to get the next motif. However, I want to completely ignore the previously-discovered motif (i.e. I do not want it to affect the matrix profile `P` in the first place. In other words, I want

[2022-01-19 21:24] Ninimama commented on #521
@seanlaw
Is that okay if I move it to discussion for now?

[2022-01-25 14:26] seanlaw opened #528 "Inline Numba Functions"
For `numba` functions like `core._calculate_squared_distance` and `core. _calculate_squared_distance_profile` consider setting `inline="always",`

[2022-01-27 10:16] vaish-muk commented on #251
take

[2022-01-27 10:18] vaish-muk commented on #251
Can I please work on this? is this still open?

[2022-01-27 11:14] DanBenHa commented on #251
@vaish-muk
Sure, go for it!
I'd love to contribute more to this project but am currently busy with other stuff...

[2022-01-28 04:34] #186 closed

[2022-01-28 05:56] Ninimama commented on #186
@seanlaw
Do you mind if I go through this topic in my free time and see if  I can shed some light onto this (if there is still vagueness)? Since you already go through the materials, could you please let me know what paper/website/slide I should read first?

[2022-01-28 12:28] seanlaw commented on #186
@Ninimama Thanks for your inquiry. This has just been resolved and closed by 9fd6c6961ee78528f38613071f48468d9115f1ad.

[2022-01-28 13:49] seanlaw commented on #523
Unfortunately, this cannot be fixed in STUMPY since users can still import `numpy` first, which initilizes OpenMP. One needs to:
[code]

[2022-01-28 13:49] #523 closed

[2022-01-28 15:14] SaVoAMP commented on #518
Hey!

Since we were discussing this topic in detail [here](https://github.com/TDAmeritrade/stumpy/discussions/494) and have already generalized the multidimensional motif discovery to finding the top k motifs and top k nearest neighbors, I would like to help with this tutorial!

[2022-01-28 17:38] vaish-muk commented on #251
Created pull request https://github.com/TDAmeritrade/stumpy/pull/532 , please review

[2022-01-28 19:01] seanlaw commented on #251
@vaish-muk Welcome to the STUMPY community and thank you for taking the time to contribute!

[2022-01-28 19:03] seanlaw commented on #518
@SaVoAMP Sounds good! I will assign it to you

[2022-01-28 19:07] seanlaw commented on #187
@SaVoAMP [said](https://github.com/TDAmeritrade/stumpy/discussions/494#discussioncomment-2066997):

@SaVoAMP Maybe you'd be open to tackling this first? So, this would be adding multi-dimensional support to `stumpy.motifs` and `stumpy.match`

[2022-01-28 20:00] seanlaw commented on #186
@Ninimama Please feel free to start a new Discussion if you would like to talk about it and learn more.

[2022-01-29 11:42] SaVoAMP commented on #187
Sure, I could try!

So you want that the already existing functions can be generalized to the multidimensional case somehow? Or do you want something like `stumpy.Mmotifs` and `stumpy.Mmatch` that is only working together with `MStump`?

And how should I proceed then? Should I open a new Python script or write into the predefined functions  and add a variable like `multi_dim` that is `False` per d

[2022-01-29 20:08] seanlaw commented on #187
So, instead of forcing ourselves to perfect things upfront, I think it would be more pragmatic to simply work on writing an analogous, `stumpy.Mmotifs` and `stumpy.Mmatch` function that resemble the logic of `stumpy.motifs` and `stumpy.match` as close as possible. I think that once we see those functions then we can move toward integrating them together if it makes sense. However, if it doesn't ma

[2022-01-30 12:51] SaVoAMP commented on #187
Alright, I will start today with the `stumpy.Mmotifs` function and will then continue to work on it whenever I have some time besides phyics! After my last exam in February at the latest, I will have enough time to work on it.

[2022-01-30 12:54] seanlaw commented on #187
Sounds good @SaVoAMP! Thank you for letting me know

[2022-01-30 13:03] seanlaw opened #533 "Modernize AAMP Functions"
Currently, there are several `aamp`-related functions/modules:

- [x] aamp.py
- [x] aamped.py
- [x] gpu_aamp.py
- [x] maamp.py
- [ ] maamped.py
- [x] aampi.py
- [x] aamp_motifs.py
- [x] aamp_ostinato.py
- [x] aampdist_snippets.py
- [x] gpu_aamp_ostinato.py
- [x] aampdist.py
- [x] aampdisted.py
- [x] gpu_aampdist.py
- [x] scraamp.py
- [x] Add `exclude=["normalize", "p"]` to all complementary normal

[2022-01-30 13:09] SaVoAMP commented on #187
Stupid question: "Where can I find the development branch?" 😄
I only see the main branch there.

[2022-01-30 13:40] seanlaw commented on #187
Not a stupid at all (and likely something we should clarify in the contribution guide)! So, the "development version" is what currently sits at https://github.com/TDAmeritrade/stumpy. So, this is the latest most up-to-date version that is actively being developed. You've forked this development version (which is a copy of the entire repository and this fork sits in your personal space) and so you

[2022-01-30 14:43] SaVoAMP commented on #187
Ahh, I think I have already done it, but didn't recognize that `stumpy.mdl` is located in `mstump.py`. I was searching for it under `stumpy` and have therefore thought that I have done something wrong.
Thank you!

[2022-01-30 16:36] alvii147 opened #534 "Dev Tutorial for STUMP Tiles"
We should have a tutorial for devs that outline everything relevant for the STUMP Tiles algorithm, described in issue #248 and outlined in PR #463. It should demonstrate how the algorithm works and how it leverages cache, as well as provide the performance comparisons with STUMP.

[2022-01-30 21:38] SaVoAMP commented on #187
Today I finished the first short version of `Mmotifs` using MDL.

I don't know why, but I get different results when I try to find `k` manually and compute the subspace with `stumpy.subspace` afterwards and then I tried to find `k` and the subspace with 'stumpy.mdl'.

![grafik](https://user-images.githubusercontent.com/95933072/151718799-4c01c939-acd5-44fd-947b-5524c1fc9b80.png)

If I manually com

[2022-01-30 22:17] seanlaw commented on #187
So, I did make a change to `stumpy.subspace` so, given the same `subseq_idx` and `nn_idx`, it should match the subspace output for `stumpy.mdl` (though, you would need to select the `k`th dimension from the MDL subspace output). For your awareness, the MDL computed subspace first takes each pair of multi-dimensional subsequences and applies a discretization function to them that converts the z-nor

[2022-01-31 12:50] seanlaw commented on #533
@vaish-muk I will need to put some time into thinking about how we'd replace `QT`. It appears that what we need is to keep track of `D_squared` (i.e., if I understand correctly, in general, this is the part of the Minkowski "distance" without the `p`th root applied) computed in the previous iteration (and without any exclusion zone applied). The good thing is that all of our unit tests should stay

[2022-01-31 13:57] seanlaw commented on #187
@SaVoAMP

https://github.com/SaVoAMP/stumpy/blob/defdff4666cc61ef0707c82ccd5e2d2d08db8557/stumpy/Mmotifs.py#L50

Should this be `m = T.shape[1] - P.shape[1] + 1` (instead of `T.shape[0]`) since `T.shape[0]` are the total number of dimensions and not related to the subsequence length?

-----

https://github.com/SaVoAMP/stumpy/blob/defdff4666cc61ef0707c82ccd5e2d2d08db8557/stumpy/Mmotifs.py#L101

Aft

[2022-01-31 14:02] SaVoAMP commented on #187
Ahh ok, I didn't notice and therefore I was using the `stumpy.subspace` function of the latest release and not of the development version and compared it to the MDL approach of the development version.

When using both in the development version I obtain the same subspaces. Does that mean that there was a mistake in the verison that is currently available and I get wrong outputs there?

[2022-01-31 14:10] SaVoAMP commented on #187
I was a bit confused because T had shape (n, d) but P had shape (d, n-m+1) and I wanted to get the length of both and not of the dimensions. Maybe we kneed some kind of case query here? But I don't know how we could be sure which is the dimension and which the length. Of course in the most cases the length will be longer as the dimensions, but I don't know if we can generalize that.

[2022-01-31 14:25] SaVoAMP commented on #187
Isn't it possible to write `P[k, :]` instead of `P` then? Like we have done it with the Distance Profile in order to find the nearest neighbors? But this won't be an option since the multidimensional Matrixprofile is not composed of stacked 1D matrix profiles?

[2022-01-31 14:30] seanlaw commented on #187
In this case is `T` a `numpy` array or a `pandas` dataframe? If it is the latter then we are missing an important step in `stumpy.motifs` that will convert all dataframes to its corresponding array (in the correct orientation) since dataframes have their dimensions swapped from numpy arrays. In STUMPY, we always assume that we are dealing with numpy arrays internally for all computations. Datafram

[2022-01-31 14:51] SaVoAMP commented on #187
Ahh all right! Thank you!
Yes, T is a dataframe. I will change it in the code!

[2022-01-31 14:54] SaVoAMP commented on #187
Wait a second. How can we write `T, M_T, Σ_T = core.preprocess(T, m)` if we are computing `m` afterwards and not before?

[2022-01-31 19:57] seanlaw commented on #187
But I could write this lines of code instead before writing m = T.shape[-1] - P.shape[-1] + 1,or?

Yes, I think what you've proposed should work. This is a rare chicken-and-egg problem 😄

[2022-01-31 20:06] seanlaw commented on #187
I don't know but this simple example doesn't seem to work:

[code]

However, this is is hacky, but should work:

[code]

I don't love it though and we should probably add an option to `apply_exclusion_zone` to accept a subspace parameter

[2022-01-31 23:04] seanlaw opened #536 "Add DataFrame Conversion to motifs and match"
At the start of `motifs` and `match` we should always apply:

[code]

So that DataFrames may be used as input

[2022-01-31 23:05] seanlaw commented on #187
I added a new issue for this #536

[2022-01-31 23:07] alvii147 opened #537 "Update py.test to pytest"
The `py.test` command is likely to be deprecated in the future in favour of the `pytest` command: https://github.com/pytest-dev/pytest/issues/1629

@seanlaw I'll leave it to your judgement whether or not we want to make this change. It's nothing more than just updating `test.sh`.

[2022-02-01 01:17] seanlaw commented on #537
Thank you @alvii147!

[2022-02-01 01:17] #537 closed

[2022-02-01 21:42] SaVoAMP commented on #187
![grafik](https://user-images.githubusercontent.com/95933072/152050901-aa0330b1-3217-4653-a37e-f6524e9e38ef.png)
Are you sure, that we don't want to apply the exclusion zone to all dimensions of `P` like it is so far?
The picture below is from the multidimensional matrix profile paper. They mention that the lower dimensional motif may or may not be a subset of dimensions in the higher dimensional

[2022-02-01 22:43] SaVoAMP commented on #187
I don't think that we can do it like this, since the single dimensions of the multidimensional matrix profile don't correspond to the separate time series of the subspace. According to your example where `subspace[1,3]` you would set the first and third dimension of the matrix profile to `np.inf` near the motif position, I think. But the first and thrid dimension of the matrix profile doesn't corr

[2022-02-02 00:41] seanlaw commented on #187
The picture below is from the multidimensional matrix profile paper. They mention that the lower dimensional motif may or may not be a subset of dimensions in the higher dimensional motif pair. But I think that it doesn't make sense to choose the lower dimensional motif as the second found multidimensional motif, if we have found the "same" motif in more dimensions before. Or what do you think? Th

[2022-02-02 00:55] seanlaw commented on #187
Okay, I think you have brought up an important distinction and I have been lazy/imprecise in my code. Many apologies! Technically, in the code above, I probably should have been clearer and wrote:

[code]

To be clear, I am no longer advocating for applying the exclusion zone to the subspace so this code is no longer relevant. But, hopefully, this is more accurate in terms of conveying my previous

[2022-02-02 13:40] SaVoAMP commented on #187
Yes, I think that would make sense to avoid any misunderstandings.

What would you say to this? (I meant D[k, :] instead of D[k] and distance profile instead of matrix profile, I am very sorry!)
I don't understand why setting `core.apply_exclusion_zone(D[k, :], motif_idx, excl_zone, np.inf)` is enough. Here I would do exactly what you wanted to do with the multidimensional matrix profile. Hence I

[2022-02-02 14:33] seanlaw commented on #187
Done!

I don't understand why setting core.apply_exclusion_zone(D[k, :], motif_idx, excl_zone, np.inf) is enough. Here I would do exactly what you wanted to do with the multidimensional matrix profile. Hence I would compute the subspace and set every dimension of the Distance Profile to infinity (near the starting position of the motif) that corresponds to the found time series dimensions in the c

[2022-02-02 15:35] SaVoAMP commented on #187
Yes, I would do it exactly as you described. But I am wondering if we did something wrong in the steps 7 to 9. I think we need to set the exclusion zone to all subspace dimensions as you mentioned in step 7. But currently I am doing the following that we already did in discussion #494:
[code]
I am wondering if we made a mistake here since I wouldn't set the exclusion zone to `D[k, :]` anymore. I w

[2022-02-02 18:46] seanlaw commented on #187
Yes, I see what you mean now. `D[k, :]` would be totally wrong as `k` is the "index for the dimension of interest". If `k = 1` (i.e., 2 dimensions are needed), then `D[k, :]` would only target the second row of `D` (i.e., just a single row) and nothing else. In fact, if the subspace computed from `stumpy.mdl`, namely `subspaces[k]`, targeted dimensions `[1, 3]` then we should be applying the exclu

[2022-02-02 19:03] SaVoAMP commented on #187
Super, perfect! Then I seem to have understood it correctly now (it helped a lot to visualize the procedure with the pseudo code of mSTAMP) 😄.
Then I try to implement the whole thing as discussed the days! Hopefully, we will have taken everything into account then 😅

I have to thank you for taking so much time to do this! I'm really learning a lot right now and understanding the multidimensional m

[2022-02-03 13:03] vaish-muk commented on #533
@seanlaw , I don't have access to an NVIDIA GPU

[2022-02-03 17:14] seanlaw commented on #533
@vaish-muk No worries. I will try to find some time to take a look and will report back once I make progress.

[2022-02-03 17:43] SaVoAMP commented on #187
I think we have another problem now :(

Now it isn't that easy to find the nearest neighbor index, since it is incorrect to write `motif_neighbors_idx = np.argmin(D[k, :])` for finding the next multidimensional match as we have done before.
I am not sure how to proceed now since `D[subspace]` would give us `k+1` different indices for the next match (before applying the exclusion zone to all subspa

[2022-02-03 18:38] seanlaw commented on #187
Your proposal sounds correct! Wow, you're REALLY understanding this stuff and I'm really excited for you! I'd bet that you may be one of only like 10 people in this entire world whose ever dug in this deep 😄

If you look at the `_mstump` function, it is essentially following your steps, except that it handles other additional things like adjusting the multi-dimensional distance profile to account

[2022-02-03 18:47] seanlaw commented on #187
Actually, on further inspection, there is already a (private) function in `mstump` that will do all of this work for you of computing the multi-dimensional distance profile:

https://github.com/TDAmeritrade/stumpy/blob/b6327fc18b6d31cc1ed099990569ea035f71ced7/stumpy/mstump.py#L541-L626

So, you give it all of the right inputs and it will spit back out the `D` that you need.

This wrapper (public)

[2022-02-03 20:12] SaVoAMP commented on #187
Thank you!
Hmm, I am still wondering if this does exactly what we want. Let's imagine that we have a time series with `d=4` dimensions. And we found out that the motif is represented in `k=3` of these dimenisions. The `subspace` tells us, that the time series `T_1`, `T_2` and `T_4` contain the motif. So this function would (please correct me if I am wrong) compute the one dimensional distance prof

[2022-02-03 22:40] seanlaw commented on #187
@SaVoAMP I see your point and I think you are right! Is this what you were thinking?

[code]

If so, I wonder if all of this is already done for you in `stumpy.match`? I think that when @mihailescum wrote the `stumpy.match` function, he had anticipated multi-dimensional input as evidenced by:

https://github.com/TDAmeritrade/stumpy/blob/b6327fc18b6d31cc1ed099990569ea035f71ced7/stumpy/motifs.py#L40

[2022-02-04 10:20] SaVoAMP commented on #187
Yes, it looks like something I could need!

My main problem wasn't that I couldn't get it programmed, but that I wanted to make sure I got it right and could then implement it correctly. I didn't want to just do anything on my own now when I might have just had a thinking error (since we had done it differently during the discussions on multidimensional motif search), so I would check it off first

[2022-02-04 13:16] seanlaw commented on #187
Agreed. Your thinking seems sound and it appears consistent with what we had planned for before. It's been so long for me that I've forgotten a lot of the tricky nuance. Best of luck on your particle physics exam!

[2022-02-07 22:58] #251 closed

[2022-02-07 22:59] seanlaw commented on #533
Fixed in d3b68b4daf0fa76697c7b6aa17adb02591a75388

[2022-02-07 22:59] #533 closed

[2022-02-08 14:59] #536 closed

[2022-02-08 15:49] seanlaw commented on #528
Adding `inline="always"` causes compilation errors so we may revisit this in the future

[2022-02-08 15:49] #528 closed

[2022-02-09 10:57] hugo-pires opened #542 "Distance functions"
Hello and congratulations for your work

Is it possible to use other distance than the euclidean one? And, in your opinion, would it make any sense?

Thank you

[2022-02-09 12:58] seanlaw commented on #187
@SaVoAMP I hope that your exam went well! I just wanted to give you a heads up that a lot of changes were recently committed where `motifs.py` has been modified and `core.py` has new `core._preprocess` function that you may be interested in using. At your earliest convenience, you'll want to "fetch upstream" and pull the latest changes into your local branch (see [this section of the Contributors

[2022-02-09 14:54] SaVoAMP commented on #187
All right, thanks for the information!

yes, I'm just starting to understand again what I meant last time. But right now I am somehow completely confused and do not know at all what is still right and what not here (I have managed to completely confuse myself) 😅

[2022-02-09 17:13] seanlaw commented on #187
The short answer is "I don't know" but, currently, the default for both of these parameters is set relative to the data itself. So even if there are bigger and bigger numbers, `max_distance` and `cutoff` would be chosen relative to those bigger numbers. It'll never be perfect but it's a reasonably safe starting point. Am I missing something?

[2022-02-09 17:29] SaVoAMP commented on #187
Yeah, I saw that it is relative to the numbers but I don't know how to generalize it to more dimensions, especially for finding the motifs with `cutoff`. I think `max_distance` may be possible if I choose all dimensions where the motif is present, then take the average of those dimensions and the `max_distance` value would belong to the maximal distance of this averaged array (treating it as if th

[2022-02-09 18:12] seanlaw commented on #187
I agree with your explanation of how to use `max_distance` (i.e., essentially averaging across all of the relevant dimensions and then treating the averaged distances like a 1-D distance profile). For `cutoff`, how would you feel if we made it a bit more flexible like `max_distance` where a user could either:

1. Leave `cutoff = None` and either choose a single blanket value (computed from the cur

[2022-02-09 20:28] SaVoAMP commented on #187
Yes, that makes sense. Thank you!

With your approach for `cutoff` I am still not quite sure if I have understood everything correctly. I'll have to have a look at it in the next few days. I'll have to take a closer look at that the next few days. I'll first see that the function works with `max_matches` and then try to extend it with the other parameters.

You mean by each dimension the individua

[2022-02-09 22:20] seanlaw commented on #187
That is precisely what I mean. So, let's say that our multi-dimensional matrix profile was:
[code]

Then you'd compute three cutoff values (one for each row):

[code]

[2022-02-10 11:10] SaVoAMP commented on #187
`Mmotifs` seems to work now with the parameters `max_matches` and `max_motifs` [here](https://github.com/SaVoAMP/stumpy/blob/multi_motif_match/stumpy/Mmotifs.py).

I'll try to include the other parameters as soon as I can.

[2022-02-11 02:19] #456 closed

[2022-02-11 12:42] SaVoAMP commented on #187
Just added the `cutoff` parameter with the corresponding operations. In essence I calculate the parameter only once for each motif and its dimension (therefore not for all dimensions).

[2022-02-12 22:03] seanlaw opened #545 "Replace `while` Loops"
Currently, `aamp_motifs.py` and `motifs.py` both utilize a `while` loop but it would be safer to change this to a `for` loop

[2022-02-15 13:17] vbersier opened #546 "scipy.ndimage.filters is deprecated"
With `scipy 1.8.0`:

https://github.com/TDAmeritrade/stumpy/blob/3b29e622bd789736f15405abae2ec7acbc970135/stumpy/core.py#L12

[2022-02-15 14:12] vbersier commented on #546
`stumpy` is a second-level dependency of my project (first level being `tsfresh`) so no promises but if I get some time.

[2022-02-15 15:06] #546 closed

[2022-02-15 15:06] seanlaw commented on #546
Looks like it was an easy fix. Thanks again for bringing it to our attention @vbersier!

[2022-02-16 15:46] jmrichardson opened #547 "stumpy.motifs question regarding "cutoff" and "max_distance" parameter?"
Hi, I was hoping someone could help me better understand the "cutoff" parameter in "stumpy.motifs".  From docs:

[code]

I do understand that max_distance is the maximum distance that a motif can have to it's neighbor.  But I don't understand how cutoff is used.  Thanks for any help.

[2022-02-18 09:26] SaVoAMP commented on #187
I'm just looking how MDL works. Stupid question but why do we need to discretize the multidimensional subsequence and its nearest neighbor? Aren't time series discrete anyway since I only have a specific number of data points?

[2022-02-18 16:28] seanlaw commented on #187
Not stupid at all and let me preface my response with "I know very little about MDL and only enough to be dangerous so please don't take my answer as well thought out". As I understand it, the point of using MDL is to ask the question, "how well does the motif subsequence (or its sub-dimensions) represent its one-nearest-neighbor?" Or as the original MSTAMP paper puts it:

to be the true model. In

[2022-02-18 16:48] SaVoAMP commented on #187
Thank you very much for this detailed answer!

Today I was reading throgh all of the papers that you mentioned and some others as well. But I didn't understand WHY we need to discretize time series at all since I thought they already are. Your answer really helped!

[2022-02-26 00:58] seanlaw opened #551 "Parallelize `prescrump` and `prescraamp`"
Currently, `stumpy.prescrump` is single threaded. However, with some clever bookkeeping and engineering, it may be possible to parallelize this section of the code with `numba`:

[code]

With the new `core._sliding_dot_product`, which is `njit` enabled, should be able to parallelize this.

[2022-02-26 18:44] seanlaw opened #552 "Add Unit Tests for `mmotifs` and `aamp_mmotifs`"
The `mmotifs` and `aamp_mmotifs` features were recently added but they need unit tests to accompany them:

- [ ] <s>Add naive implementation for `mmotifs` and `aamp_motifs` in `tests/naive.py`</s>
- [ ] Add `pytest -x -W ignore::RuntimeWarning -W ignore::DeprecationWarning tests/test_motifs.py` to the `test_unit` function in `test.sh`
- [ ] Add `pytest -x -W ignore::RuntimeWarning -W ignore::Depre

[2022-02-26 18:47] #187 closed

[2022-02-26 18:59] seanlaw commented on #552
@SaVoAMP [had asked](https://github.com/TDAmeritrade/stumpy/pull/544#issuecomment-1052243504):

[2022-02-26 20:18] SaVoAMP commented on #552
All right, so how to implement functions naivly? 🤔
Can I then also start with the tutorial in parallel?

[2022-02-27 02:25] seanlaw commented on #552
@SaVoAMP I fixed this. Can you please pull and merge the latest commit to your branch?