[2020-05-12 15:17] seanlaw commented on #113
I like this as it is already better than what is currently in place. When I was coding up SCRUMP, I was actually thinking about adding a parameter that allows the user to provide the `orders` array and, if it is `None` then you just generate it and permute it. Of course, you'd have to ensure that the length is the correct length, the min/max is in the correct range. This would be helpful if the us

[2020-05-12 15:30] mexxexx commented on #113
Can you think of any scenario, where the user would need/want control over the orders?

[2020-05-12 15:45] seanlaw commented on #113
The short answer is "I don't know". I can dream up contrived scenarios where the user wants to reproduce the approximate matrix profile at a later date but this can still be done by setting the random seed before calling `scrump`. This is purely gut instinct and it doesn't have to be added.

[2020-05-12 18:07] seanlaw commented on #113
You know, I actually tried this originally and I couldn't seem to get the results to line up with the `stumpy.stump` results. If this works (i.e., matches `stumpy.stump`) then I would be happy to accept the PR as it certainly fits the bill. In fact, it's even better if you can figure out how to make this work for AB-joins as well 😄

[2020-05-12 18:28] seanlaw commented on #113
I just tried it again by replacing the components that you had mentioned above but my matrix profile didn't match `stumpy.stump`. I don't fully understand why

[2020-05-12 18:46] codyschank commented on #149
I've noticed in the comment above that you use `+` instead of `*`  That is a typo according to the formula I originally sent. Taking that into account, does that change your opinion of it being a good approach?

Looks like P is just a single number, not the distance profile. I think this follows the discussion from issue #166. So it doesn't seem like the code will work as is.

What I've done is ju

[2020-05-12 20:06] seanlaw commented on #149
Sorry for the typo. I still think that `distance * 2` still seems arbitrary and I would go with something like `distance + factor * stddev(mp)`. Maybe I'm misunderstanding but let's say that the majority of your matrix profile values were around 20 but your motif(s) had mp value(s) around 10 then you'd end up saying everything is a part of the same motif. Instead, if you computed the stddev(mp) an

[2020-05-12 20:14] seanlaw commented on #149
That last viz is super interesting! It's almost like you could do some sort of one-hot-encoding (or multi-hot encoding) for whether or not a motif exists in a given conversation. Kinda like:

[code]

And then you can train an ML model to classify each call

[2020-05-12 21:36] codyschank commented on #149
Thanks! Couldn't have gotten this far without your help. I am very happy with the results. I used the approach from matrixprofile-ts for the threshold, not your approach (yet). I tried the analysis on a larger set of conversations (n =100) and all it gave back was a single motif set of complete silence, where the distance between the sequences of that set was zero. I think your approach will help

[2020-05-12 21:39] codyschank commented on #149
This is definitely one approach I was thinking about, but there are even simpler approaches that don't involve any modeling. For example, just knowing the placement of a particular motif within a conversation will be useful.

[2020-05-13 00:23] #128 closed

[2020-05-13 00:24] seanlaw commented on #128
@mexxexx Your explanation helped me quickly identify that the change was pretty straightforward. The tests all passed now!

[2020-05-13 00:27] #125 closed

[2020-05-13 00:29] #98 closed

[2020-05-13 09:39] mexxexx commented on #166
I agree, that makes sense.

[2020-05-13 14:21] seanlaw commented on #163
@mexxexx Here are some links:

[Google Colab GPUs](https://tiny.cc/stumpy_colab)
[Suffix Array Library](https://github.com/louisabraham/pydivsufsort)
[Suffix Array YouTube Playlist](https://www.youtube.com/watch?v=zqKlL3ZpTqs&list=PLDV1Zeh2NRsCQ_Educ7GCNs3mvzpXhHW5)

[2020-05-13 17:30] codyschank commented on #149
I broke up long blocks of silence with nan values and got some really interesting results. This is for a set of 100 conversations. I also increased the radius to 3, and am still using the approach from matrixprofile-ts. Experimented a bit with your suggestion, but couldn't get good results. Probably just a matter of coming up with the right formula and parameter inputs. I'd like to try to read som

[2020-05-13 19:35] seanlaw commented on #149
These are some pretty convincing results! Have you also played around with different window sizes? Are the results still similar? When you say "Experimented a bit with your suggestion, but couldn't get good results", what would be a "bad" result? IIUC, you compute the motifs first (this is independent of the threshold) and then you go searching for other subsequences that are "close" to a given mo

[2020-05-14 11:15] mexxexx opened #171 "Add AB joins for SCRIMP"
A reference/discussion for adding AB joins for SCRIMP (`stumpy.scrump`).

This can be done without changing much, we only have to keep in mind to calculate the whole distance matrix instead of the upper triangle.

[2020-05-14 11:47] mexxexx opened #172 "Process getting killed at compute_mean_std"
When I want to compute a large matrix profile and don't have enough memory to compute mean and standard deviation (as we saw, especially the second operation is very memory consuming), the stumpy process gets killed. It should throw a MemoryError, but apparently (I'm on Ubuntu) this doesn't happen, see here: https://stackoverflow.com/q/52248531

Therefore, I would appreciate a possibility to pass

[2020-05-14 13:39] seanlaw opened #173 "Add SCRIMP++ Test"
Essentially, we need to add a proper `naive_prescrump` tests

[2020-05-14 13:40] seanlaw commented on #173
@mexxexx This is here for your reference

[2020-05-14 13:45] seanlaw opened #174 "Replace `utils.naive_mass` with `utils.naive_stamp` in remaining unit tests"
Essentially, thanks to the refactoring done by @mexxexx (to add `utils.naive_stamp`), unit tests that uses `utils.naive_mass` to do:

[code]

can now be replaced with the much nicer:

[code]

[2020-05-14 13:50] seanlaw opened #175 "Update SCRUMP Function Docstrings"
Some of the docstrings need to be cleaned up according to the [PR comment](https://github.com/TDAmeritrade/stumpy/pull/170#pullrequestreview-410784752)

[2020-05-14 14:16] seanlaw commented on #175
@mexxexx I've invited you to be an "external collaborator" for this repo so that I can assign issues to you more easily. It's my first time trying it so please excuse/forgive the noisy emails until I figure things out.

[2020-05-14 14:47] seanlaw commented on #171
I'm really excited about this!

[2020-05-14 14:53] seanlaw commented on #172
I'm digging into this a little. IIUC, it appears that the Linux kernel detects OOM and then sends a `SIGKILL` to the Python process?  And there's no way to catch a `SIGKILL`.

Usually, Linux allows some level of "spill-over" from memory to disk when memory is running out. Is this an option?

I'm open to exploring solutions though. What I want to avoid is OS-specific code but I understand that your

[2020-05-14 15:08] seanlaw commented on #174
The refactoring was completed in [this PR](https://github.com/TDAmeritrade/stumpy/pull/170)

[2020-05-14 15:46] mexxexx commented on #172
I have a 2GB swap file, but even with this I run into problem. I don't think that's a viable solution, because I don't want to alter my system only to run stumpy (and if my time series increases, I might have to do the same thing again).

I agree on not having os specific code in the library, that why I think giving the user control with a setting makes sense. (Maybe bundle it into a settings clas

[2020-05-14 18:19] codyschank commented on #149
Have not played around with the window size, but that is definitely something I will try.

Bad results for me are when no interesting motifs are returned (just blocks of silence for example). I think I might know what was going on now. There must be a bug with the max_motifs setting in that function. I never get back as many motifs as the max, always a couple less. When I was experimenting with yo

[2020-05-14 18:51] seanlaw commented on #172
Understood. How soon do you need this? I’d like to do some research on this and present some possible options

[2020-05-14 20:17] mexxexx commented on #172
Yes don't worry, we should find a solution that works in the long term and until then I can just modify the code myself.

Maybe you could have a look at how pandas implements it's options (pd.set_option I think), as that seems like a good approach for global settings.

[2020-05-14 20:17] mexxexx commented on #175
Thanks, I'll look into it tomorrow!

[2020-05-15 00:08] seanlaw commented on #172
Okay, I did a little research and am learning that the proper way to [share variables across modules](https://docs.python.org/3/faq/programming.html#how-do-i-share-global-variables-across-modules) is through a `config.py` file. I think this is a clean and simple way to handle things. So, we create `stumpy/config.py` file and in it:

[code]

[code]

[code]

I see the same thing (i.e., use of `confi

[2020-05-15 08:06] mexxexx commented on #172
Yes, I think that would be great!

[2020-05-15 11:07] seanlaw commented on #172
After sleeping on it, I don't like that in:

[code]

`num_chunks=config.STUMPY_MEAN_STD_N_CHUNKS` is not explicit. But if I change it to:

[code]

which means that "globals always overrides locals". What do you think?

[2020-05-15 11:14] mexxexx commented on #172
I think that may be confusing since we have the same thing in two different places. Maybe completely remove the `num_chnunks` argument, to not confuse useres with chunks when they only try to compute mean and stddev? I think the user should have to think about function internals as little as possible, and if he really needs control he should be able to set an option variable.

[2020-05-15 11:50] seanlaw commented on #172
I see. I like your suggestions and will go with what you proposed. It’s such a subtle thing and really only advance users such as yourself should care. For 99.9% of the cases, the default of `num_chunks=1` should be sufficient.

I will try to incorporate this and test it today

[2020-05-15 12:00] mexxexx commented on #172
Or users wiithout enough RAM :smile:

[2020-05-15 14:25] #172 closed

[2020-05-15 14:28] seanlaw commented on #172
@mexxexx Would you mind testing it out and re-open if it isn't fixed?

There are three global variables now:

[code]

Note that it is `STUMPY_MEAN_STD_NUM_CHUNKS` and not `STUMPY_MEAN_STD_N_CHUNKS`

[2020-05-15 14:31] mexxexx commented on #172
Thank you, I will!

[2020-05-15 14:49] #171 closed

[2020-05-15 14:54] seanlaw commented on #166
@mexxexx Do you think you could provide a checklist on the steps that you think are necessary to get this to work? And then, I could try to take a stab at it and report back if I encounter any challenges

[2020-05-15 15:36] seanlaw commented on #174
I am working on this

[2020-05-15 18:16] #174 closed

[2020-05-15 19:50] seanlaw commented on #173
@mexxexx I really like your idea of building the entire distance matrix first and then cherry picking the distances needed to create a `naive` implementation! I plan to use the same approach for testing `prescrump`

[2020-05-16 09:49] seanlaw commented on #173
I have made some progress and added back the `prescrump` test along with a `naive_prescrump`. It seems to be fine for self-joins and with different `s` size

I still need to write the tests for an AB-join. Again, your idea for creating a distance matrix has greatly simplified the testing so thank you for that wonderful gem!  Have a wonderful vacation.

[2020-05-16 10:38] mexxexx commented on #173
That's great! But I would change the `for s in range(1, zone+1)` part, because in the `m=3` case you only test for `s=1`. Maybe add a new test case with a longer sequence and a slightly larger window.

[2020-05-16 11:04] seanlaw commented on #173
Indeed, you probably missed it but I had split that part out and also tested larger values of `s` in `test_prescrump_self_join_larger_window` which should be right below the test that you were looking at

[2020-05-16 21:16] #175 closed

[2020-05-17 01:38] seanlaw opened #177 "Add Annotation Vector Tutorial"
Here's the [original paper](https://www.cs.ucr.edu/~eamonn/guided-motif-KDD17-new-format-10-pages-v005.pdf)

[The accompanying site, code, and data is here](https://www.cs.ucr.edu/~hdau001/guided_motif_search/)

Here is the [KDD 2017 Talk](https://www.youtube.com/watch?v=GCTzJRQkLjU)

[2020-05-17 07:43] mexxexx commented on #173
Ah, great! Yes I didn't see that

[2020-05-18 01:20] seanlaw opened #178 "Inconsistent test for SCRUMP"
Following the notation of the original matrix profile papers, an AB-join involves taking "queries" from time series `T_B` (i.e., `Q = T_B[i : i + m]`) and comparing it to all subsequences in `T_A`. So, the output matrix profile should be of length `l = n_B - m + 1`. In STUMPY, we try to follow and adhere to this notation for consistency. However, the `naive_scrump` in `tests_scrump.py` is:

[code]

[2020-05-18 01:21] seanlaw commented on #178
@mexxexx Would you mind taking a look when you have time?

[2020-05-18 09:52] mexxexx commented on #178
When I implemented the code I did it exactly the way you suggested, but the matrix came out Transposed of what I thought it should be like.

Maybe we should try to change it, but i don't know how this would affect AB joins

[2020-05-18 10:54] seanlaw commented on #178
Yeah, I saw the same thing when I tried to flip it and I don’t understand it either. However, do you agree that, from a syntax standpoint, that line is incorrect/backwards?

[2020-05-18 12:13] mexxexx commented on #178
I agree. Two alternatives are either to transpose the matrix, but then it would raise the questions as of why, or second to reimplement it. However, then I think that some logic has to be changed and I don't know how consistent it is with the paper (I think you then would actually compute the lower triangle of the distance matrix).

[2020-05-18 13:55] seanlaw commented on #178
Okay, I will think about it for a bit. Considering that the `scrump` produces the same output as `stump` for AB-joins, this suggests that the problem may simply be in unit test (which might be an easier fix). I will report back on what I find but I wanted to make sure I wasn’t thinking about `T_A` and `T_B` incorrectly. Thanks for being my [rubber ducky](https://en.m.wikipedia.org/wiki/Rubber_duck

[2020-05-18 19:24] mexxexx commented on #178
You're welcome :smile:

I also think its only the unit test, and its just ab little bit unintuitive. But it might be a good idea to have a `test_naive_scrump` method where we compare its output to the output of STUMP, to be on the safe side.

[2020-05-19 01:24] seanlaw commented on #178
After doing:

[code]

Right now, I am stuck on the pre-processing steps `naive_get_max_order_idx` and `naive_get_orders_ranges`. I'm trying to keep the argument list the same but flip the `n_A` and `n_B` within these two function but I can't see to get the tests to pass.

[2020-05-19 12:47] seanlaw opened #179 "Remove Caption in tutorials.rst"
In the `docs/tutorials.rst` file:

[code]

The `:caption: Tutorials` can be removed. Otherwise, "Tutorials" is printed twice in succcession

[2020-05-20 15:50] robertsd opened #180 "Support the three types of mSTAMP queries from paper Matrix Profile VI"
Thank you for developing and maintaining the stumpy project as it has been very useful. I have a use case that requires a "constrained search" on multivariate time series, such that I have at least one variable that must be included in the motif search. Constrained Search is one of three types of search discussed in the paper Matrix Profile VI, the others are Guided Search and Unconstrained Search

[2020-05-20 17:28] JaKasb commented on #166
In `core.sliding_dot_product()`
https://github.com/TDAmeritrade/stumpy/blob/bc5b81c99aea6e43544432404eb0b483b199235e/stumpy/core.py#L756

FFT based convolution fails, if a single entry is `NaN` or `inf`
Direct convolution works, but is slower than fftconvolve

[2020-05-20 17:36] seanlaw commented on #180
@robertsd Thank you for your feedback and for taking the time to submit this feature request!

So, it's been a while since I had implemented "our flavor" of mSTAMP (see `stumpy.mstump` and `stumpy.mstumped` for the distributed version). Can you tell me if you've already been using these functions? Essentially, they are the "faster" STOMP-based implementation of mSTAMP for computing the matrix prof

[2020-05-20 17:46] seanlaw commented on #180
I have some initial thoughts and questions:

1. Assuming that we have some `include` list that contains a zero-based indexing of the dimensions (i.e., if we have 5 dimensions or 5 times series then we can "include", say, the the even numbered dimensions by providing the list `include = [1, 3]`). So, you could call `stumpy.mstump` with something like `stumpy.mstump(T, m, include=[1, 3])`. How does

[2020-05-20 18:08] seanlaw commented on #166
@JaKasb Thanks for pointing this out! Would it be sufficient to update `core.sliding_dot_product()` to:

[code]

[2020-05-20 18:43] robertsd commented on #180
Yes I have been using stumpy.mstump for analysis of this data already, after reading the mentioned paper. I just happen to have a case where it is important to constrain the search for motif to include an important dimension. While I am not super familiar with the algorithm guts I can perhaps review to determine how to implement it, mostly I wanted to find out if it might already be in the plans.

[2020-05-20 19:07] JaKasb commented on #166
I would write it as:
[code]
I dont understand why `np.convolve` operates on `Q` instead of `Qr` ?
I am not shure which `mode` to use in the convolution for the correct padding...
AFAIK `scipy.signal.convolve` returns real numbers for real-valued inputs. No need to access `QT.real`

By calling `scipy.signal.convolve` directly, one can remove the global variable `convolution`.
https://github.com/TDA

[2020-05-20 19:30] seanlaw commented on #180
Have you already tried `mstump` on this full M-dimensional time series already? I’m only asking since a dataset of that size will take quite some time to compute. For a ~200K length time series, it takes around 5 hours to compute the matrix profile on a modest 2 core machine. And extrapolating to 200 dimensions means it would take around (200 x 5 hours) 1,000 hours to compute the M-dimensional mat

[2020-05-20 19:38] robertsd commented on #180
I understand, I intended to start with small number of dimensions, I also have a GPU available. I am OK with official release being a month out! This would be fantastic!

[2020-05-20 20:05] seanlaw commented on #180
Awesome! I'm sure you are already aware but, to be on the safe side, there is no GPU support (yet) for `mstump` (i.e., everything has to be computed using CPUs) since the GPU matrix profile calculation (extreme multithreading) is "different" from the CPU implementation.

[2020-05-20 20:20] robertsd commented on #180
Understood..

[2020-05-21 01:45] seanlaw commented on #166
Oops, you're right. It should be `np.convolve` on `Qr` and not `Q`

There are two reasons for this:

1. We wanted to make sure that we were following the notation from the original paper
2. We had originally considered using PyFFTW, np.convolve, or scipy.signal.fftconvolve and so we opted to abstract this part out but, in hindsight, we could call the function(s) directly now that only one function

[2020-05-21 01:58] seanlaw commented on #166
Making sliding_dot_product compatible with NaN is not enough for computing the Matrix Profile.
In the row-wise minimum-reduction, the comparison must also be NaN aware.

@JaKasb I don't follow what is happening here. Would you mind elaborating? My data doesn't contain `NaN` so your experience and insight would be greatly valuable here.

Would you care to submit a PR to fix this current issue in a

[2020-05-21 06:31] mexxexx commented on #166
What do you think of having a separate module called `motifs.py` where we have an implementation of the k-top-motif search?

I would suggest the following:
* Leave core.mass as it is, because 8t does exactly what MASS was made for, i.e. finding the distance profile of a query.
* Rename stump.mass like you proposed
* In motifs.py have a function `find_occurences` (or something different) that does

[2020-05-21 06:38] mexxexx commented on #166
And maybe we can have a core.preprocessing function, that takes T, m and returns Tnew, meanT, sigmaT, that does all the nan/inf handling. Then we can replace redundant code in all the stump and stomp functions, and if a user wants to compute a distance profile of a time series containing nans he would do
[code]

[2020-05-21 06:40] mexxexx commented on #166
Or even better, if no mean and sigma of T are provided to core.mass (they are optional and computes if not passed), automatically call the preprocessing function first.

[2020-05-22 01:11] seanlaw commented on #180
I did a little digging/asking around and I think the simplest/cleanest solution would be something like:

[code]

@robertsd Do you think this is sufficient?

[2020-05-22 01:27] seanlaw commented on #166
I think this is a great idea as it really addresses the core issue which is users are trying to use mass to find patterns/motifs

Leave core.mass as it is, because 8t does exactly what MASS was made for, i.e. finding the distance profile of a query.
Rename stump.mass like you proposed
In motifs.py have a function find_occurences (or something different) that does the following:
Gets a query Q, tim

[2020-05-22 03:46] robertsd commented on #180
I don't think I could have done it better myself!

On Thu, May 21, 2020 at 8:11 PM Sean M. Law <notifications@github.com>
wrote:

--
“Do you pine for the days when men were men and wrote their own device
drivers?” - Linus Torvalds

[2020-05-22 07:47] mexxexx commented on #166
I think it would be enough to check if `M_Q[0]` is nan. We only do the setting to zero afterwards to handle the case that the first subsequence contains a nan value, and this is information is also stored in `M_Q[0]`.

[2020-05-22 20:18] seanlaw commented on #180
@robertsd I didn't see any implementation details regarding "Guided Search" beyond the description:

So, I'm guessing that this is simply accomplished by computing the full M-dimensional matrix profile and then the user explicitly chooses `k` (the number of dimensions) afterward.

As for "Unconstrained Search", this also seems to involve computing the full M-dimensional matrix profile and then app

[2020-05-22 20:34] #180 closed

[2020-05-22 20:37] seanlaw commented on #180
@robertsd The feature has been added for `mstump` and `mstumped` and you should see it in the next release. Feel free to open up a new issue (or re-open this one) if you have any more questions and we certainly welcome any contribution(s) in the future (even documentation).

[2020-05-23 02:03] seanlaw commented on #180
It turns out that we missed one crucial thing! When you provide a list of indices to include, one has to account for cases where one of the indices is in one of the first few rows. So, let's say we have an array and indices as shown:

[code]

If we followed our simple procedure above by first swapping the rows first then we'd get:

[code]

Instead, what we really want is indices `[1, 2, 4]` to be

[2020-05-23 02:21] seanlaw opened #181 "Fix Include Indices in MSTUMP and MSTUMPED"
Currently, an `include` array with index values that are smaller than the length of the `include` array will produce wrong answers.

[2020-05-23 02:29] #181 closed

[2020-05-23 02:31] #179 closed

[2020-05-23 02:35] seanlaw commented on #103
Consider adding an example of how to use the ["Inclusion" multi-dimensional motif search](https://github.com/TDAmeritrade/stumpy/issues/180)

[2020-05-23 02:40] seanlaw opened #182 "Rename utils.py to naive.py"
Currently, `utils.py` houses naive implementations of our algorithms for unit testing purposes. We should rename the file accordingly so that it is more explicit/obvious.

Then, everything should be referenced as `naive.name_of_function`

[2020-05-23 18:26] robertsd commented on #180
I see, nice catch! Thank you so much for working on this.. I did NOT expect
you to build this feature so quickly!

On Fri, May 22, 2020 at 9:03 PM Sean M. Law <notifications@github.com>
wrote:

--
“Do you pine for the days when men were men and wrote their own device
drivers?” - Linus Torvalds

[2020-05-23 20:10] seanlaw commented on #166
Sounds good!

[2020-05-24 22:14] mexxexx opened #184 "Create module for motif discovery"
What do you think of having a separate module called `motifs.py` where we have an implementation of the k-top-motif search?

I would suggest the following:
* Leave core.mass as it is, because 8t does exactly what MASS was made for, i.e. finding the distance profile of a query.
* Rename stump.mass like you proposed
* In motifs.py have a function `find_occurences` (or something different) that does

[2020-05-25 00:00] seanlaw commented on #180
Don’t mention it! Thanks again for submitting the feature request and please be sure to spread the word and share STUMPY with your network! 🙏

[2020-05-25 03:23] #178 closed

[2020-05-25 03:50] seanlaw commented on #171
[This PR](742babaefca827e898992663ac3d12bc74c7db8) fixes some of this to be consistent with having `T_B` containing the query subsequences

[2020-05-26 00:51] seanlaw commented on #173
This was fully resolved in 2742babaefca827e898992663ac3d12bc74c7db8

[2020-05-26 00:51] #173 closed

[2020-05-26 12:24] seanlaw commented on #168
@shfa5275 Do you think that all that is needed is to perform a column-wise descending sort (or, similarly, perform the regular ascending sort and then reverse the array)?

@mexxexx Do you have any thoughts about this?

[2020-05-26 13:15] shfa5275 commented on #168
@seanlaw, I think so, since discords have high matrix-profile values, they are the opposite of the motifs. But there seems a little problem here. In a $d$ dimensional time-series, there will be $d$ matrix-profiles, and consequently, there will have $d$ discord locations (assuming, for now, that only the location with the highest matrix-profile value is of interest). Of course, visual inspection is

[2020-05-26 15:15] seanlaw commented on #168
Great, I think I can add the reverse sort and include it in the next release.

Since I consider MDL to be a post-processing step, this may possibly be outside of the scope of STUMPY (which is to offer a way for the user to efficiently compute the matrix profile). I'll let @mexxexx chime in and he may be convinced to add MDL to [some enhancements that he is currently working on](https://github.com/

[2020-05-26 18:21] mexxexx commented on #168
Personally, I would like stumpy to include algorithms built on top of the MP, which is why I'm writing a motif discovery module. Of course, like this support of the library is more difficult, but I think it is nice to have a place where common algorithms are shared, so that you don't have to rewrite them from scratch. But, this is not my place to decide, but @seanlaw .

However, MDL and multi dime

[2020-05-26 18:42] seanlaw opened #186 "Add Minimum Description Length MDL Algorithm"
According to the [mSTAMP paper](https://www.cs.ucr.edu/~eamonn/Motif_Discovery_ICDM.pdf) one could use the "minimum description length" (MDL) algorithm to decide how many dimensions to select. It might be helpful to add this to STUMPY.

See Figure 6 and starting in the paragraph right above Figure 6. Additionally, see this [Matrix Profile III paper](https://www.cs.ucr.edu/~eamonn/PID4481999_Matrix

[2020-05-26 18:45] seanlaw opened #187 "Add M-dimensional Motif Discovery"
Given that there is [interest for 1-D discord/motif search](https://github.com/TDAmeritrade/stumpy/issues/184), it may be useful to have M-dimensional motif/discord search capabilities.

According to the last paragraph in Section IV E of the [mSTAMP paper](https://www.cs.ucr.edu/~eamonn/Motif_Discovery_ICDM.pdf):

in Section V.E.

So, this means that it is possible to find different motifs at the

[2020-05-26 18:45] seanlaw commented on #168
Thanks @mexxexx! First off, I want to explicitly state that I am open to suggestions and not be overly dismissive of ideas/scope. I agree that it would be super helpful to have a central place for algorithms (that build upon MP) to be shared. I was hoping that place would be in the tutorials section of our readthedocs page (in the form of Jupyter notebooks). Maybe it might make sense to have a "Us

[2020-05-26 20:28] mexxexx commented on #163
So about definition 13 in the mstomp profile: for the multidimensional profile you sort the distance profiles column wise, and by this lose the information in which order the distances where combined (i.e. for the two dimensional distance profile the two lowest distances are averaged, but if we have more than two dimensions in our time series, we lose the information about which dimensions played

[2020-05-26 20:29] mexxexx commented on #163
This isn't the greatest explanation, but maybe it gives a hint of why we need this information.

[2020-05-27 01:44] seanlaw commented on #163
Okay, thank you. This rings a bell.  So, it sounds like we'd need to replace the `D.sort(axis=0)` with `sorted_idx = np.argsort(D, axis=0)`, then store the indices that are associated with each number of dimensions, and then do `D = D[sorted_idx]`.  I vaguely remember this when I first implemented `mstump` and I avoided the subspace stuff because I couldn't come up with a good way to store this in

[2020-05-27 01:56] seanlaw commented on #163
Okay, it's not the best option but apparently you can do:

[code]

which gives:

[code]

[2020-05-27 14:37] #168 closed

[2020-05-27 14:39] seanlaw commented on #168
@shfa5275 This feature has been implemented now. Please feel free to re-open this issue if you have any questions on this, add discussions to the other MDL/search issues, or open up a new issue altogether.

[2020-05-27 15:53] #166 closed

[2020-05-27 17:07] mexxexx commented on #163
Wouldn't it be enough to return the results of `argsort`? In the example above we had the distance profile (`D_prime_prime`)
[code]
and the `argsort` results would be

[code]

So for the multidimensional profile, we look in each dimension for the lowest index (the matrix profile indices) and find `[0, 0, 0]` to be the indices for the given query. So we would have the matrix profile value (`P`) `[1

[2020-05-27 17:39] seanlaw opened #188 "Add Matrix Profile Subspace For MSTUMP/MSTUMPED"
Following **Definition 13** in the [mSTAMP paper](https://www.cs.ucr.edu/~eamonn/Motif_Discovery_ICDM.pdf) we can return a "matrix profile subspace"

[2020-05-27 17:40] seanlaw commented on #163
Of course! Thank you for saving me from overcomplicating things 😭

I've opened issue #188 for this.

[2020-05-27 18:42] seanlaw commented on #188
This is actually a little bit tricky when `include` is used since the `include` rows are being swapped and therefore the row indices are mixed up. This shouldn't be an issue when `include` is not used.

[2020-05-27 20:04] mexxexx commented on #188
Don't you also do some sorting with `include`? Shouldn't 8t be possible to just prepend the indices that have to be included?

[2020-05-27 20:59] seanlaw commented on #188
@mexxexx That's what I thought originally but `argsort` isn't smart enough to know that you are operating on the remaining array and ends up reseting the indices starting from zero. And it isn't enough to simply add a constant (equal to the `len(include)`) to the `argsort`'ed indices since the location of where the `include` indices are will affect the indices output from `argsort`.

Let's say one

[2020-05-28 00:37] seanlaw commented on #188
So, I actually track the displacement of the indices and I think it can be done trivially now.

None of this should affect the default case (i.e., no `include`). The `discords` case should be straightforward but care is needed with `include` added to it.

[2020-05-28 10:45] seanlaw opened #189 "Add NumPy Style Docstring Checking"
For consistency, we should add `flake8-docstrings` plugin and add this to `test.sh`

[2020-05-28 10:47] seanlaw commented on #189
@mexxexx FYI, this is coming.

I noticed that I had accidentally left out some docstrings in `mstump` and this will help check everything before unit tests are executed.

[2020-05-28 13:18] #189 closed

[2020-05-28 20:35] seanlaw commented on #188
Okay, I figure it out. For completeness and transparency, I'm leaving my tests (which all pass) here:

[code]

[2020-05-28 20:37] seanlaw commented on #188
And, yes, I did all of those computation by hand in order to compare it to the computed answer 😄

[2020-05-29 03:47] codyschank commented on #149
Quick update. I figured out how to run the algorithm without breaking up long silence blocks, and still get good results. @seanlaw  taking your approach with the threshold seems to have helped with that. I also figured out a way to deal with motifs crossing boundaries between two conversations. Currently, I've got some motifs that look like this

![image](https://user-images.githubusercontent.com/

[2020-05-29 11:37] seanlaw commented on #149
That’s great. Thanks for the update!

[2020-05-29 14:37] seanlaw commented on #188
@mexxexx I need your help making sure my conceptual understanding is correct.

Let's say we have an M-dimensional time series and, for a single subsequence, we compare this subsequence to the rest of the time series within its dimension and compute the Distance profiles:

[code]

Again, this is the distance profile for one subsequence from each dimension. And then you sort along each column:

[cod

[2020-05-29 15:14] mexxexx commented on #188
I think you mistyped something. The third column of `D_sorted` doesn't look right.

[2020-05-29 15:22] seanlaw commented on #188
Ooops. Updated

[2020-05-29 15:27] seanlaw commented on #188
Ooops. How about now?

[2020-05-29 15:35] mexxexx commented on #188
Initially, I thought of `D_sorted_indices[I]` too, so `S=[[2],[0],[1]]`.

However, seeing this example, this doesn't look right. To get the the matrix profile value of dimension 2 we would need to sum dimensions 1 and 0 at index 1, but looking at `S` in the current form, we would take dimensions 2 and 0... So it appears to be more complicated... I have to reread the definition...

[2020-05-29 17:33] codyschank commented on #149
My hunch about some of the problems I see with the motifs (i.e. the 'flat' motifs falling in different motif sets), is that it had something to do with normalization when calculating the distances between subsequences. I did a quick google search and this article came up:

https://link.springer.com/chapter/10.1007/978-3-030-40014-9_5

This leads to me the question, is there a way to calculate the

[2020-05-29 17:47] seanlaw commented on #149
We have an [existing issue](https://github.com/TDAmeritrade/stumpy/issues/127) that discusses this but it might be a while before it can be prioritized. Would you be interested in contributing?

[2020-05-29 18:01] codyschank commented on #149
Definitely! I've never contributed code to a package before, but definitely willing to give it a shot. What's the best way to get started? Clone the repo and start a new branch?

I haven't forgotten that I also offered to help with the MPDist Example :)

[2020-05-29 19:20] seanlaw commented on #149
Absolutely no pressure but we welcome the help. But, yes, clone+branch. I actually like the idea of throwing things into a Jupyter notebook first and possibly hashing out the ideas there and getting feedback. Then, we can think about how to incorporate it later (or maybe not). In the [existing issue](https://github.com/TDAmeritrade/stumpy/issues/127), it sounds like @mexxexx may have some ideas. W

[2020-05-30 01:41] #165 closed

[2020-05-30 09:59] mexxexx commented on #149
I think the referenced issue addresses a completely different issue, at least the implementation will be very different.

However, an unnormalized matrix profile might be interesting, but I can't say how difficult it is to implement, because the distance calculation would need to change quite a bit.

[2020-05-30 10:01] mexxexx commented on #188
After thinking about it, I think when the authors write "k-dimensional ..." They mean a fixed k. So in our case we would need `d` profile subspaces, one for each dimension. We could either return a list of subspaces or put them all in one array of dimension `d(d+1)/2`

[2020-05-30 12:02] seanlaw commented on #127
@mexxexx It looks like the original link no longer works and I’ve updated the think but unsure if it is pointing to the right paper. Do you happen to remember what the original paper is and if the updated link looks correct?

[2020-05-30 12:05] seanlaw commented on #188
Can you show me what a subspace for each of `k=1`, `k=2`, and `k=3` would be for my example above? And then what the `d(d +1)/2` might look like?

[2020-05-30 12:11] mexxexx commented on #188
In the example above we would have
`S=[[2],[1,0],[2,0,1]]` or `S=[2,1,0,2,0,1]`.
To be more general:
[code]

[2020-05-30 12:14] mexxexx commented on #188
Basically for each dimension `k` telling you, which dimensions were relevant for computing the `k`-dimensional distance profile of which `P[k]` is the minimum

[2020-05-30 13:07] seanlaw commented on #188
So, this is currently for a single subsequence. If we have some d-dimensional time series of length `l = n - m + 1` then the full subspace would be `l * d(d + 1)/2`, which would/could be pretty big and consume a lot of memory

[2020-05-30 14:23] seanlaw commented on #188
Should the last row be:

[code]

So, `I[d]` instead of `I[0]`?

[2020-05-30 14:56] seanlaw commented on #188
S[1]=D_sorted_indices[I[1],:2]
...
S[d]=D_sorted_indices[I[0],:(d+1)]

I think the rows and columns in `D_sorted_idx` should be swapped in your representation. So:

[code]

[2020-05-30 15:17] mexxexx commented on #188
Yes thanks!

Maybe we can provide the user with a flag, where he can decide if he wants the subspaces and can specify which dimensions?

[2020-05-30 16:43] seanlaw commented on #188
Actually, I think I just came up with a way to store the entire subspace in `d * l` space by representing the entire list of integers as, essentially, a binary one-hot-encoded integer. So, for a d-dimensional time series, a list of integers will be represented by a `d+1`-order integer and where the highest order is always one. The remaining orders are zero if the index is not chosen and one when a

[2020-05-30 17:10] mexxexx commented on #188
I thought of the same thing, but this will be unhandy if `d>64`, because than you can't store it as an int anymore

[2020-05-30 17:19] seanlaw commented on #188
Wait, why? If we use `int64` then this means that you can get up to `9,223,372,036,854,775,807` dimensions

[2020-05-30 17:25] seanlaw commented on #188
Nvm, I see your point now 😞

[2020-05-30 17:27] seanlaw commented on #188
I think we are very close though!

[2020-05-30 18:19] mexxexx commented on #188
At least the theory is figured out :smile:

[2020-05-30 18:38] seanlaw commented on #188
Exactly!

Maybe we can leverage ["bit packing" in NumPy](https://stackoverflow.com/a/44962805/2955541) and then [extend this to `uint16`](https://stackoverflow.com/questions/49791312/numpy-packbits-pack-to-uint16-array) if necessary. Not entirely sure what this will look like but just another step in the right direction.

We basically have the information/output. We just need to figure out the bes

[2020-05-30 20:24] seanlaw commented on #188
Okay, to store S from our example above:

[code]

We can "pack" it with:

[code]

And to "unpack" it:

[code]
where `count` refers to the number of rows or `d`-dimensions. Now, let's see how to deal with dimensions that are larger than `max(uint8) = 255`

[2020-05-30 21:02] mexxexx commented on #188
Take a look here https://stackoverflow.com/questions/49791312/numpy-packbits-pack-to-uint16-array

[2020-05-30 21:06] seanlaw commented on #188
Yes, I think that is the same link as the “extend to uint16 link above” 😅

[2020-05-31 17:16] seanlaw commented on #188
As I dig into it more, I wonder if it makes more sense to just re-compute the subspace afterward. So, similar to finding motifs afterward, the user would determine which subsequence `i` that they are interested in based on `P[i]` and then you can re-compute the `d`-dimensional distances.

So, for some subsequence at `i` of interest (let’s say `i` corresponds to the subsequence from the example abo

[2020-06-01 13:28] seanlaw opened #190 "Add Matrix Profile with Arbitrary Range Queries"
Here is [the paper](https://conferences.computer.org/icde/2020/pdfs/ICDE2020-5acyuqhpJ6L9P042wmjY1p/290300b846/290300b846.pdf)

Here is a [talk by Yan Zhu](https://www.youtube.com/watch?v=dCl8qY3Uopw)

[2020-06-01 14:52] mexxexx commented on #188
That is actually a really good idea! I'll try to implement it for motifs with include

[2020-06-01 15:04] seanlaw commented on #188
Similar to how you refactored `core.apply_exclusion_zone`, I want to do something similar and refactor the `include`/`discords` for `mstump`. Right now `mstump._multi_mass` is doing more than just "multi-mass" and so I think it'd be good to reassess the scope of that function. This way, given a multidimensional distance profile, one could apply a function (i.e., `mstump._apply_include_discords` or

[2020-06-01 15:42] seanlaw commented on #188
For completeness of thought, I think that for a `d`-dimensional time series with `l = n - m + 1` subsequences, recomputing the full subspace (in the worst case where the matrix profile index is always pointing to a different index for each dimension) would require:

[code]

I'm not great with computational complexity but this looks like a full subspace would be `O(m*n*d^2*log(d))`

[2020-06-01 18:53] mexxexx commented on #188
As this is still work in progress, feel free to implement your refactoring first and I'll gradually add it here.

[2020-06-01 20:13] seanlaw commented on #187
In order to accomplish this, we'll first need a way to re-compute the [Matrix Profile Subspace](https://github.com/TDAmeritrade/stumpy/issues/188)

[2020-06-01 20:14] seanlaw commented on #188
Okay, will do!

[2020-06-01 20:20] seanlaw opened #191 "Refactor Include for MSTUMP/MSTUMP"
It would be beneficial to pull out the `include` distance profile manipulation and place it into its own function

[2020-06-01 20:28] seanlaw opened #192 "Improve Speed of CPU Simulated GPU_STUMP Tests"
Currently, they are taking a long time and need to be simplified.

[2020-06-02 12:30] seanlaw opened #193 "Refactor Unit Tests to Use utils.naive_apply_exclusion_zone"
To be consistent, we should refactor the unit tests to apply the same exclusion zone everywhere

[2020-06-02 13:28] #193 closed

[2020-06-02 15:31] #182 closed

[2020-06-02 15:57] thoth291 opened #194 "Add Support for float32 Inputs for gpu_stump"
Reproducer:
[code]

Fails with:
[code]
You could have used this example (http://numba.pydata.org/numba-doc/latest/cuda/ufunc.html#example-basic-example) to see how you can specialize one function for multiple types.

[2020-06-02 17:47] seanlaw opened #195 "Remove Reduced Precision in tests/test_mstump.py Unit Tests"
Currently, the `tests/test_mstump.py::test_multi_mass_seeded` and `tests/test_mstump.py::test_multi_mass` unit tests have an assertion that is accurate to only 6 decimal places (rather than 7):

[code]

Hopefully, this condition can be removed once the `centered sum-of-products` is implemented in issue #196 for computing the distance

Here is a [recent paper describing better precision and paralle

[2020-06-02 17:48] seanlaw opened #196 "Replace Sliding Dot Product with Centered Sum-of-Products and Pearson Correlation in `stump` and `stumped`"
Replace the current approach for computing distances with a more numerically stable centered sum-of-products approach

See Section 3.3 in [this paper](https://www.cs.ucr.edu/~eamonn/public/GPU_Matrix_profile_VLDB_30DraftOnly.pdf)

Also, [see Table 1 of this Multi-dimensional SCAMP paper](https://link.springer.com/chapter/10.1007/978-3-030-50743-5_6) for an extension of these concepts to mSTOMP

[2020-06-02 17:57] seanlaw opened #197 "Redundant Code in `_calculate_squared_distance`"
In `core. _calculate_squared_distance(m, QT, μ_Q, σ_Q, M_T, Σ_T)`, the code shows:

[code]

It seems that the final:

[code]

isn't actually doing anything useful and can be removed.

[2020-06-02 17:57] seanlaw commented on #197
@mexxexx Can you confirm that this can be removed?

[2020-06-02 18:02] seanlaw commented on #182
@mexxexx Just an FYI that `tests/utils.py` has been renamed to `tests/naive.py` and all functions are now referenced as `naive.name_of_function` (as opposed to `utils.naive_name_of_function`, previously).

[2020-06-02 18:04] seanlaw commented on #193
@mexxexx FYI, there is a `naive.apply_exclusion_zone` function now and I've updated the code base to use this but, if I missed any, this is here.

I also added a `naive.distance_matrix` function as well

[2020-06-02 18:08] seanlaw commented on #194
Or, alternatively, we could simply accept the `float32` input and cast it as `float64` behind the scenes. My last comment was more focused on the fact that the actual computation is performed on the GPU with double precision but there is no reason why the input couldn't be `float32` and still allow the computation  to be performed in `float64`. What are your thoughts?

[2020-06-02 18:53] mexxexx commented on #197
I think it is necessary. Otherwise if both sigmas are smaller than the threshold, the distance would be `m`, which is not what one would want for two constant subsequences.

[2020-06-02 18:54] thoth291 commented on #194
My data is extremely big: hundreds of millions long. It also comes from sensors which are natively operate in float32. So casting to float64 would double amount of data passed between me and stumpy. And would produce some temporary arrays without any need in them.

Given that numba accepts multiple dispatch, it shouldn't be a problem to compile interfaces for both 32 and 64 bit. I do realize that

[2020-06-02 19:25] seanlaw commented on #194
@thoth291 I understand and, to be clear, I am not opposed to adding `float32` support as long as you understand that it may significantly reduce the numerical stability of your results. Having said that, depending on what you are trying to accomplish (i.e., looking for motifs), another option might be to downsample the data first in order to isolate regions of the times series to explore further.

[2020-06-02 19:28] seanlaw commented on #197
Ohhhh, I missed that it was `or` (in the first case) versus `and` (in the second case)! Thank you for clarifying

[2020-06-02 19:29] #197 closed

[2020-06-02 21:20] #191 closed

[2020-06-03 00:44] seanlaw commented on #164
@sn88798 Closing this for now. Feel free to re-open if you have more questions or comments. Thank you for using STUMPY!

[2020-06-03 00:45] #164 closed

[2020-06-03 01:43] thoth291 commented on #194
@seanlaw While I do believe that your project backlog is bigger than my personal one, unfortunately I don't have anyone else looking after my one and thus if I'll work on PR - it will be in the deep future. We can't really talk about the research at this point - I can only tell that we are not ready to subsample just yet - this is quite new type of data and we are looking for some patterns with ho

[2020-06-03 02:08] seanlaw commented on #194
Sounds good! I look forward to reading the article

[2020-06-03 15:08] seanlaw commented on #184
@mexxexx Did you happen to see this [recent paper by Keogh's group](https://link.springer.com/article/10.1007/s10618-020-00685-w) on motif/discord discovery? It may be useful for your work

[2020-06-04 08:11] mexxexx commented on #184
Hi! I haven't seen it, thank you, I'll look at it.

[2020-06-04 10:02] mexxexx opened #198 "Chunked mean/stddev is failing in some cases"
I noticed that in some cases the chunked mean/stddev computation is failing, with the following error:

[code]

A test to reproduce it:
[code]

Computing mean and stddev of `T` works, but it fails when computing the mean/stddev of `Q`.

I think the error happens here if `stop - start < m` (in `core.compute_mean_std_chunked`):
[code]
In that case the loop should stop, because it is the last window

[2020-06-04 12:38] hmcoservit commented on #19
Any updates on this @seanlaw @rtmatx ? it would be very helpful.

[2020-06-04 12:58] seanlaw commented on #19
@hmcoservit Can you please describe your use case in [this issue](https://github.com/TDAmeritrade/stumpy/issues/31)?

[2020-06-04 13:34] seanlaw commented on #198
Can you please add your example to the unit test quite? That's a good one

I think another potential issue is, say, when all of your chunks have a `chunk_size` that are smaller than `m`. That can happen if you, say, choose `config.STUMPY_MEAN_STD_NUM_CHUNKS = T.shape[0]` (for a 1D example). Then, none of the means/stddevs are computed.

[2020-06-04 13:39] hmcoservit commented on #31
#19 @seanlaw I am new to Matrix profiles and I would like to work on a POC and potentially do a benchmark to demonstrate the usage of MP algorithms for real-time anomaly detection in big data streaming applications. The data source is a number of sensors and at each moment in time 2-3 weeks of recent historical data is available. Depending on the sensor, the data arrives from 1 minute to 1 hours (

[2020-06-04 13:51] mexxexx commented on #198
That's true!

Doing the same thing in the multidimensional case shows that there are some slicing errors. This fixes them:

[code]
Should be
[code]

[2020-06-04 13:52] seanlaw commented on #31
@hmcoservit Thanks for providing the context and welcome to the STUMPY community! Yes, I think most things sensor/IoT related are certainly within scope and this helps us prioritize our efforts.

Can you give me a sense of how many data points you would be analyzing at each iteration? For historical data, you'd be using the batch methods to analyze it anyways but something like STUMPI would be use

[2020-06-04 14:00] seanlaw commented on #198
Great catch. How was it possible that `tests_core.py::test_compute_mean_std_multidimensional(Q, T)` was passing?

[2020-06-04 14:09] seanlaw commented on #198
Ohh, I get it. It was selecting the first `[start:stop]` rows (or dimensions) from `T` and then computing the mean/stddev. So, technically, the answer is still correct but you run the risk of having very long rows. Versus what we were trying to achieve here was to break up the length of the time series into chunks and not the dimensions.

[2020-06-04 14:11] mexxexx commented on #198
Exactly, and if you have less then `m` dimensions, then you would again end up with empty chunks.

[2020-06-04 14:16] seanlaw commented on #198
This is kinda nasty. Let me know if you need any assistance resolving this. I'd like to get a resolution in for this ASAP so I can include it in the next release (I'm hoping this weekend). Where `scrump` would be the focus.

[2020-06-04 14:17] mexxexx commented on #198
I have a PR almost ready

[2020-06-04 14:25] seanlaw commented on #198
For safety, does it make any sense to write a test that increments the number of chunks? Something like:

[code]

Notice the last line where we purposely reset it back to `1` for all other tests.

[2020-06-04 14:32] mexxexx commented on #198
Personally, I dont think it's necessary, but I can add them. I added two tests for the one and multidimensional case, once with `config.STUMPY_MEAN_STD_NUM_CHUNKS=2` and once with `config.STUMPY_MEAN_STD_NUM_CHUNKS=128`. The second case covers he cases where `chunk_size<m`.

[2020-06-04 14:33] hmcoservit commented on #31
@seanlaw Thank you for your reply. All of the time series are 1-D and sampled every 10 mins on average (1min-60min). A minimum of 2 weeks of history size is available in memory for each time series (can be increased though).

Indeed for historical data, batch methods would be suitable to analyze, and then use something like STUMPI to update when new points arrive. However, I am not sure about the

[2020-06-04 14:36] seanlaw commented on #198
That's fair. Just please remember to reset to `1`. Otherwise, stick to what you are doing!

[2020-06-04 16:02] seanlaw commented on #149
@codyschank Your application very loosely reminds me of [this article from a while ago](https://www.theatlantic.com/technology/archive/2016/07/the-six-main-arcs-in-storytelling-identified-by-a-computer/490733/). You may find inspiration in this story

[2020-06-04 17:33] seanlaw commented on #31
I think what I'm trying to ascertain is the total number of data points that would exist in a given sliding window. If I understand correctly, if a new data point arrives every 10 minutes (on average), then in 2 weeks you'd have `6 times/hour * 24 hours/day * 14 days = 2016 data points for a two week period`. Does this math look correct?

Or, for one time series, is there a set of new data data po

[2020-06-04 18:02] seanlaw commented on #198
Fixed in #199

[2020-06-04 18:02] #198 closed

[2020-06-04 18:03] codyschank commented on #149
I just read through the paper for removing noise from the matrix profile, and while it seems like it might help, I do think an un-normalized distance would probably do a better job with my use case.

I did a little more searching and this paper came up:

https://arxiv.org/abs/1901.05708

With an implementation by @tylerwmarrs here:

https://tylermarrs.com/posts/aamp-matrix-profile/

[2020-06-04 18:05] codyschank commented on #149
I just now noticed this closed issue https://github.com/TDAmeritrade/stumpy/issues/157

So maybe this would not work.

[2020-06-04 19:04] seanlaw commented on #149
I was just about to point out that issue and you beat me to it :)

[2020-06-05 07:25] hmcoservit commented on #31
Yes on average it would be 2000 points for a 10 minute sampled time series for a 2 week history size. It can be up to around 20000 for time series sampled every minute...

Usually when data points come in, they are as single data points (it may be a set if delays occur in ingestion).

Regarding maintaining the matrix profile (or history size), for example the last month of data can be maintained a

[2020-06-05 13:27] seanlaw commented on #31
@hmcoservit Thank you for the details. The reason why I wanted to know about the data size is because it is estimated that it should take roughly 2-7 seconds on a 2-core machine (faster when there are more cores) to process between 16,384-32,768 data points using straight `stumpy.stump` (according to some of our very rough timing comparisons - [See this table](https://stumpy.readthedocs.io/en/late

[2020-06-05 14:44] hmcoservit commented on #31
@seanlaw Thank you for your answer, you are right. Using stump right now for my benchmark tests is probably sufficient to evaluate the accuracy. STUMPI would be more advantageous at a later stage in a big data environment (production) where there are data points from thousands of time series coming in as a stream (sampled differently). In that case speed would be critical.

For my tests, the first

[2020-06-06 01:22] seanlaw commented on #31
@hmcoservit I think I have a reasonable working prototype but I still need to add unit tests and handling of `np.nan`/`np.inf` values in the time series so that it is consistent with the rest of the code base. Would you mind taking a look at the following, test it out, see if it makes sense, and ask any questions that you may have?

I've tried to keep it as close to the original publication as pos

[2020-06-07 18:26] seanlaw commented on #31
@mexxexx Are you able to provide any thoughts or suggestions on what needs to be done in the the code from the last comment so that it would also work for `nan`/`inf`?

[2020-06-07 19:22] mexxexx commented on #31
I don't know much about STOMPI, but maybe this helps:
* I guess you recalculate the distance profile of the last window, so of that contains a nan/inf value, the distance profile should be set to inf everywhere .
* The means `M_T` should be inf wherever a sequence contains a nan/inf value.

Everything else (i.e. setting the distance profile to inf in the appropriate positions) should be automatica

[2020-06-07 19:29] mexxexx commented on #31
I guess you are talking about `QT_new`. How about resizing QT by doubling the length if necessary and modifying it in place?

[2020-06-07 20:57] seanlaw commented on #31
Unfortunately, if you look at the STUMPI function above it calls `core.calculate_distance_profile` rather than `core.mass`. That’s because it updates `QT` each time in constant time (since this is faster than performing FFT in `core.mass`) and it also derives and updates `M_T` and `Σ_T` as well.

Correct me if I’m wrong but we should first convert the `inf` to `nan` before computing `M_T` and `Σ_T

[2020-06-07 21:02] seanlaw commented on #31
Actually all of the values that it returns that end with `_new` are all “new” arrays that were newly allocated within the function. They are just extended by a single element for each iteration.

I like your idea about doubling the array but I would want a way to limit what the user can see (or inspect in the array) even if the array were much larger than it really is. I wonder if there’s a way to

[2020-06-08 08:30] hmcoservit commented on #31
@seanlaw Great! thank you for the code, I will test it out as soon as possible and let you know the results. And thanks for pointing out the issue with removal of the first data point, I will keep that in mind.

[2020-06-08 13:46] seanlaw opened #200 "Add Short STUMPI Tutorial"
It would be helpful to write a short tutorial on STUMPI usage and discuss current limitations

[2020-06-08 13:50] seanlaw opened #201 "Add NaN/inf Support to STUMPI"
Since `stump.stumpi` does not call `core.mass`, we don't benefit from a lot of the NaN/inf infrastructure and currently does not support times series that contains NaN/inf values. Adding it may be a bit tricky.

[2020-06-08 13:57] seanlaw commented on #31
Okay, I've decided to move `np.nan`/`np.inf` support to a separate issue as it is a bit trickier to handle in both the pre-processing step as well as the in function step. For now, users just need to ensure that there are no `np.nan`/`np.inf` contained within their time series. Otherwise, it will raise a `ValueError` accordingly.

[2020-06-08 14:28] seanlaw commented on #31
@hmcoservit I'm going to put together a [short tutorial for our documentation](https://github.com/TDAmeritrade/stumpy/issues/200) but I've re-opened this issue so feel free to comment on what you think of the implementation above.

[2020-06-08 17:51] #200 closed

[2020-06-08 18:08] seanlaw commented on #200
@hmcoservit Here's the [updated Tutorial notebook](https://stumpy.readthedocs.io/en/latest/Tutorial_Matrix_Profiles_For_Streaming_Data.html). Let me know if it makes sense or if you have any questions or have anything you want to add!

[2020-06-08 19:41] seanlaw commented on #192
It looks like there's not much we can do.

[2020-06-08 19:41] #192 closed

[2020-06-08 19:42] #109 closed

[2020-06-08 20:57] seanlaw commented on #103
None of this really matters until we are able to compute a "Matrix Profile Subspace" and "MDL" for choosing `k`

[2020-06-09 00:29] seanlaw commented on #188
@mexxexx Just an FYI that I was working on the [`MSTUMP` tutorial](https://github.com/TDAmeritrade/stumpy/issues/103) and came to the realization that the tutorial isn't so interesting without the matrix profile subspace and motif finding capabilities. I've updated the tutorial a bit but stopped progressing since I didn't really know where to take the story.

[2020-06-09 01:05] samoalfred opened #202 "Multi-dimensional Matrix Profile Analysis"
Can STUMP do multivariate data analysis? I have a dataset that has six dimensions. I want to do some analysis on location data (3D). Is this possible? If so, is there any tutorial for this? Thanks.

[2020-06-09 01:43] seanlaw commented on #202
What you may be interested in is the [`stumpy.mstump` function](https://stumpy.readthedocs.io/en/latest/api.html#stumpy.mstump) (or the distributed version `stumpy.mstumped`) which can handle multi-dimensional data. Unfortunately, a completed tutorial does not exist yet but you can take a look at this [work-in-progress](https://github.com/TDAmeritrade/stumpy/blob/master/docs/Tutorial_Multidimensio

[2020-06-09 06:45] mexxexx commented on #31
I see what you mean, however, doesn't `core.calculate_distance_profile` also do exactly the thing I described?

So modifiying this
[code]

to
[code]
could work. If 'μ_Q' is `inf`, then we set the whole distance profile to `inf`. Otherwise, wherever `M_T_new` is `inf`, we would need to set D to `inf`, and that is exactly what ` core.calculate_distance_profile` is doing (compare it to how we do nan/

[2020-06-09 07:15] mexxexx commented on #188
I think this is where the `motif` module would be helpful. One could specify to compute the top motifs for one, two and three dimensions, and visually inspect them to see that the most promising motif (i.e. highest number of dimensions while still being useful) is for dimension two.

As we discussed the steps for finding the top k-dimensional motif would be the following:
1. Compute the d-dimensio

[2020-06-09 12:53] hmcoservit commented on #200
@seanlaw That was fast! Thank you, I will take a look at it asap. I am currently looking at and testing the code. I will update you hopefully by tomorrow

[2020-06-09 13:09] seanlaw opened #203 "Add Tutorial for Shapelet Discovery"
The original paper is [here](https://github.com/TDAmeritrade/stumpy/files/4446948/zhu2020.pdf) (see Section 3.7). The accompanying data at their Google sites page can be [found here](https://sites.google.com/site/matrixprofiletopten/).

Another example is [here](https://www.researchgate.net/profile/Chin_Chia_Michael_Yeh/publication/318161333_Time_series_joins_motifs_discords_and_shapelets_a_unifyi

[2020-06-09 14:59] seanlaw commented on #200
@hmcoservit I'm a "strike while the iron is hot" kinda person 😄. Your expediency is greatly appreciated!

[2020-06-09 16:09] hmcoservit commented on #200
@seanlaw I am sorry for the delay, I had a hectic schedule this week.

The tutorial looks good, it is detailed enough and easy to follow. Maybe it can be improved a bit by adding visualization with real data similar to [this link](https://stumpy.readthedocs.io/en/latest/Tutorial_Semantic_Segmentation.html). Also another thing to add can be demonstrating the speed gain of using STUMPI.

For a small

[2020-06-09 19:37] seanlaw commented on #188
Sounds good. What do you envision would be the inputs to this function? What are the expected outputs? This way, I can roughly know where to start/stop.

For now, I'm thinking that we should add it to `stumpy.mstump`. What do you think?

[2020-06-09 19:41] seanlaw commented on #31
@mexxexx Thank you for your precious insights. Indeed, I did go down the path of using `core.compute_mean_std` but I was still getting stuck and then I wasn't sure what to borrow from other functions. I'll take another stab at it with your suggestions!

[2020-06-09 20:00] seanlaw commented on #200
@hmcoservit No worries and I appreciate your feedback!

I had considered adding some viz but I questioned the value since, at the end of the day, it produces a matrix profile (which is covered in many of the other tutorials). Usually, I add viz to reproduce the published work and so I will look into reproducing Figures 14 and Figure 15 from Section G of the original [Matrix Profile I](https://www.

[2020-06-09 21:01] seanlaw commented on #200
@hmcoservit Just one additional thing to note as an aside, STUMPY uses `Numba` JIT compilation to for speed and so it might be "slow" the first time you call a function (since it spends a bit of time compiling the code at first use) but it will likely be faster in subsequent runs. Both `stumpy.stump` and `stumpy.stumpi` both leverage `Numba` JIT compiled code in its core guts. This only matters wh

[2020-06-10 07:03] mexxexx commented on #188
Maybe for now we can keep it in the notebook? I think it might be otherwise confusing to not separate the MP algorithms from applications. The user doesn't see that in the end anyways, and it might be easier to remember this way.

I think the function could look like this (Please choose other names :smile:):
[code]

[2020-06-10 08:08] hmcoservit commented on #200
@seanlaw Yes, indeed reproducing Figures 14 and Figure 15 from the paper would be more useful.

In the same section the paper also mentions the maximum time needed to process a single data point for a time series sampled at each minute. It is claimed that "STAMPI could continue monitoring for several decades before running out of time or memory...".  According to the [performance tests](https://gi

[2020-06-10 10:59] seanlaw commented on #200
It looks like that example is a bit convoluted and the data is not easily obtainable (and will be difficult to explain). I will think about this and maybe use the classic "steam-gen" data set. Essentially, we just want to be able to see that as you add more data eventually a global motif will appear. Is that what you had in mind?

Prior to your comment, I added this [performance section](https://s

[2020-06-11 09:25] hmcoservit commented on #200
Thank you, for sure!

I currently work for an IoT company, and we are trying to implement a fast and (almost automated) solution for anomaly detection to monitor our infrastructure (detecting incidents for example). I am new to matrix profiles and STUMPY in general, but so far it seems a promising candidate to solve our problems. I will keep you updated on the progress for sure.

[2020-06-11 09:52] seanlaw commented on #200
Awesome and thank you for sharing!

I've added a [new section to the tutorial](https://stumpy.readthedocs.io/en/latest/Tutorial_Matrix_Profiles_For_Streaming_Data.html#A-Visual-Example). Please take a look when you have some time.

[2020-06-11 10:00] seanlaw commented on #159
@charanpallati STUMPY has a new function called `stumpy.stumpi` which can generate matrix profiles for streaming data. You can read more about it in [this tutorial](https://stumpy.readthedocs.io/en/latest/Tutorial_Matrix_Profiles_For_Streaming_Data.html#A-Visual-Example)

[2020-06-11 19:02] seanlaw commented on #201
Okay, @mexxexx, I'm going to need to borrow your brain as this has gotten a bit more problematic than I had expected. Let's walk through a simple example:

Let's say we have a simple time series where the last value is `np.nan`:

[code]

We'll perform some pre-processing in order to get the correct inputs for `stumpi`:
[code]

There's nothing out of the ordinary so far but here's where things star

[2020-06-12 00:20] seanlaw commented on #201
@hmcoservit I've been thinking about the current user interface and trying to add NaN/inf support. I think I'm going to have to change the interface (I plan to simplify it) and I will update the tutorial afterward. Hopefully, this change in the interface (I am planning to use OOP) should allow me to add NaN/inf support. 🤞

[2020-06-12 00:34] seanlaw opened #204 "Convert FLOSS to OOP"
Right now, the FLOSS function is written as a Python generator. It is probably better to write it as an object

[2020-06-12 09:10] hmcoservit commented on #200
@seanlaw Thanks, it seems good for me. Specially talking about the part about any change in the matrix profile can only move downward. Because initially I thought that in the incremental mode, past matrix profile values do not change (because they depend on their past) when new points arrive.

Since historical matrix profile values also update in the stream I probably need to consider this for my

[2020-06-12 09:12] hmcoservit commented on #201
@seanlaw Sure, good luck with that ;)

[2020-06-12 10:27] seanlaw commented on #200
@hmcoservit I think that this gets into a bit of a philosophical debate. STUMPY tries to be faithful to the original paper and the core matrix profile definition refers to z-normalized Euclidean distance to it’s nearest neighbor (can be on the right or on the left). Later, in their time series chains paper, they introduce the idea of a “left matrix profile index” and a “right matrix profile index”

[2020-06-12 15:33] hmcoservit commented on #200
@seanlaw Thanks for your answer I understand and agree with you, and of course defining what is an anomaly is very tricky and may depend on the context too (contextual anomalies). Indeed by not getting into any philosophical debate, we can assume we can decide if a point is an anomaly or not before any new points arrive.

For my tests the current implementation would be sufficient of course, I can

[2020-06-12 16:25] seanlaw commented on #200
Okay, so I was able to quickly make `stumpy.stumpi` object oriented and the code and API is much, much cleaner now. I've updated [the Tutorial](https://stumpy.readthedocs.io/en/latest/Tutorial_Matrix_Profiles_For_Streaming_Data.html) according to this new implementation and I've also added a [Bonus Section](https://stumpy.readthedocs.io/en/latest/Tutorial_Matrix_Profiles_For_Streaming_Data.html#Bo

[2020-06-12 21:30] seanlaw opened #205 "Convert SCRUMP to OOP"
Similar to STUMPI and FLUSS, the interface would be simplified

[2020-06-13 01:10] seanlaw commented on #201
Good news. After converting the function over to OOP, the NaN/inf support came pretty naturally and STUMPI now supports NaN/inf!

[2020-06-13 01:10] #201 closed

[2020-06-14 04:01] #204 closed

[2020-06-14 21:43] seanlaw opened #206 "Add NaN/inf support to FLOSS"
Currently, this does not handle NaN/inf for incoming data points

[2020-06-14 21:44] seanlaw commented on #202
@samoalfred Does this solve your problem?

[2020-06-15 02:21] #205 closed

[2020-06-15 02:23] seanlaw commented on #205
@mexxexx FYI, that I replaced the generators with a simple object class. I did this because the generators all seemed to need to remember their state. Please see the updated version of the [SCRUMP Tutorial](https://stumpy.readthedocs.io/en/latest/Tutorial_Fast_Approximate_Matrix_Profiles.html) for more details.

[2020-06-15 03:17] samoalfred commented on #202
@seanlaw Thanks for this. I have not had time to look at it in details but I think it makes sense to me.

[2020-06-15 07:27] hmcoservit commented on #201
Glad to hear that well done @seanlaw ;)

[2020-06-15 08:53] hmcoservit commented on #200
Great! thank you, it seems good. I will test the code and keep you updated ;)

[2020-06-15 18:03] seanlaw commented on #163
@mexxexx STUMPY 1.4.0 is now live. Thanks again for all of your contributions! This was a really, really great one.

[2020-06-15 18:06] seanlaw commented on #202
@samoalfred Great. I'll close this for now but feel free to re-open it if you have any more questions!

[2020-06-15 18:06] #202 closed

[2020-06-15 18:07] #1 closed

[2020-06-15 18:08] seanlaw commented on #31
This is now completed and available in v1.4.0.

Thank you all for helping out and chiming in!

[2020-06-15 18:08] #31 closed

[2020-06-15 19:16] codyschank commented on #149
Despite the findings of @tylerwmarrs related to the AAMP algorithm, I am still very much focused on calculating a matrix profile based on non-normalized euclidean distance. I've been looking through the guts of the stumpy code, and today took my first stab at making changes. Seems to me like I would need to make the changes to ```stumpy.core._calculate_squared_distance()```. I've been looking for

[2020-06-15 19:46] seanlaw commented on #149
@codyschank Would you mind if we started this conversation in a separate Github issue? This way, it is focused specifically on non-normalized Euclidean distance and it won't distract from this issue. I understand they are related to the same underlying problem that you are trying to solve but I would like to limit the scope of conversations so that it is easier to cross-reference in the future. I

[2020-06-15 20:36] codyschank commented on #149
Totally, I was wondering about that. This thread has grown rather long! I'll copy the last comment to a new issue.

[2020-06-15 20:37] codyschank opened #207 "Matrix profile with Non-normalized Euclidean Distance"
Splitting off from conversation under https://github.com/TDAmeritrade/stumpy/issues/149

Despite the findings of @tylerwmarrs related to the AAMP algorithm, I am still very much focused on calculating a matrix profile based on non-normalized euclidean distance. I've been looking through the guts of the stumpy code, and today took my first stab at making changes. Seems to me like I would need to ma

[2020-06-15 21:07] seanlaw commented on #207
Thanks @codyschank . A few things:

1. This paper is written (mostly) by the same authors as the original matrix profile group so this may possibly be within scope for STUMPY (as we try to faithfully reproduce their work) but I'll have to think about it more
2. I'm not sure if you are already aware of this but `QT` is actually the same as the `Sa*Sb` dot product so all that you'd need is the `ai*a

[2020-06-16 07:44] mexxexx commented on #205
Thank you for letting me know!

[2020-06-16 07:48] mexxexx commented on #163
That is great! You're welcome!

I'm sorry I didn't have much time to work on the motif discovery module lately, hopefully it will be something for the next release.

[2020-06-16 13:45] Tilanthi opened #208 "Data normalisation"
How would you recommend dealing with time series where the overall amplitude is increasing, even though the underlying pattern is the same please. Taking for example the Steamgen dataset and trying to identify a repeating pattern, the underlying code works well with your data set, but if I slowly multiply the elements in the data factor so that the amplitude is slowly growing, whilst retaining the

[2020-06-16 14:14] seanlaw commented on #208
@Tilanthi Would you mind sharing the code that you used to slowly generate the upper plot?

[2020-06-16 14:29] Tilanthi commented on #208
Hi Sean - thanks for replying - I simply took the data file you downloaded from the web and multiplied the i'th steam column by (1+i/960)) - where 960 was just an arbitrary scaling number that I used. The modified data file is attached, and I read it into a Jupiter notebook with: steam_df = pd.read_csv("modified1.txt",delimiter="\t")

[modified1.txt](https://github.com/TDAmeritrade/stumpy/files/47

[2020-06-16 15:30] seanlaw commented on #208
@Tilanthi Let me take a look and see what I can find. Essentially, you've added an increasing trend to the data.

[2020-06-16 15:41] seanlaw commented on #208
@Tilanthi I started with [this tutorial](https://stumpy.readthedocs.io/en/latest/Tutorial_STUMPY_Basics.html). After the steamgen data is retrieved and read, I added the trend factor as you had proposed via:

[code]

And then just followed the rest of the tutorial (I only added the two lines of code above and that was it). As you can see, STUMPY was still able to detect the location of the correct

[2020-06-16 15:54] Tilanthi commented on #208
Thanks so much - I now reproduce you results, I'm not sure why it failed when I loaded the data from a csv file, but I will check this out. Many thanks again, you code works superbly for this application I am interested in.

[2020-06-16 16:29] codyschank commented on #207
That makes sense. I'll dig into it, and see if I can get it working.

[2020-06-16 16:51] seanlaw commented on #208
Awesome! Glad to hear that it is working.

Technically, the z-normalized Euclidean distance takes care of the differences in trend so you should be good to go. I'm going to close this issue for now but feel free to reopen (or file another issue) if you have any more questions!

[2020-06-16 16:51] #208 closed

[2020-06-16 20:39] seanlaw commented on #207
Awesome, I'm here if you need a sounding board! Feel free to also submit a "throwaway" PR if you'd like me to take a look at some code.

[2020-06-17 14:30] codyschank commented on #207
I was able to make changes to core.py so that core.mass gives the non-normalized euclidean distance. This basically uses the equation above and is an implementation of the SIMPLE algorithm from the paper.

![image](https://user-images.githubusercontent.com/1004543/84910736-dbe6f100-b07c-11ea-961a-65a37d554ed1.png)

Now it seems like I should create a new function that follows the SIMPLE-fast algor

[2020-06-17 14:37] seanlaw commented on #207
Okay, it basically looks like SiMPLE-fast is using a STOMP-like approach and so we should ignore the slower "SiMPLE" algorithm. I recommend creating a new `stumpy/simple.py` file that mimics `stumpy.stump.py` and just call it `def simple()` (instead of `SiMPLE-fast`).

Lastly, we'll have to work on adding proper unit tests (handling NaN/inf) but this shouldn't be too hard and I can help with that

[2020-06-17 14:39] seanlaw commented on #207
Btw, now that you dug into the code base, I'm curious what you think? Did you find that things were confusing or was it fairly straightforward to follow? Your feedback and (more importantly) criticism is welcomed!

[2020-06-17 14:42] seanlaw commented on #207
I haven't looked at the R implementation but, generally speaking, you should take care and, instead, test against a naive implementation instead (see `tests/naive.py` for inspiration). You'll need to do this anyways when we add our unit tests. I am here if you have any questions and I would be happy to hop on a video call if that would help.

[2020-06-17 15:58] codyschank commented on #207
In the motif code I'm using, I do call core.mass at one point. So it seems like I should keep the work I've done there. Also, I've noticed you added some motif related code recently, and wanted to take a look to see if I could use it rather than the patchwork of code I threw together.

[2020-06-17 16:06] codyschank commented on #207
The code is very well documented, and makes sense. This is my first time getting this into the weeds with a code base like stumpy, so I'm learning a lot.

My solution so far adds some code to ```stumpy.core.compute_mean_std``` to also calculate the rolling sum of the squares, copying the same steps you do for the rolling mean and rolling std. I then pass that along as needed to finally change the

[2020-06-17 16:11] codyschank commented on #207
I'll take a look at tests/naive.py. I think I get what you're saying that I shouldn't focus too much on how things work with my data, and my preconceived notions of what I want things to look like.

But it was reassuring to pick a random sequence and find the closest match from the matrix profile based on my alterations to core.py and see this

![image](https://user-images.githubusercontent.com/10

[2020-06-17 17:46] seanlaw commented on #207
I think implementing SIMPLE-fast is going to be more difficult however, because I'll be more starting from scratch, rather than just adding a few lines of code here and there.

I think that this is the point that I was trying to get across earlier. Instead of necessarily trying to bend the existing functions to include "non-normalized" support, I'd start by making "parody" functions like `core.non

[2020-06-17 18:01] seanlaw commented on #207
Essentially, `naive.py` contains super naive (i.e., not optimized for loops) versions of code that, for a small time series dataset (like `n = 64`), you can quickly compute the matrix profile for. So, in theory, you can have a `naive.simple()` function that might look something like:

[code]

[2020-06-17 18:35] fcggamou opened #209 "MP as input features of a deep learning model for time-series forecasting"
Hi, I'm new to all of these concepts so please bear with me.
I'm trying to use the matrix profile as the input features of a neural network that generates forecasts over a time series.

Let's say my time series has a daily granularity, and my NN uses a 30-day window as the input for each prediction. So far so good.

So let's say I generate a MP for my time series using m>=30. The resulting MP has

[2020-06-17 18:36] codyschank commented on #207
I get what you're saying. My motivation for doing this non-normalized stuff is for the motif discovery I'm working on, to make it work better for my use case. But I understand we want to try to keep these separate issues. I'll keep that in mind now as this moves forward.

👍

[2020-06-17 18:51] seanlaw commented on #207
Thanks @codyschank!

[2020-06-17 19:09] seanlaw commented on #209
Welcome to the STUMPY community @fcggamou!

Yes, this fundamental point is correct. Technically, there are `n - m + 1` values where `n` is the length of your time series and `m` is the window size

I'm no NN expert but maybe you can provide a more concrete example. Let's say you have a time series from the last year (365 days) and so you compute the matrix profile for it which produces `365 - 30 +

[2020-06-18 00:15] seanlaw commented on #207
There is a better naive implementation:

[code]

Something like this

[2020-06-18 13:39] fcggamou commented on #209
Thanks a lot for your answer.

The difference (I think, but maybe I'm not grasping MP correctly), is that for e.g. when calculating a moving average you "lose" data at the start of the series but not at the end.

Let's say we have a year of daily data of a series, so 365 data points of a variable called x, where xt is the value of x at a given day t.
Let's say we want to predict the value of xt+1,

[2020-06-18 14:16] seanlaw commented on #207
@codyschank I don't mean to distract from this effort but I wanted to make you aware that the core distance calculation will undergo [a significant change to improve numerical stability  and performance](https://github.com/TDAmeritrade/stumpy/issues/196). This shouldn't affect what you are doing too much though.

[2020-06-18 15:28] hmcoservit commented on #200
Hi @seanlaw, I hope you are well. Firstly thank you for the bonus section, it was very useful. I have been testing STUMPI  and visualizing the results for anomaly (discord) discovery. I had a question regarding aligning the matrix profile to the time step that the anomaly has occurred. Would it be right to shift the matrix profile forward by (m-1)? or (m-1+4)?   I also realized when m becomes smal

[2020-06-18 15:53] seanlaw commented on #209
Hmmm, I get what you mean but I feel like this is mostly a convention. That is, once you compute the average for a given window, that average represents the window as a whole. Should the average of the window be "anchored" to the beginning of the window, the middle of the window, or the end? For a moving average, all of these are equally "correct" in my opinion. Matrix profile happens to anchor th

[2020-06-18 17:35] seanlaw commented on #200
No, it would not be right to shift the matrix profile. The `ith` matrix profile value is aligned with the start of its window, `T[i : i + m]` and where the window size is `m`. Unless we've made some mistake in the code, this should not be changed.

According to the original papers, the matrix profile is not so sensitive to the size of the window. Of course, this is more focused on identifying moti

[2020-06-19 07:50] hmcoservit commented on #200
@seanlaw Thank you for your answer

Yes you are right, the reason I did this was mainly for visualization purposes. Since the matrix profile is aligned with the start of the window, at each time step `i` we have already seen `i+m` points. For example in an anomaly detection system, m would be considered delay in detection. My main goal was to align the last matrix profile value to the last observe

[2020-06-19 11:52] seanlaw commented on #200
Sounds good. Let me know if you have anymore questions. I may not have the answers but I'm happy to talk through these things.

[2020-06-19 15:04] seanlaw commented on #200
@hmcoservit These links might be relevant as well for anomaly detection (or discord discover):

https://www.slideshare.net/SupreetOberoi1/timeseries-analytics-using-matrix-profile-and-sax

https://blogs.oracle.com/datascience/sax-and-matrix-profile-techniques-for-root-cause-analysis

[2020-06-19 16:07] hmcoservit commented on #200
@seanlaw Thank you! I will check out the links. Actually we came upon matrix profiles while we were checking out SAX based methods for anomaly detection, these two links would be certainly interesting.  Finally, I would be more than happy to share the results as soon as I have something concrete ;)

[2020-06-22 21:37] codyschank commented on #207
I've been working through an implementation of Algorithm 2 from above (Simple-Fast) and have hit a couple snags. I emailed the lead author on the paper for clarification on two items, which seem like typos in the algorithm, but maybe I am reading it wrong:
1) Is 'addval' in line 10, the same as sumval in line 8? I don't see 'addval' referenced anywhere else.
2) Is 'prod' in line 11 meant to be 'pr

[2020-06-23 01:00] seanlaw commented on #207
@codyschank I don't see anything inherently wrong but I haven't looked at the SiMPle-Fast algorithm in detail. I noticed that the last two lines should probably:

[code]

[2020-06-24 16:44] seanlaw opened #210 "Add Egress Support to STUMPI and AAMPI"
Currently, as data is streamed in, `stumpi` appends this data to a growing time series. It may be helpful to add an `egress=True` function parameter to throw away the oldest point in the time series. This will ensure that the time series is of a pre-determined size but the matrix profile values for the newest ingressed data points will only be updated relative to the current time series and exclud

[2020-06-24 16:45] seanlaw commented on #210
@hmcoservit I don't know when we'll be able to get to it but I've added it here

[2020-06-25 08:19] hmcoservit commented on #210
@seanlaw Do you think another issue about the effect of z-normalization of sub sequences would be useful? Looking into the effect in different use cases such as anomaly detection as [discussed also in this paper](https://www.researchgate.net/publication/338811628_Implications_of_Z-Normalization_in_the_Matrix_Profile). The effect of z-normalization might be more visible when either sub sequences ar

[2020-06-25 08:40] hmcoservit commented on #207
I think this comment might be more useful here, @seanlaw studying the effect of z-normalization of sub sequences. Looking into the effect in different use cases such as anomaly detection as [discussed also in this paper](https://www.researchgate.net/publication/338811628_Implications_of_Z-Normalization_in_the_Matrix_Profile). The effect of z-normalization might be more visible when either the sub

[2020-06-26 18:49] codyschank commented on #149
While working through #207 I had the realization that what would work well for this data is **not** a matrix profile based on non-normalized Euclidean Distance. Ideally, when the distance between two subsequences is calculated, they would both start at 0. Does it make sense why I would want to do this? Are you aware of any applications of the matrix profile that attempt to do this? I'm not even su

[2020-06-26 18:51] tylerwmarrs commented on #149
https://www.researchgate.net/publication/340663191_Neighbor_Profile_Bagging_Nearest_Neighbors_for_Unsupervised_Time_Series_Mining

@codyschank this might give you some inspiration.

[2020-06-26 19:05] seanlaw commented on #149
@codyschank Sorry, I'm not following what you are saying here. Care to elaborate or provide a simple example?

[2020-06-26 19:33] codyschank commented on #149
@seanlaw This is one example of a motif set using the regular (z-normalized) matrix profile. Note I have adjusted these subsequences to start at 0 when plotting them to make it easier to compare how well they match:

![image](https://user-images.githubusercontent.com/1004543/85893571-b6fb2800-b7b8-11ea-85f8-6efe6d3ae50e.png)

I don't really like that the orange subsequence gets lumped with the red

[2020-06-26 19:37] seanlaw commented on #149
@codyschank Ahhh, got it. Thank you. I will think about this.

[2020-07-02 14:37] seanlaw commented on #209
@fcggamou Just following up on this to see if you have any further comments or questions?

[2020-07-02 16:34] seanlaw commented on #210
@hmcoservit I have been thinking about this and wanted to get your input.

Let's say with have a starting time series, `T`, of length `n=20`. First, we compute the matrix profile and, for some coincidental reason, for the window size `m=5`, all of the subsequences have their closest match pointing to the subsequence at `i=0`. This is fine.

Then, the next data point, `t`, arrives and the first poi

[2020-07-02 17:12] seanlaw opened #211 "Add Geometric Time Series Chains"
There has been recent work to help improve the robustness of time series chains.

See this [published conference paper](https://github.com/TDAmeritrade/stumpy/files/6536717/Matrix.Profile_XXI_Geometric.Chain.Paper.pdf)

See this [supplementary site](https://sites.google.com/site/timeserieschains/)

The data for Fig 12 can be found [here](https://www.cs.ucr.edu/~eamonn/public/Lab_C_060314.mat)

See

[2020-07-03 09:04] hmcoservit commented on #210
Thanks for the interesting example @seanlaw.

According to my understanding, adding Egress Support to STUMPI might make maintaining indices a bit complicated (but not necessarily). For the case of anomaly detection in real time, only the left matrix profile is important and indices may not be considered. It may remove the need to maintain historical global indices, only local indices can be mainta

[2020-07-03 09:10] hmcoservit commented on #207
@seanlaw According to my tests so far on anomaly detection, I can see the effect of Z-normalization more and more. It really makes it difficult to detect the peaks in time series (using STUMPI left MP). Also when sub sequences are flat (but noisy) the matrix profile would not give ideal results for anomaly discovery specially when the sub sequence value is small. Therefore, impacting the precision

[2020-07-03 15:16] seanlaw opened #212 "Finding Anomalies Using STUMPI"
@hmcoservit originally [wrote](https://github.com/TDAmeritrade/stumpy/issues/207#issuecomment-653441736):

[2020-07-03 15:19] seanlaw commented on #212
@hmcoservit Moving the discussion here as the other issue is focused on implementing non-normalized distances.

So, since matrix profiles mainly look at subsequences, if you are looking for (roughly) single point peaks in a time series then matrix profiles are not a good approach. Have you ever looked at:

[Twitter’s Anomaly Detection ](https://blog.twitter.com/engineering/en_us/a/2015/introducing

[2020-07-03 15:37] seanlaw commented on #210
@hmcoservit This is a good discussion. I'll have to think through the best way to incorporate this.

Considering that z-normalization may not be the best for this, is this feature still a high priority for you?

[2020-07-03 15:50] hmcoservit commented on #210
Thanks @seanlaw, this feature would be good to have but it would not be a priority yet. Since z-normalization is affecting the benchmark results, it would be great to focus on implementing a way to have non-normalized sub-sequences.

[2020-07-03 16:08] hmcoservit commented on #212
@seanlaw excluding contextual anomalies in time series, the target is to detect collective and point anomalies.

The effect of z-normalization might be more visible when either the sub sequence value is too small or there are flat regions in the time series as  [discussed in this paper](https://www.researchgate.net/publication/338811628_Implications_of_Z-Normalization_in_the_Matrix_Profile). They

[2020-07-04 10:15] seanlaw commented on #149
@codyschank Just wanted to touch base and see how you were doing with this? I finally had some time to read through the AAMP paper and I might have some time to take a stab at implementing the AAMP approach. Of course, I don’t want to compete and waste your time and effort either. Please let me know what you think.

[2020-07-04 13:05] seanlaw commented on #207
@codyschank I just wanted to touch base and see how you were doing with this? I finally had some time to read through the AAMP paper and I might have some time to take a stab at implementing the AAMP approach. Of course, I don’t want to compete and waste your time and effort either. Please let me know what you think.

[2020-07-06 14:23] codyschank commented on #207
I made an attempt at implementing the Simple-Fast algorithm, but had to make several assumptions based off my understanding of the algorithm as described in the paper. The matrix profile produced my code doesn't make sense.

![image](https://user-images.githubusercontent.com/1004543/86603958-5b742b80-bf6a-11ea-912e-8b70624fbc5f.png)

![image](https://user-images.githubusercontent.com/1004543/86603

[2020-07-06 14:53] seanlaw commented on #207
@codyschank Considering that your time series is really short, have you tried analyzing your data (outside of STUMPY) using this naive function (that I described above)?

[code]

[2020-07-06 15:31] seanlaw commented on #207
Maybe I'm missing the point but, considering that both approaches are just computing straight Euclidean distance, shouldn't both AAMP and Simple-Fast produce the exact same `P` and `I`? And that `P` and `I` should be identical to my naive approach directly above? Again, maybe I'm missing something due to only having glanced at the pseudo-code

[2020-07-06 18:59] codyschank commented on #207
I can try the above naive function. Will be good to compare with the results from my code eventually, once it seems to be working correctly.

As for AAMP, my understanding is that it is more of a de-noising procedure. So the approaches are different in that way. Does that make sense?

[2020-07-07 03:01] seanlaw commented on #207
No, according to the [AAMP paper](https://arxiv.org/pdf/1901.05708.pdf) AAMP computes the matrix profile with the pure Euclidean distance which is what Simple-Fast is doing. So, I expect both AAMP and Simple-Fast to produce the same `P` and `I`

[2020-07-07 03:11] codyschank commented on #207
Oh, my fault. I think I got it confused with this paper https://link.springer.com/chapter/10.1007/978-3-030-40014-9_5.

So maybe I will take a look at the AAMP paper then, and see if their approach is easier to implement.

[2020-07-07 03:44] seanlaw commented on #207
No worries! Just so you are aware, for short time series like the ones that you have (that are less than 10K in length), you may not see a significant difference in speed compared with what I’m calling the “naive” implementation. It is only naive in that it does not scale to longer time series (I haven’t tried) but I suspect that it should be sufficient for your needs. On my Macbook Pro, I created

[2020-07-07 11:43] hmcoservit commented on #207
@seanlaw A naive question, when we say non-normalized Euclidean distance instead of z-normalized Euclidean distance, does it mean we do not z-normalize the sub-sequence itself?

[2020-07-07 13:25] seanlaw commented on #207
@hmcoservit Yes, I think that is correct. Non-normalized is just the straight Euclidean distance. It’s slightly confusing but since matrix profiles are typically computed using z-normalized Euclidean distance, it is perhaps less ambiguous to say “non-normalized” (i.e., Euclidean distance) relative to z-normalized Euclidean distance.

The problem with straight Euclidean distance is that vertical sh

[2020-07-07 18:42] codyschank commented on #207
Sounds good, for testing purposes (as a proof of concept for what I want to do), this may work. Eventually I will need to apply it to a much larger dataset of concatenated time series in order to do motif discovery. Either way, I'm switching my focus now from Simple-Fast to AAMP to see how that goes.

[2020-07-07 20:11] codyschank commented on #207
I'm wondering if I should create a separate issue for the non-normalized euclidean distance matrix profile, that adjusts the subsequences to start at zero (following up from my last comment in #149 ). I adapted your naive code from above to do just that, and am experimenting with it now. Ideally, I will figure out to do the same with the AAMP algorithm, since it should be faster than the naive cod

[2020-07-08 07:33] hmcoservit commented on #207
@seanlaw Thanks for the explanation and you are right about the trend part, but I am curious to test it out. Is there any direction you can point me regarding this?

[2020-07-08 11:16] seanlaw commented on #207
@codyschank I can see how being able to shift the subsequence could be useful but the default algorithms should stay true to the original publications so as to avoid confusion for users. Additionally, I can also see that users may want to, say, shift the subsequence so that the mean of the subsequence is at zero (or some other custom shift). I strongly prefer explicit over implicit so I recommend

[2020-07-08 11:30] seanlaw commented on #207
@hmcoservit I am having trouble understanding what it is you want to “test out”. Would you mind starting a new issue to discuss?

[2020-07-08 18:53] codyschank commented on #207
I'm just going through following the code from Tyler: https://tylermarrs.com/posts/aamp-matrix-profile/

As far as I can tell, the algorithm/code requires a few changes:
- Implement ignore_trivial when one time series is passed
- Allow for two time series to be passed
- Allow for NaN's (this one is specific to my use case)

[2020-07-08 19:19] seanlaw commented on #207
You should be able to leverage `core.apply_exclusion_zone` after you've computed your distance profile

This should be pretty straightforward but maybe I'm overlooking something

What would you return if there is a NaN value in one of your subsequences? I guess you'd check for NaN first before attempting to compute the Euclidean distance?

Good luck!

[2020-07-08 21:54] codyschank commented on #207
This was straightforward, though your naive distance function and the aamp function give slightly different results.

![image](https://user-images.githubusercontent.com/1004543/86974245-9a0d1000-c13b-11ea-865e-bee05942cfbe.png)

[2020-07-08 22:07] seanlaw commented on #207
Mind posting your full code in a gist: https://gist.github.com/

And sharing the link?

[2020-07-09 03:51] codyschank commented on #207
Just realizing that if you remove the njit decorator, then you get an error. Not sure why it would cover that up. Tried troubleshooting the error, but couldn't figure it out. So left the njit in for now.

https://gist.github.com/codyschank/345926275ba16f636b608857d424c35d#file-simple-vs-naive-comparison-ipynb

[2020-07-09 06:49] seanlaw commented on #207
@codyschank I think I see several things that are problematic in the `aamp` function as shown in your gist. Would you like me to take a stab at an implementation or would you like to continue to work on it?

[2020-07-09 13:06] codyschank commented on #207
Definitely take a stab at it. I'm a bit stuck.

On Thu, Jul 9, 2020 at 1:49 AM Sean M. Law <notifications@github.com> wrote:

[2020-07-09 16:08] seanlaw commented on #207
@codyschank This is going to be a bit more complicated due to the fact that:

1. The `aamp` approach actually traverses diagonals (rather than rows and columns)
2. You are performing an AB-join (rather than a self-join)

The code presented in the `aamp` paper is only for self-joins and hence produces the wrong answer for your input. I'll have to play around with this more

[2020-07-09 16:34] codyschank commented on #207
That was my understanding as well (AAMP as formulated will only work for self-join). But good to hear you confirm it.

It is interesting that the changes I made produce something so similar to the results from the naive distance function.

[2020-07-09 19:38] seanlaw commented on #207
@codyschank I think I have it mostly working but there is another complication. The zero-ing of the subsequence. There's no easy way to incorporate this since `aamp` assumes that the elements are unchanged/unshifted. My current implementation does not allow for any pre-processing step before computing the distance.

[2020-07-09 19:47] seanlaw commented on #207
This is not surprising. Basically, you are still performing the same Euclidean distance calculations except that you are skipping a some (somewhere around half) but the part that you are computing is roughly capturing the relevant subsequences.

[2020-07-09 21:01] codyschank commented on #207
I was worried about this. But I think I might have a solution. It's not a pre-processing step, but a "correction" that occurs within the algorithm. I'm working on it now, and I think it's about half-way there.

Basically, there are two ways to have the effect of "Zeroing" out the subsequences and calculating distance
1) Subtract the initial value from each subsequence, so they both start from zero

[2020-07-09 21:47] codyschank commented on #207
@seanlaw Can you share the AAMP code when you get it working? I'd like to apply this correction method to AAMP code that I know is correct so I can see how it compares to the naive distance with zeroed option.

[2020-07-10 01:43] seanlaw commented on #207
@codyschank Unfortunately, this isn't enough. Since `aamp` computes distances by incrementally traversing a diagonal and updating the next distance based on the last distance computed. So, except for the "first" distance, there is no real concept of a "subsequence" thereafter. There is "take the distance from the last step, subtract the first pair of points (squared), and add two new points (squar

[2020-07-10 02:39] codyschank commented on #207
Maybe I'm just optimistic, but I disagree that it is not possible.

In practice, each subsequence is not extracted out of the time series (that is one of the tricks of AAMP), but the concept of them is still there. Else, what do the distances of the resulting matrix profile represent?

The first shift is easy to understand. Then, as we move along the diagonal, we know which positions in each time

[2020-07-10 10:06] seanlaw opened #213 "Add Left and Right Matrix Profile Indices to Scrump"
Current only global matrix profile values are being tracked but it would be useful to have the left and right matrix profile indices as well

[2020-07-10 13:04] seanlaw commented on #207
@codyschank  Here's my implementation of [parallelized `aamp`](https://gist.github.com/seanlaw/35009b17281c166a1e3e67f59352e5a6). This is based on STUMPY's scrump implementation, which depends on some stumpy internals, and, for the record, I did **not** look at Tyler's implementation. It seems pretty fast to me.

[2020-07-10 13:10] seanlaw commented on #207
@codyschank You are certainly right and I have no doubt that it is possible to hard code a shift in there but it will become a maintenance problem (if we decide to incorporate it into STUMPY). What I was looking for was a generic solution that gives the user the flexibility to apply their own custom shift but that doesn't overcomplicate the code base.

[2020-07-10 13:53] codyschank commented on #207
Ok, sorry I misunderstood what you were getting at.

Thanks for putting together the AAMP code! I'll give it a run on my data, and see if I can figure out the shifting.

[2020-07-10 13:59] seanlaw commented on #207
No worries! I'm here to help and sometimes it's hard for me to convey my meaning clearly in written form 😄

[2020-07-10 21:04] seanlaw commented on #207
@codyschank It looks like the `aamp` doesn't work with `np.nan` or `np.inf`. Or, to put it differently, the results are different from the `naive` implementation when `np.nan` is present in the time series.

[2020-07-10 21:24] codyschank commented on #207
Would it work to apply an exclusion zone around the NaNs? This is what I ended up doing in the motif discovery to avoid motifs that spanned across NaN's (which were the breaks between concatenated time series).

[2020-07-10 21:33] seanlaw commented on #207
I'm not sure that I follow. In matrix profile land, "exclusion zones" refer to avoiding trivial matches during self-joins but I'm guessing this isn't what you mean. The main issue comes from the diagonal sliding window. If you have a window with a `np.nan` then that distance will be bad (or is also `np.nan`). However, if the next window does not contain `np.nan` then this is a problem since the cu

[2020-07-11 03:11] seanlaw commented on #207
@codyschank I've updated the gist and it should now work for both `np.nan`/`np.inf`. Note that since we are using `njit` along with `np.isnan` for the `_compute_diagonal` function, must cannot set `fastmath=True`.

Please take a look and let me know if you have any questions. I've added `aamp` to STUMPY now.

[2020-07-11 16:57] codyschank commented on #207
Thanks again for putting this together. I'll give it a test run on Monday.

[2020-07-12 04:41] #213 closed

[2020-07-12 05:45] mexxexx commented on #207
Out of curiosity, as I haven't read the papers: what happens if you replace the precomputed means and standard deviations in any of the MP algorithms with zeros and ones respectively? Shouldn't this also prevent z-normalization?

[2020-07-12 09:46] Jacks349 opened #214 "Search For A Known Pattern In Time Series Data Using MASS"
I was making some research on pattern recognition with Python and i found this library. First of all, i think it's very interesting, so good job! I'm just getting started to this, so i apologize if this question is naive.

Second, i wanted to ask if Stumpy is the right choice for what i want to do:
Basically, i'm trying to detect patterns from OHLC trading data, it works like that: i have a specif

[2020-07-12 10:50] seanlaw commented on #207
@mexxexx This is a good point! In theory, I think you are right. I always appreciate your thinking about these things 😄

[2020-07-12 11:21] mexxexx commented on #207
Just out of curiosity, could you try if it would produce the same results?
Then, by setting `M_T` to appropriate values, one could compute the matrix profile for subsequences that all start at zero (have the first value 0) but with unscaled variances, as you discussed above

[2020-07-12 18:40] seanlaw commented on #214
@Jacks349 Thank you for your question and for your kind words. Firstly, since you are working with market data, I feel obliged to explicitly state that I am **not** a financial consultant. What I write here only pertains to the general usage of STUMPY for analyzing time series data and should never be taken or interpreted as financial advice. Past performance is not indicative of future results an

[2020-07-12 18:43] seanlaw commented on #214
Also, note that we have a [PR (work-in-progress)](https://github.com/TDAmeritrade/stumpy/pull/185) that should make this type of search easier.

[2020-07-12 20:41] Jacks349 commented on #214
@seanlaw
Thank you really a lot for your answer, it was incredibly helpful and made me understand more of how this cool library works!
Of course (sorry for putting you on an uncomfortable spot here) i'm not asking in any way for financial advice, the purpose of this question is strictly technical and only concerns how Stumpy works.

I'm sorry for sounding naive again, but i'm just getting started

[2020-07-12 21:37] seanlaw commented on #214
So, conceptually, the `mass` function is doing this (but in a highly optimized way):

[code]

So, the `ith` element in your `distance_profile` corresponds to the z-normalized Euclidean distance between your `Pattern` and the `ith` subsequence in your `Data` (i.e., `Data[i : i + window_size]`). For example, `distance_profile[3]` has a value of `3.29336127` and this is computed as the z-normalized d

[2020-07-12 22:50] Jacks349 commented on #214
Of course this makes sense! This is exactly what i was looking for. Even if i'm extremely newbie to all of this, i'm amazed at how much stuff you can do this library. I'll make sure to ask any other noob question i should have! A little feedback about the docs: the visualizations on the article you linked me are very helpful, they make everything easier to understand.

[2020-07-12 22:50] #214 closed

[2020-07-13 00:57] seanlaw commented on #214
@Jacks349 Thank you for the feedback. The tutorials take quite a bit of time and effort to make but we try very hard to communicate the concepts as simple as possible. We are always open to being better. I'd love to learn more about how you are planning to leverage STUMPY. Perhaps, you'd like to connect on [LinkedIn](https://www.linkedin.com/in/seanlawphd/). Happy data mining!

[2020-07-13 08:40] Jacks349 commented on #214
Basically my idea was to have a series of patterns specified by myself and a target dataset. What i'm trying to do is make a script that checks for each of the patterns specified by me in the "target" dataset, and for each it needs to find where the "shape" is most similar and give an output like "detected x pattern from y1 to y2".

So what i did is:
1) Get OHLC data
2) Compute local minima and ma

[2020-07-13 11:39] seanlaw commented on #214
Sorry, you are absolutely right! In my haste, I misread the values from your `distance_profile` output and missed `6.82856991e-08`. I have updated my response from above to reflect this.

[2020-07-13 12:37] Jacks349 commented on #214
Thank you a lot! Everything is clearer now!

[2020-07-13 12:57] seanlaw commented on #163
@mexxexx Regarding [your question about setting the mean to zero and stddev to one](https://github.com/TDAmeritrade/stumpy/issues/207#issuecomment-657208503), I play around with it a little but I'm sure that I'm missing something. In `stumpy.stump`, I follow the `core.preprocessing` steps by explicitly setting:

[code]

This did not produce the same answer as my `aamp`/`naive_aamp` implementations

[2020-07-13 13:13] seanlaw commented on #149
@codyschank Do you mind if we close this for now? And feel free to start a new issue (referencing this one) if there are follow-ups? Thanks!

[2020-07-13 13:14] seanlaw commented on #127
I think this is beyond the scope of STUMPY so closing this for now.

[2020-07-13 13:17] seanlaw commented on #214
@Jacks349 I also highly recommend [this resource](https://www.cs.ucr.edu/~eamonn/100_Time_Series_Data_Mining_Questions__with_Answers.pdf) from the original matrix profile authors that outline different things that you can do with the matrix profile. I think this will inspire other ideas for your exploration

[2020-07-13 13:18] #108 closed

[2020-07-13 13:39] codyschank commented on #149
Sounds good to me. I'll close it.

[2020-07-13 13:39] #149 closed

[2020-07-13 13:54] Jacks349 commented on #214
@seanlaw
This resource is incredibly useful for what i'm doing, it's exactly what i'm looking for! Thank you really a lot. Looking forward to finding even more material on this matters

[2020-07-13 16:59] seanlaw commented on #101
This doesn't seem straightforward so closing this for now

[2020-07-13 16:59] #101 closed

[2020-07-14 11:31] mexxexx commented on #163
That is indeed strange, but I also have no idea what could cause the discrepancy. Maybe changing in directly in `calculate_squared_distance_profile` might work...

But I agree, I wouldn't mix it into the existing code. I only thought that it might be a cool thing to be able to call for example stump like this: `stump(T, m, M_T, Σ_T)` and by doing so skipping the preprocessing step we are doing.

I

[2020-07-14 11:32] mexxexx commented on #127
Just for completeness the link to the original paper: https://biblio.ugent.be/publication/8605188/file/8605190.pdf

[2020-07-14 13:00] seanlaw commented on #163
I just tried this and it still produces different results from `aamp` 🤷‍♂️

FYI, I think I'm just about ready to work on the performance improvements. If you are interested, it is based on [Section 3.3 of this paper](https://www.cs.ucr.edu/~eamonn/public/GPU_Matrix_profile_VLDB_30DraftOnly.pdf). Essentially, (starting with SCRIMP's diagonal traversal), they (Keogh's group) have replaced the origin

[2020-07-14 21:08] Jacks349 opened #215 "Understanding Z-normalization and the Effects of Using a Short Subsequence Length"
I am the same guy from [this issue](https://github.com/TDAmeritrade/stumpy/issues/214)! I have another (noob) question:

In my dataset, i have a set of local minima where each element of the array is a percentage that stands for the variation from the previous element, so it means that price (not asking for financial advice) for that asset is going up when there is a series of positive percentages

[2020-07-14 21:37] codyschank commented on #207
I tested the AAMP function on my data, and the results were confirmed by the simple Euclidean distance function. I also did some timing and compared the two with STUMP. I got these results:

![image](https://user-images.githubusercontent.com/1004543/87478368-46913b00-c5ef-11ea-9a0a-4e135f86c48f.png)

I also did a test case using the simple distance function with zeroing correction, for motif disco

[2020-07-14 22:08] seanlaw commented on #207
Thanks for the update. I am a little bit surprised by the slow down of `aamp`. Are you using my Numba parallelized version?

[2020-07-14 22:49] codyschank commented on #207
I thought so. But let me double check.

On Tue, Jul 14, 2020 at 5:08 PM Sean M. Law <notifications@github.com>
wrote:

[2020-07-14 23:29] seanlaw commented on #207
@codyschank Can you  tell me what hardware and operating system you are using to generate the above table?

[2020-07-14 23:49] seanlaw commented on #207
@codyschank I did some timing on my Macbook Pro:

[code]

As you can see, `aamp` was way faster than `stumpy.stump`

[2020-07-15 00:09] seanlaw commented on #215
In fact, I would consider `1.46000966e-07` to be essentially zero, which means that the z-normalized shape of the target subsequence is identical to your pattern. When you actually compute the z-normalized values for the subsequence, you'll see:

[code]

And when you do the same for the `Pattern`:

[code]

You see that both of their z-normalized Euclidean distances are the same. So, it is importan

[2020-07-15 01:06] codyschank commented on #207
It's a windows machine, with the following specs

![image](https://user-images.githubusercontent.com/1004543/87490901-7438ad00-c60c-11ea-86f4-956abc606c79.png)

Interesting, I did a test on the exact same data the you generated, with same m, and it took only 4 seconds with aamp. I tried changing m to 120, which is what I use on my data, and it was still 4 seconds. So I tried inserting the same num

[2020-07-15 01:14] seanlaw commented on #207
Ahhh, this is definitely the cause for the slow down. This makes a lot more sense now. Thanks for the info.

[2020-07-15 08:09] Jacks349 commented on #215
For binning you mean my attempt to normalize the data by assigning it to values between -3 and 3, right?
 If that's the case, i did that because i'm comparing datasets where prices are very different, so i can have two patterns that are identical but on the dataset the price ranges from 30 to 36, while my pattern (even though the shape can be similar) will range from 700 to 830, for example. But w

[2020-07-15 12:13] seanlaw commented on #215
If that's the case, i did that because i'm comparing datasets where prices are very different, so i can have two patterns that are identical but on the dataset the price ranges from 30 to 36, while my pattern (even though the shape can be similar) will range from 700 to 830, for example. But what i'm maybe understanding is that, as you said, that MASS should not care about the magnitude but only a

[2020-07-15 13:03] Jacks349 commented on #215
Thank you a lot! In this case i will do it without that "normalization". I think that another thing interfeering here might be the fact that i'm using, instead of the actual prices, the variation between the prices: `[1.8867924528301907, 2.5462962962962914, 0.45146726862302056, 0.6741573033707992, 2.2321428571428545, 0.8733624454148388, 7.575757575757577, 1.810865191146881, 2.173913043478257, 2.51

[2020-07-15 13:09] seanlaw commented on #215
Another thing to potentially experiment with is looking at percentage change between neighboring values. Good luck!

[2020-07-15 13:14] seanlaw commented on #207
I just realized that there may be a way around this (NaN slow down). I'll keep thinking about it

[2020-07-15 13:52] Jacks349 commented on #215
This is absolutely true. What i'm trying to do now is how much does the scale of the number interferes with my MASS output; i've noticed that, for example, when the data in my target dataset is made of small values, compared to the pattern data, the output tends to have higher values (all around 3). I'm trying to work on this, for now. Thank you a lot!

[2020-07-15 13:53] mexxexx commented on #207
What causes it? The unavailability of the fastmath option? Shouldn't that at least work if one uses inf instead of nan?

[2020-07-15 14:35] seanlaw commented on #215
I'll have to look into that. I would've expected the identical match to produce a distance of zero. We may be bumping up against machine precision

[2020-07-15 14:53] seanlaw opened #216 "Non-zero Distance Is Returned When Subsequences Are Identical"
Referenced in [this issue](https://github.com/TDAmeritrade/stumpy/issues/215#issuecomment-658780832)

B = [4.45e-06, 4.48e-06, 4.58e-06, 4.62e-06, 4.97e-06, 5.06e-06, 5.17e-06, 5.3e-06, 5.57e-06, 5.14e-06, 5.02e-06, 4.99e-06, 4.82e-06, 4.82e-06, 4.76e-06, 4.68e-06, 4.55e-06, 4.53e-06, 4.82e-06, 4.95e-06, 5.06e-06]
distance_profile = mass(A, B)
Gives the following output:

3.739320259
3.739682072
3

[2020-07-15 14:57] seanlaw commented on #207
It's caused by these steps in `_compute_diagonal`. Essentially, when you have a large number of NaNs and a wide window, it isn't benefiting from the last distance computed and, instead, is recomputing the distance using `np.linalg.norm` many times.

[code]

I think I've solved this with a more efficient way to handle this. Please stay tuned!

[2020-07-15 15:29] seanlaw commented on #207
@codyschank I've updated the [gist](https://gist.github.com/seanlaw/35009b17281c166a1e3e67f59352e5a6) and it should now produce the same results (when handling NaNs) but should be nearly as performant as when the data contains no NaNs. Please let me know what you think!

[2020-07-15 16:01] mexxexx commented on #216
All values are really small, so I guess that the standard deviation is very small to (smaller than 1e-10), so I suppose the subsequences get treated as if they were constant.Could you multiply both subsequences with 1e6 before calling `core.mass` and see if this produces the expected output?-------- Ursprüngliche Nachricht --------Von: "Sean M. Law" <notifications@github.com>Datum: Mi., 15. Juli 2

[2020-07-15 16:40] seanlaw commented on #216
Yes, this seems to solve the problem. Since the input values are small, then `σ_Q` and `Σ_T` are small as well and it looks like the `denom = m * σ_Q * Σ_T` in `core._calculate_squared_distance` is below the threshold, which then means that the `denom` gets set to `1e-10`:

[code]

If I recall correctly, the whole point of doing this was initially to account for cases where the `denom` was zero so

[2020-07-15 16:44] seanlaw commented on #216
@Jacks349 It appears that you've helped us uncover a unique edge case (so thank you!) that we'll need to fix.

[2020-07-15 17:00] mexxexx commented on #216
Actually I'm a bit confused, because in the case of one constant subsequence the squared distance should be set to `m`, or if both are constant (i.e. stddev very small) to `0`.
However, it appears that the resulting squared distance in this case is `2m` (3.74=sqrt(14))

[2020-07-15 17:05] seanlaw commented on #216
Exactly!

[2020-07-15 17:08] mexxexx commented on #216
[code]
This quantity seems to evaluate to zero when it shouldn't

[2020-07-15 17:15] mexxexx commented on #216
One way to solve it would be to say that a subsequence is constant if it's stddev is less than 1e-5. This way, if the denominator is less then 1e-10 at least on of the subsequences is considered constant resulting to a squared distance of either `m` or `0`

[2020-07-15 17:17] seanlaw commented on #216
So, if I compute `core.mass(A, A)` then I get the following values:

[code]

[2020-07-15 17:23] seanlaw commented on #216
So, maybe `core._calculate_squared_distance` would look like:

[code]

[2020-07-15 17:26] seanlaw commented on #216
Hmm, using the original data as input `core.mass(A, B)` now produces `[0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]`

[2020-07-15 17:35] seanlaw commented on #216
Perhaps, it's better just to directly solve the `divide-by-zero` problem with:

[code]

So, compared to the original `core._calculate_squared_distance` we simply check if `denom == 0` and set `D_squared` to `np.inf` if it is. Otherwise, just compute the distance directly. What do you think?

[2020-07-15 18:07] Jacks349 commented on #215
Honored i was able to help you finding a bug!

[2020-07-15 18:35] seanlaw commented on #216
Or maybe even remove the `threshold` altogether and just compare everything to zero directly:

[code]

[2020-07-15 20:43] mexxexx commented on #216
Maybe I'm paranoid, by I don't like testing for equality with floats. Under some circumstances the standard deviations might be zero for example.

I would go for this: jvery similar to the first proposal)

[code]

I'm interested how this interested with the new version that uses Pearson correlation

[2020-07-15 21:00] mexxexx commented on #163
Thank you!

By the way, I think the answer to why just changing standard deviation and mean to 1 and 0 lies in the same document, because there are some assumptions made in serving the formula `2m(1-QT...)`, namely that the Euclidean norm of a z normalized subsequence is `m^2`, which is not the case for the unnormalized one. Maybe you understand what I try to say, I can't really pinpoint at what p

[2020-07-16 00:13] codyschank commented on #207
Updated numbers, now AAMP is much faster, even faster than STUMP. Thanks for the fix!

![image](https://user-images.githubusercontent.com/1004543/87612065-2df85200-c6cf-11ea-94af-6e197adeb6a6.png)

[2020-07-16 00:23] seanlaw commented on #207
Yessss! Let's go! Don't fret performance enhancement for `stumpy.stump` are coming soon too! :D

[2020-07-16 02:26] seanlaw commented on #216
I'm currently using this:

[code]

[2020-07-16 05:17] seanlaw commented on #163
Sorry, I don't follow your meaning 😅

[2020-07-16 05:27] #216 closed

[2020-07-17 01:43] seanlaw commented on #215
@Jacks349 This is fixed in the master branch now. Are you able to clone the repository and re-install from source? Otherwise, you'll have to wait for the next release

[2020-07-17 08:06] Jacks349 commented on #215
Yes i can do that! Thank you for fixing the issue so quickly!

[2020-07-17 08:06] #215 closed

[2020-07-17 15:42] mexxexx commented on #163
I think what I tried to say is the following: While
[code]
is valid, but

[code]
is not. So you compute a wrong distance (or better said, not the euclidean distance) if you just pass `mu=0` and `σ=1`.

[2020-07-19 02:27] seanlaw commented on #163
@mexxexx I got this working now for CPUs! It's really, really fast and produces the same results as `stumpy.stump`. I'm looking to see if there are other places where we could shave off a little bit more time. I still need to support NaN/Inf though, write tests, and update the code base to use Pearson correlation

[2020-07-20 15:13] seanlaw commented on #209
@fcggamou I'm going to close this for now. Please feel free to re-open or start a new issue if you have any further questions. Thank you for using STUMPY!

[2020-07-20 15:13] #209 closed

[2020-07-21 01:48] zpzim commented on #156
Hi Sean, sorry a bit of a late reply here. I was trying to convey this in our discussions in January, it is not just about small datasets, large datasets also have lots of performance left on the table here.

Has there been any progress here? Can I help clarify anything?

[2020-07-21 02:03] zpzim commented on #109
Could you please fix this?

You are comparing unfairly to the 'baseline' method and people who look at that performance chart are being misled.

I spent a good chunk of my PhD speeding up the matrix profile and it isn't really fair for STUMPY to not fairly compare against my work. People using STUMPY deserve to know that there is a much higher performance ceiling to this matrix profile stuff.

If

[2020-07-21 02:23] zpzim commented on #163
@mexxexx I appreciate you helping Sean implement GPU-STOMPopt/SCAMP. By the way SCRIMP came AFTER the diagonal update method you are using.

@seanlaw  Can you please cite SCAMP [paper](https://dl.acm.org/doi/abs/10.1145/3357223.3362721) and [source code](https://github.com/zpzim/SCAMP) in your repo when you start using the updated formula? Thanks!

Also if you update the performance charts, please

[2020-07-21 02:26] zpzim commented on #156
I found out you already have some work done on this, seems like you have things under control.

[2020-07-21 16:38] #106 closed

[2020-07-23 11:25] Jacks349 opened #217 "A question about execution times of MASS"
I've been using Stumpy for a while now to detect patterns on a target dataset using a pattern specified by me, and i'm getting very good results! Step by step i'm understanding more how to find what i'm looking for, even when i'm using small dataset, so kudos to Stumpy!

The function i'm using more is `MASS`, and i am trying to understand how does it work more deeply. I hope this question is not d

[2020-07-23 11:25] Jacks349 opened #218 "How to Track Execution Times (Performance Timing) - MASS"
I've been using Stumpy for a while now to detect patterns on a target dataset using a pattern specified by me, and i'm getting very good results! Step by step i'm understanding more how to find what i'm looking for, even when i'm using very small datasets, so kudos to Stumpy!

The function i'm using more is `MASS`, and i am trying to understand how does it work more deeply. I hope this question is

[2020-07-23 12:51] seanlaw commented on #217
Closing this as this appears to be a duplicate of #218 (but please feel free to re-open if I'm wrong)

[2020-07-23 12:51] #217 closed

[2020-07-23 13:21] Jacks349 commented on #218
@seanlaw I'm sorry! When i submitted the question i got a 404 error from Github, so i thought the question was not created, so i submitted again. My bad!

[2020-07-23 14:12] seanlaw commented on #218
That's great to hear, @Jacks349!  We also welcome any constructive criticism as well. We are here to learn how to best serve our community.

This is a great question! There is a very subtle explanation for this that may seem mysterious at first but it can all be explained by the fact that STUMPY uses the wonderful [Numba Python package](http://numba.pydata.org/) for fast numerical computation. You

[2020-07-23 14:34] seanlaw opened #219 "MEXXEXX DM"
@mexxexx Carrying on our [earlier conversations](http://numba.pydata.org/) here

[2020-07-23 14:36] #163 closed

[2020-07-23 14:36] Jacks349 commented on #218
@seanlaw
This is extremely interesting; i don't have much knowledge but i suspected from pure observation that there was a similar mechanism, it reminds me of caching somehow. So basically it means that even if i execute a lot of times `mass()`, the execution time won't increase a lot? Also, i didn't know about the "trick" you mentioned, about executing a first operation on toy data. It will be ve

[2020-07-23 14:38] #156 closed

[2020-07-23 14:40] Jacks349 commented on #218
If i understood correctly: i have a script constantly running that receives data from a third party, and every time the data is received i want to use `mass()`. What i could do is to execute a "toy" operation when starting the script, so that it won't have to compile later. Very interesting!

[2020-07-23 14:51] seanlaw commented on #218
It may feel like caching but there is a difference in that caching (in my mind) applies to the caching of data in memory. So, if you execute the same function with the same data then it can be faster. In our case, if you change the data (so there is no data caching) but keep the size of the data the same then the execution time should be nearly identical. So, we are "caching" compilation (I use th

[2020-07-23 15:11] Jacks349 commented on #218
Thank you for taking your time to make me understand this topic, it's perfectly clear now!

[2020-07-23 15:11] #218 closed

[2020-07-24 07:15] mexxexx commented on #219
I remembered what I had in mind yesterday. It wasn't about precision, because honestly I have no idea about error propagation, but it was because i looked into numbas `fastmath`.

So this `fastmath` option is actually handled by llvm, the thing numba is built on. It means that certain flags are set, to relax the IEEE standard. They are described [here](https://llvm.org/docs/LangRef.html#fast-math-

[2020-07-24 15:48] seanlaw commented on #219
@mexxexx Thank you for these thoughts! I had encountered this `fastmath` problem when writing up the `aamp` code and, as you pointed out, I ended up using a boolean array of valid subsequences via this kind of pre-processing step:

[code]

Notice that the computation of the mean and stddev come AFTER we set all illegal values to zero so all of the sliding window means and stddev should all be fini

[2020-07-30 19:03] codyschank commented on #207
I tried the suggestion from @mexxexx , basically set the following

    M_T = np.zeros(M_T.shape)
    μ_Q = np.zeros(μ_Q.shape)
    Σ_T = np.ones(Σ_T.shape)
    σ_Q = np.ones(σ_Q.shape)

This did not seem to work. So I guess it will take a closer look at the algorithm to see if a trick like this is possible with stumpy.stump.

I attempted this because I haven't been able to figure out a correction

[2020-07-31 01:11] seanlaw commented on #207
@codyschank If you look at the `aamp` algorithm, you'll notice that the current distance, `D[i, j]`, is quickly computed by reusing `D[i-1, j-1]` (essentially, the previous distance along the same diagonal). This is only possible because there is a direct and clear 1-to-1 relationship between `D[i, j]` and `D[i-1, j-1]`. I took a look at the math and, in your case (where you want to zero the dista

[2020-08-02 21:57] samoalfred commented on #202
Hello Seanlaw. Does the matrix profile implemented in this Matrix Profile method use Dynamic time warping as opposed to euclidean distance? I have time series data/ trajectories that are of different length but are similar.

[2020-08-02 23:57] seanlaw commented on #202
@samoalfred No, all matrix profile implementations that I am aware of that have bee published use z-normalized Euclidean distance. I believe that there is an explicit assumption that the time points must be aligned across all of the time series.

[2020-08-03 01:24] samoalfred commented on #202
Alright thanks. I z-normalized my data before implementation with stumpy. I hope that is fine? Or does stumpy do that when I write the code?

[2020-08-03 02:38] seanlaw commented on #202
You'll want to feed in your raw unnormalized time series data and allow STUMPY to handle it for you. The issue is that z-normalization is performed at the subsequence level and not for the entire time series (i.e., you don't simply subtract the full time series mean and divide by the full time series stddev - this is wrong).

[2020-08-03 18:34] codyschank commented on #207
Thanks for helping with this. I'm going to close the issue, since the your implementation of AAMP solved what I set out to do when I opened this task.

[2020-08-03 18:34] #207 closed

[2020-08-05 13:25] notecola opened #220 "Detecting Point Anomalies with STUMPY"
We have a problem understanding the matrix profile for a very simple case.
The 1D data has 61 points and there clearly is an anomaly.
However, MP plots with various window sizes seem to be not related to the data and to each other.

![image](https://user-images.githubusercontent.com/4906009/89417694-4fc58180-d72f-11ea-9c0c-e163d7218c34.png)

Example code:

[code]

CSV zip attached
[data.zip](https

[2020-08-05 14:25] seanlaw commented on #220
@notecola Thank you for the question. Let me take a look!

[2020-08-05 14:33] notecola commented on #220
Thanks for your time

[2020-08-05 16:28] seanlaw commented on #220
@notecola Thanks again for the reproducible example! Hopefully, my response here will come across as "welcoming an open discussion" rather than sounding like an "authoritative voice" (I certainly don't know everything!) so please feel free to challenge me as I will not take offense.

I think that there are a few important points to make here. Firstly, we need to keep in mind that matrix profiles c

[2020-08-06 10:18] notecola commented on #220
@seanlaw Great answer with a lot of useful information, thank you!

The AAMP is a great addition, wonderful!
Are there any future plans to create a CUDA based AAMP implementation?

Still wondering if it really makes sense trying to interpret the z-normalized matrix profile in case of non periodic time series?

[2020-08-06 11:55] seanlaw commented on #220
Awesome! I'm glad you found it helpful. These discussions also help me think through my understanding as well.

There are currently no plans but I would recommend that, if you need it, to create a new Github issue requesting this feature. We can't promise anything as we have ton of other priorities that we'd like to get working on but a `gpu_aamp` might not be too hard to implement and I can see w

[2020-08-08 02:29] seanlaw commented on #219
@mexxexx  When we do `_calculate_squared_distance`, can you recall why we follow:

[code]

and not:

[code]

[2020-08-10 17:05] seanlaw commented on #212
@hmcoservit I'm going to close this for now but please feel free to re-open when you have some examples to share

[2020-08-10 17:05] #212 closed

[2020-08-10 18:19] #196 closed

[2020-08-11 07:26] hmcoservit commented on #212
@seanlaw Thanks Sean, for sure.

[2020-08-11 07:32] hmcoservit commented on #220
@seanlaw

I have to check this out too!

[2020-08-11 12:08] seanlaw opened #221 "Add `aampi`"
This should be fairly straightforward in theory using convolution.

We also need to add this to the API documentation

[2020-08-11 18:33] JosephTLucas commented on #220
Just chiming in to +1 this conversation.  I also had this use case and really appreciate the thorough analysis, Sean.

[2020-08-11 18:37] JosephTLucas commented on #206
I'm trolling for a potential contribution.  How would you want to handle them?  Fill forward?

[2020-08-11 19:00] seanlaw commented on #206
@JosephTLucas Welcome (from Twitter) and thank you for your consideration!

IIRC, this is a little bit more complicated but is worth expounding upon. So, unlike typical missing data, we're not simply trying to impute data. If a new data is streamed in and it is a floating point number, then the distance profile computed (using MASS) for the new subsequence that is formed (as a result adding a new

[2020-08-12 11:37] JosephTLucas commented on #206
Thanks for the thorough rundown, Sean.  Let me take a couple days to poke through the code, but I should be able to do that!

[2020-08-12 14:07] seanlaw commented on #206
@JosephTLucas Please do not hesitate to share intermediate work through a temporary PR and feel free to ask me anything! I am here to help

[2020-08-12 21:30] seanlaw opened #222 "Add Tutorial on Using MASS to Compute a Distance Profile"
One of the most common things that a user may want to do is to take a known pattern and to search for it in their time series. Currently, the best way to accomplish this is to use the `mass` function. We should add a tutorial demonstrating this.

Note that this is fundamentally different/independent from a matrix profile. Looking for a known pattern is far easier than when you don't know of any pa

[2020-08-13 22:10] mexxexx commented on #219
Sorry for the late reply!

That's a good idea. I think that the normalized euclidean distance is bounded by `4m^2` or so.

And no, I cannot recall why we did it this way, did you find it out?

[2020-08-14 02:15] seanlaw opened #223 "Instantiate Profile Values With `np.finfo(np.float64).max`"
[According to @mexxexx](https://github.com/TDAmeritrade/stumpy/issues/219#issuecomment-663381225), when a function is Numba JIT-compiled with `fastmath=True`,

No NaNs - Allow optimizations to assume the arguments and result are not NaN. If an argument is a nan, or the result would be a nan, it produces a poison value instead.

No Infs - Allow optimizations to assume the arguments and result are n

[2020-08-16 16:53] seanlaw opened #225 "FOSSA Deprecation"
The GitHub Team

@bfattori I am receiving this email again. Should we just remove/comment out FOSSA from STUMPY's continuous integration process and add it back once it has been resolved by FOSSA?

[2020-08-16 19:38] PratikSaha198 opened #226 "Receiving "ValueError: cannot convert float NaN to integer"

[2020-08-16 19:47] PratikSaha198 opened #227 "Receiving "ValueError: cannot convert float NaN to integer" even when there are no NaNs in dataset."
Receiving a ValueError: cannot convert float NaN to integer
on stump function  :
 --> 384     T_A, M_T, Σ_T = core.preprocess(T_A, m)
on preprocess function :
--> 722     T[np.isinf(T)] = np.nan

Even after rigorous checking of the dataset being fed into stumpy no nans where present or where found.

Python exception of preference in raising an exception to returning NaNs to things like sqrt(-1) an

[2020-08-16 20:34] seanlaw commented on #226
This looks like an incomplete duplicate of #227

[2020-08-16 20:34] #226 closed

[2020-08-16 20:35] seanlaw commented on #227
@PratikSaha198 Can you please share the inputs that you used that caused this error?

[2020-08-16 20:41] seanlaw commented on #219
For your information, the Pearson correlation version of STUMPY has now been implemented into `stump`, `stumped`, and `scrump`!

[2020-08-16 21:18] mexxexx commented on #219
That's great to hear!

[2020-08-17 11:45] seanlaw commented on #219
I also removed those poorly conceived/written `_get_orders_ranges` and `_get_max_order_idx` functions in `scrump`. They have now been replaced with the more clean `core._count_diagonal_ndist` and `core._get_array_ranges`. `core._count_diagonal_ndist` simply takes a list of diagonals (along with `m`, `n_A`, and `n_B`) and returns a vector with the number of distances that are computed along each di

[2020-08-17 12:57] mexxexx commented on #223
If one looks at the derivation of the z normalized distance equation here https://stats.stackexchange.com/a/285125 one can see that the z normalized distance is bounded by `2sqrt(m)`. (As github comments don't have latex support, I hope it's readable)

Let `u` and `v` be two subsequences, and `mu1`, `sigma1` and `mu2`, `sigma2` their mean and standarddeviation respectively. Then,

[code]

The ineq

[2020-08-17 15:57] hmcoservit commented on #221
@seanlaw Very interested in trying out aampi!

[2020-08-17 16:45] moriartyj opened #228 "Is there a way to disable z-normalization?"
If I wanted to disable z_norm for my time series, is it just as simple as changing [this](https://github.com/TDAmeritrade/stumpy/blob/1c81ba3032a0dd9802f9d04f1ceef6a5e7a9025e/stumpy/floss.py#L452)?

[2020-08-17 17:38] seanlaw commented on #223
I think that your calculation is correct based on some other work from Eamonn Keogh's group. They've also shown the same upper bound.

Does this mean that a unnormalized Euclidean distance would have no upper bound? I'm asking only because we are getting a lot of interest in the unnormalized Euclidean distance function, `aamp`

[2020-08-17 17:43] seanlaw commented on #228
@moriartyj Is this specifically for calling `floss`? I haven't thought about this in detail so please perform these changes at your own risk!

1. Yes, you'll need to remove the z-normalization in the initial step
2. In the update step, you'll want to replace the `mass` function call (which computes the distance profile for the new incoming subsequence) with another sliding window Euclidean distanc

[2020-08-17 17:48] seanlaw commented on #221
@hmcoservit Frankly, I am not so sure about `aampi` because I don't know of an equivalent `mass` function for unnormalized Euclidean distance. Without an `unnormalized mass`, the computation might be quite slow by doing it the classic sliding window way.

[2020-08-17 18:40] seanlaw commented on #221
Okay, there is a way to do this using the same convolution trick as found in `mass` and the original author(s), Mueen, refers to this as `mass_absolute`:

[code]

So, I think this should be relatively straightforward to implement by basing `aampi` off of `stumpi`

[2020-08-17 18:42] seanlaw opened #229 "Add MASS Absolute Function"
See [Mueen's mass absolute function](https://www.cs.unm.edu/~mueen/MASS_absolute.m)

This is needed for #221

[2020-08-17 20:15] #229 closed

[2020-08-18 02:13] seanlaw opened #230 "Add `aamped`"
Add distributed `aamp` - `aamped`

[2020-08-18 17:16] #230 closed

[2020-08-18 18:16] seanlaw commented on #223
@mexxexx I asked around in the Numba Gitter channel and it was brought up that you can [get fine grain control of `fastmath`](https://numba.readthedocs.io/en/stable/user/performance-tips.html#fastmath) by passing in [specific flags](https://llvm.org/docs/LangRef.html#fast-math-flags). This classic example with `fastmath=True` fails:

[code]

But this explicit version with `fastmath={'nsz', 'arcp',

[2020-08-19 14:19] hmcoservit commented on #212
@seanlaw let me share a few examples here (simulating data as a stream), it would be great to have your opinion:

- The data is from NAB, can be[ accessed here ](https://github.com/numenta/NAB/blob/master/data/realAWSCloudwatch/ec2_cpu_utilization_825cc2.csv)
- Confidence area is calculated using the 3-sigma rule of the previous 400 matrix profile values (example for anomaly detection)
- Matrix pr

[2020-08-19 15:00] #221 closed

[2020-08-19 15:04] seanlaw commented on #212
@hmcoservit I took at stab at implementing `aampi` (i.e., `stumpi` but without z-normalization) - [please take a look here](https://github.com/TDAmeritrade/stumpy/issues/221)

[2020-08-19 15:06] seanlaw commented on #221
@hmcoservit `aampi` has been implemented and tests seem to pass and matches standard `aamp` output.

You can basically replace `stumpi` with `aampi` in whatever code you were testing out. Please let me know what you find and then I can push a new version to PyPI/Conda as soon as possible.

[2020-08-19 15:38] hmcoservit commented on #221
@seanlaw Great thanks, Sure.

[2020-08-20 13:50] hmcoservit commented on #221
@seanlaw Tested AAMPI vs STUMPI the matrix profile of AAMPI seems more interesting, here is the plots:

![newplot - 2020-08-20T154719 431](https://user-images.githubusercontent.com/60774604/90778350-cdc38400-e2fc-11ea-894b-2df6144780d7.png)
![newplot - 2020-08-20T155026 694](https://user-images.githubusercontent.com/60774604/90778417-e2a01780-e2fc-11ea-8c4e-30ea029d3ab2.png)

I will post more comp

[2020-08-20 13:57] seanlaw commented on #221
@hmcoservit Thanks for circling back. This certainly looks promising from my perspective and `aampi` seems to be "better" than `stumpi` for these kinds of anomalies. Is that what your interpretation is?

[2020-08-20 14:07] hmcoservit commented on #221
@seanlaw certainly seems promising for our use case ;)

Perhaps in the future it can also be extended and adapted by using an ensemble (mix) of AAMPI and STUMPI with different m parameters for different anomaly/outlier detection use cases.

[2020-08-20 14:11] seanlaw commented on #221
I agree! Very cool

[2020-08-20 15:03] seanlaw opened #231 "Add Tutorial on Non-Normalized Methods"
We currently support `aamp`, `aamped`, and `aampi` and it would be useful to create tutorials for them

[2020-08-21 07:38] hmcoservit commented on #210
@seanlaw After AAMPI, this feature would be a great addition.

[2020-08-22 11:53] seanlaw opened #232 "Add `gpu_aamp`"
In theory, this should be very straightforward since QT is already computed in `gpu_stump`

[2020-08-22 14:34] arainboldt opened #233 "Stumpi with custom metric"
Hi. Awesome library! Really enjoying reading through it! I would like to use the online stumpi method with a unique metric like dynamic time warping. Is this possible given Stump's implementation? If so, what would be the recommended approach?

Thanks

Andrew

[2020-08-24 17:03] #232 closed

[2020-08-24 17:39] seanlaw commented on #219
Also, I added `aamp`, `aamped`, `aampi`, and `gpu_aamp` functions to the API since it seems that many people have been asking for it

[2020-08-24 18:20] bfattori-TDA commented on #225
I am asking FOSSA about this and will let you know when I get a response.

[2020-08-24 20:08] seanlaw commented on #210
@hmcoservit The more I think about it, I wonder if it is really the "right matrix profile" that you are after. With `floss`, it uses the "right matrix profile indices" and not the "left matrix profile indices" to compute the corrected arc curve. In the case of both `aampi` and `stumpi`, wouldn't it be "better" for the oldest data point in the streaming time series (or any data point for that matte

[2020-08-25 11:40] mexxexx commented on #219
Good to hear, I'm pretty sure that will benefit some people.
I have almost finished my contract and will have some time in the following weeks to advance the motif discovery tool, to finally have something there!

[2020-08-25 12:28] hmcoservit commented on #210
@seanlaw Thanks for getting back at this.

It may be possible for historical points (that have not been removed yet) to point to non-existing indices I guess, but it is important that the coming new point does not point to any indices (subsequence) that does not exist. For the case of anomaly detection in real time, only the left matrix profile would be important for our use case.

For example, be

[2020-08-25 13:00] seanlaw commented on #210
Understood

So, this part is the problematic part. If you update the MP indices based on the current historical data available (i.e., what is currently visible and without considering any egressed data points) then you are forced to perform a full matrix profile computation which is not good for streaming data. So, if we egress the oldest data points then current data points that point left toward

[2020-08-25 13:04] seanlaw commented on #219
That's great! Congratulations on wrapping up this current chapter of your journey and welcome back to STUMPY! We've missed you! 😃

[2020-08-25 14:29] hmcoservit commented on #210
Thanks again for the explanations @seanlaw

I think I see your point there and the difficulty of current data points pointing to an egressed point. Can we assume that in the case of the left matrix profile too? I think the process you explained below should solve this.

Great!

Sounds good to me!  ;)

Thanks Sean, I agree with you on this and thanks for the explanation

[2020-08-25 14:43] seanlaw commented on #210
Awesome! Thanks for talking through it with me. I'll work on this and let you know when it is available to clone and test

[2020-08-25 15:06] hmcoservit commented on #210
@seanlaw You're welcome, looking forward to it

[2020-08-27 04:25] #210 closed

[2020-08-27 04:28] seanlaw commented on #210
@hmcoservit It turned out to be a quite a bit of work to incorporate. Would you mind taking a look to see if I've made any mistakes or wrong assumptions?

[2020-08-27 14:05] seanlaw opened #234 "Conflict In `gpu_stump` and `gpu_aamp` Docstring When Cuda Is Unavailable"
Currently, when cuda is not available (i.e., there is no GPU present), the `gpu_stump` and `gpu_aamp` functions both map to `core.driver_not_found`. In general, this is not a problem as both `gpu_stump` and `gpu_aamp` point to `core.driver_not_found` if called and this is handled in `__init__.py`:

[code]

However, the problem arises when you inspect the docstring of both of these functions and th

[2020-08-27 14:06] #234 closed

[2020-08-27 15:21] hmcoservit commented on #210
@seanlaw Thank you, I really appreciate the work you put into this. From my perspective it seems good! ;)

Here is also a small test I did:

[code]

What do you think?

[2020-08-27 15:30] seanlaw commented on #210
It looks reasonable to me. I am more concerned that the output is what you expect and sort of tests that. Is there any way that you can also check the "left matrix profile indices" to make sure they are correct? I think that the "matrix profile" values are the easy part but the indices may possibly be "off-by-one". I guess one way to check is to take the index and recompute the distance profile an

[2020-08-27 16:13] hmcoservit commented on #210
Totally understand your concern @seanlaw. I am not sure if this is a correct approach, but if we slide the indices for the second stream we will get matching indices and matching left matrix profile value. Let me know what you think, I can look into it further.

[code]

[2020-08-27 16:35] seanlaw commented on #210
Yes, something like that. I was thinking more like for each matrix profile index, can we get grab the subsequence corresponding to that index and then compute the non-normalized Euclidean distance to it's nearest neighbor and see if it matches `P[i]`

[2020-08-27 18:01] seanlaw opened #235 "Replace `left`, `right` with `ref` in Unit Tests"
Currently, when we perform unit test assertions we do something like:

[code]

However,`left` and `right` are also overloaded since we have left and right matrix profiles and indices. It has been proposed that we replace `left` with `ref` instead and either replace `right` or just name it appropriately (maybe `comp` for "computed"/"comparison"):

[code]

or

[code]

[2020-08-28 09:23] hmcoservit commented on #210
@seanlaw Apologies for the delay. It seems like for each sub-sequence corresponding to an index, the euclidean distance to it's nearest neighbor matches the left matrix profile of that index.  Do you find the test below to be correct?

[code]

[2020-08-28 17:28] seanlaw commented on #210
Aha! In fact there was an off-by-one recording error for the indices as I had suspected. I think that the matrix profile values are correct. It's only the indices that are referenced incorrectly. I'll do a little more testing and correct this.

[2020-08-29 03:22] seanlaw commented on #210
Here's the test that failed for me:

[code]

[2020-08-29 03:23] seanlaw commented on #210
I've pushed a fix for `aampi` and `stumpi` in [this commit](https://github.com/TDAmeritrade/stumpy/commit/ecddd6f08f2c452464b2305d8c50404678d503d6)

[2020-08-30 00:59] seanlaw commented on #210
This test may be a little faster and concise:

[code]

[2020-08-30 17:35] imightbemary commented on #227
I'm experiencing the same error. I'm running version `1.4.0` and using Google Colab, which seems to be running Python 3.6.

I was working through the [STUMPY Basics tutorial](https://stumpy.readthedocs.io/en/latest/Tutorial_STUMPY_Basics.html) and encountered it when plugging in my own data. The actual code that threw the error is blow.

[code]

The values in `cv['activity_7_day']` are as follows:

[2020-08-30 17:49] seanlaw commented on #227
Thanks for the extra info, @imightbemary and I hope you are well! Let me take a look and see if I can reproduce it on my end

[2020-08-30 17:57] seanlaw commented on #227
Ahhh, indeed, STUMPY is failing to detect that the `dtype` is of type `int`. We usually have an internal function that checks for this but somehow it is failing to either warn the user. For now, you should be able to overcome this with

[code]

Sorry for the inconvenience/poor built-in error. I'll put a warning for this that will let the user know that only `float` is acceptable. This will be incl

[2020-08-30 18:07] imightbemary commented on #227
No worries--that did the trick for me!.Thanks for the quick response, and hope you're doing well!

[2020-08-30 18:21] seanlaw commented on #227
Awesome! Since you are using Colab, you may also be interested in leveraging the much faster `gpu_stump`. Here's [Colab notebook](http://tiny.cc/stumpy-colab) that walks you through it.

[2020-08-30 18:37] imightbemary commented on #227
Perfect. I'll take a look!

[2020-08-31 03:19] #227 closed

[2020-08-31 09:08] hmcoservit commented on #210
Thanks @seanlaw  , looks good. I will start further tests for anomaly detection.

[2020-09-01 09:37] Attol8 commented on #85
Hi @seanlaw, I have recently bumped into STUMPY and I am a big fan of your work! Do you still need help with this issue? If so, I will start drafting a Jupyter notebook with each of the 10 use-cases described in the paper. Also, How would you title the tutorial line item in RTD?

[2020-09-01 13:06] seanlaw commented on #85
@Attol8 Thank you for your kind words and, absolutely yes, we are looking for and welcome help on this issue!

If you don't mind, the approach that I'd like to take with this is to split up each of the 10 use cases into its own individual notebook and place them into the `docs/` directory. This way, the scope for each notebook is small, achievable, and anybody can tackle a different use case. As y

[2020-09-01 14:52] Attol8 commented on #85
Thanks for the detailed answer @seanlaw ! As you suggested, I agree that the best way to proceed is: notebooks first, reviews seconds, implementation of the docs third. Following your checklist, I will now get to work and post updates as soon as I have something ready

[2020-09-01 15:12] seanlaw commented on #85
Awesome and thanks again for contributing to our community, @Attol8! Please choose a use case and create an issue for it so that I know which one you are working on and then I can better assist you. Let's continue the conversations on the corresponding issue(s). I am here to help!

[2020-09-02 00:10] seanlaw opened #236 "Add `egress=False` to `stumpi` Tutorial"
With `stumpi` now using `egress=True` as its default, we need to update the tutorial to reflect this change

[2020-09-02 02:30] #236 closed

[2020-09-02 03:21] seanlaw commented on #228
@moriartyj I'm going to close this for now but feel free to re-open when you are able to provide more details or if you have further questions. Thank you

[2020-09-02 03:21] #228 closed

[2020-09-02 03:22] seanlaw commented on #233
@arainboldt If you don't mind, I'll go ahead and close this issue for now but please feel free to re-open this issue or start a new one if you have any further questions. Thank you

[2020-09-02 03:22] #233 closed

[2020-09-02 03:25] seanlaw commented on #220
@notecola CUDA based AAMP is now available in the latest STUMPY release version 1.5.0 (along with a ton of new `aamp`-like functions. I'm going to go ahead and close this for now but feel free to re-open or start a new issue if you have more questions. Thank you!

[2020-09-02 03:25] #220 closed

[2020-09-02 03:26] seanlaw commented on #225
@bfattori Just following up on this. Have you heard back from the FOSSA team?

[2020-09-02 03:27] seanlaw commented on #223
I'm going to close this for now as it doesn't seem to be an issue (yet?) and we can re-open/reference it in the future if it becomes an issue.

[2020-09-02 03:27] #223 closed

[2020-09-02 03:32] seanlaw commented on #194
@thoth291 I'm going to close this for now as we have other higher priority items in the queue but please feel free to re-open or start another issue if you have further questions. Thank you

[2020-09-02 03:32] #194 closed

[2020-09-02 13:20] seanlaw opened #237 "Add SKIMP Feature"
With both GPU and CPU code being fast, it is now reasonable to start tackling how best to choose the window size, `m`. This is a common question amongst users and skimp would be a nice addition. We'll likely want the following functions:

- [ ] `stumpy.stimp`
- [ ] `stumpy.gpu_stimp`

and, maybe, `stumpy.stimped`

However, one needs to take care that skimp is an anytime algorithm and can be comput

[2020-09-02 13:48] bfattori-TDA commented on #225
I did hear back from them... their response is: "...the call should be succeeding, it appears to be an error only. PM are aware and will be working to resolve it in line with the GH schedule". I have asked for a resolution approximation from them and expect an answer shortly.

[2020-09-02 14:26] seanlaw commented on #225
Perfect. Looking forward to the ETA

[2020-09-03 15:24] seanlaw commented on #203
@Attol8 - If you comment on this issue then I should be able to "assign" it to you

[2020-09-03 15:44] seanlaw opened #239 "Replace `np.roll` with slice indexing in `stumpy.floss`"
When `np.roll` is used, a copy of the original array is made. This is a problem if `np.roll` is called repeatedly. Instead, it is faster to do:

[code]

[2020-09-03 18:58] seanlaw opened #240 "Optimize `aampi` and `stumpi` Performance"
There are several places where the performance of `aampi` and `stumpi` can be improved via NumPy vectorized functions. Currently, we follow pseudocode from the published work which formulates the algorithm via inefficient for-loops. This isn't wrong but there are some speed enhancements that can be had by using NumPy instead.

[2020-09-03 19:25] #240 closed

[2020-09-03 19:26] seanlaw commented on #240
@hmcoservit Please look out for this in our upcoming v1.5.1 release. The current v1.5.0 release is quite a bit slower

[2020-09-04 07:05] hmcoservit commented on #240
@seanlaw Great thanks looking forward to it

[2020-09-05 00:17] #195 closed

[2020-09-05 14:13] manikTharaka commented on #239
Made a [PR](https://github.com/TDAmeritrade/stumpy/pull/241) for this.

[2020-09-05 14:39] seanlaw commented on #239
Awesome! Thank you for contributing to our community, @manikTharaka.

[2020-09-05 15:27] #239 closed

[2020-09-05 18:06] seanlaw commented on #186
@shfa5275 @mexxexx Do you have any ideas how MDL works? I've been looking at some of the papers but it's not clear to me how to implement MDL relative to the mSTAMP paper. Do you have any experience with this?

[2020-09-05 18:08] seanlaw commented on #186
@mcyeh We've already implemented mSTOMP but the details on how to apply MDL to the results is vague. Would you mind giving me a high level overview of the MDL steps that we need to take after the multi-dimensional matrix profile (and indices) are computed?

[2020-09-05 19:11] shfa5275 commented on #186
Hej @seanlaw!

I did not pursue the MDL myself. But the following paper uses the same MDL principle as the
"Yeh, Chin-Chia Michael, et al. (2017) Matrix Profile VI: Meaningful Multidimensional Motif Discovery. ICDM:565-574"

The paper is entitled:
E. Galbrun, P. Cellier, N. Tatti, A. Termier, and B. Crémilleux. Mining periodic patterns with a MDL criterion. In the proceedings of the European Confe

[2020-09-07 08:49] mcyeh commented on #186
@seanlaw

The MDL step is implemented in [this MATLAB function](https://github.com/mcyeh/mstamp/blob/master/MATLAB/extract_k_motif.m).
The usage of the function is to extract motifs from multi-dimensional matrix profile.

I each iteration, it first find the lowest point in each matrix profiles (1-dimensional mp, 2-dimensional mp, 3-dimensional mp, ..., etc.) which forms the motif candidate set. Th

[2020-09-07 10:36] geoHeil opened #242 "spark integration"
Have you integrated stumpy with apache spark?
I would be interested in working with stumpy on:

- apache-spark 3.x
- in streaming (structured streaming)

For multiple time-series i.e. processing a grouped window of ordered events
But maintaining state to only recompute changes as outlined in the https://stumpy.readthedocs.io/en/latest/Tutorial_Matrix_Profiles_For_Streaming_Data.html

[2020-09-07 11:10] geoHeil commented on #242
It looks like a https://spark.apache.org/docs/latest/structured-streaming-programming-guide.html `mapGroupsWithState` would be required - but that is only available in the JVM bsed APIs.

[2020-09-07 12:41] seanlaw commented on #242
@geoHeil I know what Spark is but have limited experience with it so I don't know what integration would entail. When you say "integration", do you mean:

1. Re-writing STUMPY (which is essentially pure Python) in Java so that it can be distributed across a Spark cluster and be able to access data that is local on each server?
2. Extracting a single (streaming) data point from a Spark cluster and

[2020-09-07 12:46] seanlaw commented on #186
I will take a closer look at am certain that I'll have more questions. Thanks, @mcyeh and @shfa5275!

[2020-09-08 11:19] geoHeil commented on #242
I think the easiest way of integration would be a:

On a  data frame grouped by a window using SQL `WINDOW  GROUP BY` and

[code]

as aggregation.
This leaves us with an array of all the values in that window (i.e. 4-hour window for example) and we easily could apply stumpy using a UDF.

But this also means that in case of a sliding window (slide every hour) the distance metrics are recalculated o

[2020-09-08 14:44] seanlaw commented on #242
STUMPY is written exclusively in Python and auto-magically JIT compiled via `Numba` for the local hardware. I am not aware of any Java/Scala matrix profile implementation and since we try very hard to ensure 100% code coverage/unit testing in STUMPY, it isn't clear to me how we can sustain/maintain this criteria for Spark (as I don't have access to a Spark cluster) and so this is likely beyond the

[2020-09-08 14:58] geoHeil commented on #242
I will need to think about this, also potentially about switching to dask for this task instead. I  will close this ticket here for now. Thanks.

[2020-09-08 14:58] #242 closed

[2020-09-08 16:08] seanlaw commented on #242
I had assumed that you had some exceptionally large data set distributed across an immovable cluster (or backed by HDFS). I didn't realize that `dask` was an option. Let me know if you want to provide more background as to the problem you are trying to solve in terms of pre-processing and aggregating the data with `dask`.

[2020-09-08 19:27] geoHeil commented on #242
Indeed, our default infrastructure and processes are built around HDFS, YARN, and spark. This is why I would prefer a tight integration. So far, I had bad experiences as soon as only medium-sized data was shuffled in Dask - whereas spark was performing just fine.

The idea of using Dask was just a not fully thought out approach.
I think most likely, I will start with the wasteful pySpark batch app

[2020-09-09 17:27] seanlaw commented on #186
@mcyeh I've gone through the relevant papers as well as the link to the [Matlab code](https://github.com/mcyeh/mstamp/blob/97e6e180196866da3a0fd9b798032e238f0d76df/MATLAB/unconstrain_search.m) that you had referenced:

[code]

 but I'm still stuck on some of the MDL details. According to your [Matrix Profile III paper](https://www.cs.ucr.edu/~eamonn/PID4481999_Matrix%20Profile_III.pdf), a time ser

[2020-09-11 13:57] Attol8 opened #243 "Add Tutorial for meter-swapping detection"
A tutorial that reproduces section 3.6 of [this paper](https://link.springer.com/article/10.1007/s10618-019-00668-6).

The supporting page with code and data for the paper is not present. I have downloaded the original dataset from [here](https://pureportal.strath.ac.uk/en/datasets/refit-electrical-load-measurements-cleaned). @seanlaw do you think we should email them to provide us with the data a

[2020-09-11 14:15] seanlaw commented on #243
@Attol8 Thank you for diving into this. For efficiency's sake, I think we may want to take a two pronged approach and:

1. Reach out to Eamonn Keogh directly and explain that the [accompanying website for the paper](https://sites.google.com/site/matrixprofiletopten/home) is empty and see if he is able to help. Unfortunately, I've tried to reach out to first author, Yan Zhu, before but haven't had

[2020-09-11 14:24] Attol8 commented on #243
Hi @seanlaw. I agree that dig into it ourselves may be the best approach. But, as you will see in the pull request here, the data they use is simply different from the original dataset, which implies that they took some preprocessing steps which would be interesting to uncover. However, the method works anyway so we can post a tutorial without reproducing the exact steps taken in the paper, which

[2020-09-11 14:43] seanlaw commented on #243
I understand and agree. The most important thing is to convey the core idea (i.e., that one can actually detect a swap) using a clear example. To be pragmatic, I'll time box the data reproducibility part to Monday so that we move forward with what your PR proposes if we can't figure it out by then. I'll try to play around with the data a little and see what is going on.

[2020-09-11 16:02] seanlaw opened #245 "Improve GPU-STUMP Speed"
[This follows from a discussion on the Numba discourse channel](https://numba.discourse.group/t/understanding-cuda-stream/216)

Currently, STUMPY can be executed on both the CPUs and the GPUs (i.e., given the same input, both should produce the same results - this is useful for validation). The GPU kernel is essentially self contained in the [`gpu_stump.py`](https://github.com/TDAmeritrade/stumpy/

[2020-09-11 16:05] seanlaw commented on #245
@gmarkell Please let know if you need anything else or if there's anything I can explain/clarify! Thanks again for your help

[2020-09-11 16:11] gmarkall commented on #245
@seanlaw Thanks for the writeup of steps! I'll take a look at this (but it's very close to the weekend here) so it might be next week before I come back to you.

[2020-09-11 16:19] seanlaw commented on #245
No rush! Please enjoy your time

[2020-09-12 13:07] geoHeil commented on #242
FYI and for reference: Flink plans to support such an arbitrary state handling functionality for python from the next big release 1.12 using a `keyedProcessFunction`.

[2020-09-13 05:29] mcyeh commented on #186
@seanlaw

I will try to answer these questions to the best of my knowledge as I did this 3 years ago.

1. I'm not familiar with the inverse normal cumulative distribution function that is being used for `split_pt`. How is this related to MDL?

In order to apply MDL-principle to time series data, we need to discretize the float point time series to integer time series, and any discretization functi

[2020-09-13 12:09] seanlaw commented on #186
@mcyeh Thank you so much for your thorough and insightful response! I learned a lot and I now have a much better appreciation and perspective on the problem. I really appreciate you taking the time to help us!

[2020-09-14 13:16] gmarkall commented on #245
There is nothing preventing asynchronous launches for the kernel - the log shows a long stream of:

[code]

which is exactly what we'd hope for. One problem is that the kernels are quite short-lived, so the launch overhead dominates the execution time somewhat. I have a Numba PR that reduces the launch overhead (https://github.com/numba/numba/pull/6042), and timing the following (with Xeon Gold 61

[2020-09-14 13:47] seanlaw commented on #245
Maybe I'm a bit confused/misguided on the terminology here so please correct my understanding if I'm wrong. When you say "asynchronous launches" does that imply "asynchronous kernel execution"? I ask because we do need the `for i in range` loop to happen in order. So, the `i+1`th iteration MUST happen only after the `i`th iteration is completed. If the for loop happens in random order then the res

[2020-09-14 13:59] gmarkall commented on #245
Asynchronous means that they are asynchronous with respect to the CPU, but not each other - they will be queued and executed in order on the default stream - so you are getting the behaviour you need. (To go back to your original Discourse question, streams are for when you don't mind if kernels are asynchronous with respect to each other - you can queue up two kernels in different streams if you

[2020-09-14 14:03] seanlaw commented on #245
Ahhhh! That makes perfect sense. I'm glad I asked the question. 😄  Thank you.

[2020-09-14 15:31] gmarkall commented on #245
OK - I've done a quick try with N = 1_000_000, and the timings are 325 seconds before, and 135 seconds after - still about 59% faster. Are you able to benchmark on your hardware with PR #6042 to see whether you get similar results?

I can try putting together something that allows testing this with a cooperative grid group - I'm a little unsure of the exact effort needed for this, and I'm also try

[2020-09-14 17:40] seanlaw commented on #245
You'll have to excuse my ignorance here but should I be manually reinstalling `Numba` by cloning the commit from PR #6042? I've only ever installed `Numba` via `pip`/`conda` but never from source. Or do you think I could get away with replacing the three Python modules in my existing installation (i.e., inside of `site-packages`) with the three files that you had changed?

Absolutely no rush on th

[2020-09-15 12:16] JosephTLucas opened #246 "First Time Contributor Guide"
In preparation for #Hacktoberfest, I want to put together a post detailing how a new contributor could get involved with stumpy. This will be targeted to new open source contributors or python developers. It'll cover things like setting up a virtual environment, installing dependencies, git flow, tests, and CI/CD. In many ways, it extends [CONTRIBUTING.md](https://github.com/TDAmeritrade/stumpy/bl

[2020-09-15 14:57] gmarkall commented on #245
A note: I just came across, https://github.com/TDAmeritrade/stumpy/issues/64, which also suggests grid sync is required :-)

[2020-09-15 15:28] gmarkall commented on #245
I would guess the cleanest way to do this is in a new conda environment:

[code]

Then use your normal workflow for building / testing STUMPY. The Numba docs on getting set up for development are here, for reference: https://numba.readthedocs.io/en/stable/developer/contributing.html#getting-set-up

I've tidied up the CG work and made a PR that is close to being ready: https://github.com/numba/numb

[2020-09-15 16:50] seanlaw commented on #245
conda activate numbadev
git clone git@github.com:gmarkall/numba.git
cd numba
git checkout grm-native-kernel-launch
python setup.py develop
Then use your normal workflow for building / testing STUMPY. The Numba docs on getting set up for development are here, for reference: https://numba.readthedocs.io/en/stable/developer/contributing.html#getting-set-up

Great! Thank you for the instructions. I wi

[2020-09-15 17:20] seanlaw commented on #246
@JosephTLucas I really like what you've outlined here! And I agree that option 2 is probably the best option. To keep things a bit simpler, what do you think about throwing all of the information into a single Jupyter notebook (just like our existing tutorials) and then we can add a "Contributing" line item in the docs that points to the notebook. This way, we don't have to deal with formatting an

[2020-09-15 17:35] JosephTLucas commented on #246
Great, I'll move forward that way. Hopefully this one requires a lighter touch on your part than my other PR!

[2020-09-16 13:19] gmarkall commented on #245
I agree with your interpretation - it looks like we plateau at 59% for reducing the launch overhead. I think the improvement that using CGs and having the loop inside the kernel makes is that it's much faster for smaller matrix sizes - e.g. N = 10000 - 100000.

[2020-09-16 16:49] seanlaw commented on #245
@gmarkall I'm running some of the unit tests for STUMPY right now (before running the benchmark) and noticed that when I disable JIT and enable the CUDA simulator

[code]

Then the gpu related tests (even though it isn't running on the GPU) are taking significantly longer than usual. So, I'm not sure if something needs to be addressed with the CUDA simulator within `Numba`. To be clear, I understa

[2020-09-16 17:03] gmarkall commented on #245
What version of Numba are you using as the "reference"?

[2020-09-16 17:12] seanlaw commented on #245
[code]

[2020-09-16 18:16] seanlaw commented on #245
@gmarkall Here are my results using 1x 1080Ti
[code]

and with 2x 1080Ti (on the same physical server)

[code]

Overall, there is a bit of performance gain using your `numba` version but not even close to the speeds that you had observed in your benchmark.

[2020-09-16 20:16] seanlaw commented on #245
Okay, I think I spotted the problem. When I install `Numba` from your clone, `conda list | grep numba` shows:

[code]

However, when I install STUMPY, its `setup.py` requires `numba >= 0.42.0`. So, STUMPY actually ended up installing the newest version of `Numba` from `conda-forge` (I just tried a fresh re-install and noticed this) and that's likely why the numbers were about the same above. I've

[2020-09-16 20:54] seanlaw commented on #245
@gmarkall My apologies for the noise above. Here are the correct benchmark results:

[code]

and with 2x 1080Ti (on the same physical server)

[code]

Looks like it is consistent with your observations now!

[2020-09-17 00:58] seanlaw commented on #245
Additionally, this is not unexpected but I also confirmed that the `gpu_stump` output produced from your Numba clone also match the CPU `stump` output.

[2020-09-17 01:17] seanlaw opened #247 "Refactor `_compute_diagonal` in `stumpy.stump`"
In these lines of `_compute_diagonal`:

https://github.com/TDAmeritrade/stumpy/blob/1d98e48d45eee7988a8df946b0c1c40857470ee7/stumpy/stump.py#L157-L161

These terms:

[code]

 can technically be pre-computed. We just need to figure out how to align them properly with any `i`, `k`, pair and pre-compute them in `stumpy._stump` and pass in `a, b, c, d` as pre-computed vectors for re-use. This should s

[2020-09-17 01:51] seanlaw commented on #247
@mexxexx I'm rather bad at this kind of work. Any chance you could help take a look?

[2020-09-17 13:25] seanlaw commented on #247
Never mind, it took a little bit of patience but I figured it out:

[code]

And then the covariance line simplifies to something that is much, much nicer to read:

[code]

[2020-09-17 19:38] seanlaw commented on #247
This change seems to make things around 20%-25%+ faster for times series that are 100K+

[2020-09-17 19:57] #247 closed

[2020-09-17 20:01] mexxexx commented on #247
That's impressive, great you could figure it out! It would have taken me a lot more time to understand what is going on 😃

[2020-09-18 13:40] seanlaw opened #248 "Improve Cache Misses"
When traversing diagonals in `stumpy._stump` (and `stumpy._aamp`), it becomes inefficient when most of our time is spent retrieving data and moving it into DRAM. One of the things to do is essentially perform a form of manual loop unrolling or "vertical blocking". This approach is outlined in Section 4.2.2 (see Algorithm 2) of [Time Series Analysis with Matrix Profile on HPC Systems](https://media

[2020-09-18 13:47] seanlaw commented on #222
@Attol8 Would you be interested in helping with this? Of course, I would use a different example than above. I wonder if we could do one with sports data (i.e., can you detect a specific play that a team always likes to execute by tracking the x, y coordinates)?

[2020-09-18 13:56] seanlaw commented on #219
@mexxexx Did you get a chance to look at the [MDL comments ](https://github.com/TDAmeritrade/stumpy/issues/186#issuecomment-691617133) and whether you had any thoughts?

If I understood it correctly, MDL is a post-processing step that doesn't seem to be too well developed. That is, it feels like one possible solution for choosing the best number of dimensions but it's still an educated guess? Havi

[2020-09-18 14:00] mexxexx commented on #219
@seanlaw Yes I read the comments, but didn't reply since I couldn't add anything useful :smile:

I also understand it as a best guess. Honestly, for the moment I don't think it's a huge requirement for stumpy, especially since it requires having a working `subspace` implementation.

[2020-09-18 14:09] mexxexx commented on #219
If I remember correctly, you use MDL to find out how many dimensions your motif actually has. Let's say your time series has three dimensions. Then you could have two interesting dimensions and one being only noise, so MDL should yield that the motif has two dimensions.

However, to be able to compute the MDL, you (and this is a guess, but it appears to be crucial information) need to know which o

[2020-09-18 14:34] seanlaw commented on #219
Okay, I'll have to go back and look at this more closely with your points in mind. Thank you and have a great weekend!

[2020-09-18 14:42] mexxexx commented on #219
Thank you, you too! Feel free to ask if you have questions. I didn't fully understand the MDL, but discussion always helps in my experience.

[2020-09-19 01:29] seanlaw commented on #225
@bfattori Just checking in to see if there were any updates on this

[2020-09-19 15:07] Attol8 commented on #222
@seanlaw yeah for sure! I will start digging into this and keep you updated on what I find.

[2020-09-19 15:21] seanlaw commented on #203
Re-opening this for final review of the merged conent

[2020-09-19 15:22] seanlaw commented on #231
@Attol8 This is another short one too if you are interested 😄

[2020-09-19 17:24] Attol8 commented on #222
Hi @seanlaw . I had a look around on football ('soccer' if you live in the US, I will never understand why you call it like that :man_facepalming:) as I am a big fan of the sort. I found an amazing [dataset](https://www.nature.com/articles/s41597-019-0247-7) but I couldn't figure how out how to use it with time-series patterns. I will need a bit more time to find a use-case. If you have an idea in

[2020-09-19 17:35] seanlaw commented on #222
That sounds great! I haven't looked at the data so I could be making the wrong assumption here. The only potential issue with something like weekend sales data may be that there might not be enough data points if the data were collected at a daily level (so there would only be two points, one for each fay of the weekend). On the other extreme, we probably don't want a data set where the pattern ha

[2020-09-19 17:36] seanlaw commented on #222
There is [this resource](https://www.cs.ucr.edu/~eamonn/time_series_data_2018/) too

[2020-09-20 20:10] seanlaw opened #249 "Discuss `sktime` Collaboration"
There was a recent comment/discussion in the `sktime` [Gitter channel](https://gitter.im/sktime/community?at=5f6781cca9c2c8511ea9155e)

[code]

It would be useful to the time series community to openly discuss whether there is potential for collaboration here as there could be some nice synergies.

[2020-09-20 20:16] seanlaw commented on #249
Hi, @mloning! I hope you and your team are doing well. I really appreciate all of the work that you and your group have done with `sktime` and, based on your recent comments in the `sktime` Gitter channel (see comment above), I was wondering if there is a potential opportunity to collaborate here. There is absolutely no obligation but I thought that it would at least be worth a discussion. I am cu

[2020-09-21 09:37] mloning commented on #249
Hi @seanlaw, thanks for reaching out! It would be great to collaborate! One of our main motivations is to make the ecosystem more unified and interoperable.

At first place, the matrix profile seems to be a series-to-series transformation and hence would be a transformer. But we're happy to have a discussion to see how to best combine efforts and integrate our projects.

[2020-09-21 13:56] bfattori-TDA commented on #225
I was told my FOSSA that this is NOT an error effecting the build, and is only a warning. They say it’s nothing to worry about, and that it will be corrected in future releases so the warning doesn’t display for API messages unless they are true errors.

Thanks,
Brett

From: "Sean M. Law" <notifications@github.com>
Reply-To: TDAmeritrade/stumpy <reply@reply.github.com>
Date: Friday, September 18,

[2020-09-21 13:59] #225 closed

[2020-09-21 15:45] seanlaw commented on #249
Yes, if I understand your terminology correctly, a "series-to-series" transformer sounds about right. Essentially, for matrix profiles, you'd take a 1-D `NumPy` array, `T`, of length `n=T.shape[0]` and then you choose a window size, `m` and the output would be a 4 column array of shape `(n-m+1, 4)` (note that this series is shorter than the original time series by `m+1`):

* Column 1:  The matrix

[2020-09-22 02:09] rnjv commented on #20
Was wondering if FLUSS or FLOSS is applicable to segment multidimensional time series. Any ideas on how to achieve this?

[2020-09-22 02:16] seanlaw commented on #20
@rnjv Unfortunately, it isn't clear how one would do this.

[2020-09-22 10:14] mloning commented on #249
Yes, so STUMPY would be a series-to-series transformer that takes a univariate series as input and returns a multivariate series as output. We'd love to interface STUMPY in sktime so that people can use it with the other functionality. We're currently working on refactoring the transformer API and improving the support for multivariate series. So perhaps it's best to wait until we've made some pro

[2020-09-22 13:34] seanlaw commented on #249
Sounds good. Just so you're aware, we've purposely designed STUMPY to be (mostly) flat and, more importantly, stateless. So, the majority of our library is just functions (or a wrapper function calling another function). Classes are only present in some rare cases where keeping track of the state is important but. So, for a single time series, one would do something like:

[code]

In case it matte

[2020-09-22 23:49] seanlaw opened #251 "Extend `aamp` Algorithms to `p-norm`"
According to Section 3.4 of the [aamp paper](https://arxiv.org/pdf/1901.05708.pdf), the non-normalized Euclidean distance (i.e., L2-norm) can be extended to `p-norm` which includes Manhattan distance (`p=1`). We can follow the `numpy.linalg.norm` syntax and add an `order` parameter (`ord` is a reserved keyword) that accepts a positive integer for computing the `p-norm`.

[2020-09-23 00:47] seanlaw commented on #251
@BBischof Your comment was well taken and it shouldn't be too hard to extend our Euclidean distance implementation to handle L1-norm/Manhattan distance as well. 😄  Thank you for your question!

[2020-09-23 09:57] seanlaw opened #252 "Selecting Optimal Window Length"
[Paper](http://www.infsoc.org/journal/vol11/IJIS_11_2_095-105.pdf)

[2020-09-23 15:00] seanlaw opened #253 "Debunking Four Long-Standing Misconceptions of Time-Series Distance Measures"
Here is an interesting paper titled "[Debunking_Time_Series_Measure_Paparrizos](https://github.com/TDAmeritrade/stumpy/files/5269009/Debunking_Time_Series_Measure_Paparrizos.pdf)"

[2020-09-23 19:16] BBischof commented on #251
Great! I might be able to pick this one up myself after my PTO in a few weeks if nobody else has in the mean time. Thanks for the reference, and suggestion.

[2020-09-24 01:04] seanlaw commented on #251
@BBischof I've been playing with this today and I was wondering if it makes any sense to allow anything other than Manhattan distance (p=1) and Euclidean distance (p=2)?

[2020-09-24 11:17] dependabot-preview[bot] opened #254 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/TDAmeritrade) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/TDAmeritrade/update-logs/48601963).

[2020-09-25 08:37] fkiraly commented on #249
@mloning, I believe we already have some custom implementation of matrix profile a while ago (implemented by Claudia Sanchez)?
https://www.sktime.org/en/latest/modules/auto_generated/sktime.transformers.series_as_features.matrix_profile.MatrixProfile.html#sktime.transformers.series_as_features.matrix_profile.MatrixProfile
https://github.com/alan-turing-institute/sktime/blob/master/sktime/transform

[2020-09-25 09:54] mloning commented on #249
Hi @fkiraly, yes I pointed that out in the Gitter chat! The matrix profile in sktime is currently a series-as-features transformer, but it may be useful in other settings too. As discussed above, fundamentally it's a series-to-series transformer and doesn't require multiple series  as input.

[2020-09-25 10:00] TonyBagnall commented on #249
there are two forms of the matrix profile, single series transform, or multiple series join/distance measure so it can require multiple series as input

[2020-09-25 11:06] mloning commented on #249
Yes, the multiple series version in STUMPY is `mstump` as far as I understood

[2020-09-25 15:29] seanlaw commented on #249
If I may be honest, I would consider avoiding multi-dimensional cases as the published definition (and what is implemented faithfully in STUMPY) isn't what you think it might be and people will get really confused. Additionally, computing the matrix profile for multiple dimensions can be extremely costly, computationally. I would recommend just sticking to the 1-D case.

[2020-09-25 15:33] seanlaw commented on #254
We are no longer using dependabot so this can be ignored

[2020-09-25 15:33] #254 closed

[2020-09-25 15:41] #246 closed

[2020-09-25 17:18] seanlaw commented on #246
@JosephTLucas I made some tweaks but it looks great: https://stumpy.readthedocs.io/en/latest/Contribute.html#

Thank you for posing and completing this issue!

[2020-09-26 02:17] rnjv commented on #20
Could we port ESPRESSO - https://github.com/cruiseresearchgroup/ESPRESSO?

With dependency to https://github.com/cruiseresearchgroup/IGTS-python

[2020-09-26 15:18] seanlaw commented on #20
@rnjv If you

[2020-09-26 15:19] seanlaw commented on #20
@rnjv Would you mind starting a new issue separate with this request and please clearly describe the problem that you are trying to solve? ESPRESSO may be beyond the scope of STUMPY.

[2020-09-26 15:24] seanlaw opened #256 "Change `gpu_stump` to Pearson Correlation"
Currently, `gpu_stump` uses the sliding dot product approach to computing matrix profiles rather than Pearson Correlation. In theory, we should be process each row at a time (rather than traversing diagonals) and instead of storing `QT` from the last row, we store the covariance from the previous row.

[2020-09-28 18:58] seanlaw commented on #245
@gmarkall This is probably expected but I ran some further benchmarks on larger data sets.

With 2x 1080Ti (on the same physical server)

# 2x 1080Ti, Numba 0.51.2 conda-forge
10000 4.7
100000 29.1
16777216 48426.1
17729800 54259.8
33554432 194817.4

# 2x 1080Ti, Numba 0.51.2 gmarkall
10000 3.4
100000 13.0
16777216 47942.5
17729800 53529.8
33554432 192727.1

So, your version is certainly slightly

[2020-09-28 23:58] seanlaw commented on #221
@hmcoservit I was wondering how things were going? I am curious whether `aampi` or `stumpi` has been helpful or useful? Have you found instances where they'd perform poorly?

[2020-09-29 13:37] hmcoservit commented on #221
Hi @seanlaw, sorry I was going to update you sooner on this.

AAMPI definitely helped, with a small subsequence size it was the best performing method on our benchmark dataset compared to other methods that we selected (and of course much faster too, it is passing our scaling tests) --> with anomalies identified using the percentile approach.

Regarding example of instances when it can perform poo

[2020-09-29 14:08] seanlaw commented on #221
What percentile have you found to be most useful? 90th percentile?

Also, do you have a good way to account for periodicity? For example, let's say that you have a server that is collecting data every minute for 5 years and you know that there is always a spike at midnight on the first Monday of every month (i.e., there is a monthly backup that occurs at midnight on the first Monday of every month

[2020-09-29 16:21] hmcoservit commented on #221
@seanlaw The percentile can be adjusted based on the sampling of the data and the historical data available. For example, having 99% percentile for data sampled every minute and data sampled every 10 minutes would give different number of anomalies (alerts). --> therefore, might be a good idea to have different percentiles for different sampled time series.

To speed up the process, we re-sample t

[2020-09-30 15:50] hmcoservit commented on #221
@seanlaw Makes me wonder if it is possible to detect some form of seasonality looking at the positions of the nearest neighbor indexes using matrix profiles.

To add to the seasonality part for detecting seasonality these are the options I am aware of
- Fourier Transform --> also [FFT](https://en.wikipedia.org/wiki/Fast_Fourier_transform)
- STL decomposition --> maybe look into [RobustSTL](https:/

[2020-09-30 20:24] seanlaw commented on #221
Perhaps, that may be somewhat related to time series chains?

[2020-09-30 20:26] #222 closed

[2020-09-30 20:27] seanlaw commented on #222
@Attol8 I've updated the tutorial and it is now live! Thank you again for contributing this

[2020-10-01 18:17] fkiraly commented on #249
That really depends - e.g., whether the use case is as a component in forecasting, or in time serires classification. Could be a length of 10, or 1000.

Given the above, should we maybe start with the series-to-series transformer?

[2020-10-01 18:24] seanlaw commented on #249
For 1-D time series, the computation is no longer instantaneous at around 50K data points (100K takes ~40s to process).

Yes, I think that would be wise and then I recommend letting the user submit a future request if they truly want to compute a multi-dimensional matrix profile. Again, this capability is available in STUMPY already but I am fairly certain that 99% of people who use it blindly wil

[2020-10-02 14:28] seanlaw opened #257 "Add Tutorial on AB-Joins"
It would be useful to demonstrate the concept of an AB-join and how one should interpret the results.

See page 23-27 in [this presentation](http://poloclub.gatech.edu/idea2016/slides/keynote-keogh-kdd-idea16.pdf)

[2020-10-02 14:55] seanlaw opened #258 "Correct AB-Join Definition"
Currently, for

[code]

This takes `T_B` and annotates it with `T_A`. While this is clearly documented, it is somewhat counterintuitive given that `T_A` is the required argument and, additionally, the published definition states that an AB-join is:

A and B can be of different lengths, and that in general, AB-join ≠ BA-join.

and

Of course, the user could simply swap the inputs and end up with th

[2020-10-02 18:20] seanlaw commented on #258
@codyschank I know that you were performing AB-joins before and I just wanted to let you know that this change will affect you

[2020-10-02 21:00] seanlaw commented on #258
@hmcoversit FYI, that I will be doing this to all of the `aamp`-related functions too. I'm guessing that you are only performing self-joins and may not be affected but wanted you to be aware that this is coming.

[2020-10-03 01:52] #258 closed

[2020-10-03 02:15] seanlaw commented on #257
@mcyeh By any chance would you happen to have the MFCC data for the "Under Pressure" and "Ice Ice Baby" songs? I would like to reproduce the figure from your paper.

[2020-10-03 15:06] seanlaw opened #259 "Adopt NEP 29"
NEP 29 proposes:

https://numpy.org/neps/nep-0029-deprecation_policy.html

A detailed description is here:

https://numpy.org/neps/nep-0029-deprecation_policy.html#detailed-description

[2020-10-03 15:09] seanlaw commented on #259
This will help ensure that our CI testing isn't forever growing as the Python version increases every 12-18 months.

[2020-10-03 21:44] sergiobuj commented on #235
Hello @seanlaw, I would like to help with this issue.

Just by looking briefly at the project, I see 37 files that need to be updated. Here's the list:

![Screen Shot 2020-10-03 at 4 26 55 PM](https://user-images.githubusercontent.com/11920/95002027-4c1a7380-0595-11eb-81b7-a3fdefdebd53.png)

I think the `ref_mp/comp_mp` reads better than `ref_mp/mp`.

How would you prefer I opened the pull request

[2020-10-04 00:02] seanlaw commented on #235
@sergiobuj Thank you for your interest in contributing to our project! We can certainly use the help and I am here to assist.

In addition to the 37 files listed above, I think you are missing 3 additional tests (40 in total):

[code]

Perfect! I agree with your proposal so please go ahead with ref_mp/comp_mp

I really appreciate your consideration! I've taken a look at whether or not it makes sen

[2020-10-05 02:46] seanlaw opened #260 "Split Unit Tests and Coverage Testing in Azure Pipelines"
To avoid exceeding the 1 hour time limit for Azure Pipeline jobs it would be best to clean up `test.sh` so that `test.sh` would execute both unit tests and coverage, `test.sh unit` only executes unit tests, and `test.sh coverage` only executes test coverage. Then, unit tests and coverage tests are split as separate Azure Pipeline stages.

[2020-10-05 07:28] hmcoservit commented on #258
@seanlaw Thanks for the head up

[2020-10-05 16:37] #260 closed

[2020-10-05 20:26] seanlaw commented on #235
@sergiobuj Just a heads up that I made some minor changes to some of the tests in PR #261 . It shouldn't really affect what you're doing but it may result in some merge conflicts that I can resolve. However, if you haven't gotten started yet then I recommend pulling the newest commit and starting there.

[2020-10-05 20:29] sergiobuj commented on #235
@seanlaw thanks for the heads up. I did start with the changes. I will rebase and let you know if I have issues with any conflicts.

[2020-10-05 20:33] seanlaw commented on #235
To save you time from trying to figure out what changed, in the `test_gpu_aamp.py` and `test_gpu_stump.py`, I simply swapped the positions of the variables `T_A` and `T_B`.

[2020-10-06 07:49] geoHeil opened #262 "Multidimensional - Multi Timeseries Matrix Profile with `mstump`"
Many thanks for https://github.com/TDAmeritrade/stumpy/issues/202, this is a great start. Do you plan to update the linked Jupiter notebook for multidimensional analysis & discord discovery?

I am interested in anomaly detection of time series.
My time-series originate from many IoT devices. For each device hourly metrics are recorded. Note: more than 1 metric is recorded. Additionally, metadata (

[2020-10-06 08:03] geoHeil commented on #262
Furthermore, in the docs you mention that only self joins are supported. Could you explain what you mean with this?

[2020-10-06 12:58] seanlaw commented on #262
I'm glad you found it! Perhaps, you can explain what you mean by "multidimensional analysis". In STUMPY, our multi-dimensional matrix profile computation accepts a D-dimensional array as input and where each dimension corresponds to a separate time series (though all D time series must be the same length and aligned). More specifically, we faithfully reproduce the the multi-dimensional work from t

[2020-10-06 14:24] geoHeil commented on #262
Many thanks for the quick response!

The data might look like this (find the python code below which is generating such dummy data, obviously, the real data is not normally distributed and even might contain missing records):
[code]

**Description of the data**

Each device (here named device_id) is generating an observation (=row) for a timestep $t$ (=hour). But more than a single metric are reco

[2020-10-06 14:41] geoHeil opened #264 "[question/discussion] singular spectrum transformation vs. matrix profile"
Does anyone have experience with singular spectrum transformation and in particular also a comparison with the matrix profile?

[2020-10-06 15:56] seanlaw commented on #264
For consistency in Github's search capability, please try to add a space in between "matrix" and "profile".

To answer your question, I do not have any experience but others may

[2020-10-06 17:58] sergiobuj commented on #235
Hey @seanlaw I was able to include only 31 files in that first #263 PR.
I was still thinking about modifying the following files:
![Screen Shot 2020-10-06 at 12 50 03 PM](https://user-images.githubusercontent.com/11920/95241095-eb787a00-07d2-11eb-9785-dcb3662a1083.png)

In those, I'm thinking about changes like this:
[code]

I don't know if you want to consider the issue complete without changes i

[2020-10-06 18:02] seanlaw commented on #235
@sergiobuj Ooops! I knew it wasn't all of the files but forgot to re-open so thank you for the reminder.

I think all of your changes look good except for the last line:

[code]

I think it should read:

[code]

Otherwise,

[2020-10-06 18:08] sergiobuj commented on #235
Thank you! good eye!

[2020-10-06 19:43] seanlaw commented on #262
Yes, I think we are on the same page. Technically, there is no assumption that the multivariate metrics be "recorded by a single device". You can also have three separate devices that are all synchronized to record data at the same time (i.e., one temperature sensor, one humidity sensor, and one pressure sensor).

Correct. `mstump` is our implementation of the published `mstomp` work. Each dimensi

[2020-10-06 20:10] seanlaw commented on #264
It may be useful to provide some references to "singular spectrum transformation" and you may want to consider cross posting to [Cross Validated](https://stats.stackexchange.com/)

[2020-10-07 05:58] geoHeil commented on #264
will do so and close it here for now

[2020-10-07 05:58] #264 closed

[2020-10-07 06:18] geoHeil commented on #262
I think that this is a good point:

But my assumption is that multiple metrics/sensors from a single device are more coherent than a second device which may reside on the other side of the country.

Thanks for the answer with regards to orientation. For me (assuming the pandas way of doing things) it is not yet clear how to properly structure my dataset with time-series from multiple devices. Woul

[2020-10-07 07:48] mexxexx commented on #262
Maybe I can add a thought or two:

If you have prior domain knowledge, it would be very helpful. Let's focus on one device for example. Can you say that all metrics are relevant? Can you exclude some of them? Or could it be that some metrics are important and some are not? Depending on the answer, things would get more easy. The third case will be the most complicated one.

Furthermore, I assume y

[2020-10-07 15:02] seanlaw commented on #262
Yes, it looks about right. One word of caution is that STUMPY assumes floating point inputs so, realistically, only the metrics would be "valid" input

[2020-10-08 15:34] gmarkall commented on #245
https://github.com/numba/numba/pull/6042 is now merged in time for 0.52RC, so the speedups we observed earlier in this discussion should hopefully be reflected in the 0.52 release.

[2020-10-08 21:09] #235 closed

[2020-10-11 13:54] geoHeil opened #267 "Dask Client Trying to Access GPUs in `stumpy.stumped`"
I try to execute https://stumpy.readthedocs.io/en/latest/ on dask (without the GPU):
[code]

But this fails with:

[code]

However, when:

[code]
is set it works (note it is a multi GPU machine and indeed GPU 0 is currently busy.

But my point is:

- I am using the non GPU version of stumpy: so why is it rying to use the GPU at all?
- why does this variable have no effect unless it is set prior to

[2020-10-11 13:58] seanlaw commented on #267
This is strange indeed and I wonder if this is more of a Dask problem rather than a STUMPY problem. And you are absolutely right that `stumpy.stumped` does not use GPUs and we have no support for GPUs in that function. What happens if you run:

[code]